﻿@model GCSOFT.MVC.Web.Areas.Report.Data.RptEbookUser
@{
    ViewBag.Title = "Báo Cáo Đăng Ký Xem Sách";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
<div id="page_content_inner">
    <div class="uk-grid" data-uk-grid-margin data-uk-grid-match="{target:'.md-card-content'}">
        <div class="uk-width-medium-1-1">
            @using (Html.BeginForm("Index", "EbookUser", FormMethod.Post, new { @id = "frmEbookUser", @class = "uk-form-stacked", @autocomplete = "off" }))
            {
                <div class="md-card">
                    <div class="md-card-content">
                        <div class="uk-grid" data-uk-grid-margin>
                            <div class="uk-width-medium-1-4">
                                @Html.LabelFor(model => model.CityId)
                                @Html.DropDownListFor(model => model.CityId, Model.CityList, "[ Chọn ]", new { @class = "md-input label-fixed" })
                            </div>
                            <div class="uk-width-medium-1-4">
                                @Html.LabelFor(model => model.DistrictId)
                                @Html.DropDownListFor(model => model.DistrictId, Model.DistrictList, "[ Chọn ]", new { @class = "md-input label-fixed" })
                            </div>
                            <div class="uk-width-medium-1-2 uk-text-right">
                                <a href="javascript:void(0);" id="btnSearch" class="md-btn md-btn-primary uk-margin-small-top"><i class="material-icons">&#xE8B6;</i> Xem Báo Cáo</a>
                                @*<a href="javascript:void(0);" id="btnDownload" class="md-btn md-btn-primary uk-margin-small-top"><i class="material-icons">cloud_download</i> Download</a>*@
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div id="loadGeneralInfo" class="uk-grid" data-uk-grid-margin data-uk-grid-match="{target:'.md-card-content'}">
        @Html.Partial("_EbookUser",Model)
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnSearch').click(function () {
                if (true) {
                    $('#btnSearch').addClass("disabled").html('Đang lấy báo cáo ...');
                    window.location.href = '@Url.Action("Index", "EbookUser", new { area = "Report" })' + '?p=0' + querySearch();
                }
            });
            @*$('#btnDownload').click(function () {
                var url = '@Url.Action("Download", "EbookUser", new { area = "Report" })';
                url += '?cityId=' + $('#FromDateStr').val();
                url += '&districtId=' + $('#ToDateStr').val();
                $(location).attr('href', url);
            });*@
            $('#CityId').change(function () {
                var provinceId = $(this).val();
                if (provinceId == '') {
                    provinceId = '0';
                }
                $.getJSON('@Url.Action("FetchDistricts", "District", new { area = "MasterData" })', { provinceId: provinceId }, function (response) {
                    var ddlDistrict = $('#DistrictId');
                    ddlDistrict.empty();
                    ddlDistrict.append($('<option></option>').text('[ Chọn ]').val(''));
                    $.each(response, function (index, item) {
                        ddlDistrict.append($('<option></option>').text(item.name).val(item.id));
                    });
                });
            });
        });
        function querySearch() {
            return '&cityId=' + $('#CityId').val() + '&districtId=' + $('#DistrictId').val();
    }
    </script>

}