﻿@model GCSOFT.MVC.AGENCY.Areas.Agency.Data.AgencyCard
<script type="text/javascript" src="@Url.Content("~/Scripts/cms/js/altair_admin_common.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/cms/js/gc-common.js")"></script>
<div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-medium-1-4">
        @Html.LabelFor(model => model.FirstName)
        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "md-input validate[required]" } })
    </div>
    <div class="uk-width-medium-1-4">
        @Html.LabelFor(model => model.LastName)
        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "md-input validate[required]" } })
    </div>
    <div class="uk-width-medium-1-4">
        @Html.LabelFor(model => model.FullName)
        @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "md-input validate[required] label-fixed" } })
    </div>
    <div class="uk-width-medium-1-4">
        @Html.LabelFor(model => model.CMND)
        @Html.EditorFor(model => model.CMND, new { htmlAttributes = new { @class = "md-input validate[required] label-fixed" } })
    </div>
</div>
<div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-medium-1-2">
        @Html.LabelFor(model => model.Phone)
        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "md-input validate[required,custom[phone]]" } })
    </div>
    <div class="uk-width-medium-1-2">
        @Html.LabelFor(model => model.Email)
        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "md-input validate[required,custom[email]]" } })
    </div>
</div>
<div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-medium-1-2">
        @Html.LabelFor(model => model.Address)
        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "md-input validate[required]" } })
    </div>
    <div class="uk-width-medium-1-4">
        @Html.LabelFor(model => model.CityId)
        @Html.DropDownListFor(model => model.CityId, Model.CityList, "[ Chọn ]", new { @class = "md-input label-fixed validate[required]" })
    </div>
    <div class="uk-width-medium-1-4">
        @Html.LabelFor(model => model.DistrictId)
        @Html.DropDownListFor(model => model.DistrictId, Model.DistrictList, "[ Chọn ]", new { @class = "md-input label-fixed validate[required]" })
    </div>

</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#Phone').change(function () {
            var userName = $('#UserName').val();
            if (userName == '') {
                $('#UserName').val($.trim($('#Phone').val()));
            }
        });
        $('#FirstName,#LastName').change(function () {
            var firstName = $.trim($('#FirstName').val());
            var lastName = $.trim($('#LastName').val());
            $('#FullName').val(firstName + " " + lastName);
        });
        $('#CityId').change(function () {
            var provinceId = $(this).val();
            if (provinceId == '') {
                provinceId = '0';
            }
            $.getJSON('@Url.Action("FetchDistricts", "District", new { area = "Agency" })', { provinceId: provinceId }, function (response) {
                var ddlDistrict = $('#DistrictId');
                ddlDistrict.empty();
                ddlDistrict.append($('<option></option>').text('[ Chọn ]').val(''));
                $.each(response, function (index, item) {
                    ddlDistrict.append($('<option></option>').text(item.name).val(item.id));
                });
            });
        });
    });
</script>