﻿@model GCSOFT.MVC.Web.Areas.MasterData.Models.CardHeaderCard
<div class="md-card">
    <div class="md-card-toolbar">
        <h3 class="md-card-toolbar-heading-text">
            Tìm kiếm
        </h3>
    </div>
    <div class="md-card-content">
        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-6">
                <label for="Type">Trạng Thái Email</label>
                <select id="ddlStatusEmail" class="md-input label-fixed">
                    <option value="">Tất cả</option>
                    <option value="Đúng">Email Đúng</option>
                    <option value="Sai Email">Email Sai</option>
                </select>
            </div>
            <div class="uk-width-medium-1-6">
                <label for="KeyWord">Họ Tên</label>
                <input type="text" class="md-input" id="txtFullName">
            </div>
            <div class="uk-width-medium-1-6">
                <label for="KeyWord">Điện Thoại</label>
                <input type="text" class="md-input" id="txtPhone">
            </div>
            <div class="uk-width-medium-1-6">
                <label for="KeyWord">Email</label>
                <input type="text" class="md-input" id="txtEmail">
            </div>
            <div class="uk-width-medium-1-6">
                <a id="btnSearch" href="javascript:void(0);" class="md-btn md-btn-primary uk-margin-small-top"><i class="material-icons">&#xE8B6;</i> Tìm</a>
                <a id="btnExcel" href="javascript:void(0);" class="md-btn md-btn-primary uk-margin-small-top"><i class="material-icons">&#xE8B6;</i> Download Excel</a>
            </div>
        </div>
    </div>
</div>
<div class="md-card">
    <div class="md-card-toolbar">
        <div class="md-card-toolbar-actions">
            <i class="md-icon material-icons md-card-toggle">&#xE316;</i>
        </div>
        <h3 class="md-card-toolbar-heading-text">
            <i class="material-icons">&#xE896;</i>&nbsp;&nbsp;Danh Sách Cấp Thẻ
        </h3>
    </div>
    <div class="md-card-content">
        <div class="uk-overflow-container">
            <table id="jqGrid"></table>
            <div id="jqGridPager"></div>
        </div>
    </div>
</div>
<script type="text/javascript">
        $(document).ready(function () {
            LoadGrid('@Url.Action("LoadDataCustomer", "TransferOrder", new { area = "Transaction", lotNumber = Model.LotNumber })');
            $('#btnSearch').click(function () {
                ReloadGrid(BuildURL());
            });
            $('#btnExcel').click(function () {
                var stringUrl = '';
                stringUrl += '@Url.Action("DownloadCardNo", "General", new { area = "Report" })';
                stringUrl += '?ln=' + $('#LotNumber').val();
                stringUrl += '&se=' + $('#ddlStatusEmail').val();
                stringUrl += '&fn=' + $('#txtFullName').val();
                stringUrl += '&p=' + $('#txtPhone').val();
                stringUrl += '&e=' + $('#txtEmail').val();
                $(location).attr('href', stringUrl);
            });
        });

        function LoadGrid(url) {
            $("#jqGrid").jqGrid({
                url: url,
                mtype: "get",
                datatype: "json",
                colNames: [
                    'Mã Học Viên'
                    , 'Họ Và Tên'
                    , 'Di Động'
					, 'Email'
                    , 'Kiểm Tra Email'
                    , 'Owner'
                    , 'Số Seri'
				],
                colModel: [
                    { name: 'Code', index: 'Code' }
                    , { name: 'FullName', index: 'FullName' }
                    , { name: 'PhoneNo', index: 'PhoneNo' }
                    , { name: 'Email', index: 'Email' }
                    , { name: 'IsEmail', index: 'IsEmail' }
                    , { name: 'Owner', index: 'Owner' }
                    , { name: 'SerialNumber', index: 'SerialNumber' }
				],
                rowNum: 20,
                rowList: [20, 40, 60, 80, 100],
                pager: '#jqGridPager',
                sortname: 'Id',
                viewrecords: true,
                autowidth: true,
                height: "100%",
                sortorder: "asc",
                multiselect: true,
                rownumbers: true,
                viewsortcols: [true, 'vertical', true],
                loadComplete: function () {
                    jqGrid_resize('jqGrid');
                    gridSearch('jqGrid', 'search-button');
                },
                jsonReader: {
                    root: "Rows",
                    page: "jqGridPager",
                    total: "Total",
                    records: "Records",
                    repeatitems: false,
                    id: "Id"
                }
            });
            $("#jqGrid").jqGrid('navGrid', '#jqGridPager',
                    { edit: false, add: false, del: false }, {}, {}, {},
                    {
                        multipleSearch: true,
                        closeOnEscape: true,
                        closeAfterSearch: true,
                        showQuery: true,
                        searchOnEnter: true,
                        sopt: ['cn', 'eq', 'ne', 'lt', 'le', 'gt', 'ge']
                    }
                );
        }
        function ReloadGrid(url) {
            $("#jqGrid").setGridParam({ url: url, page: 1 }).trigger("reloadGrid");
        }

        function BuildURL() {
            var stringUrl = '';
            stringUrl += '@Url.Action("LoadDataCustomer", "TransferOrder", new { area = "Transaction" })';
            stringUrl += '?lotNumber=' + $('#LotNumber').val();
            stringUrl += '&se=' + $('#ddlStatusEmail').val();
            stringUrl += '&fn=' + $('#txtFullName').val();
            stringUrl += '&p=' + $('#txtPhone').val();
            stringUrl += '&e=' + $('#txtEmail').val();
            return encodeURI(stringUrl);
        }
</script>