﻿@model GCSOFT.MVC.Web.Areas.MasterData.Models.VM_UserInfo
<div id="page_content_inner" class="hierarchical_slide">
    <div class="md-card">
        <div class="md-card-toolbar">
            <div class="md-card-toolbar-actions">
                <i class="md-icon material-icons md-card-toggle">&#xE316;</i>
            </div>
            <h3 class="md-card-toolbar-heading-text">
                <i class="material-icons">&#xE894;</i>&nbsp;&nbsp;@ViewBag.Title
                <input type="hidden" name="Id" id="Id" value="@ViewBag.id" />
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-2">
                    @Html.LabelFor(model => model.userName)
                    @Html.EditorFor(model => model.userName, new { htmlAttributes = new { @class = "md-input" } })
                </div>
                <div class="uk-width-medium-1-2">
                    @Html.LabelFor(model => model.fullName)
                    @Html.EditorFor(model => model.fullName, new { htmlAttributes = new { @class = "md-input validate[required]" } })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-2">
                    <div class="uk-input-group">
                        @Html.LabelFor(model => model.Password)
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "md-input label-fixed" } })
                        <span class="uk-input-group-addon">
                            <a id="btnGeneralPass" href="javascript:void(0);" data-uk-tooltip="{pos:'left'}" title="Tạo Mật Khẩu"><i class="material-icons md-24">&#xE8CE;</i></a>
                        </span>
                    </div>
                </div>
                <div class="uk-width-medium-1-2">
                    @Html.LabelFor(model => model.Email)
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "md-input validate[required]" } })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-2">
                    @Html.LabelFor(model => model.Phone)
                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "md-input validate[required]" } })
                </div>
                <div class="uk-width-medium-1-2">
                    @Html.LabelFor(model => model.Address)
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "md-input" } })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-2">
                    <div class="uk-form-row parsley-row">
                        @Html.LabelFor(model => model.ActivePhone, htmlAttributes: new { @class = "uk-form-label" })
                        <span class="icheck-inline">
                            @Html.CheckBoxFor(model => model.ActivePhone, new Dictionary<string, Object> { { "data-md-icheck", "" } })
                        </span>
                    </div>
                </div>
                <div class="uk-width-medium-1-2">
                    <div class="uk-form-row parsley-row">
                        @Html.LabelFor(model => model.HasClass, htmlAttributes: new { @class = "uk-form-label" })
                        <span class="icheck-inline">
                            @Html.CheckBoxFor(model => model.HasClass, new Dictionary<string, Object> { { "data-md-icheck", "" } })
                        </span>
                    </div>
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-2">
                    @Html.LabelFor(model => model.facebook)
                    @Html.EditorFor(model => model.facebook, new { htmlAttributes = new { @class = "md-input" } })
                </div>
                <div class="uk-width-medium-1-2">
                    @Html.LabelFor(model => model.zalo)
                    @Html.EditorFor(model => model.zalo, new { htmlAttributes = new { @class = "md-input" } })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-2">
                    @Html.LabelFor(model => model.viber)
                    @Html.EditorFor(model => model.viber, new { htmlAttributes = new { @class = "md-input" } })
                </div>
            </div>
            <input value="@Model.Serinumber" id="Serinumber" name="Serinumber" hidden />
            <input id="IsUpdateLevelCode300" name="IsUpdateLevelCode300" value="@Model.IsUpdateLevelCode300"   type="hidden" />
            <input value="@Model.ClassIdOld" id="ClassIdOld" name="ClassIdOld" hidden />
            <input value="@Model.DateExpired" id="DateExpired" name="DateExpired" hidden />
            <input value="@Model.DateActive" id="DateActive" name="DateActive" hidden />
            <input value="@Model.LevelCode" id="LevelCode" name="LevelCode" hidden />
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-2">
                    <div id="levelInfo" class="form-group" accesskey="0" activeCode="" @*style="display: none;"*@>
                        <label for="inputEmail3" class="col-sm-3 control-label">Học cấp mấy ?</label>
                        <div class="col-sm-9">
                            <select id="levelName" class="form-control md-input">
                                <option value="">[ Chọn ]</option>
                                <option value="cap1">Cấp 1</option>
                                <option value="cap2">Cấp 2</option>
                                <option value="cap3">Cấp 3</option>
                            </select>

                        </div>
                    </div>
                    <div id="classInfo" class="form-group" accesskey="0">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="md-fab-wrapper">
    <div class="md-fab md-fab-accent md-fab-sheet md-fab-small">
        <i class="material-icons">&#xE30F;</i>
        <div class="md-fab-sheet-actions">
            <a id="btnReturn" href="@Url.Action("Index", "Userinfo", new { area = "Master" })" class="md-color-white"><i class="material-icons md-color-white">&#xE15E;</i> <span class="gc-text-decoration uk-text-warning">Q</span>uay lại</a>
            <a id="btnSave" href="javascript:void(0)" class="md-color-white"><i class="material-icons md-color-white">&#xE161;</i> <span class="gc-text-decoration uk-text-warning">L</span>ưu</a>
        </div>
    </div>
</div>
<link href="@Url.Content("~/Scripts/cms/vendor/toast/toast.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/cms/vendor/toast/toast.js")"></script>
<script type="text/javascript">
    var isLoad = false;
    $(document).ready(function () {
        $('#IsUpdateLevelCode300').val('@Model.IsUpdateLevelCode300' == 'True' ? true : false);
        gcHotkey._return();
        gcHotkey._save();
        CreateSuccess('@Url.Action("Create", "Userinfo", new { area = "Master" })');
        $('#btnSave').click(function () {
            if (CheckBeforeSave()) {
                @*$.post('@Url.Action("CheckUser", "Userinfo", new { area = "MasterData" })'
                    , { id: $('#Id').val(), u: $('#userName').val(), e: $('#Email').val(), p: $('#Phone').val() }
                , function (data) {
                    if (data != '') {
                        $.toast({
                            heading: 'STNHD Thông Báo',
                            text: data,
                            showHideTransition: 'slide',
                            icon: 'info',
                            position: 'top-center'
                        });
                    } else {
                        Save($("#frm"), true);
                    }
                    });*@
                Save($("#frm"), true);
            }
        });
        $('#btnGeneralPass').click(function () {
            $.post('@Url.Action("GeneralPassword", "Userinfo", new { area = "MasterData" })', {}, function (data) {
                $('#Password').val(data);
            });
        });

        SetVaule();
        // Combo cấp change
        $('#levelName').change(function () {
            ChangeCombo();
        });

    });
    function CheckBeforeSave() {
        var flag = true;
        if ($('#fullName').val() == '') {
            flag = false;
            $.toast({
                heading: 'STNHD Thông Báo',
                text: 'Bạn chưa nhập Họ Và Tên',
                showHideTransition: 'slide',
                icon: 'info',
                position: 'top-center'
            });
        }
        if ($('#Password').val() == '') {
            flag = false;
            $.toast({
                heading: 'STNHD Thông Báo',
                text: 'Bạn chưa nhập Mật Khẩu',
                showHideTransition: 'slide',
                icon: 'info',
                position: 'top-center'
            });
        }
        if ($('#Email').val() == '') {
            flag = false;
            $.toast({
                heading: 'STNHD Thông Báo',
                text: 'Bạn chưa nhập Email',
                showHideTransition: 'slide',
                icon: 'info',
                position: 'top-center'
            });
        }
        if ($('#Phone').val() == '') {
            flag = false;
            $.toast({
                heading: 'STNHD Thông Báo',
                text: 'Bạn chưa nhập Số Điện Thoại',
                showHideTransition: 'slide',
                icon: 'info',
                position: 'top-center'
            });
        }
        if ($('#Address').val() == '') {
            flag = false;
            $.toast({
                heading: 'STNHD Thông Báo',
                text: 'Bạn chưa nhập Địa Chỉ',
                showHideTransition: 'slide',
                icon: 'info',
                position: 'top-center'
            });
        }
        return flag;
    }

    function SetVaule() {

            if (@Model.ClassId <= 8) {
                $('#levelName  option[value=cap1]').attr('selected', 'selected');
            }
            // Cấp 2
            else if (@Model.ClassId <= 15) {
                $('#levelName  option[value=cap2]').attr('selected', 'selected');
            }
            // Cấp 3
            else if (@Model.ClassId <= 18) {
                $('#levelName  option[value=cap3]').attr('selected', 'selected');
            }
            ChangeCombo();
            if (@Model.LevelCode == 200)
            $("#levelName").attr('disabled', 'disabled');
            isLoad = true;

        };

    function ChangeCombo() {
            CheckUpdate();
           var levelName = $('#levelName').val();
            $('#classInfo').load('@Url.Action("LoadClassByLevel", "Userinfo")', { lvCode: levelName }, function () {
                    $('#classId  option[value=@Model.ClassId]').attr('selected', 'selected');
                });
        }

         function CheckUpdate() {
            var levelCode = $('#LevelCode').val();
            if (levelCode == 300 && isLoad && '@Model.IsNotChangeClass' == 'True') {
                $.toast({
                    heading: 'STNHD Thông Báo',
                    text: 'Chỉ được phép đổi lớp trước 7 ngày!',
                    showHideTransition: 'slide',
                    icon: 'error',
                    position: 'top-center'
                });
                if (@Model.ClassId <= 8) {
                    $('#levelName').val("cap1");
                }
                // Cấp 2
                else if (@Model.ClassId <= 15) {
                    $('#levelName').val("cap2");
                }
                // Cấp 3
                else if (@Model.ClassId <= 18) {
                    $('#levelName').val("cap3");
                }
                $('#classId').val("@Model.ClassId");
            }
         }
</script>
