﻿<label class="col-sm-3 control-label">Học Lớp Mấy ?</label>
<div class="col-sm-9">
    <select id="classId" name="classId" class="form-control md-input" onchange="CheckUpdate()">
        <option value="">[ Chọn ]</option>
        <option value="16">Lớp 10</option>
        <option value="17">Lớp 11</option>
        <option value="18">Lớp 12</option>
    </select>
</div>