﻿@model IEnumerable<GCSOFT.MVC.Web.Areas.MasterData.Models.VM_UserInfo>

@{
    ViewBag.Title = "Xóa thiết bị đăng nhập";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
<div id="page_content_inner">
    <div class="md-card">
        <div class="md-card-toolbar">
            <h3 class="md-card-toolbar-heading-text">
                Tìm Kiếm User STNHD
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-grid" data-uk-grid-margin style="margin-bottom:0.5%">
                <div class="uk-width-medium-1-4">
                    <label for="UserName">Tên Đăng Nhập</label>
                    <input type="text" class="md-input" id="UserName">
                </div>
            </div>
            <div class="uk-width-1-2">
                <a id="btnRemoveDivice" href="javascript:void(0);" class="md-btn md-btn-primary md-btn-wave-light">Xóa thiết bị đăng nhập</a>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnRemoveDivice').click(function () {
                if ($('#UserName').val() == '') {
                    $().toastmessage('showToast', {
                        text: 'Chưa nhập thông tin Tên Đăng Nhập',
                        sticky: false,
                        position: 'top-center',
                        type: 'error'
                    });
                    return false;
                }
                NProgress.start();
                $('#btnRemoveDivice').addClass("disabled").html('<i class="uk-icon-spinner uk-icon-spin"></i>&nbsp;Đang xóa ....');

                $.ajax({
                    type: 'GET',
                    url: '/MasterData/UserInfo/FuncRemoveDevice?userName=' + $('#UserName').val(),
                    async: true,
                    success: function (status) {
                        if (status.success) {
                            NProgress.done();
                            $().toastmessage('showToast', {
                                text: "Đã xóa xong",
                                sticky: false,
                                position: 'top-center',
                                type: 'success'
                            });
                            $('#btnRemoveDivice').removeClass("disabled").html('Xóa thiết bị đăng nhập');
                        } else {
                            $().toastmessage('showToast', {
                                text: "Error: " + xhr.status + ": " + xhr.statusText,
                                sticky: false,
                                position: 'top-center',
                                type: 'error'
                            });
                        }
                    },
                    error: function () {
                        alert('error');
                    }
                });
            });
        });

    </script>    
}
