﻿@model GCSOFT.MVC.STNHD.Models.UserInfoViewModel
<div id="divSuccessRegistration" class="modify-w-form contact" style="text-align: center; display: none;">
    <h3 style="text-align: center; margin-top: 25px;">Xin Chúc Mừng</h3>
    <p id="msgSuccessRegistration"></p>
</div>
<div class="modify-w-form" id="divRegistration">
    @using (Html.BeginForm("Create", "AccountEbook", FormMethod.Post, new { @id = "frmRegistration", @autocomplete = "off", @class = "form-horizontal" }))
    {
        <div class="support-course">
            <p>Thông Tin Đăng Nhập (*)</p>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">Tên đăng nhập</label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.userName, new { @placeholder = "Nhập tên đăng nhập (*)", @class = "form-control validate[required,funcCall[ValidUsername[]]" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Mật khẩu</label>
                <div class="col-sm-9">
                    @Html.PasswordFor(model => model.Password, new { @placeholder = "Mật Khẩu (*)", @class = "form-control validate[required]" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Nhập lại mật khẩu</label>
                <div class="col-sm-9">
                    @Html.PasswordFor(model => model.RePassword, new { @placeholder = "Nhập Lại Mật Khẩu (*)", @class = "form-control validate[required,equals[Password]]" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label"></label>
                <div class="col-sm-9">
                    <span style="color: gray; font-size: 10pt;">Xin vui lòng nhớ <strong>Tên đăng nhập</strong> và <strong>Mật khẩu</strong> dùng để <strong>Đăng Nhập</strong> vào xem sách kỹ thuật ghi nhớ.</span>
                </div>
            </div>

        </div>
        <div class="support-course">
            <p>Thông Tin Cá Nhân</p>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">Họ tên phụ huynh</label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.fullName, new { @placeholder = "Nhập họ tên phụ huynh (*)", @class = "form-control validate[required]" })
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">Họ tên con thứ 1</label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.ChildFullName1, new { @placeholder = "Nhập họ tên con thứ 1 (*)", @class = "form-control validate[required]" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Học lớp</label>
                <div class="col-sm-9">
                    @Html.DropDownListFor(model => model.Child1_ClassId, Model.ClassList, "[ Chọn lớp ]", new { @class = "form-control validate[required]" })
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">Trường học của con</label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.Child1_SchoolName, new { @placeholder = "Nhập trường con đang họ 1c (*)", @class = "form-control validate[required]" })
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">Họ tên con thứ 2</label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.ChildFullName2, new { @placeholder = "Nhập họ tên con thứ 2", @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Học lớp</label>
                <div class="col-sm-9">
                    @Html.DropDownListFor(model => model.Child2_ClassId, Model.ClassList, "[ Chọn lớp ]", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">Trường học của con</label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.Child2_SchoolName, new { @placeholder = "Nhập trường con đang học 2 (*)", @class = "form-control validate[required]" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Tỉnh/Thành Phố</label>
                <div class="col-sm-9">
                    @Html.DropDownListFor(model => model.CityId, Model.CityList, "[ Chọn Tỉnh/Thành phố ] (*)", new { @class = "form-control validate[required]" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Quận huyệnh</label>
                <div class="col-sm-9">
                    @Html.DropDownListFor(model => model.DistrictId, Model.DistrictList, "[ Chọn quận huyện ] (*)", new { @class = "form-control validate[required]" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Email phụ huynh</label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.Email, new { @placeholder = "Email phụ huynh (*)", @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">SĐT</label>
                <div class="col-sm-9">
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.Phone, new { @placeholder = "Nhập số điện thoại (*)", @class = "form-control validate[required,custom[phone]]" })
                        <span class="input-group-btn">
                            <button class="btn btn-primary btn-customize" type="button" id="btnSendOTP">Gửi Mã Xác Thực</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">Mã xác thực</label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.OTP, new { @placeholder = "Nhập mã xác thực gửi tới số điện thoại trên", @class = "form-control validate[required]" })
                </div>
            </div>
        </div>
        <div class="text-center"><button type="button" id="btnRegistration2" class="btn btn-primary">Đăng ký</button></div>
    }
</div>
