﻿@model GCSOFT.MVC.STNHD.Models.UserInfoViewModel
@{
    ViewBag.Title = "Thông Tin Cá Nhân";
}
<div class="container">
    <div class="jumbotron">
        <div class="txt">
            <h2>Xin chào bạn</h2>
        </div>
        <p class="jumbotron-img"><img src="@Url.Content("~/Content/images/banner-detail.png")" alt=""></p>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="modify-w-form">
                <h3>THÔNG TIN CÁ NHÂN</h3>
                @if (string.IsNullOrEmpty(Model.userName))
                {
                    <p class="text-center">Siêu Trí Nhớ Học Đường Thông Báo</p>
                    <p class="text-center">
                        Vui lòng đăng nhập trước khi thay đổi Thông Tin Cá Nhân
                    </p>
                }
                else
                {
                    using (Html.BeginForm("UserInfo", "Student", FormMethod.Post, new { @id = "frmUserInfo", @autocomplete = "off", @class = "form-horizontal" }))
                    {
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">Tên đăng nhập</label>
                            <div class="col-sm-9">
                                @Html.HiddenFor(model => model.Id)
                                @Html.TextBoxFor(model => model.userName, new { @placeholder = "Nhập tên đăng nhập (*)", @class = "form-control", @readonly = true })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">Họ và Tên</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(model => model.fullName, new { @placeholder = "Nhập họ và tên của bạn", @class = "form-control validate[required]" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">Điện Thoại</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(model => model.Phone, new { @placeholder = "Nhập số điện thoại", @class = "form-control  validate[required]" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">Email</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(model => model.Email, new { @placeholder = "Nhập email", @class = "form-control validate[required]" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">Địa Chỉ</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(model => model.Address, new { @placeholder = "Nhập địa chỉ của bạn", @class = "form-control validate[required]" })
                            </div>
                        </div>
                        <div class="text-center"><button type="button" id="btnChangeInfo" class="btn btn-primary">Thay Đổi</button></div>
                    }
                }
            </div>
        </div>
    </div>
</div>
@section scripts{
    <link href="@Url.Content("~/Scripts/ValidationEngine/validationEngine.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/ValidationEngine/validationEngine.js")"></script>
    <script src="@Url.Content("~/Scripts/ValidationEngine/validationEngine-vi.js")"></script>
    <link href="@Url.Content("~/Scripts/toast/toast.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/toast/toast.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnChangeInfo').click(function () {
                var objFrom = $('#frmUserInfo');
                var flag = objFrom.validationEngine('validate');
                if (flag) {
                    $('[name="btnChangeInfo"]').attr('disabled', 'disabled').text('Loading ...');
                    NProgress.start();
                    objFrom.ajaxSubmit(function (data) {
                        if (data.s == 'oke') {
                            $.toast({
                                heading: 'STNHD Thông Báo',
                                text: "Thông tin của bạn đã được thay đổi, vui lòng thoát ra vào lại để lấy lại thông tin mới.",
                                showHideTransition: 'slide',
                                icon: 'info',
                                position: 'top-center'
                            });
                            $('#Password,#RePassword').val('');
                        } else {
                            $.toast({
                                heading: 'STNHD Thông Báo',
                                text: data.result,
                                showHideTransition: 'slide',
                                icon: 'info',
                                position: 'top-center'
                            });
                        }
                        NProgress.done();
                        $('[name="btnChangeInfo"]').removeAttr('disabled').text('Thay Đổi');
                    });
                }
            });
        });
    </script>
}