﻿@model IEnumerable<GCSOFT.MVC.STNHD.Models.CourseList>
@foreach (var course in Model)
{
    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
        <div class="box-class-inner">
            <a href="@Url.Action("Book", "Videos", new { id = course.Id })">
                <div><img src="@course.Avatar" class="max-w-100" alt=""></div>
                <p class="text-center">@course.Title</p>
            </a>
            @*<a href="@Url.Action("Book", "Videos", new { id = course.Id })&lang=vi-VN" name="videos"><img id="flag-logo-main" src="https://firebasestorage.googleapis.com/v0/b/tamtriluc-1a443.appspot.com/o/STNHD%2Fvietnam.png?alt=media&token=e86289a1-4070-4911-8e83-019f5c3383b6" alt=""></a>
            <a href="@Url.Action("Book", "Videos", new { id = course.Id })&lang=en-US" name="videos"><img id="flag-logo-main" src="https://firebasestorage.googleapis.com/v0/b/tamtriluc-1a443.appspot.com/o/STNHD%2FEnglist.png?alt=media&token=14df94a4-16d8-4204-b833-e7485b91abe2" alt=""></a>*@
        </div>
    </div>
}