﻿@model GCSOFT.MVC.STNHD.Models.CourseVideosViewModel
@using GCSOFT.MVC.STNHD.Models
@using GCSOFT.MVC.STNHD.Resource
@{
    ViewBag.Title = "Siêu Trí Nhớ Học Đường";
    bool nextVideos = false;
    int idNextVideos = 0;
    var _courseInfo = (HomeViewModel)ViewBag.courseInfo;
}
<link href="https://amp.azure.net/libs/amp/2.2.3/skins/amp-flush/azuremediaplayer.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="https://amp.azure.net/libs/amp/2.2.3/azuremediaplayer.min.js"></script>
<!-- Headline -->
<div class="container">
    <div class="jumbotron">
        <div class="txt">
            <h2>Xin chào bạn @Model.UserInfo.fullName</h2>
        </div>
        <p class="jumbotron-img"><img src="@Url.Content("~/Content/images/banner-detail.png")" alt=""></p>
    </div>
</div>
<div class="container">
    <div class="row">
        @if (!Model.HasVideos)
        {
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <div class="video">
                    <h3>Môn @_courseInfo.Course.Title @_courseInfo.Course.ClassName Đang Xây Dựng Nội Dung</h3>
                </div>
            </div>
        }
        else
        {
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-17">
                <div class="video">
                    @if (Model.CourseVideo.Title != ViewBag.ParentTitle)
                    {
                        <h3>@Model.CourseVideo.Title</h3>
                    }
                    <h3>@Model.CourseInfo.Title - @Model.CourseInfo.ClassName - @ViewBag.ParentTitle</h3>
                    @*<p>@Request.Cookies["culture"].Value</p><p>@ViewBag.url</p>*@

                    @if (string.IsNullOrEmpty(Model.CourseVideo.LinkYoutube))
                    {
                        <h3>Nội Dung Đang Xây Dựng Nội Dung</h3>
                    }
                    else
                    {
                        <div style="padding-top:56.25%;position:relative;">
                            <iframe src="@ViewBag.url" style="border:0;height:460px;width:640px;max-width:100%;position:absolute;top:0px;left:0px;height:100%;width:100%;" allowFullScreen="true" allow="encrypted-media, autoplay"></iframe>
                        </div>

                    }
                </div>
            </div>
        }
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="box-detail box-detail-lesson">
                <h3 style="margin-top: 15px;">@stnhd.Lesson</h3>
                <div class="box-detail-inner">
                    @foreach (var item in Model.CourseVideos.Where(d => (d.ParentSortOrder ?? 0) == 0))
                    {
                        <h4>@item.Title</h4>
                        <ul>
                            @foreach (var itemLesson in Model.CourseVideos.Where(d => d.ParentSortOrder == item.SortOrder))
                            {
                                if (itemLesson.LineNo > ViewBag.idCurrentLesson && !nextVideos)
                                {
                                    nextVideos = true;
                                    idNextVideos = itemLesson.LineNo;
                                }
                                if (ViewBag.idCurrentLesson == ViewBag.LastVideosId)
                                {
                                    idNextVideos = ViewBag.FirstVideosId;
                                    nextVideos = true;
                                }
                            <li>
                                @if (!item.IsHidden)
                                {
                                    <a id="@(itemLesson.LineNo == idNextVideos ? "nextVideos" : "Idvideos")" href="@Url.Action("book", "Videos", new { id = _courseInfo.Course.Id, l = itemLesson.LineNo })" name="videos" accesskey="@itemLesson.LineNo">@itemLesson.Title<span class="lesson-time">@itemLesson.Times</span></a>
                                    if (!string.IsNullOrEmpty(itemLesson.LinkVideoEN) && !itemLesson.IsHiddenHK2)
                                    {
                                        <a href="@Url.Action("book", "Videos", new { id = _courseInfo.Course.Id, l = itemLesson.LineNo })&lang=vi-VN" name="videos" accesskey="@itemLesson.LineNo"><img id="flag-logo-main" src="https://firebasestorage.googleapis.com/v0/b/tamtriluc-1a443.appspot.com/o/STNHD%2Fvietnam.png?alt=media&token=e86289a1-4070-4911-8e83-019f5c3383b6" alt=""></a>
                                        <a href="@Url.Action("book", "Videos", new { id = _courseInfo.Course.Id, l = itemLesson.LineNo })&lang=en-US" name="videos" accesskey="@itemLesson.LineNo"><img id="flag-logo-main" src="https://firebasestorage.googleapis.com/v0/b/tamtriluc-1a443.appspot.com/o/STNHD%2FEnglist.png?alt=media&token=14df94a4-16d8-4204-b833-e7485b91abe2" alt=""></a>
                                    }
                                }

                            </li>
                            }
                        </ul>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="your-class mt">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <h3 class="h-title">@stnhd.Textbooklectures</h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left">
                <div class="list-btn">
                    @foreach (var item in _courseInfo.StudentClasses)
                    {
                        <div>
                            <a id="class@(item.ClassId)" name="classInfo" accesskey="@item.ClassId" class="btn-class @(item.ClassId == _courseInfo.Course.ClassId ? "btn-active-class" : "")" href="javascript:void(0);">@item.ClassName</a>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="row box-class" id="loadCourse">
            @foreach (var course in _courseInfo.Courses)
            {
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <div class="box-class-inner">
                        <a href="@Url.Action("Book", "Videos", new { id = course.Id })">
                            <div><img src="@course.Avatar" class="max-w-100" alt=""></div>
                            <p class="text-center">@course.Title</p>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('[name="classInfo"]').click(function () {
                var id = $(this).attr('accesskey');
                NProgress.start();
                $('#loadCourse').load('@Url.Action("LoadVideosCourse", "Videos")', { c: id }, function () {
                    $('[name="classInfo"]').removeClass('btn-active-class');
                    $(String.format('#class{0}', id)).addClass('btn-active-class');
                    $('html,body').animate({
                        scrollTop: $("#loadCourse").offset().top
                    }, 'slow');
                    NProgress.done();
                });
            });
            //-- Change Videos
            window.addEventListener('message', handleMessage, false);
            function handleMessage(event) {
                switch (event.data) {
                    case "PVD_VIDEO_ENDED":
                        var url = $('#nextVideos').attr('href');
                        console.log(url);
                        if (url.includes('undefined'))
                            return;
                        window.location.href = url;
                        break;
                }
            }
            //-- Change Videos +
            //-- Full Sreeen
            var $allVideos = $("iframe");
            $allVideos.each(function () {
                $(this).data('aspectRatio', this.height / this.width).removeAttr('height').removeAttr('width');
            });
            $(window).resize(function () {
                $allVideos.each(function () {
                    var $el = $(this);
                    $fluidEl = $el.parent();
                    var newWidth = $fluidEl.width();
                    $el.width(newWidth).height(newWidth * $el.data('aspectRatio'));
                });
            }).resize();
            //-- Full Sreeen +
        });
    </script>
}