﻿@model GCSOFT.MVC.STNHD.Models.LearningViewModel
@{
    ViewBag.Title = "Siêu Trí Nhớ Học Đường";
    bool nextVideos = false;
    int idNextVideos = 0;
}
<link href="https://amp.azure.net/libs/amp/2.2.3/skins/amp-flush/azuremediaplayer.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="https://amp.azure.net/libs/amp/2.2.3/azuremediaplayer.min.js"></script>
<style>
    .azuremediaplayer-dimensions { height: 641px !important; }
</style>
<!-- Headline -->
<div class="container">
    <div class="jumbotron">
        <div class="txt">
            <h2>Xin chào bạn @Model.UserInfo.fullName</h2>
        </div>
        <p class="jumbotron-img"><img src="@Url.Content("~/Content/images/banner-detail.png")" alt=""></p>
    </div>
    <div class="row">
        @if (!string.IsNullOrEmpty(Model.CourseData.token))
        {
            var token = "Bearer%3d" + @Model.CourseData.token;
            var proxyurl = "Home/Manifest?playbackUrl=" + @Model.CourseData.url + "(format=m3u8-aapl)"; ;
            string urlencoded_proxyurl = "http://streaming.matmatainang.vn/" + @proxyurl + "&webtoken=" + @token;
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-17">
                <div class="video">
                    <h3>@Model.LessionInfo.productName - @Model.CourseData.name</h3>
                    <div>
                        <video id="azuremediaplayer" class="azuremediaplayer amp-big-play-centered amp-flush-skin azuremediaplayer-dimensions amp-size-l vjs-user-active" autoplay="autoplay" style="width: 100%;" tabindex="0">
                            <source src="@Model.CourseData.url" type="application/vnd.ms-sstr+xml" data-setup='{"streamingFormats": ["DASH", "SMOOTH"], "protectionInfo": [{"type": "AES", "authenticationToken": "Bearer=@Model.CourseData.token"}]}' />
                            <source src="@urlencoded_proxyurl" type="application/vnd.apple.mpegurl" data-setup='{"disableUrlRewriter": true }' />
                        </video>
                    </div>
                </div>
                <p style="margin-top: 10px;font-weight: bold;">
                    <a target="_blank" href="@Url.Action("Window7", "Policy")" style="color: #0094E7;">Hướng dẫn xem videos Siêu Trí Nhớ Học Đường trên máy tính Windows 7</a>
                </p>
                
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="box-detail box-detail-lesson">
                    <h3>Bài Học</h3>
                    <div class="box-detail-inner">
                        @foreach (var item in Model.lessons)
                        {
                            <h4>@item.name</h4>
                            <ul>
                                @foreach (var itemLesson in item.items)
                                {
                                    if (itemLesson.id > ViewBag.idCurrentLesson && !nextVideos)
                                    {
                                        nextVideos = true;
                                        idNextVideos = itemLesson.id;
                                    }
                                    if (ViewBag.idCurrentLesson == 1799)
                                    {
                                        idNextVideos = 1769;
                                        nextVideos = true;
                                    }
                                    <li>
                                        <a id="@(itemLesson.id == idNextVideos ? "nextVideos" : "Idvideos")" href="@Url.Action("index", "Videos", new { id = itemLesson.id })" name="videos" accesskey="@itemLesson.id">@itemLesson.name<span class="lesson-time">@itemLesson.time</span></a>
                                    </li>
                                }
                            </ul>
                        }
                    </div>
                </div>
            </div>
            <script type="text/javascript" asp-location="Footer">
                            var myOptions = {
                                techOrder: ["azureHtml5JS", "flashSS", "html5FairPlayHLS", "silverlightSS", "html5"],
                                controls: true,
                                autoplay: true,
                                width: "640",
                                height: "400",
                                poster: ""
                            };
                            myPlayer = amp("azuremediaplayer", myOptions, function () {
                                console.log('Good to go!');
                                // add an event listener
                                this.addEventListener('ended', function () {
                                    var url = $('#nextVideos').attr('href');
                                    window.location.href = url;
                                })
                            });
                $('.amp-content-title').hide();
            </script>
        }
    </div>
</div>
