﻿@model GCSOFT.MVC.STNHD.Models.PageViewModels.MemoVideosPage
@{
    ViewBag.Title = "Siêu Trí Nhớ Học Đường";
    bool nextVideos = false;
    int idNextVideos = 0;
}
<div class="container">
    <div class="jumbotron">
        <div class="txt">
            <h2>Xin chào bạn @Model.UserInfo.fullName</h2>
        </div>
        <p class="jumbotron-img"><img src="@Url.Content("~/Content/images/banner-detail.png")" alt=""></p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-17">
            <div class="video">
                <h3>@Model.Video.TitleVN</h3>
                <div style="padding-top:56.25%;position:relative;">
                    <iframe src="@Model.UrlToPlay" style="border:0;height:460px;width:640px;max-width:100%;position:absolute;top:0px;left:0px;height:100%;width:100%;" allowFullScreen="true" allow="encrypted-media, autoplay"></iframe>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="box-detail box-detail-lesson">
                <h3 style="margin-top: 15px;">BÀI HỌC</h3>
                <div class="box-detail-inner">
                    @foreach (var item in Model.VideosList.Where(d => d.ParentSortOrder == 0))
                    {
                        <h4>@item.TitleVN</h4>
                        <ul>
                            @foreach (var itemLesson in Model.VideosList.Where(d => d.ParentSortOrder == item.SortOrder))
                            {
                                if (itemLesson.Id > Model.idCurrentLesson && !nextVideos)
                                {
                                    nextVideos = true;
                                    idNextVideos = itemLesson.Id;
                                }
                                if (Model.idCurrentLesson == Model.idLastVideos)
                                {
                                    idNextVideos = Model.idFirstVideos;
                                    nextVideos = true;
                                }
                                <li>
                                    <a id="@(itemLesson.Id == idNextVideos ? "nextVideos" : "Idvideos")" href="@Url.Action("index", "Videos", new { id = itemLesson.Id })" name="videos" accesskey="@itemLesson.Id">@itemLesson.TitleVN<span class="lesson-time">@itemLesson.Time</span></a>
                                </li>
                            }
                        </ul>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            //-- Change Videos
            window.addEventListener('message', handleMessage, false);
            function handleMessage(event) {
                switch (event.data) {
                    case "PVD_VIDEO_ENDED":
                        var url = $('#nextVideos').attr('href');
                        console.log(url);
                        if (url.includes('undefined'))
                            return;
                        window.location.href = url;
                        break;
                }
            }
            //-- Change Videos +
            //-- Full Sreeen
            var $allVideos = $("iframe");
            $allVideos.each(function () {
                $(this).data('aspectRatio', this.height / this.width).removeAttr('height').removeAttr('width');
            });
            $(window).resize(function () {
                $allVideos.each(function () {
                    var $el = $(this);
                    $fluidEl = $el.parent();
                    var newWidth = $fluidEl.width();
                    $el.width(newWidth).height(newWidth * $el.data('aspectRatio'));
                });
            }).resize();
            //-- Full Sreeen +
        });
    </script>
}