﻿@model GCSOFT.MVC.AGENCY.Areas.Transaction.Data.ViHatViewModel
    @{ 
        var stt = 0;
        var viHatDetails = Model.ViHatDetails.ToList();
    }
<div id="page_content_inner" class="hierarchical_slide">
    <div class="md-card">
        <div class="md-card-toolbar">
            <div class="md-card-toolbar-actions">
                <i class="md-icon material-icons md-card-toggle">&#xE316;</i>
            </div>
            <h3 class="md-card-toolbar-heading-text">
                <i class="material-icons">&#xE894;</i>&nbsp;&nbsp;@ViewBag.Title
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.FullName)
                    @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "md-input validate[required]" } })
                    @Html.HiddenFor(model => model.APK)
                    <input id="Id" value="@Model.Id" name="Id" hidden/>
                </div>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.Phone)
                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "md-input validate[required]" } })
                </div>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.Email)
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "md-input validate[required]" } })
                </div>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.StatusID)
                    @Html.DropDownListFor(model => model.StatusID, Model.StatusList, new { @class = "md-input" })
                </div>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.Quantity)
                    @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "md-input validate[required]" } })
                </div>
            </div>
        </div>
        <div class="md-card-content">
            <div class="uk-overflow-container">
                <table class="uk-table uk-table-hover">
                    <thead>
                        <tr>
                            <th class="uk-width-1-10 uk-text-nowrap">STT</th>
                            <th class="uk-width-1-10 uk-text-nowrap">Dịch vụ</th>
                            <th class="uk-width-3-10 uk-text-nowrap">Mô tả</th>
                            <th class="uk-text-nowrap">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ViHatDetails)
                        {
                            <tr>
                                <td>@(++stt)</td>
                                <td>
                                    @Html.HiddenFor(model => viHatDetails[stt - 1].Service)
                                    @item.Service
                                </td>
                                <td>
                                    @Html.HiddenFor(model => viHatDetails[stt - 1].Description)
                                    @item.Description
                                </td>
                                <td class="uk-text-right">
                                    @Html.CheckBoxFor(model => viHatDetails[stt - 1].Check, new Dictionary<string, Object>
                                            {
                                                {"data-md-icheck", ""}
                                            })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="md-fab-wrapper">
    <div class="md-fab md-fab-accent md-fab-sheet md-fab-small">
        <i class="material-icons">&#xE30F;</i>
        <div class="md-fab-sheet-actions">
            <a id="btnReturn" href="@Url.Action("Index", "ViHatDichVu", new { area = "Transaction" })" class="md-color-white"><i class="material-icons md-color-white">&#xE15E;</i> <span class="gc-text-decoration uk-text-warning">Q</span>uay lại</a>
            <a id="btnSave" href="javascript:void(0)" class="md-color-white"><i class="material-icons md-color-white">&#xE161;</i> <span class="gc-text-decoration uk-text-warning">L</span>ưu</a>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        gcHotkey._return();
        gcHotkey._save();
        CreateSuccess('@Url.Action("Create", "ViHatDichVu", new { area = "Transaction" })');
        $('#btnSave').click(function () {
            Save($("#frm"), true);
        });
    });
</script>
