﻿@model GCSOFT.MVC.AGENCY.ViewModels.HienTai.O_SummaryLevel
@{
    
}

@using (Html.BeginForm("UpLevel", "SummaryLevel", FormMethod.Post, new { @id = "frm", @class = "uk-form-stacked", @enctype = "multipart/form-data" }))
{
    <div id="page_content_inner" class="hierarchical_slide">
        <div class="md-card">
            <div class="md-card-toolbar">
                <div class="md-card-toolbar-actions">
                    <i class="md-icon material-icons md-card-toggle">&#xE316;</i>
                </div>
                <h3 class="md-card-toolbar-heading-text">
                    XÉT LÊN LEVEL
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.StudentId)
                    @Html.HiddenFor(model => model.NumberOfStarCompleted)
                </h3>
            </div>
            <div class="md-card-content">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-2">
                        @Html.LabelFor(model => model.Code)
                        @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "md-input", @ReadOnly = true } })
                    </div>
                    <div class="uk-width-medium-1-2">
                        @Html.LabelFor(model => model.NumberOfStarCompleted)
                        @Html.EditorFor(model => model.NumberOfStarCompleted, new { htmlAttributes = new { @class = "md-input", @ReadOnly = true } })
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.LevelId)
                        @Html.DropDownListFor(model => model.LevelId, Model.LevelList, new { @class = "md-input validate[required]" })
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.Note)
                        @Html.TextAreaFor(model => model.Note
                               , new Dictionary<string, Object> {
                                                  { "class", "md-input label-fixed validate[required]" }
                                                  , { "autocomplete", "off" }
                                                  , { "rows", "3" }
                               })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer id="footer" class="uk-text-center">
        <a id="btnReturn" href="@Url.Action("Index", "SummaryLevel", new { area = "HienTai"})" class="md-btn md-btn-danger md-btn-wave-light md-btn-icon">
            <i class="material-icons md-color-white">&#xE15E;</i>
            Quay Lại
        </a>
        <a class="md-btn md-btn-primary md-btn-wave-light md-btn-icon" href="javascript:void(0)" id="btnSave">
            <span class="material-icons md-color-white">save</span>
            Lưu
        </a>
    </footer>
}

<script type="text/javascript">
    $(document).ready(function () {
        gcHotkey._return();
        gcHotkey._save();
        CreateSuccess('@Url.Action("Index", "SummaryLevel", new { area = "HienTai"})');
        $('#btnSave').click(function () {
            var flag = $("#frm").validationEngine('validate');
            if (flag) {
                $("#frm").submit();
            }
        });
    });
</script>


