﻿@model GCSOFT.MVC.AGENCY.ViewModels.HienTai.O_NotificationSchedule
@{
    ViewBag.Title = "TẠO LỊCH GỬI THÔNG BÁO";
}

@using (Html.BeginForm("Create", "NotificationSchedule", FormMethod.Post, new { @id = "frm", @class = "uk-form-stacked", @enctype = "multipart/form-data" }))
{
    <div id="page_content_inner" class="hierarchical_slide">
        <div class="md-card">
            <div class="md-card-toolbar">
                <h3 class="md-card-toolbar-heading-text">
                    <i class="material-icons">&#xE894;</i>&nbsp;&nbsp;Thông tin
                </h3>
            </div>
            <div class="md-card-content">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-4">
                        @Html.LabelFor(model => model.NotificationTypeArr)
                        @Html.ListBoxFor(model => model.NotificationTypeArr, Model.NotificationTypes, new { @class = "md-input label-fixed validate[required]", @id = "NotificationType" })
                    </div>
                    <div class="uk-width-medium-1-4">
                        @Html.LabelFor(model => model.ReceiverType)
                        @Html.DropDownListFor(model => model.ReceiverType, Model.ReceiverTypeTypes, new { @class = "md-input label-fixed" })
                    </div>
                    <div class="uk-width-medium-1-4">
                        @Html.LabelFor(model => model.Loop)
                        @Html.DropDownListFor(model => model.Loop, Model.LoopTypes, new { @class = "md-input label-fixed" })
                    </div>
                    <div class="uk-width-medium-1-4">
                        @Html.LabelFor(model => model.NotificationCategory)
                        @Html.DropDownListFor(model => model.NotificationCategory, Model.NotificationCats, new { @class = "md-input label-fixed" })
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-3">
                        @Html.CheckBoxFor(model => model.AllDay)
                        @Html.LabelFor(model => model.AllDay)
                    </div>
                </div>
                <div id="TimeSlot">
                    <div class="uk-grid" data-uk-grid-margin style="padding-top: 20px !important">
                        <div class="uk-width-medium-1-3">
                            Giờ (Dùng kiểu giờ 24:00)
                            @Html.TextBoxFor(model => Model.TimeSlotInput, new Dictionary<string, Object> { { "class", "md-input label-fixed" }, { "autocomplete", "off" }, { "id", "TimeSlotInput" }, { "placeholder", "VD: 08:00" } })
                        </div>
                        <div class="uk-width-medium-1-3">
                            <a class="md-btn md-btn-success md-btn-wave-light" style="margin-top:20px !important" title="Thêm" onclick="AddTime();">
                                <i class="material-icons md-color-white">add</i>
                            </a>
                        </div>
                    </div>
                    <ul id="times"></ul>
                    @Html.HiddenFor(x => x.TimeSlots)
                </div>
                <div class="clearfix"></div>
                <div class="uk-grid" data-uk-grid-margin style="padding-top: 20px !important">
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.Name)
                        @Html.TextBoxFor(model => model.Name, new Dictionary<string, Object> {
                                                    { "class", "md-input label-fixed validate[required]" }
                                                    , { "autocomplete", "off" }
                                                })
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin id="APP">
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.ContentApp)
                        @Html.TextAreaFor(model => model.ContentApp
                                , new Dictionary<string, Object> {
                                                   { "class", "md-input label-fixed validate[required]" }
                                                   , { "autocomplete", "off" }
                                                   , { "rows", "2" }
                                })
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin id="EMAIL">
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.ContentEmail)
                        @Html.TextAreaFor(model => model.ContentEmail
                               , new Dictionary<string, Object> {
                                                  { "class", "md-input label-fixed validate[required]" }
                                                  , { "autocomplete", "off" }
                                                  , { "rows", "2" }
                               })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer id="footer" class="uk-text-center">
        <a id="btnReturn" href="@Url.Action("Create", "NotificationSchedule", new { area = "HienTai" })" class="md-btn md-btn-danger md-btn-wave-light md-btn-icon">
            <i class="material-icons md-color-white">&#xE15E;</i>
            Quay Lại
        </a>
        <a class="md-btn md-btn-primary md-btn-wave-light md-btn-icon" href="javascript:void(0)" id="btnSave">
            <span class="material-icons md-color-white">save</span>
            Lưu
        </a>
    </footer>
}

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('select').select2();
            HideContent(true);
            $("#NotificationType").change(function () {
                var data = $("#NotificationType").val();
                const myArray = data.toString().split(',');
                //an
                HideContent(false);
                for (const prop in myArray) {
                    $('#' + myArray[prop]).css('display', 'block');
                }
            });
            $('#btnSave').click(function () {
                var flag = $("#frm").validationEngine('validate');
                if (flag) {
                    $("#frm").submit();
                }
            });

            CKEDITOR.replace('ContentEmail', { height: 150 });
            CKEDITOR.instances.ContentEmail.on('change', function () {
                $('[name="ContentEmail"]').val(CKEDITOR.instances.ContentEmail.getData());
            });

            $('#select-all').click(function () {
                var checked = this.checked;
                $('#Receiver input[type="checkbox"]').each(function () {
                    this.checked = checked;
                });
            })
            $('#AllDay').click(function () {
                var checked = this.checked;
                if (checked) {
                    $('#TimeSlot').css('display', 'none');
                    $("#times li").each(function (i) {
                        $(this).remove();
                    });
                }
                else {
                    $('#TimeSlot').css('display', 'block');
                }
                UpdateValue();
            })
        });

        function HideContent(isfist) {
            if (isfist) {
                $('#TimeSlot').css('display', 'none');
                $('#EMAIL').css('display', 'none');
                $('#APP').css('display', 'block');
            }
            else {
                $('#EMAIL').css('display', 'none');
                $('#APP').css('display', 'none');
            }
        }

        function AddTime() {
            var time = $("#TimeSlotInput").val();
            if (time == '') { alert("Vui lòng nhập thời gian !"); return false; }
            var isValid = /^([0-1]?[0-9]|2[0-4]):([0-5][0-9])(:[0-5][0-9])?$/.test(time);
            if (!isValid) { alert("Vui lòng nhập đúng định dạng !"); return false; }
            var check = CheckExists(time);
            if (check) { alert("Dữ liệu trùng vui lòng xem lại !"); return false; }

            //add
            var fn = "DeleteTime('" + time + "');";
            var item = '<li data-time-value="' + time + '">' + time;
            item += '<a onclick="' + fn + '"> <i class="material-icons">clear</i></a>';
            item += '</li>';
            $("#times").append(item);
            $("#TimeSlotInput").val('');
            UpdateValue();
        }

        function CheckExists(value) {
            var result = false;
            $("#times li").each(function (i) {
                var t = $(this).data('time-value');
                if (t == value) {
                    result = true;
                }
            });
            return result;
        }

        function DeleteTime(value) {
            $("#times li").each(function (i) {
                var t = $(this).data('time-value');
                if (t == value) {
                    $(this).remove();
                }
            });
            UpdateValue();
        }

        function UpdateValue() {
            var resut = '';
            $("#times li").each(function (i) {
                var t = $(this).data('time-value');
                resut += t + ';';
            });
            $("#TimeSlots").val(resut);
        }
    </script>
}


