﻿@model GCSOFT.MVC.AGENCY.ViewModels.HienTai.O_NotificationScheduleHistoryPage
@{
    ViewBag.Title = "LỊCH SỬ GỬI THÔNG BÁO";
}

<div id="page_content_inner">
    <div class="md-card">
        <div class="md-card-toolbar">
            <h3 class="md-card-toolbar-heading-text">
                CHỨC NĂNG
            </h3>
        </div>
        <div class="md-card-content">
            <input type="hidden" name="NotificationId" id="NotificationId" value="@ViewBag.NotificationId" />
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-3">
                    <label for="Type">Ngày</label><br />
                    <input type="text" name="date" id="date" value="@ViewBag.Date" class="md-input label-fixed validate[required,funcCall[DateFormat[]]" autocomplete="off" placeholder="dd/MM/yyyy" data-uk-datepicker="{format:'DD/MM/YYYY'}" />
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1 uk-text-right">
                    <a id="btnReturn" href="/HienTai/NotificationSchedule/Index" class="md-btn md-btn-primary uk-margin-small-top"><i class="material-icons">arrow_back</i> Quay lại</a>
                    <a id="btnSearch" href="javascript:void(0);" class="md-btn md-btn-primary uk-margin-small-top"><i class="material-icons">&#xE8B6;</i> Tìm Kiếm</a>
                </div>
            </div>
        </div>
    </div>
    <div class="md-card">
        <div class="md-card-toolbar">
            <h3 class="md-card-toolbar-heading-text">
                LỊCH SỬ GỬI THÔNG BÁO
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-overflow-container">
                <table class="uk-table uk-table-striped uk-table-hover">
                    <thead>
                        <tr>
                            <th><strong>STT</strong></th>
                            <th><strong>Ngày gửi</strong></th>
                            <th><strong>Đối tượng nhận</strong></th>
                            <th><strong>Người nhận</strong></th>
                            <th><strong>Kiểu gửi thông báo</strong></th>
                            <th><strong>Loại thông báo</strong></th>
                            <th><strong>Tiêu đề</strong></th>
                        </tr>

                    </thead>
                    <tbody>
                        @{ int stt = 0; }
                        @foreach (var item in Model.NotificationSchedules)
                        {
                        <tr>
                            <td class="uk-text-center">@(++stt)</td>
                            <td>
                                @item.CreateDate
                            </td>
                            <td>@item.ReceiverType</td>
                            <td>@item.FullName</td>
                            <td>@item.NotificationType</td>
                            <td>@item.NotificationCategory</td>
                            <td>@item.Title</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="pagination" data-total-count="@Model.paging.TotalRows" data-take="@Model.paging.PerPage"></div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/cms/vendor/paging/pajinatify.js")"></script>
    <link type="text/css" href="@Url.Content("~/Scripts/cms/vendor/paging/pajinatify.css")" rel="stylesheet" />
    <script type="text/javascript">
        $(document).ready(function () {
            $('.pagination').pajinatify();
            $('.pagination').pajinatify('set', @Model.paging.CurPage, @Model.paging.TotalRows);
            $('.pajinatify__button').click(function () {
                var p = $(this).attr('data-page');
                window.location.href = '@Url.Action("History", "NotificationSchedule", new { area = "HienTai" })' + '?currPage=' + p + querySearch();
            });
            $('#btnSearch').click(function () {
                window.location.href = '@Url.Action("History", "NotificationSchedule", new { area = "HienTai" })' + '?currPage=0' + querySearch();
            });
        });

        function querySearch() {
            let querySearch = '';
            if ($('#NotificationId').val() != '')
            {
                querySearch += '&notificationId=' + $('#NotificationId').val();
            }
            if ($('#date').val() != '') {
                querySearch += '&date=' + $('#date').val();
            }
            return querySearch;
        }

        function DateFormat(field, rules, i, options) {
            var regex = /^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$/;
            if (!regex.test(field.val())) {
                return "Vui lòng nhập ngày theo định dạng dd/MM/yyyy.";
            }
        }
    </script>

}


