﻿@model GCSOFT.MVC.AGENCY.ViewModels.HienTai.O_NotificationSchedulePage
@{
    ViewBag.Title = "LÊN LỊCH GỬI THÔNG BÁO";
}
@ViewBag.Test
<div id="page_content_inner">
    <div class="md-card">
        <div class="md-card-toolbar">
            <h3 class="md-card-toolbar-heading-text">
                Tìm kiếm
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    <label for="KeyWord">Kiểu thông báo</label>
                    @Html.DropDownList("NotificationType", new SelectList(ViewBag.NotificationTypes, "Value", "Text") as SelectList, "[ Chọn ]", new { @class = "md-input label-fixed" })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1 uk-text-right">
                    <a href="@Url.Action("Create", "NotificationSchedule", new { area = "HienTai" })" class="md-btn md-btn-primary md-btn-wave-light md-btn-icon waves-effect waves-button waves-light">
                        <i class="material-icons md-color-white">playlist_add</i>
                        Tạo lịch thông báo
                    </a>
                    <a href="@Url.Action("StopAll", "NotificationSchedule", new { area = "HienTai" })" class="md-btn md-btn-primary md-btn-wave-light md-btn-icon waves-effect waves-button waves-light">
                        <i class="material-icons md-color-white">autorenew</i>
                        Khởi tạo lại các công việc
                    </a>
                    <a id="btnSearch" href="javascript:void(0);" class="md-btn md-btn-primary md-btn-wave-light md-btn-icon waves-effect waves-button waves-light">
                        <i class="material-icons">&#xE8B6;</i>
                        Tìm Kiếm
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="md-card">
        <div class="md-card-content">
            <div class="uk-width-1-1">
                <div class="uk-overflow-container">
                    <table class="uk-table uk-table-nowrap table_check">
                        <thead>
                            <tr>
                                <th class="uk-width-1-10 uk-text-center"><strong>STT</strong></th>
                                <th>Ngày tạo</th>
                                <th>Tiêu đề</th>
                                <th>Kiểu thông báo</th>
                                <th>Loại thông báo</th>
                                <th>Đối tượng nhận</th>
                                <th>Tình trạng</th>
                                <th>Người tạo</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int stt = Model.paging.startIndex; }
                            @if (Model.NotificationSchedules.Count > 0)
                            {
                                foreach (var item in Model.NotificationSchedules)
                                {
                                    <tr>
                                        <td class="uk-text-center">@(++stt)</td>
                                        <td>
                                            <a href="#">@item.CreateDate</a>
                                        </td>
                                        <td>
                                            @item.Name
                                        </td>
                                        <td>@item.NotificationType</td>
                                        <td>@item.NotificationCategory</td>
                                        <td>@item.ReceiverType</td>
                                        <td>@(item.Status == true ? "Hoạt động" : "Tạm ngưng")</td>
                                        <td>@item.CreateName</td>
                                        <td class="uk-text-nowrap">
                                            @if (item.Status == true)
                                            {
                                                <a href="@Url.Action("Stop", "NotificationSchedule", new { area = "HienTai", notificationId = item.Id })"><i class="material-icons md-24 uk-text-warning">alarm_off</i> Tạm ngưng</a>
                                            }
                                            else
                                            {
                                                <a href="@Url.Action("Start", "NotificationSchedule", new { area = "HienTai", notificationId = item.Id })"><i class="material-icons md-24 uk-text-warning">alarm_on</i> Kích hoạt</a>
                                            }
                                            <a href="@Url.Action("History", "NotificationSchedule", new { area = "HienTai", notificationId = item.Id })"><i class="material-icons md-24 uk-text-warning">edit</i> Xem lịch sử</a>
                                            <a href="javascript:void(0);" class="uk-margin-left" name="btnDelete" id="@item.Id"><i class="material-icons md-24 uk-text-danger">&#xE872;</i> Xóa</a>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="8" style="text-align:center;">Dữ liệu không tồn tại.</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="pagination" data-total-count="@Model.paging.TotalRows" data-take="@Model.paging.PerPage"></div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/cms/vendor/paging/pajinatify.js")"></script>
    <link type="text/css" href="@Url.Content("~/Scripts/cms/vendor/paging/pajinatify.css")" rel="stylesheet" />
    <script type="text/javascript">
        $(document).ready(function () {
            $('.pagination').pajinatify();
            $('.pagination').pajinatify('set', @Model.paging.CurPage, @Model.paging.TotalRows);
            $('.pajinatify__button').click(function () {
                var p = $(this).attr('data-page');
                window.location.href = '@Url.Action("Index", "NotificationSchedule", new { area = "HienTai" })' + '?currPage=' + p + querySearch();
            });
            $('[name="btnDelete"]').click(function () {
                var id = $(this).attr('id');
                UIkit.modal.confirm('Bạn có chắc chắn muốn xóa?', function () {
                    $.post('@Url.Action("Delete", "NotificationSchedule", new { area = "HienTai" })', { id: id}, function (data) {
                        window.location.reload();
                    }, 'json');
                });
            });
            $('#btnSearch').click(function () {
                window.location.href = '@Url.Action("Index", "NotificationSchedule", new { area = "HienTai" })' + '?currPage=0' + querySearch();
            });
        });

        function querySearch() {
            let querySearch = '';
            if ($('#NotificationType').val() != '') {
                querySearch += '&NotificationType=' + $('#NotificationType').val();
            }
            return querySearch;
        }
    </script>

}


