﻿@model GCSOFT.MVC.STNHD.Models.CommentPage
@using GCSOFT.MVC.Model.MasterData
@{ var FileResources = Model.FileResources.ToList(); }
@foreach (var itemAsk in Model.Comments.Where(d => d.ParentId == null))
{
    <div class="clear-both"></div>
    <div class="box-comments-row">
        <div class="box-comments-full">

            <div class="left"><img src="@Url.Content("~/Content/images/icon-img.png")" alt=""></div>
            <div class="right">
                <p class="txt bg-txt" id="@itemAsk.Id">
                    <a href="javascript:void(0);">@itemAsk.FullName</a> @Html.Raw(itemAsk.Content)
                    <br />
                    @foreach (var itemFiles in Model.FileResources.Where(d => d.CommentId == itemAsk.Id))
                    {
                        <a name="openImg" href="@itemFiles.ImagePathFull" data-fancybox="gallery" data-caption="@Html.Raw(itemAsk.Content)">
                            <img src="@itemFiles.ImagePathFull" alt="" />
                        </a>
                    }
                </p>

                <div class="clear-both"></div>
                <p class="date-comments">
                    <span>
                        <a href="javascript:void(0);" id="imgIconVoteComment@(itemAsk.Id)" name="votefavorite" accesskey="@(itemAsk.Id)" HasVote="@itemAsk.hasVote.ToString()">
                            <i id="heartIcon@(itemAsk.Id)" class="fa @itemAsk.IconVote" aria-hidden="true"></i> @itemAsk.NoOfVote Yêu thích
                        </a>
                    </span>
                    <span>
                        <a href="javascript:void(0);" accesskey="@itemAsk.Id" name="reply" class="reply" repybyId="@itemAsk.Id" status="close">
                            <i class="fa fa-comment-o" aria-hidden="true"></i> Thảo luận
                        </a>
                    </span>
                </p>
                <div class="input-comments" id="comment_reply@(itemAsk.Id)" name="comment_reply">

                </div>
                @if (Model.Comments.Where(d => d.ParentId == itemAsk.Id).Count() > 0)
                {
                    foreach (var itemReply in Model.Comments.Where(d => d.ParentId == itemAsk.Id))
                    {
                        <div class="clear-both"></div>
                        <div class="box-comments-row-inner" id="@itemReply.Id" data-parent="@itemReply.ParentId">
                            <p class="img"><img src="@Url.Content("~/Content/images/icon-img.png")" alt=""></p>
                            <p class="txt bg-txt">
                                <a href="javascript:void(0);">@itemReply.FullName</a> @Html.Raw(itemReply.Content)
                                <br />
                                @foreach (var itemFiles in Model.FileResources.Where(d => d.CommentId == itemReply.Id))
                                {
                                    <a name="openImg" href="@itemFiles.ImagePathFull" data-fancybox="gallery" data-caption="@Html.Raw(itemAsk.Content)">
                                        <img src="@itemFiles.ImagePathFull" alt="" />
                                    </a>
                                }
                            </p>
                            <div class="clear-both"></div>
                            <p class="date-comments date-comments-sub" accesskey="@(itemReply.Id)">
                                <span>
                                    <a href="javascript:void(0);" id="imgIconVoteComment@(itemReply.Id)" name="votefavorite" accesskey="@(itemReply.Id)" HasVote="@itemReply.hasVote.ToString()">
                                        <i id="heartIcon@(itemAsk.Id)" class="fa @itemReply.IconVote" aria-hidden="true"></i> @itemReply.NoOfVote Yêu thích
                                    </a>
                                </span>
                                <span>
                                    <a href="javascript:void(0);" accesskey="@itemAsk.Id" name="reply" class="reply" repybyId="@itemReply.Id" status="close">
                                        <i class="fa fa-comment-o" aria-hidden="true"></i> Thảo luận
                                    </a>
                                </span>
                            </p>
                        </div>
                        <div class="clear-both"></div>
                        <div class="input-comments" id="comment_reply@(itemReply.Id)" name="comment_reply">

                        </div>
                    }
                }
            </div>
        </div>
    </div>
}
<form id="frmCommentParent" method="post" action="@Url.Action("Create", "Comment")" autocomplete="off">
    <div class="input-comments">
        <div class="clear-both"></div>
        <div class="left"><img src="@Url.Content("~/Content/images/icon-img.png")" alt=""></div>
        <div class="right">
            <input type="text" id="commentinfo" name="Content" class="form-control" placeholder="Viết bình luận của bạn">
            <i class="fa fa-picture-o picture" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Đính kèm một ảnh" name="btnAttachImg" accesskey=""></i>
            <i class="fa fa-paper-plane-o" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Gửi thảo luận" name="btnSend" accesskey=""></i>
        </div>
        <br />
        <div class="comment-img-upload" id="uploadFile" style="display:none;">
            @Html.TextBoxFor(d => FileResources[0].ImageUpload
                                            , new Dictionary<string, Object> {
                                                { "data-label", "Upload" }
                                                , { "type", "file" }
                                                , { "class", "dropify dropifyttl" }
                                                , { "data-show-remove", "true" }
                                                , { "data-default-file", FileResources[0].ImageBase64 }
                                            })
        </div>
        @Html.HiddenFor(model => model.ReferId, new { id = "QuestionId" })
        @Html.HiddenFor(model => model.Type)
    </div>
</form>
<script id="template_comment_line" type="text/x-handlebars-template">
    <form id="frmCommentParent{{ParentId}}" method="post" action="@Url.Action("Create", "Comment")" autocomplete="off">
        <div class="clear-both"></div>
        <div class="left"><img src="@Url.Content("~/Content/images/icon-img.png")" alt=""></div>
        <div class="right">
            <input type="text" id="commentinfo{{ParentId}}" name="Content" class="form-control" placeholder="Viết bình luận của bạn">
            <i class="fa fa-picture-o picture" aria-hidden="true" data-toggle="tooltip" data-placement="top" accesskey="{{ParentId}}" name="btnAttachImg" title="Đính kèm một ảnh"></i>
            <i class="fa fa-paper-plane-o" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Gửi thảo luận" name="btnSend" accesskey="{{ParentId}}"></i>
        </div>
        <div class="comment-img-upload" id="uploadFile{{ParentId}}" style="display:none;">
            @Html.TextBoxFor(d => FileResources[0].ImageUpload
                                            , new Dictionary<string, Object> {
                                                { "data-label", "Upload" }
                                                , { "type", "file" }
                                                , { "class", "dropify" }
                                                , { "data-show-remove", "true" }
                                                , { "data-default-file", FileResources[0].ImageBase64 }
                                            })
        </div>
        <input id="ParentId" name="ParentId" type="hidden" value="{{ParentId}}">
        <input id="ReplyId" name="ReplyId" type="hidden" value="{{ReplyId}}">
        @Html.HiddenFor(model => model.ReferId)
        @Html.HiddenFor(model => model.Type)
    </form>
</script>