﻿@model GCSOFT.MVC.STNHD.Models.QuestionSuggestion
@{ var FileResources = Model.FileResources.ToList(); }
<div class="article-card br-10">
    <h3 class="article-card__title">Đóng Góp Ý Kiến Của Bạn</h3>
    <div class="article-card__text">
        <form id="frmSuggestion" method="post" action="@Url.Action("Suggestions", "Comment")" autocomplete="off">
            @Html.HiddenFor(model => model.CourseId)
            <textarea name="Answer" rows="3" class="dropfirst textarea" placeholder="Nhập nội dung góp ý"></textarea>
            <div class="showfirst wrap-attaddsend">
                <div class="sendnow">
                    <a href="javascript:void(0);" class="default-button default-button-mini" name="btnSendSuggestion" accesskey="frmSuggestion">Gửi Góp ý</a>
                </div>
            </div>
            <div style="width: 40%;">
                @Html.TextBoxFor(d => FileResources[0].ImageUpload
                                                , new Dictionary<string, Object> {
                                                    { "data-label", "Upload" }
                                                    , { "type", "file" }
                                                    , { "class", "dropify" }
                                                    , { "data-show-remove", "true" }
                                                    , { "data-default-file", FileResources[0].ImageBase64 }
                                                })
            </div>
        </form>
    </div>
</div>
@if (Model.IsReload)
{
    <script type="text/javascript">
        $('[name="btnSendSuggestion"]').click(function () {
                $('#frmSuggestion').ajaxSubmit(function (data) {
                    $('#idSuggestions').load('@Url.Action("Suggestions", "Course")', { id: @Model.CourseId }, function (responseTxt, statusTxt, xhr) {
                        $('.dropify').dropify();
                    });
                });
            });
    </script>
}