﻿@model GCSOFT.MVC.STNHD.Models.CoursePageViewModel
@{
    ViewBag.Title = "Siêu Trí Nhớ Học Đường";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <ol class="breadcrumb">
        <li>
            <a href="@Url.Action("index","home")">Mẫu tham khảo</a>
        </li>
        <li>@Model.CourseInfo.ClassName</li>
        <li>@Model.CourseInfo.Title</li>
    </ol>

    <div class="jumbotron">
        <div class="txt">
            <h2>Xin chào bạn @Model.UserInfo.fullName</h2>
        </div>
        <p class="jumbotron-img"><img src="@Url.Content("~/Content/images/banner-detail.png")" alt=""></p>
    </div>


    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 mt-20">
            <div class="box-detail">
                <h3>@Model.CourseInfo.Title</h3>
                <div class="box-detail-inner">
                    <ul>
                        @foreach (var item in Model.CourseContents)
                        {
                            <li><a href="@Url.Action("SampleRefers", "Course", new { id = item.IdCourse, l = item.LineNo })">@item.Title</a></li>
                        }
                    </ul>

                </div>
                <div class="box-detail-img"><img src="@Url.Content("~/Content/images/box-detail-img.png")" alt=""></div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mt-20">
            <div class="box-detail">
                <h3>Môn Học @Model.CourseInfo.ClassName</h3>
                <div class="box-detail-inner">
                    <ul>
                        @foreach (var item in Model.Courses)
                        {
                            <li><a href="@Url.Action("Index", "Course", new { id = item.Id })">@item.Title</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>