﻿@model GCSOFT.MVC.STNHD.Models.PageViewModels.SubjectsPageViewModel
@using GCSOFT.MVC.STNHD.Models
@{
    ViewBag.Title = "Siêu Trí Nhớ Học Đường";
    var courseContents = new List<CourseContentList>();
}
<section class="page-title" data-parallax="scroll" data-image-src="@Url.Content("~/Content/img/page-headers/knowledge_bg.jpg")">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Mẫu Tham Khảo @Model.ClassInfo.Name</h1>
            </div>
        </div>
    </div>
</section>
<section class="border-bottom">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-12 col-xl-12">
                <div class="row card-grid card-grid--mb">
                    @foreach (var item in Model.Courses)
                    {
                        courseContents = Model.CourseContents.Where(d => d.IdCourse == item.Id).ToList();
                        if (@courseContents.Count() > 0)
                        {
                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="knowledge-card">
                                    <span class="knowledge-card__title"><a href="javascript:void(0);">@item.Title</a></span>
                                    <ul class="knowledge-card__list">
                                        @foreach (var itemCourseContent in courseContents)
                                        {
                                            <li><a href="@Url.Action("SampleRefers", "Course", new { id = itemCourseContent.IdCourse, l = itemCourseContent.LineNo })">@itemCourseContent.Title</a></li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</section>