﻿@model GCSOFT.MVC.STNHD.Models.PageViewModels.SocialViewModel
@using GCSOFT.MVC.Model.MasterData
@{
    ViewBag.Title = "Diễn Đàn Học Tập";
}
<div class="container">
    <div class="jumbotron">
        <div class="txt">
            <h2>Xin chào bạn @Model.UserInfo.fullName</h2>
        </div>
        <p class="jumbotron-img"><img src="@Url.Content("~/Content/images/banner-detail.png")" alt=""></p>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="set-questions">
                <h3 class="h3-all">ĐẶT CÂU HỎI</h3>
                <form action="" method="POST">
                    <textarea name="content" id="content" cols="30" class="form-control" rows="4" placeholder="Nội dung câu hỏi của bạn"></textarea>
                    <div class="text-right">
                        @*<a href="javascript:void(0);" data-fancybox data-type="ajax" data-src="@Url.Action("Rules", "Social")" id="rulesSocial" class="socialQuyDinh">Quy Định Diễn Đàn</a>*@
                        <button type="button" id="btnQuestion" class="btn btn-primary btn-blue-all">Gửi Câu Hỏi</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="ask-answer">
                <div class="tabpanel" role="tabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active col-lg-2 col-md-2 col-xs-6 col-sm-4 text-center">
                            <a href="#ask-answer1" aria-controls="ask-answer1" role="tab" data-toggle="tab">
                                <h3 class="ask-answer-title">Mới Nhất</h3>
                            </a>
                        </li>
                        @*<li role="presentation" class="col-lg-2 col-md-2 col-xs-6 col-sm-4 text-center">
                                <a href="#ask-answer2" aria-controls="ask-answer2" role="tab" data-toggle="tab">
                                    <h3 class="ask-answer-title">Đang trả lời</h3>
                                </a>
                            </li>

                            <li role="presentation" class="col-lg-2 col-md-2 col-xs-6 col-sm-4 text-center">
                                <a href="#ask-answer3" aria-controls="ask-answer3" role="tab" data-toggle="tab">
                                    <h3 class="ask-answer-title">Câu hỏi hay</h3>
                                </a>
                            </li>

                            <li role="presentation" class="col-lg-2 col-md-2 col-xs-6 col-sm-4 text-center">
                                <a href="#ask-answer4" aria-controls="ask-answer4" role="tab" data-toggle="tab">
                                    <h3 class="ask-answer-title">Đang theo dõi</h3>
                                </a>
                            </li>*@

                        <li role="presentation" class="col-lg-2 col-md-2 col-xs-6 col-sm-4 text-center">
                            <a href="#ask-answer5" aria-controls="ask-answer5" role="tab" data-toggle="tab">
                                <h3 class="ask-answer-title">Câu hỏi của tôi</h3>
                            </a>
                        </li>
                        <li role="presentation" class="col-lg-2 col-md-2 col-xs-6 col-sm-4 text-center">
                            <a href="#ask-rules" aria-controls="ask-rules" role="tab" data-toggle="tab">
                                <h3 class="ask-answer-title">Nội Quy Diễn Đàn</h3>
                            </a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="ask-answer1">
                            @Html.Partial("_Index", Model)
                        </div>

                        @*<div role="tabpanel" class="tab-pane" id="ask-answer2">

                            </div>

                            <div role="tabpanel" class="tab-pane" id="ask-answer3">

                            </div>

                            <div role="tabpanel" class="tab-pane" id="ask-answer4">

                            </div>*@

                        <div role="tabpanel" class="tab-pane" id="ask-answer5">
                            @Html.Partial("_MyQuestions", Model)
                        </div>
                        <div role="tabpanel" class="tab-pane" id="ask-rules">
                            @Html.Partial("_rules")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <link href="@Url.Content("~/Scripts/toast/toast.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/toast/toast.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnQuestion').click(function () {
                if ($('#content').val() == '') {
                    $.toast({
                        heading: 'STNHD Thông Báo',
                        text: 'Vui lòng nhập nội dung câu hỏi',
                        showHideTransition: 'slide',
                        icon: 'info',
                        position: 'top-center'
                    });
                    return false;
                }
                $('#btnQuestion').attr('disabled', 'disabled').text('Câu hỏi đang gửi đi ...');
                
                $('#ask-answer1').load('@Url.Action("Insert", "Social")', { c: $('#content').val() }, function () {
                    $('#content').val('');
                    $.toast({
                        heading: 'STNHD Thông Báo',
                        text: 'Câu Hỏi Của Bạn Đã Được Gửi Thành Công.',
                        showHideTransition: 'slide',
                        icon: 'success',
                        position: 'top-center'
                    });
                    $('#btnQuestion').removeAttr('disabled').text('Gửi Câu Hỏi');
                });

                @*$('#rulesSocial').click(function () {
                    $.fancybox({
                        openEffect: 'elastic',
                        closeEffect: 'elastic',
                        href: '@Url.Action("Rules", "Social")',
                        title: '',
                        type: 'ajax',
                        fitToView: true
                    });
                });*@
            });
        });
    </script>
}