﻿@{ 
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NoiQuyDienDan</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-20">
                <div class="modify-w-form contact post">
                    <h3 style="text-align: center;">
                        NỘI QUY DIỄN ĐÀN SIÊU TRÍ NHỚ HỌC ĐƯỜNG
                    </h3>
                    <h4>
                        <strong>A. TIÊU CHÍ</strong>
                    </h4>
                    <ul>
                        <li>
                            Diễn đàn dành cho mục đích học tập, chia sẻ kinh nghiệm kiến thức về Siêu Trí Nhớ và ứng dụng trí nhớ của học sinh Việt Nam.
                        </li>
                        <li>
                            Tất cả mọi người đều được phép tham gia Diễn đàn và phải tuân thủ Nội quy Diễn đàn và các quy định khác liên quan đến việc hoạt động trên Diễn đàn ban hành.
                        </li>
                        <li>
                            Bản nội quy này được thông báo công khai đến mọi người và là căn cứ để xử lý và giải quyết thắc mắc của thành viên.
                        </li>
                        <li>
                            Ban Quản Trị (BQT) có quyền sử dụng bài viết, hình ảnh của thành viên. Tác giả bài viết sẽ được nêu rõ tên.
                        </li>
                        <li>
                            Thành viên phải chịu tránh nhiệm về tất cả các nội dung đăng tải lên diễn đàn của mình.
                        </li>
                        <li>
                            Ban Quản Trị không chịu bất cứ trách nhiệm nào về bản quyền của các nội dung chia sẻ trên toàn bộ Diễn đàn.
                        </li>
                        <li>
                            Trong mọi trường hợp, quyết định của Ban Quản Trị là quyết định cuối cùng, thành viên cần nghiêm túc thực hiện.
                        </li>
                        <li>
                            Các quy định này có thể thay đổi mà không cần thông báo trước, và có hiệu lực kể từ ngày ban hành
                        </li>
                        <li>
                            Các bài post BẮT BUỘC có 1 trong các thẻ <span style="color: blue">#hashtag</span> theo nội dung như sau:
                        </li>
                    </ul>
                    <p><span style="color: blue">#Ask</span> - Bạn muốn đặt câu hỏi, thắc mắc liên quan đến trí nhớ ?</p>
                    <p><span style="color: blue">#Help</span> - Bạn cần giúp đỡ để ghi nhớ kiến thức nào đó ?</p>
                    <p><span style="color: blue">#Share</span> - Bạn muốn chia sẻ kiến thức, phương pháp ghi nhớ.</p>
                    <p><span style="color: blue">#News</span> - Tin tức liên quan đến SIÊU TRÍ NHỚ.</p>
                    <p><span style="color: blue">#Happy</span> - Chia sẻ hạnh phúc, niềm vui, thành quả ứng dụng SIÊU TRÍ NHỚ của bạn.</p>
                    <p><span style="color: blue">#Discuss</span> - Thảo luận một chủ đề liên quan đến trí nhớ.</p>
                    <p><span style="color: blue">#Fun</span> - Góc hài hước.</p>
                    <p><span style="color: blue">#Other</span> - Chưa phân loại được chủ đề.</p>
                    <h4>
                        <strong>B. QUY ĐỊNH</strong>
                    </h4>
                    <strong>Điều 1. Tất cả các nội dung, hình ảnh và tài liệu ở Diễn đàn yêu cầu:</strong>
                    <ul>
                        <li>
                            Không trao đổi các lĩnh vực khác ngoài các vấn đề liên quan đến phương pháp học tập, trí nhớ và ứng dụng của trí nhớ.
                        </li>
                        <li>
                            KHÔNG vi phạm luật pháp, thuần phong mỹ tục Việt Nam, KHÔNG đăng các post liên quan đến chính trị, tôn giáo, tín ngưỡng
                        </li>
                        <li>
                            KHÔNG được đăng tải các tin quảng cáo, rao vặt, tuyển dụng
                        </li>
                        <li>
                            KHÔNG chia sẻ, trao đổi, kêu gọi dùng chung, mua bán thông tin các tài khoản, các khóa học.
                        </li>
                        <li>
                            KHÔNG sử dụng diễn đàn để lôi kéo, rủ rê thành viên tham gia các hội nhóm khác dưới mọi hình thức.
                        </li>
                        <li>
                            KHÔNG đặt liên kết tới các website khác. Bài viết có link đến các website vẫn được duyệt (BQT sẽ kiểm tra landing page).
                        </li>
                        <li>
                            Mọi thảo luận và trao đổi kiến thức cần dựa trên tinh thần đóng góp và tôn trọng lẫn nhau. Nghiêm cấm sử dụng ngôn từ tục tĩu, thiếu văn hóa, xúc phạm cá nhân, không phù hợp lứa tuổi học sinh.
                        </li>
                        <li>
                            PHẢI giữ gìn sự trong sáng của tiếng Việt, gõ tiếng Việt có dấu. KHÔNG sử dụng ngôn ngữ teen.
                        </li>
                    </ul>
                    <strong>Điều 2. Quy định về bài viết :</strong>
                    <ul>
                        <li>
                            Tuân thủ các quy định tại điều 1.
                        </li>
                        <li>
                            <strong>Trước khi viết bài vui lòng xem qua diễn đàn xem đã đề cập chưa bằng việc sử dụng chức năng tìm kiếm của diễn đàn.</strong>
                        </li>
                        <li>
                            Nội dung phải ngắn gọn, súc tích, mang tính khái quát cho nội dung sẽ trao đổi; bài viết phải rõ ràng, nghiêm túc.
                        </li>
                        <li>
                            <strong>
                                Khi muốn cảm ơn người gởi bài, chỉ cần nhấn nút "Thích".
                            </strong>
                        </li>
                        <li>
                            KHÔNG spam bài với nội dung quá ngắn (ví dụ: “.”, “f”, “qt”,…) không cung cấp giá trị phù hợp với chủ đề, gửi bài với nội dung rác.
                        </li>
                        <li>
                            Bài trả lời KHÔNG lạc đề, phải có tính xây dựng, nội dung rõ ràng.
                        </li>
                    </ul>
                    <h4><strong>HÌNH THỨC XỬ LÝ VI PHẠM NỘI QUY</strong></h4>
                    <p>
                        <strong>- KHÔNG DUYỆT:</strong> các bài viết vi phạm nội quy trên sẽ đa phần không được duyệt xuất hiện trên cộng đồng.
                    </p>
                    <p>
                        <strong>- XÓA BÀI:</strong> Trong một số trường hợp do sơ suất, bài viết sau khi được duyệt đăng vẫn sẽ bị BQT gỡ bỏ. Hoặc trong trường hợp bỏ sót được phát hiện thông qua phản ánh của thành viên.
                    </p>
                    <p>
                        <strong>- NHẮC NHỞ:</strong> tất cả thành viên vi phạm khi đăng bài đều sẽ bị BQT nhắc nhở khi bài không được duyệt hoặc bị xóa.
                    </p>
                    <p>
                        <strong>- NGHIÊM CẤM THÀNH VIÊN HOẠT ĐỘNG:</strong> nếu vi phạm nghiêm trọng hoặc lập lại nhiều lần nội quy của cộng đồng. Thời hạn: vĩnh viễn.
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
