﻿@model GCSOFT.MVC.STNHD.Models.PurchaseInfoModel
@{
    ViewBag.Title = "Mua Gói Sản Phẩm Siêu Trí Nhớ Học Đường";
}
<style type="text/css">
    .submitBtn {
        width: 100%;
        margin: 25px auto 15px auto;
        display: flex;
        align-items: center;
        border: 1px solid #00ACF2;
        border-radius: 4px;
        background-color: #fff;
        color: #131313;
        padding: 12px 12px;
    }

        .submitBtn:hover {
            opacity: .8;
            background-color: #fff !important;
            color: #131313 !important;
        }
        .submitBtn .content img {
            width: 64px;
            margin: 0 0 0 24px;
        }
        .submitBtn .content {
            margin: 0 auto;
        }
</style>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-20">
            <div class="modify-w-form">
                <h3>Mua Khóa Học<br />Siêu Trí Nhớ Học Đường</h3>
                <div class="support-course" style="margin-top: 30px">
                    <p>Mời bạn chọn gói học</p>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <label class="radio-label" for="course" name="lblcourse" value="VIP">
                                <i class="fa fa-check" aria-hidden="true"></i> <strong>Gói học 12 năm trọn đời</strong>
                            </label>
                            <input type="radio" name="course">
                            <div id="stnhdtrondoi" style="display: none;">
                                <div class="support-course">
                                    <p>Sở hữu trọn đời 5 bộ công cụ Siêu Trí Nhớ Học Đường</p>
                                    <div class="card-right">
                                        <div class="d-flex justify-content-between p-3">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> <span class="info-text">1. Ebook Siêu Trí Nhớ Học Đường</span></div>
                                        </div>
                                        <hr class="mt-0 line">
                                        <div class="d-flex justify-content-between p-3">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> <span class="info-text">2. Videos Kỹ Thuật Ghi Nhớ</span></div>
                                        </div>
                                        <hr class="mt-0 line">
                                        <div class="d-flex justify-content-between p-3">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> <span class="info-text">3. Videos bài giảng Sách Giáo Khoa Từ Lớp 1 Đến Lớp 12</span></div>
                                        </div>
                                        <hr class="mt-0 line">
                                        <div class="d-flex justify-content-between p-3">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> <span class="info-text">4. Sơ Đồ Tư Duy Sách Giáo Khoa Từ Lớp 1 Đến Lớp 12</span></div>
                                        </div>
                                        <hr class="mt-0 line">
                                        <div class="d-flex justify-content-between p-3">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> <span class="info-text">5. Diễn Đàn Học Tập</span></div>
                                        </div>
                                        <hr class="mt-0 line">
                                        <div class="d-flex justify-content-between p-3S">
                                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                                <span class="info-total" style="font-weight: bold; font-size: 20px;color: #FF660F">Tổng tiền</span>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                                <span class="super-total" style="font-weight: bold; font-size: 20px;color: #FF660F" id="span_PriceVip" data-pricevip="2.468.000">2.468.000</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <label class="radio-label" for="course" name="lblcourse" value="CAP">
                                <i class="fa fa-check" aria-hidden="true"></i> <strong>Gói 1 Cấp</strong>
                            </label>
                            <input type="radio" name="course">
                            <div id="stnhd1cap" style="display: none;">
                                <div class="support-course">
                                    <p>Sở hữu trọn bộ công cụ học tập Siêu Trí Nhớ Học Đường theo cấp 1, cấp 2 hoặc cấp 3 mà bạn chọn khi kích hoạt</p>
                                    <div class="card-right">
                                        <div class="d-flex justify-content-between p-3">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> <span class="info-text">1. Ebook Siêu Trí Nhớ Học Đường</span></div>
                                        </div>
                                        <hr class="mt-0 line">
                                        <div class="d-flex justify-content-between p-3">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> <span class="info-text">2. Videos Kỹ Thuật Ghi Nhớ</span></div>
                                        </div>
                                        <hr class="mt-0 line">
                                        <div class="d-flex justify-content-between p-3">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> <span class="info-text">3. Videos bài giảng Sách Giáo Khoa theo cấp bạn chọn khi kích hoạt</span></div>
                                        </div>
                                        <hr class="mt-0 line">
                                        <div class="d-flex justify-content-between p-3">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> <span class="info-text">4. Sơ Đồ Tư Duy Sách Giáo Khoa theo cấp bạn chọn khi kích hoạt</span></div>
                                        </div>
                                        <hr class="mt-0 line">
                                        <div class="d-flex justify-content-between p-3">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> <span class="info-text">5. Diễn Đàn Học Tập</span></div>
                                        </div>
                                        <hr class="mt-0 line">
                                        <div class="d-flex justify-content-between p-3S">
                                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> <span class="info-total" style="font-weight: bold; font-size: 20px;color: #FF660F">Tổng tiền</span> </div>
                                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                                <span class="super-total" style="font-weight: bold; font-size: 20px;color: #FF660F" id="span_PriceCap" data-pricecap="1.468.000">1.468.000</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <label class="radio-label" for="course" name="lblcourse" value="LOP">
                                <i class="fa fa-check" aria-hidden="true" style="display:block"></i> <strong>Gói 1 lớp</strong>
                            </label>
                            <input type="radio" name="course">
                            <div id="stnhd1name">
                                <div class="support-course">
                                    <p>Sở hữu 1 năm bộ công cụ học tập Siêu Trí Nhớ Học Đường theo lớp bạn chọn khi kích hoạt</p>
                                    <div class="card-right">
                                        <div class="d-flex justify-content-between p-3">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> <span class="info-text">1. Ebook Siêu Trí Nhớ Học Đường</span></div>
                                        </div>
                                        <hr class="mt-0 line">
                                        <div class="d-flex justify-content-between p-3">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> <span class="info-text">2. Videos Kỹ Thuật Ghi Nhớ</span></div>
                                        </div>
                                        <hr class="mt-0 line">
                                        <div class="d-flex justify-content-between p-3">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> <span class="info-text">3. Videos bài giảng Sách Giáo Khoa theo Lớp chọn khi kích hoạt</span></div>
                                        </div>
                                        <hr class="mt-0 line">
                                        <div class="d-flex justify-content-between p-3">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> <span class="info-text">4. Sơ Đồ Tư Duy Sách Giáo Khoa theo Lớp chọn khi kích hoạt</span></div>
                                        </div>
                                        <hr class="mt-0 line">
                                        <div class="d-flex justify-content-between p-3">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> <span class="info-text">5. Diễn Đàn Học Tập</span></div>
                                        </div>
                                        <hr class="mt-0 line">
                                        <div class="d-flex justify-content-between p-3S">
                                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> <span class="info-total" style="font-weight: bold; font-size: 20px;color: #FF660F">Tổng tiền</span> </div>
                                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                                <span class="super-total" style="font-weight: bold; font-size: 20px;color: #FF660F" id="span_PriceClass" data-priceclass="600.000">600.000</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="support-course">
                    <p>Thông Tin Nhận Mã Kích Hoạt</p>
                    <div class="card-right payment-content-2">
                        Sau khi thanh toán thành công, Tâm Trí Lực sẽ gửi Mã Kích Hoạt vào SMS và Email của quý khách hàng, nên quý khách vui lòng điền đúng số điện thoại và email để nhận thông tin, Xin cám ơn
                        <br />
                        Ví dụ: Số điện thoại: 0939279868 Email: stnhd@gmail.com
                    </div>
                    @using (Html.BeginForm("CreateRedirectData", "Item", FormMethod.Post, new { @id = "submitForm", @class = "form-horizontal" }))
                    {
                        @Html.HiddenFor(x => x.Course)
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Họ và Tên Người Mua</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(model => model.FullName, new { @class = "form-control validate[required]" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Số Điện Thoại</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(model => model.Phone, new { @class = "form-control validate[required,custom[phone]]" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Email</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control validate[required]" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Địa Chỉ</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(model => model.Address, new { @class = "form-control validate[required]" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Tổng tiền thanh toán</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(model => model.TotalAmount, new { @class = "form-control", @readonly = true })
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="button" id="submitBtn" class="checkout-button submitBtn">
                                <div class="content" style="display: flex; align-items: center;">
                                    <span class="checkout-title">
                                        Thanh toán bằng ONEPAY
                                    </span>
                                    <img src="https://www.onepay.vn/wp-content/uploads/2021/02/logo-2.png">
                                </div>
                            </button>
                        </div>
                        <div>
                            <h4 style="color: #000068; text-align: center;">Cổng thanh toán Onepay chấp nhận các hình thức thanh toán</h4>
                            <div style="margin: 15px !important">
                                <strong>1. Thẻ Quốc Tế (Tín dụng/ Ghi nợ)</strong><br />
                                <img src="https://onepay.vn/paygate/assets/img/VS.svg" style="height: 20px; margin-top: 10px;" />&nbsp;
                                <img src="https://onepay.vn/paygate/assets/img/MC.svg" style="height: 20px; margin-top: 10px;" />
                                <img src="https://www.onepay.vn/wp-content/uploads/2021/02/jcb-2.png" style="height: 20px; margin-top: 10px;" />
                                <img src="https://www.onepay.vn/wp-content/uploads/2021/02/amex-2.png" style="height: 20px; margin-top: 10px;" />
                                <img src="https://www.onepay.vn/wp-content/uploads/2021/02/unionpay-2.png" style="height: 20px; margin-top: 10px;" />
                            </div>
                            <div style="margin: 15px;">
                                <strong> 2. Thẻ nội địa (ATM)</strong><br /><img src="https://onepay.vn/paygate/assets/img/atm_logo.png" style="height: 30px; margin-top: 10px;" />
                            </div>
                            <div style="margin: 15px !important">
                                <strong>3.Ví điện tử</strong>
                                <br />
                                <img src="https://onepay.vn/paygate/assets/img/qr-app/qr-vivnpay.png" style="height: 30px; margin-top: 10px;" />&nbsp;
                                <img src="https://onepay.vn/paygate/assets/img/qr-app/qr-vinid.png" style="height: 30px; margin-top: 10px;" />&nbsp;
                                <img src="https://onepay.vn/paygate/assets/img/qr-app/qr-zalopay.png" style="height: 30px; margin-top: 10px;" />&nbsp;
                                <img src="https://onepay.vn/paygate/assets/img/qr-app/qr-viettelpay.png" style="height: 30px; margin-top: 10px;" />
                            </div>
                            
                        </div>
                    }
                </div>
                <div class="text-center">
                    <br />
                    <button type="button" id="btnKichHoat" class="checkout-button submitBtn">
                        <div class="content" style="display: flex; align-items: center;">
                            <span class="checkout-title" style="color: #00ACF2">
                                Kích hoạt tài khoản
                            </span>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    @*<script src="/Scripts/jquery-2.1.4.min.js"></script>
    <script src="/Scripts/jquery.validate.min.js"></script>*@
    <link href="@Url.Content("~/Scripts/toast/toast.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/toast/toast.js")"></script>
    <link href="@Url.Content("~/Scripts/ValidationEngine/validationEngine.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/ValidationEngine/validationEngine.js")"></script>
    <script src="@Url.Content("~/Scripts/ValidationEngine/validationEngine-vi.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#submitBtn').click(function () {
                var objFrom = $('#submitForm');
                var flag = objFrom.validationEngine('validate');
                console.log(flag);
                if (flag) {
                    $('#submitForm').submit();
                }
            });
            $('#btnKichHoat').click(function () {
                window.location.href = '@Url.Action("Index", "ClassInfo")';
            });
            $('[name="lblcourse"]').click(function () {
                var value = $(this).attr('value');
                var price = 0;
                if (value == 'VIP') {
                    $('#stnhdtrondoi').show();
                    $('#stnhd1cap').hide();
                    $('#stnhd1name').hide();
                    price = $("#span_PriceVip").attr("data-pricevip");
                }
                else if (value == 'CAP') {
                    $('#stnhdtrondoi').hide();
                    $('#stnhd1cap').show();
                    $('#stnhd1name').hide();
                    price = $("#span_PriceCap").attr("data-pricecap");
                }
                else {
                    $('#stnhdtrondoi').hide();
                    $('#stnhd1cap').hide();
                    $('#stnhd1name').show();
                    price = $("#span_PriceClass").attr("data-priceclass");
                }
                $('#Course').val(value);
                $('#TotalAmount').val(price);
            });
        });
        (function ($) {
            $.fn.serializeObject = function () {

                var self = this,
                    json = {},
                    push_counters = {},
                    patterns = {
                        "validate": /^[a-zA-Z][a-zA-Z0-9_]*(?:\[(?:\d*|[a-zA-Z0-9_]+)\])*$/,
                        "key": /[a-zA-Z0-9_]+|(?=\[\])/g,
                        "push": /^$/,
                        "fixed": /^\d+$/,
                        "named": /^[a-zA-Z0-9_]+$/
                    };


                this.build = function (base, key, value) {
                    base[key] = value;
                    return base;
                };

                this.push_counter = function (key) {
                    if (push_counters[key] === undefined) {
                        push_counters[key] = 0;
                    }
                    return push_counters[key]++;
                };

                $.each($(this).serializeArray(), function () {

                    // skip invalid keys
                    if (!patterns.validate.test(this.name)) {
                        return;
                    }

                    var k,
                        keys = this.name.match(patterns.key),
                        merge = this.value,
                        reverse_key = this.name;

                    while ((k = keys.pop()) !== undefined) {

                        // adjust reverse_key
                        reverse_key = reverse_key.replace(new RegExp("\\[" + k + "\\]$"), '');

                        // push
                        if (k.match(patterns.push)) {
                            merge = self.build([], self.push_counter(reverse_key), merge);
                        }

                        // fixed
                        else if (k.match(patterns.fixed)) {
                            merge = self.build([], k, merge);
                        }

                        // named
                        else if (k.match(patterns.named)) {
                            merge = self.build({}, k, merge);
                        }
                    }

                    json = $.extend(true, json, merge);
                });

                return json;
            };
        })(jQuery);
    </script>
}