﻿@model GCSOFT.MVC.Web.Areas.MasterData.Models.Question_Card
<div id="page_content_inner" class="hierarchical_slide">
    <div class="md-card">
        <div class="md-card-toolbar">
            <div class="md-card-toolbar-actions">
                <i class="md-icon material-icons md-card-toggle">&#xE316;</i>
            </div>
            <h3 class="md-card-toolbar-heading-text">
                <i class="material-icons">&#xE894;</i>&nbsp;&nbsp;@ViewBag.Title
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.DateQuestion)
                @Html.HiddenFor(model => model.DateAnswer)
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.OwnerId)
                    @Html.DropDownListFor(model => model.OwnerId, Model.OwnerList, "[ Chọn ]", new { @class = "md-input label-fixed" })
                </div>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.ClassId)
                    @Html.DropDownListFor(model => model.ClassId, Model.ClassList, "[ Chọn ]", new { @class = "md-input label-fixed validate[required]" })
                </div>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.CourseId)
                    @Html.DropDownListFor(model => model.CourseId, Model.CourseList, "[ Chọn ]", new { @class = "md-input label-fixed validate[required]" })
                </div>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.CourseContentLineNo)
                    @Html.DropDownListFor(model => model.CourseContentLineNo, Model.CourseContentList, "[ Chọn ]", new { @class = "md-input label-fixed validate[required]" })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    <label for="lbltitle">Tiêu Đề</label>
                    @Html.TextAreaFor(model => model.Question, new { @cols = "30", @rows = "3", @class = "md-input" })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    <label for="lblcontent">Mẫu Tham Khảo</label>
                    @Html.TextAreaFor(model => model.Answer, new { @cols = "30", @rows = "30" })
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("_FileResource", Model.FileResources)
</div>
<div class="md-fab-wrapper">
    <div class="md-fab md-fab-accent md-fab-sheet md-fab-small">
        <i class="material-icons">&#xE30F;</i>
        <div class="md-fab-sheet-actions">
            <a id="btnReturn" href="@Url.Action("Index", "Lesson", new { area = "MasterData" })" class="md-color-white"><i class="material-icons md-color-white">&#xE15E;</i> <span class="gc-text-decoration uk-text-warning">Q</span>uay lại</a>
            <a id="btnSave" href="javascript:void(0)" class="md-color-white"><i class="material-icons md-color-white">&#xE161;</i> <span class="gc-text-decoration uk-text-warning">L</span>ưu</a>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var urlCourse = '@Url.Action("FetchCourses", "Course")';
        var ddlCourse = $('#CourseId');
        var urlCourseContent = '@Url.Action("FetchCourseContents", "CourseContent")';
        var ddlCourseContent = $('#CourseContentLineNo');

        gcHotkey._return();
        gcHotkey._save();
        CKEDITOR.replace('Answer', { height: 300 });
        CKEDITOR.instances.Answer.on('change', function () {
            $('[name="Answer"]').val(CKEDITOR.instances.Answer.getData());
        });
        CreateSuccess('@Url.Action("Create", "Lesson", new { area = "MasterData" })');
        $('#btnSave').click(function () {
            Save($("#frm"), true);
        });
        $('#ClassId').change(function () {
            var id = $(this).val();
            if (id == '') {
                id = '0';
            }
            $.getJSON(urlCourse, { c: id }, function (response) {
                ddlCourse.empty();
                ddlCourseContent.empty();
                ddlCourse.append($('<option></option>').text('[ Chọn ]').val(''));
                ddlCourseContent.append($('<option></option>').text('[ Chọn ]').val(''));
                $.each(response, function (index, item) {
                    ddlCourse.append($('<option></option>').text(item.Title).val(item.Id));
                });
            });
        });
        $('#CourseId').change(function () {
            var id = $(this).val();
            if (id == '') {
                id = '0';
            }
            $.getJSON(urlCourseContent, { c: id }, function (response) {
                ddlCourseContent.empty();
                ddlCourseContent.append($('<option></option>').text('[ Chọn ]').val(''));
                $.each(response, function (index, item) {
                    ddlCourseContent.append($('<option></option>').text(item.Title).val(item.LineNo));
                });
            });
        });
    });
</script>