﻿@model GCSOFT.MVC.AGENCY.ViewModels.HienTai.O_ClassCreateEdit
<div id="page_content_inner" class="hierarchical_slide">
    <div class="md-card">
        <div class="md-card-toolbar">
            <div class="md-card-toolbar-actions">
                <i class="md-icon material-icons md-card-toggle">&#xE316;</i>
            </div>
            <h3 class="md-card-toolbar-heading-text">
                <i class="material-icons">&#xE894;</i>&nbsp;&nbsp;@ViewBag.Title
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.CreateBy)
                @Html.HiddenFor(model => model.CreatedDate)
                @Html.HiddenFor(model => model.ModifiBy)
                @Html.HiddenFor(model => model.ModifyDate)
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-4">   
                    @Html.LabelFor(model => model.Code)
                    @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "md-input validate[required]", @ReadOnly = true } })
                </div>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.Title)
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "md-input validate[required]" } })
                </div>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.Description)
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "md-input validate[required]" } })
                </div>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.Status)
                    @Html.CheckBoxFor(model => model.Status, new { htmlAttributes = new { @class = "md-input validate[required]" } })
                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footer" class="uk-text-center">
    <a id="btnReturn" href="@Url.Action("Index", "Lop", new { area = "HienTai" })" class="md-btn md-btn-danger md-btn-wave-light md-btn-icon">
        <i class="material-icons md-color-white">&#xE15E;</i>
        Quay Lại
    </a>
    <a class="md-btn md-btn-primary md-btn-wave-light md-btn-icon" href="javascript:void(0)" id="btnSave">
        <span class="material-icons md-color-white">save</span>
        Lưu
    </a>
</footer>
<script type="text/javascript">
    $(document).ready(function () {
        gcHotkey._return();
        gcHotkey._save();
        CreateSuccess('@Url.Action("Create", "Lop", new { area = "HienTai" })');
        $('#btnSave').click(function () {
            var flag = $("#frm").validationEngine('validate');
            if (flag) {
                $.post('@Url.Action("CandAdd", "SysUser", new { area = "administrator" })', { u: $('#Username').val(), xu: $('#xUserName').val() }, function (data) {
                    if (data) {
                        $().toastmessage('showToast', {
                            text: 'Username đã tồn tại',
                            sticky: false,
                            position: 'top-center',
                            type: 'warning'
                        });
                    } else {
                        $("#frm").submit();
                    }
                });
            }
        });
    });
</script>