﻿@model GCSOFT.MVC.Web.Areas.MasterData.Models.Question_Card
<div id="page_content_inner" class="hierarchical_slide">
    <div class="md-card">
        <div class="md-card-toolbar">
            <div class="md-card-toolbar-actions">
                <i class="md-icon material-icons md-card-toggle">&#xE316;</i>
            </div>
            <h3 class="md-card-toolbar-heading-text">
                <i class="material-icons">&#xE894;</i>&nbsp;&nbsp;@ViewBag.Title
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.userName)
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    @Html.LabelFor(model => model.Question)
                    @Html.TextAreaFor(model => model.Question, new { @cols = "30", @rows = "3", @class = "md-input" })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    @Html.LabelFor(model => model.Answer)
                    @Html.TextAreaFor(model => model.Answer, new { @cols = "30", @rows = "30" })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-3">
                    @Html.LabelFor(model => model.DateQuestionStr)
                    @Html.TextBoxFor(model => model.DateQuestionStr
                                            , new Dictionary<string, Object> {
                                                { "class", "md-input label-fixed validate[required,funcCall[DateFormat[]]" }
                                                , { "autocomplete", "off" }
                                                , { "placeholder", "dd/MM/yyyy" }
                                                , { "data-uk-datepicker", "{format:'DD/MM/YYYY'}" }
                                            })
                </div>
                <div class="uk-width-medium-1-3">
                    @Html.LabelFor(model => model.DateAnswerStr)
                    @Html.TextBoxFor(model => model.DateAnswerStr
                                            , new Dictionary<string, Object> {
                                                { "class", "md-input label-fixed" }
                                                , { "autocomplete", "off" }
                                                , { "placeholder", "dd/MM/yyyy" }
                                                , { "data-uk-datepicker", "{format:'DD/MM/YYYY'}" }
                                            })
                </div>
                <div class="uk-width-medium-1-3">
                    @Html.LabelFor(model => model.fullName)
                    @Html.EditorFor(model => model.fullName, new { htmlAttributes = new { @class = "md-input" } })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-2">
                    @Html.LabelFor(model => model.OwnerId)
                    @Html.DropDownListFor(model => model.OwnerId, Model.OwnerList, "[ Chọn ]", new { @class = "md-input label-fixed validate[required]" })
                </div>
                <div class="uk-width-medium-1-2">
                    @Html.LabelFor(model => model.StatusId)
                    @Html.DropDownListFor(model => model.StatusId, Model.StatusList, "[ Chọn ]", new { @class = "md-input label-fixed validate[required]" })
                </div>
            </div>
        </div>
	</div>
</div>
@*<div class="md-fab-wrapper">
    <div class="md-fab md-fab-accent md-fab-sheet md-fab-small">
        <i class="material-icons">&#xE30F;</i>
        <div class="md-fab-sheet-actions">
            <a id="btnReturn" href="@Url.Action("Index", "Question", new { area = "MasterData" })" class="md-color-white"><i class="material-icons md-color-white">&#xE15E;</i> <span class="gc-text-decoration uk-text-warning">Q</span>uay lại</a>
            <a id="btnSave" href="javascript:void(0)" class="md-color-white"><i class="material-icons md-color-white">&#xE161;</i> Lưu</a>
        </div>
    </div>
</div>*@
<footer id="footer" class="uk-text-center">
    <a id="btnReturn" class="md-btn md-btn-danger md-btn-wave-light md-btn-icon" href="@Url.Action("Index", "Question", new { area = "MasterData" })">
        <i class="material-icons">&#xE15E;</i>
        Quay Lại
    </a>
    <a id="btnSave" class="md-btn md-btn-warning md-btn-wave-light md-btn-icon" href="javascript:void(0);">
        <i class="material-icons">list_alt</i>
        Lưu
    </a>
    <a id="btnPublic" class="md-btn md-btn-primary md-btn-wave-light md-btn-icon" href="javascript:void(0);">
        <i class="material-icons">list_alt</i>
        Đăng Lên Diễn Đàn
    </a>
    <a id="btnPrived" class="md-btn md-btn-success md-btn-wave-light md-btn-icon" href="javascript:void(0);">
        <i class="material-icons">list_alt</i>
        Trả Lời (Không Đăng Diễn Đàn)
    </a>
</footer>
<script type="text/javascript">
    $(document).ready(function () {
        gcHotkey._return();
        gcHotkey._save();
        CKEDITOR.replace('Answer', { height: 150 });
        CKEDITOR.instances.Answer.on('change', function () {
            $('[name="Answer"]').val(CKEDITOR.instances.Answer.getData());
        });
        CreateSuccess('@Url.Action("Create", "Question", new { area = "MasterData" })');
        $('#btnSave').click(function () {
            Save($("#frm"), true);
        });
        $('#btnPublic').click(function () {
            $('#StatusId').val(7);
            Save($("#frm"), true);
        });
        $('#btnPrived').click(function () {
            $('#StatusId').val(8);
            Save($("#frm"), true);
        });
    });
    function DateFormat(field, rules, i, options) {
        var regex = /^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$/;
        if (!regex.test(field.val())) {
            return "Vui lòng nhập ngày theo định dạng dd/MM/yyyy.";
        }
    }
</script>
