﻿@model GCSOFT.MVC.AGENCY.Areas.Transaction.ViewModel.CardStoreIndex
<div class="uk-grid uk-grid-width-large-1-3 uk-grid-width-medium-1-2 uk-grid-medium uk-sortable sortable-handler hierarchical_show" data-uk-sortable data-uk-grid-margin>
    <div>
        <div class="md-card">
            <div class="md-card-content">
                <span class="uk-text-muted uk-text-small">Tổng Số Lượng</span>
                <h2 class="uk-margin-remove"><span class="countUpMe">@string.Format("{0:#,##0}", Model.CardTotal)</span></h2>
            </div>
        </div>
    </div>
    <div>
        <div class="md-card">
            <div class="md-card-content">
                <span class="uk-text-muted uk-text-small">Thẻ Đã Bán</span>
                <h2 class="uk-margin-remove"><span class="countUpMe">@string.Format("{0:#,##0}", Model.CardSold)</span></h2>
            </div>
        </div>
    </div>
    <div>
        <div class="md-card">
            <div class="md-card-content">
                <span class="uk-text-muted uk-text-small">Thẻ Còn Lại</span>
                <h2 class="uk-margin-remove"><span class="countUpMe">@string.Format("{0:#,##0}", Model.CardRemaining)</span></h2>
            </div>
        </div>
    </div>
</div>
<div class="uk-grid uk-grid-width-large-1-4 uk-grid-width-medium-1-2 uk-grid-medium uk-sortable sortable-handler hierarchical_show" data-uk-sortable data-uk-grid-margin>
    <div>
        <div class="md-card">
            <div class="md-card-content">
                <span class="uk-text-muted uk-text-small">Bán Đại Lý</span>
                <h2 class="uk-margin-remove"><span class="countUpMe">@string.Format("{0:#,##0}", Model.CardSoldAgency)</span></h2>
            </div>
        </div>
    </div>
    <div>
        <div class="md-card">
            <div class="md-card-content">
                <span class="uk-text-muted uk-text-small">Số Thẻ Giao Cộng Tác Viên</span>
                <h2 class="uk-margin-remove"><span class="countUpMe">@string.Format("{0:#,##0}", Model.CardSoldPartner)</span></h2>
            </div>
        </div>
    </div>
    <div>
        <div class="md-card">
            <div class="md-card-content">
                <span class="uk-text-muted uk-text-small">Bán Mã Kích Hoạt</span>
                <h2 class="uk-margin-remove"><span class="countUpMe">@string.Format("{0:#,##0}", Model.CardSoldRegistion)</span></h2>
            </div>
        </div>
    </div>
    <div>
        <div class="md-card">
            <div class="md-card-content">
                <span class="uk-text-muted uk-text-small">Đăng Ký Tài Khoản</span>
                <h2 class="uk-margin-remove"><span class="countUpMe">@string.Format("{0:#,##0}", Model.CardSoldRegister)</span></h2>
            </div>
        </div>
    </div>
</div>