﻿@model IEnumerable<GCSOFT.MVC.Web.Areas.NamPhutThuocBai.Data.TransGiftList>

@{
    ViewBag.Title = "Danh Sách Đổi Quà";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
<div id="page_content_inner">
    <div class="md-card">
        <div class="md-card-toolbar">
            <div class="md-card-toolbar-actions">
                <i class="md-icon material-icons md-card-fullscreen-activate toolbar_fixed">&#xE5D0;</i>
            </div>
            <h3 class="md-card-toolbar-heading-text">
                <i class="material-icons">&#xE894;</i>&nbsp;&nbsp;@ViewBag.Title
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-1-1">
                    <div class="uk-overflow-container">
                        <table id="jqGrid"></table>
                        <div id="jqGridPager"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            LoadGrid('@Url.Action("LoadData", "DoiQua", new { area = "NamPhutThuocBai" })');
        });

        function LoadGrid(url) {
            $("#jqGrid").jqGrid({
                url: url,
                mtype: "get",
                datatype: "json",
                colNames: [
								'@Html.DisplayNameFor(model => model.Code)'
								, '@Html.DisplayNameFor(model => model.FullName)'
								, '@Html.DisplayNameFor(model => model.PhoneNo)'
								, '@Html.DisplayNameFor(model => model.Email)'
								, '@Html.DisplayNameFor(model => model.DateCreate)'
                    , '@Html.DisplayNameFor(model => model.StatusName)'
                    , ''
				],
                colModel: [
								{ name: 'Code', index: 'Code' }
								, { name: 'FullName', index: 'FullName' }
								, { name: 'PhoneNo', index: 'PhoneNo' }
								, { name: 'Email', index: 'Email' }
								, { name: 'DateCreate', index: 'DateCreate' }
                    , { name: 'StatusName', index: 'StatusName' }
                    , { name: 'action', index: 'action', align: 'center', sortable: false, formatter: ActionFormatter }
				],
                rowNum: 20,
                rowList: [20, 40, 60, 80, 100],
                pager: '#jqGridPager',
                sortname: 'Code',
                viewrecords: true,
                autowidth: true,
                height: "100%",
                sortorder: "asc",
                multiselect: true,
                rownumbers: true,
                viewsortcols: [true, 'vertical', true],
                loadComplete: function () {
                    gridSearch('jqGrid', 'search-button');
                },
                jsonReader: {
                    root: "Rows",
                    page: "jqGridPager",
                    total: "Total",
                    records: "Records",
                    repeatitems: false,
                    id: "Code"
                }
            });
            $("#jqGrid").jqGrid('navGrid', '#jqGridPager',
                    { edit: false, add: false, del: false }, {}, {}, {},
                    {
                        multipleSearch: true,
                        closeOnEscape: true,
                        closeAfterSearch: true,
                        showQuery: true,
                        searchOnEnter: true,
                        sopt: ['cn', 'eq', 'ne', 'lt', 'le', 'gt', 'ge']
                    }
                );
        }
        function ActionFormatter(cellvalue, options, rowObject) {
            var str = '<a id="btnEdit" class="md-btn md-btn-primary md-btn-small md-btn-wave-light md-btn-icon waves-effect waves-button waves-light" href="@Url.Action("Edit/", "DoiQua", new { area = "NamPhutThuocBai" })' + rowObject.Code + '">';
            str += '<i class="material-icons">visibility</i>';
            str += 'Phản hồi';
            str += '</a>';
            return str;
        }
    </script>    
}
