﻿@model GCSOFT.MVC.Web.Areas.NamPhutThuocBai.Data.ListTopIndex

@{
    ViewBag.Title = "Danh Sách Top Tuần";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
<div id="page_content_inner">
    <div class="md-card">
        <div class="md-card-toolbar">
            <div class="md-card-toolbar-actions">
                <i class="md-icon material-icons md-card-fullscreen-activate toolbar_fixed">&#xE5D0;</i>
            </div>
            <h3 class="md-card-toolbar-heading-text">
                <i class="material-icons">&#xE894;</i>&nbsp;&nbsp;@ViewBag.Title
            </h3>
        </div>
        <div id="formSearch" class="md-card-content">
            <div class="uk-grid">
                <div class="uk-width-medium-1-3">
                    <label for="Type">Tuần</label><br />
                    @Html.DropDownListFor(model => model.CodeDethi, Model.CodeDethiList, new { @class = "md-input" })
                </div>
                <div class="uk-width-medium-1-3">
                    <label for="Type">Số lượng Top</label><br />
                    @Html.TextBoxFor(model => model.Top,new { @class = "md-input" })
                </div> 
                <div class="uk-width-medium-1-3">
                    <label for="Type"></label><br />
                    <button id="btnDownLoad" type="button" class="md-btn md-btn-primary">DownLoad Execl</button>
                </div>
            </div>
        </div>
        <div class="md-card-content">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-1-1">
                    <div class="uk-overflow-container">
                        <table id="jqGrid"></table>
                        <div id="jqGridPager"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            LoadGrid(BuildURL());

            $('#CodeDethi, #Top').change(function () {
                ReloadGrid(BuildURL());
            });

            $('#btnDownLoad').click(function () {
                var url = '/NamPhutThuocBai/ListTopTuan/DownloadListTopTuan' + '?codeDethi=' + $('#CodeDethi option:selected').val() + '&top=' + $('#Top').val();
                $(location).attr('href', url);
             });
        });

        function LoadGrid(url) {
            $("#jqGrid").jqGrid({
                url: url,
                mtype: "get",
                datatype: "json",
                colNames: [
                     'Số Báo Danh'
                    , 'Họ Tên'
                    , 'Lớp'
                    , 'Tổng Điểm'
                    , 'Tổng Video'
                    , 'Tổng View'
                    , 'Tổng Tương Tác'
                    , 'Tổng Share'
                    , 'Tổng Comment'
				],
                colModel: [
                      { name: 'SBD', index: 'SBD' }
                    , { name: 'FullName', index: 'FullName' }
                    , { name: 'ClassName', index: 'ClassName' }
                    , { name: 'TongDiem', index: 'TongDiem' }
                    , { name: 'TongVideo', index: 'TongVideo' }
                    , { name: 'TongView', index: 'TongView' }
                    , { name: 'TongTuongTac', index: 'TongTuongTac' }
                    , { name: 'TongShare', index: 'TongShare' }
                    , { name: 'TongComment', index: 'TongComment' }
				],
                rowNum: 20,
                rowList: [20, 40, 60, 80, 100],
                pager: '#jqGridPager',
                sortname: 'SBD',
                viewrecords: true,
                autowidth: true,
                height: "100%",
                sortorder: "asc",
                multiselect: false,
                rownumbers: true,
                viewsortcols: [true, 'vertical', true],
                loadComplete: function () {
                            jqGrid_resize('jqGrid');
                            gridSearch('jqGrid', 'search-button');
                        },
                jsonReader: {
                        root: "Rows",
                    page: "jqGridPager",
                    total: "Total",
                    records: "Records",
                    repeatitems: false,
                    id: "SBD"
                }
                    });
            $("#jqGrid").jqGrid('navGrid', '#jqGridPager',
                    { edit: false, add: false, del: false }, {}, {}, {},
                    {
                        multipleSearch: true,
                        closeOnEscape: true,
                        closeAfterSearch: true,
                        showQuery: true,
                        searchOnEnter: true,
                        sopt: ['cn', 'eq', 'ne', 'lt', 'le', 'gt', 'ge']
                    }
                );
        }

        function ReloadGrid(url) {
            $("#jqGrid").setGridParam({ url: url, page: 1 }).trigger("reloadGrid");
        }
        function BuildURL() {
            var stringUrl = '@Url.Action("LoadData", "ListTopTuan", new { area = "NamPhutThuocBai" })';
            stringUrl += '?codeDethi=' + $('#CodeDethi option:selected').val();
            stringUrl += '&top=' + $('#Top').val();
            return encodeURI(stringUrl);
        }

    </script>
}
