﻿@model GCSOFT.MVC.AGENCY.Areas.Agency.Data.AgencyCard
<div id="page_content_inner" class="hierarchical_slide">
    <div class="md-card">
        <div class="md-card-toolbar">
            <div class="md-card-toolbar-actions">
                <i class="md-icon material-icons md-card-toggle">&#xE316;</i>
            </div>
            <h3 class="md-card-toolbar-heading-text">
                <i class="material-icons">&#xE894;</i>&nbsp;&nbsp;@ViewBag.Title
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.HasAccount)

                @Html.HiddenFor(model => model.ParentAgencyId)
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-2">
                    @Html.LabelFor(model => model.RegistrationDateStr)
                    @Html.TextBoxFor(model => model.RegistrationDateStr
                                           , new Dictionary<string, Object> {
                                               { "class", "md-input label-fixed validate[required,funcCall[DateFormat[]]" }
                                               , { "autocomplete", "off" }
                                               , { "placeholder", "dd/MM/yyyy" }
                                               , { "data-uk-datepicker", "{format:'DD/MM/YYYY'}" }
                                           })
                </div>
                <div class="uk-width-medium-1-2">
                    @Html.LabelFor(model => model.Remark)
                    @Html.TextBoxFor(model => model.Remark, new { @cols = "30", @rows = "3", @class = "md-input" })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-2">
                    @Html.LabelFor(model => model.Image, new { @class = "uk-text-muted" })
                    <div id="divImg">
                        @if (!string.IsNullOrEmpty(Model.Image))
                        {
                            <button name="btnRemoveImg" type="button" class="uk-modal-close uk-close uk-close-alt uk-position-absolute" accesskey="imgShow"></button>
                            <img src="@Url.Content("~/Files/Agencry/" + Model.Id + "/" + Model.Image)" class="img_small" accesskey="imgShow" />
                        }
                        else
                        {
                            <input name="fileUpload" data-label="Upload" type="file" />
                        }
                    </div>
                    @Html.HiddenFor(model => model.Image)
                </div>
                <div class="uk-width-medium-1-2">
                </div>
            </div>
        </div>
    </div>
    <div class="md-card">
        <div class="md-card-toolbar">
            <h3 class="md-card-toolbar-heading-text">
                <i class="material-icons">&#xE894;</i>&nbsp;&nbsp;Thông Tin Chủ Thể&nbsp;&nbsp;&nbsp;&nbsp;
            </h3>
            <div class="parsley-row">
                <div class="dynamic_radio uk-margin-small-top">
                    <span class="icheck-inline">
                        <input type="radio" name="Legal" id="Legal1" value="Cá Nhân" @(Model.Legal.Equals("Cá Nhân") ? "checked" : "") />
                        <label for="d_form_gender_m" class="inline-label">Cá Nhân</label>
                    </span>
                    <span class="icheck-inline">
                        <input type="radio" name="Legal" id="Legal2" value="Doanh Nghiệp" @(Model.Legal.Equals("Doanh Nghiệp") ? "checked" : "") />
                        <label for="d_form_gender_f" class="inline-label">Công Ty</label>
                    </span>
                </div>
            </div>
        </div>
        <div class="md-card-content" id="frmLegal">
            @if (Model.Legal.Equals("Cá Nhân"))
            {
                @Html.Partial("_personal", Model)
            }
            else
            {
                @Html.Partial("_Company", Model)
            }
        </div>
    </div>
</div>
@*<div class="md-fab-wrapper">
        <div class="md-fab md-fab-accent md-fab-sheet md-fab-small">
            <i class="material-icons">&#xE30F;</i>
            <div class="md-fab-sheet-actions">
                <a id="btnReturn" href="@Url.Action("Index", "Customer", new { area = "Agency"})" class="md-color-white"><i class="material-icons md-color-white">&#xE15E;</i> <span class="gc-text-decoration uk-text-warning">Q</span>uay lại</a>
                <a id="btnSave" href="javascript:void(0)" class="md-color-white"><i class="material-icons md-color-white">&#xE161;</i> <span class="gc-text-decoration uk-text-warning">L</span>ưu</a>
            </div>
        </div>
    </div>*@
<footer id="footer" class="uk-text-center">
    <a id="btnReturn" href="@Url.Action("Index", "Customer", new { area = "Agency" })" class="md-btn md-btn-danger md-btn-wave-light md-btn-icon">
        <i class="material-icons md-color-white">&#xE15E;</i>
        Quay Lại
    </a>
    <a class="md-btn md-btn-primary md-btn-wave-light md-btn-icon" href="javascript:void(0)" id="btnSave">
        <span class="material-icons md-color-white">save</span>
        Lưu
    </a>
</footer>
<script type="text/javascript">
    $(document).ready(function () {
        gcHotkey._return();
        gcHotkey._save();
        CreateSuccess('@Url.Action("Create", "Customer", new { area = "Agency"})');
        $('#btnSave').click(function () {
            Save($("#frm"), true);
        });
        $('[name="btnRemoveImg"]').click(function () {
            UIkit.modal.confirm('Bạn có chắc chắn muốn xóa?', function () {
                $.post('@Url.Action("RemoveImg", "Customer", new { area = "Agency" })', { id: $('#Id').val(), img: $('#Image').val() }, function (data) {
                    if (data) {
                        $('#divImg').html('<input name="fileUpload" data-label="Upload" type="file" />');
                        $('#Image').val('');
                    }
                    else {
                        $().toastmessage('showErrorToast', 'Lỗi !!!');
                    }
                }, 'json');
            });
        });
        $('input[type=radio][name="Legal"]').on('change', function () {
            $('#frmLegal').load('@Url.Action("LegalForm", "Customer", new { area = "Agency" })', { id: $('#Id').val(), type: $(this).val() })
        });
    });
    function DateFormat(field, rules, i, options) {
        var regex = /^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$/;
        if (!regex.test(field.val())) {
            return "Vui lòng nhập ngày theo định dạng dd/MM/yyyy.";
        }
    }
</script>