﻿@model GCSOFT.MVC.Web.Areas.API.Data.ConfigurationAPI
@{
    ViewBag.Title = "Cập nhật cấu hình";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Edit", "Configuration", FormMethod.Post, new { @id = "frmConfiguration", @class = "uk-form-stacked", @autocomplete = "off" }))
{
    <div id="page_content_inner" class="hierarchical_slide">
        <div class="md-card">
            <div class="md-card-toolbar">
                <div class="md-card-toolbar-actions">
                    <i class="md-icon material-icons md-card-toggle">&#xE316;</i>
                </div>
                <h3 class="md-card-toolbar-heading-text">
                    <i class="material-icons">&#xE894;</i>&nbsp;&nbsp;Cập nhật cấu hình
                    <input type="hidden" name="Id" id="Id" value="@Model.Id" />
                </h3>
            </div>
            <div class="md-card-content">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-2">
                        @Html.LabelFor(model => model.Link_TTL)
                        @Html.EditorFor(model => model.Link_TTL, new { htmlAttributes = new { @class = "md-input" } })
                    </div>
                    <div class="uk-width-medium-1-2">
                        @Html.LabelFor(model => model.Link_Facebook)
                        @Html.EditorFor(model => model.Link_Facebook, new { htmlAttributes = new { @class = "md-input" } })
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-2">
                            @Html.LabelFor(model => model.Link_Youtube)
                            @Html.EditorFor(model => model.Link_Youtube, new { htmlAttributes = new { @class = "md-input label-fixed" } })
                    </div>
                    <div class="uk-width-medium-1-2">
                        @Html.LabelFor(model => model.Link_Tictok)
                        @Html.EditorFor(model => model.Link_Tictok, new { htmlAttributes = new { @class = "md-input" } })
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-2">
                        @Html.LabelFor(model => model.Link_5PTB)
                        @Html.EditorFor(model => model.Link_5PTB, new { htmlAttributes = new { @class = "md-input" } })
                    </div>
                    <div class="uk-width-medium-1-2">
                        @Html.LabelFor(model => model.Link_DaiSuThuongHieu)
                        @Html.EditorFor(model => model.Link_DaiSuThuongHieu, new { htmlAttributes = new { @class = "md-input" } })
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.Content_BoCongCu)
                        @Html.TextAreaFor(model => model.Content_BoCongCu, new { @cols = "30", @rows = "30" })
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.Content_3PhienBan)
                        @Html.TextAreaFor(model => model.Content_3PhienBan, new { @cols = "30", @rows = "30" })
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-2">
                        @Html.LabelFor(model => model.Link_TaiAndroid)
                        @Html.EditorFor(model => model.Link_TaiAndroid, new { htmlAttributes = new { @class = "md-input" } })
                    </div>
                    <div class="uk-width-medium-1-2">
                        @Html.LabelFor(model => model.Link_TaiIOS)
                        @Html.EditorFor(model => model.Link_TaiIOS, new { htmlAttributes = new { @class = "md-input" } })
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-2">
                        @Html.LabelFor(model => model.Link_TaiDesktop)
                        @Html.EditorFor(model => model.Link_TaiDesktop, new { htmlAttributes = new { @class = "md-input" } })
                    </div>
                    <div class="uk-width-medium-1-2">
                      
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-2">
                        @Html.LabelFor(model => model.Icon_SachSTN)
                        @Html.EditorFor(model => model.Icon_SachSTN, new { htmlAttributes = new { @class = "md-input" } })
                        <label>Image Sách</label>
                        <br />
                        <input type="file" class="md-input" name="fileIcon_SachSTN" , accept="image/*" required />
                    </div>
                    <div class="uk-width-medium-1-2">
                        @Html.LabelFor(model => model.Icon_VideoKTGN)
                        @Html.EditorFor(model => model.Icon_VideoKTGN, new { htmlAttributes = new { @class = "md-input" } })
                        <label>Image Video Kỹ Thuật Ghi Nhớ</label>
                        <br />
                        <input type="file" class="md-input" name="fileIcon_VideoKTGN" , accept="image/*" required />
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-2">
                        @Html.LabelFor(model => model.Icon_VideoBGSGK)
                        @Html.EditorFor(model => model.Icon_VideoBGSGK, new { htmlAttributes = new { @class = "md-input" } })
                        <label>Image Icon Video</label>
                        <br />
                        <input type="file" class="md-input" name="fileIcon_VideoBGSGK" , accept="image/*" required />
                    </div>
                    <div class="uk-width-medium-1-2">
                        @Html.LabelFor(model => model.Icon_Mindmap)
                        @Html.EditorFor(model => model.Icon_Mindmap, new { htmlAttributes = new { @class = "md-input" } })
                        <label>Image Sơ Đồ Tư Duy</label>
                        <br />
                        <input type="file" class="md-input" name="fileIcon_Mindmap" , accept="image/*" required />
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-2">
                        @Html.LabelFor(model => model.Icon_5PTB)
                        @Html.EditorFor(model => model.Icon_5PTB, new { htmlAttributes = new { @class = "md-input" } })
                        <label>Image 5 Phút Thuộc Bài</label>
                        <br />
                        <input type="file" class="md-input" name="fileIcon_5PTB" , accept="image/*" required />
                    </div>
                    <div class="uk-width-medium-1-2">
                        @Html.LabelFor(model => model.Icon_DienDan)
                        @Html.EditorFor(model => model.Icon_DienDan, new { htmlAttributes = new { @class = "md-input" } })
                        <label>Image Icon Diễn Đàn</label>
                        <br />
                        <input type="file" class="md-input" name="fileIcon_DienDan" , accept="image/*" required />
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-2">
                        @Html.LabelFor(model => model.Title_SachSTNHD)
                        @Html.EditorFor(model => model.Title_SachSTNHD, new { htmlAttributes = new { @class = "md-input" } })
                    </div>
                    <div class="uk-width-medium-1-2">
                        @Html.LabelFor(model => model.Title_VideoKTGN)
                        @Html.EditorFor(model => model.Title_VideoKTGN, new { htmlAttributes = new { @class = "md-input" } })
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-2">
                        @Html.LabelFor(model => model.Title_VideoBGSGK)
                        @Html.EditorFor(model => model.Title_VideoBGSGK, new { htmlAttributes = new { @class = "md-input" } })
                    </div>
                    <div class="uk-width-medium-1-2">
                        @Html.LabelFor(model => model.Title_Mindmap)
                        @Html.EditorFor(model => model.Title_Mindmap, new { htmlAttributes = new { @class = "md-input" } })
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-2">
                        @Html.LabelFor(model => model.Title_5PTB)
                        @Html.EditorFor(model => model.Title_5PTB, new { htmlAttributes = new { @class = "md-input" } })
                    </div>
                    <div class="uk-width-medium-1-2">
                        @Html.LabelFor(model => model.Title_DienDan)
                        @Html.EditorFor(model => model.Title_DienDan, new { htmlAttributes = new { @class = "md-input" } })
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.Content_SachSTN)
                        @Html.TextAreaFor(model => model.Content_SachSTN, new { @cols = "30", @rows = "30" })
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.Content_VideoKTGN)
                        @Html.TextAreaFor(model => model.Content_VideoKTGN, new { @cols = "30", @rows = "30" })
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.Content_VideoBGSGK)
                        @Html.TextAreaFor(model => model.Content_VideoBGSGK, new { @cols = "30", @rows = "30" })
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.Content_Mindmap)
                        @Html.TextAreaFor(model => model.Content_Mindmap, new { @cols = "30", @rows = "30" })
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.Content_5PTB)
                        @Html.TextAreaFor(model => model.Content_5PTB, new { @cols = "30", @rows = "30" })
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.Content_DienDan)
                        @Html.TextAreaFor(model => model.Content_DienDan, new { @cols = "30", @rows = "30" })
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-2">
                        @Html.LabelFor(model => model.Img_SachSTN)
                        @Html.EditorFor(model => model.Img_SachSTN, new { htmlAttributes = new { @class = "md-input" } })
                        <label>Image sách STNHD</label>
                        <br />
                        <input type="file" class="md-input" name="fileImg_SachSTN" , accept="image/*" required />
                    </div>
                    <div class="uk-width-medium-1-2">
                        @Html.LabelFor(model => model.Img_VideoKTGN)
                        @Html.EditorFor(model => model.Img_VideoKTGN, new { htmlAttributes = new { @class = "md-input" } })
                        <label>Image video KTGN</label>
                        <br />
                        <input type="file" class="md-input" name="fileImg_VideoKTGN" , accept="image/*" required />
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-2">
                        @Html.LabelFor(model => model.Img_VideoBGSGK)
                        @Html.EditorFor(model => model.Img_VideoBGSGK, new { htmlAttributes = new { @class = "md-input" } })
                        <label>Image video BGSGK</label>
                        <br />
                        <input type="file" class="md-input" name="fileImg_VideoBGSGK" , accept="image/*" required />
                    </div>
                    <div class="uk-width-medium-1-2">
                        @Html.LabelFor(model => model.Img_Mindmap)
                        @Html.EditorFor(model => model.Img_Mindmap, new { htmlAttributes = new { @class = "md-input" } })
                        <label>Image sơ đồ tư duy</label>
                        <br />
                        <input type="file" class="md-input" name="fileImg_Mindmap" , accept="image/*" required />
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-2">
                        @Html.LabelFor(model => model.Img_5PTB)
                        @Html.EditorFor(model => model.Img_5PTB, new { htmlAttributes = new { @class = "md-input" } })
                        <label>Image 5 phút thuộc bài</label>
                        <br />
                        <input type="file" class="md-input" name="fileImg_5PTB" , accept="image/*" required />
                    </div>
                    <div class="uk-width-medium-1-2">
                        @Html.LabelFor(model => model.Img_DienDan)
                        @Html.EditorFor(model => model.Img_DienDan, new { htmlAttributes = new { @class = "md-input" } })
                        <label>Image diễn đàn</label>
                        <br />
                        <input type="file" class="md-input" name="fileImg_DienDan" , accept="image/*" required />
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-2">
                        @Html.LabelFor(model => model.Color_SachSTN)
                        @Html.EditorFor(model => model.Color_SachSTN, new { htmlAttributes = new { @class = "md-input" } })
                    </div>
                    <div class="uk-width-medium-1-2">
                        @Html.LabelFor(model => model.Color_VideoKTGN)
                        @Html.EditorFor(model => model.Color_VideoKTGN, new { htmlAttributes = new { @class = "md-input" } })
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-2">
                        @Html.LabelFor(model => model.Color_VideoBGSGK)
                        @Html.EditorFor(model => model.Color_VideoBGSGK, new { htmlAttributes = new { @class = "md-input" } })
                    </div>
                    <div class="uk-width-medium-1-2">
                        @Html.LabelFor(model => model.Color_Mindmap)
                        @Html.EditorFor(model => model.Color_Mindmap, new { htmlAttributes = new { @class = "md-input" } })
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-2">
                        @Html.LabelFor(model => model.Color_5PTB)
                        @Html.EditorFor(model => model.Color_5PTB, new { htmlAttributes = new { @class = "md-input" } })
                    </div>
                    <div class="uk-width-medium-1-2">
                        @Html.LabelFor(model => model.Color_DienDan)
                        @Html.EditorFor(model => model.Color_DienDan, new { htmlAttributes = new { @class = "md-input" } })
                    </div>
                </div>
            </div>
            <div class="uk-grid uk-margin-medium-top">
                <div class="uk-width-1-1 uk-text-center">
                    <button id="btnSave" type="button" class="md-btn md-btn-primary">Cập Nhật</button>
                </div>
            </div>
        </div>
    </div>

}
<script type="text/javascript">
        $(document).ready(function () {
            gcHotkey._return();
            gcHotkey._save();
            CreateSuccess('@Url.Action("Edit", "Configuration", new { area = "API" })');
            $('#btnSave').click(function () {
                Save($("#frmConfiguration"), true);
            });

            CKEDITOR.replace('Content_3PhienBan', { height: 150 });
            CKEDITOR.instances.Content_3PhienBan.on('change', function () {
                $('[name="Content_3PhienBan"]').val(CKEDITOR.instances.Content_3PhienBan.getData());
            });

            CKEDITOR.replace('Content_BoCongCu', { height: 150 });
            CKEDITOR.instances.Content_BoCongCu.on('change', function () {
                $('[name="Content_BoCongCu"]').val(CKEDITOR.instances.Content_BoCongCu.getData());
            });

            CKEDITOR.replace('Content_SachSTN', { height: 150 });
            CKEDITOR.instances.Content_SachSTN.on('change', function () {
                $('[name="Content_SachSTN"]').val(CKEDITOR.instances.Content_SachSTN.getData());
            });

            CKEDITOR.replace('Content_VideoKTGN', { height: 150 });
            CKEDITOR.instances.Content_VideoKTGN.on('change', function () {
                $('[name="Content_VideoKTGN"]').val(CKEDITOR.instances.Content_VideoKTGN.getData());
            });

            CKEDITOR.replace('Content_VideoBGSGK', { height: 150 });
            CKEDITOR.instances.Content_VideoBGSGK.on('change', function () {
                $('[name="Content_VideoBGSGK"]').val(CKEDITOR.instances.Content_VideoBGSGK.getData());
            });

            CKEDITOR.replace('Content_Mindmap', { height: 150 });
            CKEDITOR.instances.Content_Mindmap.on('change', function () {
                $('[name="Content_Mindmap"]').val(CKEDITOR.instances.Content_Mindmap.getData());
            });

            CKEDITOR.replace('Content_5PTB', { height: 150 });
            CKEDITOR.instances.Content_5PTB.on('change', function () {
                $('[name="Content_5PTB"]').val(CKEDITOR.instances.Content_5PTB.getData());
            });

            CKEDITOR.replace('Content_DienDan', { height: 150 });
            CKEDITOR.instances.Content_DienDan.on('change', function () {
                $('[name="Content_DienDan"]').val(CKEDITOR.instances.Content_DienDan.getData());
            });

        });
</script>
