﻿@model IEnumerable<GCSOFT.MVC.Web.Areas.MasterData.Models.VM_FileResource>
<div class="md-card">
    <div class="md-card-toolbar">
        <div class="md-card-toolbar-actions">
            <i class="md-icon material-icons md-card-toggle">&#xE316;</i>
        </div>
        <h3 class="md-card-toolbar-heading-text">
            <i class="material-icons">&#xE894;</i>&nbsp;&nbsp;Hình Mẫu Tham Khảo
        </h3>
    </div>
    <div class="md-card-content">

        <div class="uk-grid" data-uk-grid-margin id="tbodyResource">
            @if (Model != null)
            {
                int stt = 0;
                var FileResources = Model.ToList();
                foreach (var item in Model)
                {
                    <div class="uk-width-medium-1-3 tr">
                        <div class="md-card">
                            <div class="md-card-content">
                                <div class="uk-grid" data-uk-grid-margin>
                                    <div class="uk-width-medium-1-1">
                                        <div class="uk-input-group">
                                            <span class="uk-input-group-addon">@(++stt)</span>
                                            @Html.HiddenFor(d => FileResources[stt - 1].ReferId)
                                            @Html.HiddenFor(d => FileResources[stt - 1].LineNo)
                                            @Html.HiddenFor(d => FileResources[stt - 1].ImageName)
                                            @Html.HiddenFor(d => FileResources[stt - 1].ImagePath)
                                            <label for="FileResources__0__Title">Họ Tên</label>
                                            @Html.TextBoxFor(d => FileResources[stt - 1].Title, new { @class = "md-input" })
                                            <span class="uk-input-group-addon">
                                                <a name="btnRemoveResourceLine" href="javascript:void(0);" data-uk-tooltip="{pos:'top'}" title="Xóa Ảnh">
                                                    <i class="material-icons md-24">delete</i>
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-grid" data-uk-grid-margin>
                                    <div class="uk-width-medium-1-1">
                                        @Html.LabelFor(d => FileResources[stt - 1].Title2)
                                        @Html.TextBoxFor(d => FileResources[stt - 1].Title2, new { @class = "md-input" })
                                    </div>
                                </div>
                                <div class="uk-grid" data-uk-grid-margin>
                                    <div class="uk-width-medium-1-1">
                                        @Html.LabelFor(d => FileResources[stt - 1].Title4)
                                        @Html.TextBoxFor(d => FileResources[stt - 1].Title4, new { @class = "md-input" })
                                    </div>
                                </div>
                                <div class="uk-grid" data-uk-grid-margin>
                                    <div class="uk-width-medium-1-1">
                                        <label>Link Img</label>
                                        @Html.TextBoxFor(d => FileResources[stt - 1].Title3, new { @class = "md-input" })
                                    </div>
                                </div>
                                @Html.TextBoxFor(d => FileResources[stt - 1].ImageUpload
                                                , new Dictionary<string, Object> {
                                                    { "data-label", "Upload" }
                                                    , { "type", "file" }
                                                    , { "class", "dropify" }
                                                    , { "data-show-remove", "false" }
                                                    , { "data-default-file", item.ImagePath?.Replace("~","") }
                                                })
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-1 uk-text-right">
                <a name="btnAddNewRowResource" id="btnAddNewRowResource" href="javascript:void(0);" class="md-btn md-btn-flat md-btn-flat-primary md-btn-wave"><i class="material-icons uk-text-primary">&#xE03B;</i>&nbsp;&nbsp;Thêm Ảnh</a>
            </div>
        </div>
    </div>
</div>
<script id="add-item-image-template" type="text/x-handlebars-template">
    <div class="uk-width-medium-1-3 tr">
        <div class="md-card">
            <div class="md-card-content">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-1">
                        <input id="FileResources_{{stt}}__IdCourse" name="FileResources[{{stt}}].ReferId" type="hidden" value="">
                        <input id="FileResources_{{stt}}__LineNo" name="FileResources[{{stt}}].LineNo" type="hidden" value="">
                        <input id="FileResources_{{stt}}__ImageName" name="FileResources[{{stt}}].ImageName" type="hidden" value="">
                        <input id="FileResources_{{stt}}__ImagePath" name="FileResources[{{stt}}].ImagePath" type="hidden" value="">
                        <div class="uk-input-group">
                            <span class="uk-input-group-addon">{{stt}}</span>
                            <label for="FileResources__{{stt}}__Title">Họ Tên</label>
                            <input class="md-input" id="FileResources_{{stt}}__Title" name="FileResources[{{stt}}].Title" type="text" value="" />
                            <span class="uk-input-group-addon">
                                <a name="btnRemoveResourceLine" href="javascript:void(0);" data-uk-tooltip="{pos:'top'}" title="Xóa Ảnh">
                                    <i class="material-icons md-24">delete</i>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-1">
                        <label for="FileResources__{{stt}}__Title">Tiêu Đề 1</label>
                        <input class="md-input" id="FileResources_{{stt}}__Title2" name="FileResources[{{stt}}].Title2" type="text" value="" />
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-1">
                        <label for="FileResources__{{stt}}__Title">Tiêu Đề 2</label>
                        <input class="md-input" id="FileResources_{{stt}}__Title4" name="FileResources[{{stt}}].Title4" type="text" value="" />
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-1">
                        <label for="FileResources__{{stt}}__Title">Link Img</label>
                        <input class="md-input" id="FileResources_{{stt}}__Title3" name="FileResources[{{stt}}].Title3" type="text" value="" />
                    </div>
                </div>
                <input id="FileResources_{{stt}}__ImageUpload" name="FileResources[{{stt}}].ImageUpload" data-label="Upload" type="file" class="dropify" data-show-remove="false" />
            </div>
        </div>
    </div>
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.dropify').dropify();
        InitValueResource();
        $('[name="btnAddNewRowResource"]').click(function () {
            var table = $("#tbodyResource");
            var stt = table.find(".tr").length;
            var getTemplate = $("#add-item-image-template").html();

            // Compile the template
            var compileTemplate = Handlebars.compile(getTemplate);
            var context = {
                "stt": stt
            };

            // Pass our data to the template
            var passDataToTemplate = compileTemplate(context);
            // Add the compiled html to the page
            if ($("#tbodyResource .tr").length > 0) {
                $("#tbodyResource").find(".tr").end().append(passDataToTemplate);
            } else {
                $("#tbodyResource").html(passDataToTemplate);
            }
            altair_md.inputs();
            altair_forms.textarea_autosize();
            altair_uikit.reinitialize_grid_margin();
            table.Uk_RebuildIndex();
            table.Uk_RebuildSortOrder2();

            InitValueResource();
        });
    });
    function InitValueResource() {
        $('.dropify').dropify();
        $('[name="btnRemoveResourceLine"]').click(function (e) {
            e.preventDefault();
            $(this).parent().parent().parent().parent().parent().parent().parent().remove();
            altair_uikit.reinitialize_grid_margin();
            $('#tbodyResource').Uk_RebuildIndex();
            $('#tbodyResource').Uk_RebuildSortOrder2();
        });
    }
</script>
