﻿<h4>Bạn Học Lớp Mấy ?</h4>
@*<div id="classList" class="list-btn">
    <div><a id="class1" name="className" class="btn-class" href="javascript:void(0);">Lớp 1</a></div>
    <div><a id="class2" name="className" class="btn-class" href="javascript:void(0);">Lớp 2</a></div>
    <div><a id="class3" name="className" class="btn-class" href="javascript:void(0);">Lớp 3</a></div>
    <div><a id="class4" name="className" class="btn-class" href="javascript:void(0);">Lớp 4</a></div>
    <div><a id="class5" name="className" class="btn-class" href="javascript:void(0);">Lớp 5</a></div>
</div>*@
<select id="classId" class="form-control">
    <option value="">[ Chọn ]</option>
    <option value="4">Lớp 1</option>
    <option value="5">Lớp 2</option>
    <option value="6">Lớp 3</option>
    <option value="7">Lớp 4</option>
    <option value="8">Lớp 5</option>
</select>