﻿@model GCSOFT.MVC.AGENCY.Areas.Agency.Data.FindAgencyPage
@using GCSOFT.MVC.Data.Common
@{
    ViewBag.Title = "Danh Sách Đại Lý và Nhân Viên";
}
<div id="page_content_inner">
    <div class="md-card">
        <div class="md-card-toolbar">
            <h3 class="md-card-toolbar-heading-text">
                Tìm kiếm
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    <div class="parsley-row">
                        <label for="Type">Danh Sách Đại Lý</label>
                        @Html.DropDownListFor(model => model.AgencyId, Model.AgencyDDL, "[ Chọn ]", new { @class = "md-input label-fixed" })
                    </div>
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1 uk-text-right">
                    <a id="btnSearch" href="javascript:void(0);" class="md-btn md-btn-primary uk-margin-small-top"><i class="material-icons">&#xE8B6;</i> Tìm Kiếm</a>
                </div>
            </div>
        </div>
    </div>
    <div class="md-card">
        <div class="md-card-toolbar">
            <div class="md-card-toolbar-actions">
                <i class="md-icon material-icons md-card-fullscreen-activate toolbar_fixed">&#xE5D0;</i>
            </div>
            <h3 class="md-card-toolbar-heading-text">
                <i class="material-icons">&#xE894;</i>&nbsp;&nbsp;@ViewBag.Title
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-overflow-container">
                <table class="uk-table uk-table-nowrap table_check">
                    <thead>
                        <tr>
                            <th class="uk-width-1-10">Mã Đại Lý</th>
                            <th>Loại</th>
                            <th>Người Liên Hệ</th>
                            <th class="uk-width-1-10">Điện Thoại</th>
                            <th class="uk-width-1-10">Email</th>
                            <th class="uk-width-1-10">Tỉnh/Thành Phố</th>
                            <th class="uk-width-1-10">Quận/Huyện</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.AgencyList)
                        {
                            <tr>
                                <td>@item.Code</td>
                                <td>@StringUtil.GetDescriptionEnum(item.AgencyType)</td>
                                <td>@item.FullName</td>
                                <td>@item.Phone</td>
                                <td>@item.Email</td>
                                <td>@item.CityName</td>
                                <td>@item.DistrictName</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="@Url.Content("~/Scripts/cms/vendor/paging/pajinatify.js")"></script>
<link type="text/css" href="@Url.Content("~/Scripts/cms/vendor/paging/pajinatify.css")" rel="stylesheet" />
<script type="text/javascript">
    $(document).ready(function () {
        $('#btnSearch').click(function () {
            window.location.href = '@Url.Action("Index", "FindAgency", new { area = "Agency" })' + '?id=' + $('#AgencyId').val();
        });
    });
    //function querySearch() {
    //    return '&FullName=' + $('#FullName').val() + '&PhoneNo=' + $('#PhoneNo').val() + '&Email=' + $('#Email').val() + '&SeriNumber=' + $('#SeriNumber').val() + '&fd=' + $('#FromDateStr').val() + '&td=' + $('#ToDateStr').val() + '&LevelCode=' + $('#LevelCode option:selected').val();
    //}
    function DateFormat(field, rules, i, options) {
        var regex = /^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$/;
        if (!regex.test(field.val())) {
            return "Vui lòng nhập ngày theo định dạng dd/MM/yyyy.";
        }
    }
</script>