﻿@model IEnumerable<GCSOFT.MVC.STNHD.Models.CourseList>
@foreach (var course in Model)
{
    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
        <div class="box-class-inner">
            <a href="@Url.Action("Index", "Course", new { id = course.Id })">
                <div><img src="@course.Avatar" class="max-w-100" alt=""></div>
                <p class="text-center">@course.Title</p>
            </a>
        </div>
    </div>
}