﻿@model GCSOFT.MVC.STNHD.Models.HomeViewModel
@using GCSOFT.MVC.STNHD.Models
@using GCSOFT.MVC.STNHD.Resource
@{
    ViewBag.Title = "Siêu Trí Nhớ Học Đường";
}
<div class="container">
    <div class="jumbotron">
        <div class="txt">
            <h2>@stnhd.Hello2 @Model.UserInfo.fullName</h2>
        </div>
        <p class="jumbotron-img"><img src="@Url.Content("~/Content/images/banner-detail.png")" alt=""></p>
    </div>
    <div class="your-class mt">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <h3 class="h-title">@stnhd.Chooseyourgrade</h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left">
                <div class="list-btn">
                    @foreach (var item in Model.StudentClasses)
                    {
                        <div>
                            <a id="class@(item.ClassId)" name="classInfo" accesskey="@item.ClassId" class="btn-class @(item.IsActive ? "btn-active-class" : "")" href="javascript:void(0);">@item.ClassName</a>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="row box-class" id="loadCourse">
            @foreach (var course in Model.Courses)
            {
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <div class="box-class-inner">
                        <a href="@Url.Action("Index", "Course", new { id = course.Id })">
                            <div><img src="@course.Avatar" class="max-w-100" alt=""></div>
                            <p class="text-center">@course.Title</p>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
    @*<div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="text-center"><h3 class="h-bhl">Ban Huấn Luyện</h3></div>
        </div>
    </div>
    @foreach (var item in Model.Supporters)
    {
        <div class="@(item.NoOfColumn == 3 ? "teacher" : "wit") mt">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="text-center"><h3 class="h-title">@item.Name</h3></div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="autoplay slider" name="autoplay" id="autoplay@(item.Id)" accesskey="@item.Id" noofcolumn="@(item.NoOfColumn)">
                        @foreach (var itemSupporter in Model.FileResources.Where(d => d.ReferId == item.Id))
                        {
                            <div class="box-general">
                                <img src="@itemSupporter.ImagePathFull" class="max-w-100" alt="">

                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    }*@
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('[name="classInfo"]').click(function () {
                var id = $(this).attr('accesskey');
                NProgress.start();
                $('#loadCourse').load('@Url.Action("LoadCourse", "Home")', { c: id }, function () {
                    $('[name="classInfo"]').removeClass('btn-active-class');
                    $(String.format('#class{0}', id)).addClass('btn-active-class');
                    $('html,body').animate({
                        scrollTop: $("#loadCourse").offset().top
                    }, 'slow');
                    NProgress.done();
                });
            });
        });
    </script>
}