﻿@model GCSOFT.MVC.AGENCY.Areas.Transaction.Data.SalesOrderCard
<div id="page_content_inner" class="hierarchical_slide">
    <div id="msgOrder" class="uk-alert uk-alert-warning" data-uk-alert style="display: none;">
        <a href="javascript:void(0);" class="uk-alert-close uk-close"></a>
        Đơn Hàng Đổi Thẻ của A/C đã được gửi tới bộ phận Bán Hàng của Tâm Trí Lực
    </div>
    <div id="msgOrder" class="uk-alert uk-alert-success" data-uk-alert>
        <a href="javascript:void(0);" class="uk-alert-close uk-close"></a>
        Phiếu yêu cầu chuyển đổi thẻ
        <br /> <strong>1 VIP </strong> = <strong> 6 Thẻ 1 Lớp</strong>
        <br /> <strong>1 VIP </strong> = <strong> 3.5 Thẻ 2 Lớp</strong>
        <br /> <strong>1 VIP </strong> = <strong> 2.5 Thẻ 3 Lớp</strong>
        <br /> <strong>1 VIP </strong> = <strong> 2 Thẻ 4 Lớp</strong>
        <br /> <strong>1 VIP </strong> = <strong> 2 Thẻ 5 Lớp</strong>
    </div>
    <div class="md-card">
        <div class="md-card-toolbar">
            <h3 class="md-card-toolbar-heading-text">
                <i class="material-icons">&#xE894;</i>&nbsp;&nbsp;@ViewBag.Title
                @Html.HiddenFor(model => model.StatusCode)
                @Html.HiddenFor(model => model.StatusId)
                @Html.HiddenFor(model => model.FromSeriesNumber)
                @Html.HiddenFor(model => model.ToSeriesNumber)
                @Html.HiddenFor(model => model.DateCreate)
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.Code)
                    @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "md-input", @readonly = true } })
                </div>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.DocumentDateStr)
                    @Html.TextBoxFor(model => model.DocumentDateStr
                                            , new Dictionary<string, Object> {
                                                { "class", "md-input label-fixed validate[required,funcCall[DateFormat[]]" }
                                                , { "autocomplete", "off" }
                                                , { "placeholder", "dd/MM/yyyy" }
                                                , { "data-uk-datepicker", "{format:'DD/MM/YYYY'}" }
                                            })
                </div>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.CustomerId)
                    @Html.EditorFor(model => model.CustomerName, new { htmlAttributes = new { @class = "md-input", @readonly = true } })
                    @Html.HiddenFor(model => model.CustomerId)
                </div>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.StatusId)
                    @Html.EditorFor(model => model.StatusName, new { htmlAttributes = new { @class = "md-input", @readonly = true } })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-4">
                    <label>Từ VIP Đổi Sang</label>
                    @Html.DropDownListFor(model => model.FromLevelCode, Model.FromLevelList, "[ Chọn ]", new { @class = "md-input label-fixed validate[required]" })
                </div>
                <div class="uk-width-medium-1-4">
                    <label>Số Lượng Thẻ Đại Lý Đang Có</label>
                    @Html.TextBoxFor(model => model.NoOfCardAgency, new Dictionary<string, Object>
                          {
                              {"class","md-input masked_input label-fixed"},
                              {"data-inputmask", "'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true, 'placeholder': '0'"},
                              {"readonly","readonly"}
                          })
                </div>
                <div class="uk-width-medium-1-4">
                    <label>Số Lượng Thẻ Cần Đổi</label>
                    @Html.TextBoxFor(model => model.TotalCard, new Dictionary<string, Object>
                          {
                              {"class", string.Format("md-input masked_input label-fixed validate[required,min[1],max[{0}]]", Model.NoOfCardAgency)}
                          })
                    @*{"data-inputmask", "'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true, 'placeholder': '0'"}*@
                </div>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.SuggestedNoOfCard)
                    @Html.EditorFor(model => model.SuggestedNoOfCard, new { htmlAttributes = new { @class = "md-input label-fixed", @readonly = true } })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    @Html.LabelFor(model => model.TTLRemark)
                    @Html.TextBoxFor(model => model.TTLRemark, new { @cols = "30", @rows = "3", @class = "md-input label-fixed", @readonly = true })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    @Html.LabelFor(model => model.Remark)
                    @Html.TextAreaFor(model => model.Remark, new { @cols = "30", @rows = "3", @class = "md-input" })
                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footer" class="uk-text-center">
    <a id="btnReturn" href="@Url.Action("Index", "ConvertCard", new { area = "Transaction" })" class="md-btn md-btn-danger md-btn-wave-light md-btn-icon">
        <i class="material-icons md-color-white">&#xE15E;</i>
        Quay Lại
    </a>
    @if (Model.StatusCode.Equals("100"))
    {
        <a class="md-btn md-btn-primary md-btn-wave-light md-btn-icon" href="javascript:void(0)" id="btnSave">
            <span class="material-icons md-color-white">save</span>
            Xác Nhận Đổi Thẻ
        </a>
    }
    @if (Model.StatusCode.Equals("700"))
    {
        <a class="md-btn md-btn-primary md-btn-wave-light md-btn-icon" href="javascript:void(0)" id="btnSave">
            <span class="material-icons md-color-white">save</span>
            Cập Nhật Đơn Hàng
        </a>
    }
</footer>

<script type="text/javascript">
    $(document).ready(function () {
        gcHotkey._return();
        gcHotkey._save();
        CreateSuccess('@Url.Action("Create", "ConvertCard", new { area = "Transaction" })');
        if ($.urlParam('msg') == '1') {
            $('#msgOrder').show();
        }
        if ($.urlParam('msg') == '2') {
            $().toastmessage('showToast', {
                text: 'Đã Gửi Duyệt Thành Công.',
                sticky: false,
                position: 'top-center',
                type: 'success'
            });
        }
        $('#btnSave').click(function () {
            Save($("#frm"), true);
        });
        $('#FromLevelCode').change(function () {
            $.post('@Url.Action("NoOfCard", "ConvertCard", new { area = "Transaction" })', { idc: $('#CustomerId').val(), c: "100" }, function (data) {
                $('#NoOfCardAgency').val(data);
                $('#TotalCard').val(0).attr('class', 'md-input masked_input label-fixed validate[required,custom[integer],min[1],max[' + data + ']]');
                $('#SuggestedNoOfCard').val(0);
            });
        });
        $('#TotalCard').change(function () {
            var levelCode = $('#FromLevelCode').val();
            var noOfCard = $(this).val();
            var suggestCard = 0;
            if (levelCode == '300') {
                suggestCard = noOfCard * 6;
            }
            else if (levelCode == '500') {
                suggestCard = Math.floor(noOfCard * 3.5);
            }
            else if (levelCode == '600') {
                suggestCard = Math.floor(noOfCard * 2.5);
            }
            else if (levelCode == '700' || levelCode == '800' ) {
                suggestCard = noOfCard * 2;
            }
            var remark = 'Loại: Đổi thẻ VIP sang ' + funcLevelName($("#FromLevelCode").val()) + ', Số lượng thẻ đổi là ' + noOfCard.toString() + ', Tâm Trí Lực giao thêm ' + (suggestCard - noOfCard).toString() + ' thẻ qua Đơn Đặt Hàng, Số lượng thực tế ' + suggestCard.toString();
            $('#TTLRemark').val(remark);
            $('#SuggestedNoOfCard').val(suggestCard);
        });
    });
    function DateFormat(field, rules, i, options) {
        var regex = /^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$/;
        if (!regex.test(field.val())) {
            return "Vui lòng nhập ngày theo định dạng dd/MM/yyyy.";
        }
    }

    function funcLevelName(levelCode) {

        var leveName = '';
        if (levelCode == '300') {
            leveName = "Gói 1 lớp";
        }
        else if (levelCode == '500') {
            leveName = "Gói 2 lớp";
        }
        else if (levelCode == '600') {
            leveName = "Gói 3 lớp";
        }
        else if (levelCode == '700') {
            leveName = "Gói 4 lớp";
        }
        else if (levelCode == '800') {
            leveName = "Gói 5 lớp";
        }
        return leveName;
    }
</script>
