﻿@model IEnumerable<GCSOFT.MVC.Web.ViewModels.SystemViewModels.NhomUsers>
@{
    ViewBag.Title = "Nhóm Người Sử Dụng";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
<div id="page_content_inner" class="hierarchical_slide">
    <div class="md-card">
        <div class="md-card-toolbar">
            <h3 class="md-card-toolbar-heading-text">
                <i class="material-icons">&#xE894;</i>&nbsp;&nbsp;@ViewBag.Title
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-1-1">
                    <div class="uk-overflow-container">
                        <table id="jqGrid"></table>
                        <div id="jqGridPager"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="md-fab-wrapper">
    <div class="md-fab md-fab-accent md-fab-sheet md-fab-small">
        <i class="material-icons">&#xE30F;</i>
        <div class="md-fab-sheet-actions">
            <a name="btnDel" href="javascript:void(0)" class="md-color-white">
                <i class="material-icons md-color-white">&#xE872;</i> <span class="gc-text-decoration uk-text-warning">X</span>óa
            </a>
            <a name="btnEdit" href="javascript:void(0)" class="md-color-white">
                <i class="material-icons md-color-white">&#xE254;</i> <span class="gc-text-decoration uk-text-warning">S</span>ửa
            </a>
            <a name="btnAdd" href="@Url.Action("Create", "SysUserGroup", new { area = "administrator" })" class="md-color-white">
                <i class="material-icons md-color-white">&#xE148;</i> <span class="gc-text-decoration uk-text-warning">T</span>hêm
            </a>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            LoadGrid('@Url.Action("LoadData", "SysUserGroup", new { area = "administrator" })');
            CallHotKey();
            $('[name="btnEdit"]').click(function () {
                JqEdit('@Url.Action("Edit", "SysUserGroup", new { area = "administrator" })', 'jqGrid')
            });
            $('[name="btnDel"]').click(function () {
                JqDel('@Url.Action("Deletes", "SysUserGroup", new { area = "administrator" })', $('#jqGrid'));
            });
        });

        function LoadGrid(url) {
            $("#jqGrid").jqGrid({
                url: url,
                mtype: "get",
                datatype: "json",
                colNames: [
								'@Html.DisplayNameFor(model => model.Code)'
                                , '@Html.DisplayNameFor(model => model.Name)'
                                , 'Phân Quyền'
								, '@Html.DisplayNameFor(model => model.Description)'
				],
                colModel: [
								{ name: 'Code', index: 'Code', formatter: NoFormatter }
								, { name: 'Name', index: 'Name' }
                                , { name: 'linkQuyenTruyCap', index: 'linkQuyenTruyCap', width: 50, align: 'center', formatter: capQuyenFormatter }
								, { name: 'Description', index: 'Description' }
				],
                rowNum: 20,
                rowList: [20, 40, 60, 80, 100],
                pager: '#jqGridPager',
                sortname: 'Code',
                viewrecords: true,
                autowidth: true,
                height: "100%",
                sortorder: "asc",
                multiselect: true,
                rownumbers: true,
                viewsortcols: [true, 'vertical', true],
                loadComplete: function () {
                    jqGrid_resize('jqGrid');
                    gridSearch('jqGrid', 'search-button');
					GetDetails();
                },
                jsonReader: {
                    root: "Rows",
                    page: "jqGridPager",
                    total: "Total",
                    records: "Records",
                    repeatitems: false,
                    id: "Code"
                }
            });
            $("#jqGrid").jqGrid('navGrid', '#jqGridPager',
                    { edit: false, add: false, del: false }, {}, {}, {},
                    {
                        multipleSearch: true,
                        closeOnEscape: true,
                        closeAfterSearch: true,
                        showQuery: true,
                        searchOnEnter: true,
                        sopt: ['cn', 'eq', 'ne', 'lt', 'le', 'gt', 'ge']
                    }
                );
        }

        function NoFormatter(cellvalue, options, rowObject) {
            return '<strong><a href="@Url.Action("Details/", "SysUserGroup", new { area = "administrator" })' + rowObject.Code + '" title="Xem chi tiết" name="Details" data-uk-tooltip="{pos:\'top\'}">' + cellvalue + '</a></strong>';
        }

        function capQuyenFormatter(cellvalue, options, rowObject) {
            var url = '@Url.Action("Index/", "SysAuthentication", new { area = "administrator" })' + rowObject.Code;
            return '<strong><a href="' + url +'" title="Cấp quyền" name="phanQuyen">Cấp quyền</a></strong>';
        }

		function GetDetails() {
            $('[name="Details"]').click(function () {
                var idx = $('[name="Details"]').index($(this));
                $(location).attr('href', $('[name="Details"]:eq(' + idx + ')').attr('href'));
            });
            gcHotkey._view();
        }

        function CallHotKey() {
            gcHotkey._add();
            gcHotkey._edit();
            gcHotkey._del();
        }
    </script>    
}
