﻿@model GCSOFT.MVC.AGENCY.ViewModels.HienTai.O_StudentDetails
@{
    ViewBag.Title = "CHI TIẾT KẾT QUẢ HỌC TẬP";
}
<div id="page_content_inner">
    <div class="md-card">
        <div class="md-card-toolbar">
            <h3 class="md-card-toolbar-heading-text">
               THÔNG TIN CHI TIẾT HIỀN TÀI
                @Html.HiddenFor(model => model.Code)
            </h3>
        </div>
        <div class="md-card-content gc-padding-top-8">
            <div class="uk-grid margin-top-0px">
                <div class="uk-width-medium-1-4">
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "uk-text-muted uk-text-small" })
                    </div>
                    <div class="uk-width-medium-1-1 margin-top-2px">
                        <span class="uk-text-middle">@Model.Code</span>
                    </div>
                    <hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
                </div>
                <div class="uk-width-medium-1-4">
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "uk-text-muted uk-text-small" })
                    </div>
                    <div class="uk-width-medium-1-1 margin-top-2px">
                        <span class="uk-text-middle">@Model.FullName</span>
                    </div>
                    <hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
                </div>
                <div class="uk-width-medium-1-4">
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.DateOfBirth, htmlAttributes: new { @class = "uk-text-muted uk-text-small" })
                    </div>
                    <div class="uk-width-medium-1-1 margin-top-2px">
                        <span class="uk-text-middle">@Model.DateOfBirth.ToString("dd-MM-yyyy")</span>
                    </div>
                    <hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
                </div>
                <div class="uk-width-medium-1-4">
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.ShirtSize, htmlAttributes: new { @class = "uk-text-muted uk-text-small" })
                    </div>
                    <div class="uk-width-medium-1-1 margin-top-2px">
                        <span class="uk-text-middle">@Model.ShirtSize</span>
                    </div>
                    <hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
                </div>
            </div>
            <div class="uk-grid margin-top-0px">
                <div class="uk-width-medium-1-4">
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.GenderName, htmlAttributes: new { @class = "uk-text-muted uk-text-small" })
                    </div>
                    <div class="uk-width-medium-1-1 margin-top-2px">
                        <span class="uk-text-middle">@Model.GenderName</span>
                    </div>
                    <hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
                </div>
                <div class="uk-width-medium-1-4">
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.SchoolClassStarName, htmlAttributes: new { @class = "uk-text-muted uk-text-small" })
                    </div>
                    <div class="uk-width-medium-1-1 margin-top-2px">
                        <span class="uk-text-middle">@Model.SchoolClassStarName</span>
                    </div>
                    <hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
                </div>
                <div class="uk-width-medium-1-4">
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "uk-text-muted uk-text-small" })
                    </div>
                    <div class="uk-width-medium-1-1 margin-top-2px">
                        <span class="uk-text-middle">@Model.StartDate.ToString("dd-MM-yyyy")</span>
                    </div>
                    <hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
                </div>
                <div class="uk-width-medium-1-4">
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "uk-text-muted uk-text-small" })
                    </div>
                    <div class="uk-width-medium-1-1 margin-top-2px">
                        <span class="uk-text-middle">@Model.EndDate.ToString("dd-MM-yyyy")</span>
                    </div>
                    <hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
                </div>
            </div>
            <div class="uk-grid margin-top-0px">
                <div class="uk-width-medium-1-4">
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.SchoolName, htmlAttributes: new { @class = "uk-text-muted uk-text-small" })
                    </div>
                    <div class="uk-width-medium-1-1 margin-top-2px">
                        <span class="uk-text-middle">@Model.SchoolName</span>
                    </div>
                    <hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
                </div>
                <div class="uk-width-medium-1-4">
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.SchoolClassName, htmlAttributes: new { @class = "uk-text-muted uk-text-small" })
                    </div>
                    <div class="uk-width-medium-1-1 margin-top-2px">
                        <span class="uk-text-middle">@Model.SchoolClassName</span>
                    </div>
                    <hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
                </div>
                <div class="uk-width-medium-1-4">
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.ParentName, htmlAttributes: new { @class = "uk-text-muted uk-text-small" })
                    </div>
                    <div class="uk-width-medium-1-1 margin-top-2px">
                        <span class="uk-text-middle">@Model.ParentName</span>
                    </div>
                    <hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
                </div>
                <div class="uk-width-medium-1-4">
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.StatusName, htmlAttributes: new { @class = "uk-text-muted uk-text-small" })
                    </div>
                    <div class="uk-width-medium-1-1 margin-top-2px">
                        <span class="uk-text-middle">@Model.StatusName</span>
                    </div>
                    <hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
                </div>
            </div>
        </div>
    </div>
    <div class="md-card">
        <div class="md-card-toolbar">
            <h3 class="md-card-toolbar-heading-text">
               KẾT QUẢ RÈN LUYỆN
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-overflow-container">
                <table id="SchoolClassStar" class="uk-table uk-table-nowrap table_check">
                    <thead>
                        <tr>
                            <th class="uk-text-center"><strong>STT</strong></th>
                            <th><strong>Cấp</strong></th>
                            <th><strong>Nền Tảng</strong></th>
                            <th><strong>Phẩm Chất</strong></th>
                            <th><strong>Tên SAO</strong></th>
                            <th><strong>Số Ngày Làm</strong></th>
                            <th><strong>Ngày Bắt Đầu</strong></th>
                            <th><strong>Ngày Kết Thúc</strong></th>
                            <th><strong>Trạng Thái</strong></th>
                            <th width="15%" ></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int stt = 0; }
                        @foreach (var item in Model.StudentStarList)
                        {
                        <tr>
                            <td class="uk-text-center">@(++stt)</td>
                            <td>@item.LevelName</td>
                            <td>@item.BasisName</td>
                            <td>@item.QualityName</td>
                            <td>@item.StarName</td>
                            <td>@item.NoOfDay</td>
                            <td>@item.StartProcessDate</td>
                            <td>@item.EndProcessDate</td>
                            <td>@item.StatusName</td>
                            <td width="15%">
                                @if (item.ProcessHeaderID > 0)
                                {
                                    <a href="@Url.Action("ProcessLine", "StudyResult", new { area = "HienTai", id = item.StudentId, studentStarId = item.StudentStarId, processHeaderId = item.ProcessHeaderID })"><i class="material-icons md-24 uk-text-warning">edit</i> Xem chi tiết hành trình</a>
                                }
                                else
                                { 
                                    <span>Chưa có hành trình</span>
                                }
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<footer id="footer" class="uk-text-center">
    <a id="btnReturn" href="@Url.Action("Index", "StudyResult" , new { area="HienTai" })" class="md-btn md-btn-danger md-btn-wave-light md-btn-icon">
        <i class="material-icons md-color-white">&#xE15E;</i>
        Quay Lại
    </a>
</footer>
