﻿@model GCSOFT.MVC.AGENCY.ViewModels.HienTai.O_StudyResultChangeHistory
@{
    ViewBag.Title = "CẬP NHẬT HÀNH TRÌNH SAO";
}
@using (Html.BeginForm("HandleStar", "StudyResult", FormMethod.Post, new { @id = "frm", @class = "uk-form-stacked", @enctype = "multipart/form-data" }))
{
    <div id="page_content_inner" class="hierarchical_slide">
        <div class="md-card">
            <div class="md-card-toolbar">
                <div class="md-card-toolbar-actions">
                    <i class="md-icon material-icons md-card-toggle">&#xE316;</i>
                </div>
                <h3 class="md-card-toolbar-heading-text">
                    <i class="material-icons">&#xE894;</i>&nbsp;&nbsp;@ViewBag.Title
                    @Html.HiddenFor(model => model.StudentId)
                    @Html.HiddenFor(model => model.StudentStarId)
                    @Html.HiddenFor(model => model.StarId)
                    @Html.HiddenFor(model => model.Date)
                </h3>
            </div>
            <div class="md-card-content">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-1">
                        <p>Lưu ý:</p>
                        <ul>
                            <li>Nếu hành trình chưa bị reset thì chọn "Hành trình đang xử lý" và "Hành trình phải hủy" giống nhau.</li>
                            <li>Chỉ được xử lý 2 hành trình kế tiếp nhau VD: hành trình lần 6 thì chỉ được xử lý hành trình lần 5</li>
                        </ul>
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.TicketId)
                        @Html.DropDownListFor(model => model.TicketId, Model.Tickets, "[ Chọn ]", new { @class = "md-input label-fixed validate[required]" })
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-2">
                        @Html.LabelFor(model => model.ProcessHeaderId)
                        @Html.DropDownListFor(model => model.ProcessHeaderId, Model.ProcessHeaders, "[ Chọn ]", new { @class = "md-input label-fixed validate[required]" })
                    </div>
                    <div class="uk-width-medium-1-2">
                        @Html.LabelFor(model => model.ProcessHeaderIdDelete)
                        @Html.DropDownListFor(model => model.ProcessHeaderIdDelete, Model.ProcessHeaders, "[ Chọn ]", new { @class = "md-input label-fixed validate[required]" })
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.Note)
                        @Html.TextAreaFor(model => model.Note
                 , new Dictionary<string, Object> {
                                                   { "class", "md-input label-fixed validate[required]" }
                                                   , { "autocomplete", "off" }
                                                   , { "rows", "3" }
                 })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer id="footer" class="uk-text-center">
        <a id="btnReturn" href="@Url.Action("ProcessLine", "StudyResult", new { area = "HienTai", id = Model.StudentId, studentStarId = Model.StudentStarId, processHeaderId = Model.ProcessHeaderId })" class="md-btn md-btn-danger md-btn-wave-light md-btn-icon">
            <i class="material-icons md-color-white">&#xE15E;</i>
            Quay Lại
        </a>
        <a class="md-btn md-btn-primary md-btn-wave-light md-btn-icon" href="javascript:void(0)" id="btnSave">
            <span class="material-icons md-color-white">save</span>
            Lưu
        </a>
    </footer>
}
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('select').select2();
            $('#btnSave').click(function () {
                var flag = $("#frm").validationEngine('validate');
                if (flag) {
                    $("#frm").submit();
                }
            });
        });
    </script>
}

