﻿
@model GCSOFT.MVC.AGENCY.ViewModels.HienTai.O_ProcessHeaderView
@{
    ViewBag.Title = "CHI TIẾT HÀNH TRÌNH SAO";
}
<div id="page_content_inner">
    <div class="md-card">
        <div class="md-card-toolbar">
            <h3 class="md-card-toolbar-heading-text">
                THÔNG TIN CHI TIẾT SAO
                @Html.HiddenFor(model => model.StudentId)
                @Html.HiddenFor(model => model.StudentStarId)
            </h3>
        </div>
        <div class="md-card-content gc-padding-top-8">
            <div class="uk-grid margin-top-0px">
                <div class="uk-width-medium-1-4">
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.StarName, htmlAttributes: new { @class = "uk-text-muted uk-text-small" })
                    </div>
                    <div class="uk-width-medium-1-1 margin-top-2px">
                        <span class="uk-text-middle">@Model.StarName</span>
                    </div>
                    <hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
                </div>
                <div class="uk-width-medium-1-4">
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.ProgramName, htmlAttributes: new { @class = "uk-text-muted uk-text-small" })
                    </div>
                    <div class="uk-width-medium-1-1 margin-top-2px">
                        <span class="uk-text-middle">@Model.ProgramName</span>
                    </div>
                    <hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
                </div>
                <div class="uk-width-medium-1-4">
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.StartDateProcess, htmlAttributes: new { @class = "uk-text-muted uk-text-small" })
                    </div>
                    <div class="uk-width-medium-1-1 margin-top-2px">
                        <span class="uk-text-middle">@Model.StartDateProcess.ToString("dd-MM-yyyy")</span>
                    </div>
                    <hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
                </div>
                <div class="uk-width-medium-1-4">
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.EndDateProcess, htmlAttributes: new { @class = "uk-text-muted uk-text-small" })
                    </div>
                    <div class="uk-width-medium-1-1 margin-top-2px">
                        <span class="uk-text-middle">@Model.EndDateProcess.ToString("dd-MM-yyyy")</span>
                    </div>
                    <hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
                </div>
            </div>
            <div class="uk-grid margin-top-0px">
                <div class="uk-width-medium-1-4">
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "uk-text-muted uk-text-small" })
                    </div>
                    <div class="uk-width-medium-1-1 margin-top-2px">
                        <span class="uk-text-middle">@Model.Title</span>
                    </div>
                    <hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
                </div>
                <div class="uk-width-medium-1-4">
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.StudentName, htmlAttributes: new { @class = "uk-text-muted uk-text-small" })
                    </div>
                    <div class="uk-width-medium-1-1 margin-top-2px">
                        <span class="uk-text-middle">@Model.StudentName</span>
                    </div>
                    <hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
                </div>
                <div class="uk-width-medium-1-4">
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.StudentName, htmlAttributes: new { @class = "uk-text-muted uk-text-small" })
                    </div>
                    <div class="uk-width-medium-1-1 margin-top-2px">
                        @Html.DropDownListFor(model => model.Id, Model.ProcessHeaders, new { @id = "drProcessHeader", @class = "md-input label-fixed" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="md-card">
        <div class="md-card-toolbar">
            <h3 class="md-card-toolbar-heading-text">
                HÀNH TRÌNH THỰC HIỆN
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-overflow-container">
                <table id="SchoolClassStar" class="uk-table uk-table-nowrap table_check">
                    <thead>
                        <tr>
                            <th class="uk-text-center"><strong>STT</strong></th>
                            <th><strong>Ngày thực hiện</strong></th>
                            <th><strong>Nội dung báo cáo</strong></th>
                            <th><strong>Loại sao</strong></th>
                            <th><strong>Tình trạng</strong></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int stt = 0; }
                        @foreach (var item in Model.ProcessLines)
                        {
                            <tr>
                                <td class="uk-text-center">@(++stt)</td>
                                <td>@item.DateInput.ToString("dd-MM-yyyy")</td>
                                <td>@Html.Raw(item.ProcessContent)</td>
                                <td>@(item.StarType != 1 ? "Hành trình" : "Tổng kết")</td>
                                <td>@(item.Id > 0 ? "Đã làm" : "Còn thiếu")</td>
                                <td>
                                    @if (item.Id > 0 || item.DateInput >= DateTime.Now)
                                    {
                                        <span></span>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("HandleStar", "StudyResult" , new { area="HienTai",id = Model.StudentId, studentStarId = Model.StudentStarId
                                                , processHeaderId = Model.Id, date = item.DateInput.ToString("dd/MM/yyyy")})"><i class="material-icons md-24 uk-text-warning">build</i> Xử lý báo bù</a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="pagination" data-total-count="@Model.paging.TotalRows" data-take="@Model.paging.PerPage"></div>
        </div>
    </div>
</div>

<footer id="footer" class="uk-text-center">
    <a id="btnReturn" href="@Url.Action("Detail", "StudyResult" , new { area="HienTai",id = Model.StudentId  })" class="md-btn md-btn-danger md-btn-wave-light md-btn-icon">
        <i class="material-icons md-color-white">&#xE15E;</i>
        Quay Lại
    </a>
</footer>

@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/cms/vendor/paging/pajinatify.js")"></script>
    <link type="text/css" href="@Url.Content("~/Scripts/cms/vendor/paging/pajinatify.css")" rel="stylesheet" />
    <script type="text/javascript">
        $(document).ready(function () {
          $('.pagination').pajinatify();
        $('.pagination').pajinatify('set', @Model.paging.CurPage, @Model.paging.TotalRows);
        $('.pajinatify__button').click(function () {
            var p = $(this).attr('data-page');
            window.location.href = '@Url.Action("ProcessLine", "StudyResult", new { area = "HienTai" })' + '?currPage=' + p + querySearch();
        });
        $('select').select2();
         $("#SchoolClassId").change(function () {
                window.location.href = '@Url.Action("ProcessLine", "StudyResult", new { area = "HienTai"})' + '?' + querySearch();
         });
    });

    function querySearch() {
        let querySearch = '';
        if ($('#StudentId').val() != '') {
            querySearch += '&Id=' + parseInt($('#StudentId').val());
        }
        if ($('#StudentStarId').val() != '') {
            querySearch += '&StudentStarId=' + parseInt($('#StudentStarId').val());
        }
        if ($('#drProcessHeader').val() != '') {
            querySearch += '&processHeaderId=' + parseInt($('#drProcessHeader').val());
        }
        return querySearch;
    }
    </script>
}


