﻿@{
    ViewBag.Title = "Siêu Trí Nhớ Học Đường";
}
<div class="container">
    <div class="jumbotron">
        <div class="txt">
            <h2>Xin chào bạn</h2>
        </div>
        <p class="jumbotron-img"><img src="@Url.Content("~/Content/images/banner-detail.png")" alt=""></p>
    </div>
    <div class="row">
        <div class="your-class mt">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h3 class="h-title">BẢNG XẾP HẠNG</h3>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="row">
                        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2"><a class="btn-class mb-3 text-center custom" href="#">Lớp 1</a></div>
                        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2"><a class="btn-class mb-3 text-center custom" href="#">Lớp 2</a></div>
                        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2"><a class="btn-class mb-3 text-center custom" href="#">Lớp 3</a></div>
                        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2"><a class="btn-class mb-3 text-center custom" href="#">Lớp 4</a></div>
                        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2"><a class="btn-class mb-3 text-center custom" href="#">Lớp 5</a></div>
                        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2"><a class="btn-class mb-3 text-center custom" href="#">Lớp 6</a></div>
                        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2"><a class="btn-class mb-3 text-center custom" href="#">Lớp 7</a></div>
                        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2"><a class="btn-class mb-3 text-center custom" href="#">Lớp 8</a></div>
                        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2"><a class="btn-class mb-3 text-center custom" href="#">Lớp 9</a></div>
                        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2"><a class="btn-class mb-3 text-center custom" href="#">Lớp 10</a></div>
                        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2"><a class="btn-class mb-3 text-center custom" href="#">Lớp 11</a></div>
                        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2"><a class="btn-class mb-3 text-center custom" href="#">Lớp 12</a></div>
                    </div>
                </div>
            </div>
        </div>
        <section class="ranking">
            <div class="row">
                <div class="col-xs-12 text-center my-5">
                    <img class="bg-rank" src="https://firebasestorage.googleapis.com/v0/b/sieutrinhohocduong.appspot.com/o/bg-rank.png?alt=media&token=7ea10b75-6876-4223-9f94-71c50738b080" alt="">
                </div>
                <div class="col-xs-12">
                    <div class="rank-item">
                        <div class="rank-logo first"></div>
                        <div class="rank-info-wrap">
                            <div class="rank-info">
                                <img src="./images/teacher-1.png" class="max-w-100" alt="">
                                <div class="name">Nguyễn thanh tuyền</div>
                                <span class="rating-star">22</span>
                            </div>
                        </div>
                    </div>
                    <div class="rank-item">
                        <div class="rank-logo second"></div>
                        <div class="rank-info-wrap">
                            <div class="rank-info">
                                <img src="./images/teacher-1.png" class="max-w-100" alt="">
                                <div class="name">Trần Minh Tuấn LÊ</div>
                                <span class="rating-star">12</span>
                            </div>
                        </div>
                    </div>
                    <div class="rank-item">
                        <div class="rank-logo third"></div>
                        <div class="rank-info-wrap">
                            <div class="rank-info">
                                <img src="./images/teacher-1.png" class="max-w-100" alt="">
                                <div class="name">Nguyễn Văn A</div>
                                <span class="rating-star">8</span>
                            </div>
                        </div>
                    </div>
                    <div class="rank-item">
                        <div class="rank-logo">4</div>
                        <div class="rank-info-wrap">
                            <div class="rank-info">
                                <img src="./images/teacher-1.png" class="max-w-100" alt="">
                                <div class="name">Nguyễn Văn A</div>
                                <span class="rating-star">8</span>
                            </div>
                        </div>
                    </div>
                    <div class="rank-item">
                        <div class="rank-logo">5</div>
                        <div class="rank-info-wrap">
                            <div class="rank-info">
                                <img src="./images/teacher-1.png" class="max-w-100" alt="">
                                <div class="name">Nguyễn Văn A</div>
                                <span class="rating-star">8</span>
                            </div>
                        </div>
                    </div>
                    <div class="rank-item">
                        <div class="rank-logo">6</div>
                        <div class="rank-info-wrap">
                            <div class="rank-info">
                                <img src="./images/teacher-1.png" class="max-w-100" alt="">
                                <div class="name">Nguyễn Văn A</div>
                                <span class="rating-star">8</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>