﻿@model GCSOFT.MVC.AGENCY.ViewModels.HienTai.O_SummaryStarDetail
@{
    ViewBag.Title = "DANH SÁCH SAO TỔNG KẾT";
}

<div id="page_content_inner">
    <div class="md-card">
        <div class="md-card-toolbar">
            <h3 class="md-card-toolbar-heading-text">
                THÔNG TIN CHI TIẾT SAO
                @Html.HiddenFor(model => model.Id, htmlAttributes: new { @id = "StudentId" })
                @Html.HiddenFor(model => model.StudentStarId)
            </h3>
        </div>
        <div class="md-card-content gc-padding-top-8">
            <div class="uk-grid margin-top-0px">
                <div class="uk-width-medium-1-4">
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.StarName, htmlAttributes: new { @class = "uk-text-muted uk-text-small" })
                    </div>
                    <div class="uk-width-medium-1-1 margin-top-2px">
                        <span class="uk-text-middle">@Model.StarName</span>
                    </div>
                    <hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
                </div>
                <div class="uk-width-medium-1-4">
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "uk-text-muted uk-text-small" })
                    </div>
                    <div class="uk-width-medium-1-1 margin-top-2px">
                        <span class="uk-text-middle">@Model.FullName</span>
                    </div>
                    <hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
                </div>
                <div class="uk-width-medium-1-4">
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.StartProcessDate, htmlAttributes: new { @class = "uk-text-muted uk-text-small" })
                    </div>
                    <div class="uk-width-medium-1-1 margin-top-2px">
                        <span class="uk-text-middle">@Model.StartProcessDate.ToString("dd-MM-yyyy")</span>
                    </div>
                    <hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
                </div>
                <div class="uk-width-medium-1-4">
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.EndProcessDate, htmlAttributes: new { @class = "uk-text-muted uk-text-small" })
                    </div>
                    <div class="uk-width-medium-1-1 margin-top-2px">
                        <span class="uk-text-middle">@Model.EndProcessDate.ToString("dd-MM-yyyy")</span>
                    </div>
                    <hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
                </div>
            </div>
            <div class="uk-grid margin-top-0px">
                <div class="uk-width-medium-1-4">
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.StatusName, htmlAttributes: new { @class = "uk-text-muted uk-text-small" })
                    </div>
                    <div class="uk-width-medium-1-1 margin-top-2px">
                        <span class="uk-text-middle">@Model.StatusName</span>
                    </div>
                    <hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
                </div>
                <div class="uk-width-medium-1-4">
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.SchoolName, htmlAttributes: new { @class = "uk-text-muted uk-text-small" })
                    </div>
                    <div class="uk-width-medium-1-1 margin-top-2px">
                        <span class="uk-text-middle">@Model.SchoolName</span>
                    </div>
                    <hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
                </div>
                <div class="uk-width-medium-1-4">
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.TeacherName, htmlAttributes: new { @class = "uk-text-muted uk-text-small" })
                    </div>
                    <div class="uk-width-medium-1-1 margin-top-2px">
                        <span class="uk-text-middle">@Model.TeacherName</span>
                    </div>
                    <hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
                </div>
                <div class="uk-width-medium-1-4">
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.ProcessHeaderTitle, htmlAttributes: new { @class = "uk-text-muted uk-text-small" })
                    </div>
                    <div class="uk-width-medium-1-1 margin-top-2px">
                        <span class="uk-text-middle">@Model.ProcessHeaderTitle</span>
                    </div>
                    <hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
                </div>
            </div>
        </div>
    </div>
    <div class="md-card">
        <div class="md-card-toolbar">
            <h3 class="md-card-toolbar-heading-text">
                TẤT CẢ SAO TỔNG KẾT
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-overflow-container">
                <table id="SchoolClassStar" class="uk-table uk-table-nowrap table_check">
                    <thead>
                        <tr>
                            <th class="uk-text-center"><strong>STT</strong></th>
                            <th><strong>Ngày thực hiện</strong></th>
                            <th><strong>Nội dung báo cáo</strong></th>
                            <th><strong>File Báo cáo</strong></th>
                            <th><strong>Loại sao</strong></th>
                            <th><strong>Tình trạng</strong></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.ProcessLines.Count > 0)
                        {
                            int stt = 0;

                            foreach (var item in Model.ProcessLines)
                            {
                                <tr>
                                    <td class="uk-text-center">@(++stt)</td>
                                    <td>@item.DateInput.ToString("dd-MM-yyyy")</td>
                                    <td>@Html.Raw(item.ProcessContent)</td>
                                    <td>
                                        @{
                                            var strLink = string.Empty;
                                            item.ListFiles.ForEach(x =>
                                            {
                                                strLink += "<a target='_blank' href ='" + x.link + "'>"+ x.link + "</a> <br />";
                                            });
                                        }
                                       
                                        @Html.Raw(strLink)
                                    </td>
                                    <td>@(item.StarType != 1 ? "Hành trình" : "Tổng kết")</td>
                                    <td>@(item.SummaryStarId > 0 ? "Đã chấm bài" : "Chưa chấm bài")</td>
                                    <td>
                                        <a href="@Url.Action("Check", "SummaryStar", new
                                            {
                                                area = "HienTai",
                                                id = item.SummaryStarId,
                                                studentStarId = Model.StudentStarId,
                                                processLineId = item.Id,
                                                studentId = item.StudentId,
                                                processHeaderId = item.ProcessHeaderId

                                            })"><i class="material-icons md-24 uk-text-warning">check_circle</i> @string.Format("{0}", item.Id == 0 ? "Chấm bài tổng kết" : "Xem lại")</a>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr class="uk-text-center">
                                    <td colspan="6">Hiền tài chưa báo cáo sao tổng kết</td>
                                </tr>
                            }
                    </tbody>
                </table>
            </div>
            <div class="pagination" data-total-count="@Model.paging.TotalRows" data-take="@Model.paging.PerPage"></div>
        </div>
    </div>
</div>

<footer id="footer" class="uk-text-center">
    <a id="btnReturn" href="@Url.Action("Index", "SummaryStar" , new { area="HienTai"})" class="md-btn md-btn-danger md-btn-wave-light md-btn-icon">
        <i class="material-icons md-color-white">&#xE15E;</i>
        Quay Lại
    </a>
</footer>

@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/cms/vendor/paging/pajinatify.js")"></script>
    <link type="text/css" href="@Url.Content("~/Scripts/cms/vendor/paging/pajinatify.css")" rel="stylesheet" />
    <script type="text/javascript">
        $(document).ready(function () {
          $('.pagination').pajinatify();
        $('.pagination').pajinatify('set', @Model.paging.CurPage, @Model.paging.TotalRows);
        $('.pajinatify__button').click(function () {
            var p = $(this).attr('data-page');
            window.location.href = '@Url.Action("Detail", "SummaryStar", new { area = "HienTai" })' + '?currPage=' + p + querySearch();
        });
        $('select').select2();
         $("#SchoolClassId").change(function () {
                window.location.href = '@Url.Action("Detail", "SummaryStar", new { area = "HienTai"})' + '?' + querySearch();
         });
        });

    function querySearch() {
        let querySearch = '';
        if ($('#StudentId').val() != '') {
            querySearch += '&Id=' + parseInt($('#StudentId').val());
        }
        if ($('#StudentStarId').val() != '') {
            querySearch += '&StudentStarId=' + parseInt($('#StudentStarId').val());
        }
        return querySearch;
    }
    </script>
}


