﻿@model GCSOFT.MVC.Web.Areas.Report.Data.RetailCustomer
@{
    ViewBag.Title = "Danh Sách Bán Hàng - Khách Lẻ"; 
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
<div id="page_content_inner">
    <div class="md-card">
        <div class="md-card-toolbar">
            <h3 class="md-card-toolbar-heading-text">
                Tìm kiếm
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-2">
                    <label for="Type">Số Điện Thoại</label>
                    @Html.TextBoxFor(model => model.PhoneNo, new { @class = "md-input label-fixed" })
                </div>
                <div class="uk-width-medium-1-2">
                    <label for="Type">Email</label>
                    @Html.TextBoxFor(model => model.Email, new { @class = "md-input label-fixed" })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1 uk-text-right">
                    <a id="btnSearch" href="javascript:void(0);" class="md-btn md-btn-primary uk-margin-small-top"><i class="material-icons">&#xE8B6;</i> Tìm Kiếm</a>
                    <a id="btnDownload" href="javascript:void(0);" class="md-btn md-btn-primary uk-margin-small-top"> Download</a>
                </div>
            </div>
        </div>
    </div>
    <div class="md-card">
        <div class="md-card-toolbar">
            <h3 class="md-card-toolbar-heading-text">
                @ViewBag.Title
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-overflow-container">
                <table class="uk-table uk-table-nowrap table_check">
                    <thead>
                        <tr>
                            <th class="uk-width-1-10 uk-text-center"><strong>STT</strong></th>
                            <th class="uk-width-1-10"><strong>Họ Tên</strong></th>
                            <th class="uk-width-1-10"><strong>Email</strong></th>
                            <th class="uk-width-1-10"><strong>Số Điện Thoại</strong></th>
                            <th class="uk-width-1-10"><strong>Ngày Mua</strong></th>
                            <th class="uk-width-1-10"><strong>Ngày kích hoạt</strong></th>
                            <th class="uk-width-1-10"><strong>Loại Tài Khoản</strong></th>
                            <th class="uk-width-1-10"><strong>Số Tiền</strong></th>
                            <th class="uk-width-1-10"><strong>Nguồn Khách Hàng</strong></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int stt = Model.Paging.startIndex; }
                        @foreach (var item in Model.RetailCustomerList)
                        {
                            <tr>
                                <td class="uk-text-center">@(++stt)</td>
                                <td>@item.FullName</td>
                                <td>@item.Email</td>
                                <td>@item.Phone</td>
                                <td>@(item.DateBuy.HasValue ? item.DateBuy.Value.ToShortDateString() : "")</td>
                                <td>@(item.ApplyDate.HasValue ? item.ApplyDate.Value.ToShortDateString() : "")</td>
                                <td>@item.LevelName</td>
                                <td>@item.PriceStr</td>
                                <td></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="pagination" data-total-count="@Model.Paging.TotalRows" data-take="@Model.Paging.PerPage"></div>
        </div>
    </div>
</div>
<script type="text/javascript" src="@Url.Content("~/Scripts/cms/vendor/paging/pajinatify.js")"></script>
<link type="text/css" href="@Url.Content("~/Scripts/cms/vendor/paging/pajinatify.css")" rel="stylesheet" />
<script type="text/javascript">
    $(document).ready(function () {
        $('.pagination').pajinatify();
        $('.pagination').pajinatify('set', @Model.Paging.CurPage, @Model.Paging.TotalRows);
        $('.pajinatify__button').click(function () {
            var p = $(this).attr('data-page');
            window.location.href = '@Url.Action("RetailCustomer", "Report", new { area = "Report" })' + '?p=' + p + querySearch();
        });
        $('#btnSearch').click(function () {
            window.location.href = '@Url.Action("RetailCustomer", "Report", new { area = "Report" })' + '?p=0' + querySearch();
        });
       
        $('#btnDownload').click(function () {
            var url = '/Report/Report/DownloadRetailCustomer?p=0' + querySearch();
            $(location).attr('href', url);
        });
    });
    function querySearch() {
        return '&PhoneNo=' + $('#PhoneNo').val() +
            '&Email=' + $('#Email').val();
    }
   
</script>