﻿@model IEnumerable<GCSOFT.MVC.Model.MasterData.M_MessageDetail>
<input type="file" id="imgupload" hidden />
<div class="uk-width-medium-1-4" style="margin-bottom:0.5%">
    <a id="btnExcel" href="javascript:void(0);" class="md-btn md-btn-primary uk-margin-small-top">Download Excel</a>
    <a id="btnImport" href="javascript:void(0);" class="md-btn md-btn-primary uk-margin-small-top">Import Excel</a>
</div>
<div class="md-card">
    <div class="md-card-toolbar">
        <div class="md-card-toolbar-actions">
            <a name="btnChoose" href="javascript:void(0)" class="md-btn md-btn-small md-btn-wave-light md-btn-flat">
                <i class="material-icons md-16 uk-text-primary">&#xE89E;</i>&nbsp;&nbsp;Chọn ...
            </a>
        </div>
        <h3 class="md-card-toolbar-heading-text">
            <i class="material-icons">&#xE896;</i>&nbsp;&nbsp;Học Viên
        </h3>
    </div>
    <div class="md-card-content">
        <div class="uk-grid" id="d_table_product">
            <div class="uk-width-medium-10-10">
                <div class="uk-overflow-container">
                    <table class="uk-table">
                        <thead>
                            <tr>
                                <th class="uk-width-1-10 uk-text-nowrap">STT</th>
                                <th>ID</th>
                                <th>Tài Khoản</th>
                                <th>Họ Tên</th>
                                <th>Số Điện Thoại</th>
                                <th>Email</th>
                                <th class="uk-width-1-10 uk-text-nowrap">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody id="tbody">
                            @if (Model != null)
                            {
                                int stt = 0;
                                var ListMessageDetail = Model.ToList();
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="uk-text-middle">
                                            @(++stt)
                                        </td>
                                        <td>
                                            @Html.HiddenFor(d => ListMessageDetail[stt - 1].UserID, new { @class = "idUser" })
                                            @item.UserID
                                        </td>
                                        <td>
                                            @Html.HiddenFor(d => ListMessageDetail[stt - 1].UserName)
                                            @item.UserName
                                        </td>
                                        <td>
                                            @Html.HiddenFor(d => ListMessageDetail[stt - 1].FullName)
                                            @item.FullName
                                        </td>
                                        <td>
                                            @Html.HiddenFor(d => ListMessageDetail[stt - 1].Phone)
                                            @item.Phone
                                        </td>
                                        <td>
                                            @Html.HiddenFor(d => ListMessageDetail[stt - 1].Email)
                                            @item.Email
                                        </td>
                                        <td class="uk-text-middle uk-text-right">
                                            <a href="javascript:void(0)" onclick="deleteRow('tbody', '@(stt - 1)', 'true');">
                                                <i class="material-icons">&#xE872;</i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="uk-width-medium-10-10">
                    <a name="btnChoose" href="javascript:void(0)" class="md-btn md-btn-small md-btn-wave-light md-btn-flat uk-float-right">
                        <i class="material-icons uk-text-primary">&#xE89E;</i>&nbsp;&nbsp;Chọn ...
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        OpenDialog($("[name='btnChoose']"), '@Url.Action("OpenPopupUser", "Message", new { area = "Administrator" })', '');

        $('#btnExcel').click(function () {
            window.location = '/Administrator/Message/DownloadExcel'
        });
        $('#btnImport').click(function () {
            $('#imgupload').trigger('click');
        });

        $("#imgupload").on('change', function () {
            this.files[0];
            sendFile(this.files[0]);
        });

    });

    function Choose() {
        $('[name="btnChoosed"]').click(function () {
            var userId = '';
            var userName = '';
            var fullName = '';
            var phone = '';
            var email = '';
            var stt = $("#tbody").find("tr").length;
            var suffix = parseInt($("#tbody").FindMaxIndex());
            var stringBuilder = "";
            var countSuccess = 0;
            for (var i = 1; i < $('[role="checkbox"]').length; i++) {
                if ($('[role="checkbox"]:eq(' + i + ')').is(':checked')) {
                    userId = $('[aria-describedby="jqGrid_Id"]:eq(' + (i - 1) + ')').text();
                    userName = $('[aria-describedby="jqGrid_userName"]:eq(' + (i - 1) + ')').text();
                    fullName = $('[aria-describedby="jqGrid_fullName"]:eq(' + (i - 1) + ')').text();
                    phone = $('[aria-describedby="jqGrid_Phone"]:eq(' + (i - 1) + ')').text();
                    email = $('[aria-describedby="jqGrid_Email"]:eq(' + (i - 1) + ')').text();

                    stringBuilder = '';
                    if (CheckUserId(userId)) {
                        countSuccess += 1;
                        stringBuilder += '<tr>';

                        stringBuilder += '<td class="uk-text-middle">';
                        stringBuilder += (stt + 1);
                        stringBuilder += '</td>';

                        stringBuilder += '<td>';
                        stringBuilder += userId;
                        stringBuilder += '<input id="' + Math.random() + '" type="hidden" value="' + userId + '" name="ListMessageDetail[' + (suffix) + '].UserID" class="idUser">';
                        stringBuilder += '</td>';

                        stringBuilder += '<td>';
                        stringBuilder += userName;
                        stringBuilder += '<input id="' + Math.random() + '" type="hidden" value="' + userName + '" name="ListMessageDetail[' + (suffix) + '].UserName">';
                        stringBuilder += '</td>';

                        stringBuilder += '<td>';
                        stringBuilder += fullName;
                        stringBuilder += '<input id="' + Math.random() + '" type="hidden" value="' + fullName + '" name="ListMessageDetail[' + (suffix) + '].FullName">';
                        stringBuilder += '</td>';

                        stringBuilder += '<td>';
                        stringBuilder += phone;
                        stringBuilder += '<input id="' + Math.random() + '" type="hidden" value="' + phone + '" name="ListMessageDetail[' + (suffix) + '].Phone">';
                        stringBuilder += '</td>';

                        stringBuilder += '<td>';
                        stringBuilder += email;
                        stringBuilder += '<input id="' + Math.random() + '" type="hidden" value="' + email + '" name="ListMessageDetail[' + (suffix) + '].Email">';
                        stringBuilder += '</td>';

                        stringBuilder += '<td class="uk-text-right">';
                        stringBuilder += '<a href="javascript:void(0);" onclick=\'deleteRow("tbody", "' + (stt) + '", "true");\'><i class="material-icons">&#xE872;</i></a>';
                        stringBuilder += '</td>';

                        stringBuilder += '</tr>';
                        if (stringBuilder != "") {
                            if ($("#tbody tr").length > 0) {
                                $("#tbody").find("tr").end().append(stringBuilder)
                            } else {
                                $("#tbody").html(stringBuilder);
                            }
                        }
                        ++stt;
                        ++suffix;
                        $("[role='row']:eq(" + (i + 1) + ")").fadeOut();
                    }
                }
            }
            $("#tbody").RebuildIndex();
            if (countSuccess != 0) {
                $().toastmessage('showSuccessToast', "Đã chọn <strong class=\".uk-text-success\">" + countSuccess + "</strong>");
            }
        });
    }

    var CheckUserId = (function (userId) {
        var flag = true;
        $.each($(".idUser"), function () {
            if ($(this).val() == userId)
                flag = false;
        });
        return flag;
    });


    function sendFile(file) {
        var formData = new FormData();
        formData.append(file.name, file);
        formData.append("stt", $("#tbody").find("tr").length);
        $.ajax({
            type: 'POST',
            url: '/Administrator/Message/RenderHtml',
            data: formData,
            contentType: false,
            processData: false,
            async: true,
            success: function (status) {
                if (status.success) {
                    $("#tbody").find("tr").end().append(status.html);
                    $("#tbody").RebuildIndex();
                    //InitValueContact();
                } else {
                    alert(status.html);
                }
                $('#imgupload').val('');
            },
            processData: false,
            contentType: false,
            error: function () {
                alert('error');
                $('#imgupload').val('');
            }
        });
    }
</script>