﻿<div class="md-card md-card-popup ">
    <div class="md-card-toolbar md-card-toolbar-popup">
        <div class="md-card-toolbar-actions-popup">
            <a name="btnClose" class="md-btn md-btn-flat md-btn-wave" href="javascript:void(0)"><i class="material-icons">&#xE8AC;</i>&nbsp;Đóng</a>
            <a name="btnChoosed" class="md-btn md-btn-flat md-btn-wave" href="javascript:void(0)"><i class="material-icons">&#xE2C0;</i>&nbsp;&nbsp;Chọn</a>
        </div>
        <h3 class="md-card-toolbar-heading-text">
            Danh sách người sử dụng
        </h3>
    </div>
    <div id="formSearch" class="md-card-content">
        <div class="uk-grid">
            <div class="uk-width-medium-1-3">
                <label for="Type">Họ Tên</label><br />
                <input id="fullName" class="md-input" />
            </div>
            <div class="uk-width-medium-1-3">
                <label for="Type">Số Điện Thoại</label><br />
                <input id="Phone" class="md-input" />
            </div>
            <div class="uk-width-medium-1-3">
                <label for="Type">Email</label><br />
                <input id="Email" class="md-input" />
            </div>
        </div>
    </div>
    <div class="md-card-content md-card-content-popup">
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        LoadGrid(BuildURL());
        $('[name="btnClose"]').click(function () {
            $.fancybox.close();
        });
        $('#fullName, #Phone, #Email').change(function () {
                ReloadGrid(BuildURL());
          });
    });
    function LoadGrid(url) {
        $("#jqGrid").jqGrid({
            url: url,
            mtype: "get",
            datatype: "json",
            colNames: ['UserId', 'UserName', 'Họ Tên', 'Số Điện Thoại', 'Email'],
            colModel: [
                        { name: 'Id', index: 'Id', hidden: true },
                        { name: 'userName', index: 'userName', hidden: true },
                        { name: 'fullName', index: 'fullName' },
                        { name: 'Phone', index: 'Phone' },
                        { name: 'Email', index: 'Email' }
            ],
            rowNum: 20,
            rowList: [20, 40, 60, 80, 100],
            pager: '#jqGridPager',
            sortname: 'ID',
            viewrecords: true,
            width: 1000,
            height: $(window).height() / 2,
            sortorder: "desc",
            multiselect: true,
            rownumbers: true,
            viewsortcols: [true, 'vertical', true],
            loadComplete: function () {
                //gridSearch('jqGrid', 'search-button');
                Choose();
            },
            jsonReader: {
                root: "Rows",
                page: "jqGridPager",
                total: "Total",
                records: "Records",
                repeatitems: false,
                id: "Id"
            }
        });
        $("#jqGrid").jqGrid('navGrid', '#jqGridPager',
                { edit: false, add: false, del: false }, {}, {}, {},
                {
                    multipleSearch: true,
                    closeOnEscape: true,
                    closeAfterSearch: true,
                    showQuery: true,
                    searchOnEnter: true,
                    sopt: ['cn', 'eq', 'ne', 'lt', 'le', 'gt', 'ge']
                }
            );
    }
    function ReloadGrid(url) {
        $("#jqGrid").setGridParam({ url: url, page: 1 }).trigger("reloadGrid");
    }
    function BuildURL() {
            var stringUrl = '@Url.Action("LoadDataUser", "Student", new { area = "Community" })';
            stringUrl += '?fullName=' + $('#fullName').val();
            stringUrl += '&Phone=' + $('#Phone').val();
            stringUrl += '&Email=' + $('#Email').val();
            return encodeURI(stringUrl);
        }
</script>