﻿@model GCSOFT.MVC.Web.Areas.API.Data.ImageAndVideos
@{
    ViewBag.Title = "Danh Sách Hình Ảnh và Video";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
<div id="page_content_inner">
    <div class="md-card">
        <div class="md-card-toolbar">
            <h3 class="md-card-toolbar-heading-text">
                Tìm kiếm
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-3">
                    <div class="parsley-row">
                        <label for="Type">Danh Sách Nhóm</label>
                        <br />
                        @Html.DropDownListFor(model => model.GroupCode, Model.GroupCodes, "[ Chọn ]", new { @class = "md-input label-fixed" })
                    </div>
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1 uk-text-right">
                    <a id="btnSearch" href="javascript:void(0);" class="md-btn md-btn-primary uk-margin-small-top"><i class="material-icons">&#xE8B6;</i> Tìm Kiếm</a>
                </div>
            </div>
        </div>
    </div>
    <div class="md-card">
        <div class="md-card-toolbar">
            <h3 class="md-card-toolbar-heading-text">
                @ViewBag.Title
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-overflow-container">
                <table class="uk-table uk-table-nowrap table_check">
                    <thead>
                        <tr>
                            <th class="uk-width-1-10 uk-text-center"><strong>STT</strong></th>
                            <th class="uk-width-1-10"><strong>Mã nhóm</strong></th>
                            <th class="uk-width-1-10"><strong>Tên nhóm</strong></th>
                            <th class="uk-width-1-10"><strong>Tiêu đề</strong></th>
                            <th class="uk-width-1-10"><strong>Link youtube</strong></th>
                            <th class="uk-width-1-10"><strong>Link website</strong></th>
                            <th class="uk-width-1-10"><strong>Hình desktop</strong></th>
                            <th class="uk-width-1-10"><strong>Hình Mobile</strong></th>
                            <th class="uk-width-1-10"><strong>Hình Ipad</strong></th>
                            <th class="uk-width-1-10"><strong>Hình Ipad</strong></th>
                            <th class="uk-width-1-10"><strong>Sắp xếp</strong></th>
                            <th class="uk-width-1-10"><strong>Nội dung</strong></th>
                            <th class="uk-width-1-10"><strong>Action</strong></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int stt = Model.Paging.startIndex; }
                        @foreach (var item in Model.ListImageAndVideo)
                        {
                            <tr>
                                <td class="uk-text-center">@(++stt)</td>
                                <td>@item.GroupCode</td>
                                <td>@item.GroupName</td>
                                <td>@item.Title</td>
                                <td>@item.Link_Youtube</td>
                                <td>@item.Link_AnotherWeb</td>
                                <td>@item.Image_Desktop</td>
                                <td>@item.Image_Mobile</td>
                                <td>@item.Image_Desktop</td>
                                <td>@item.Image_Ipad</td>
                                <td>@item.SortOrder</td>
                                <td>@item.Content</td>
                                <td>
                                    <a href="/API/ImageAndVideo/Edit/@item.Id" style="margin-right: 10px;">Sửa</a>
                                    <a onclick="DeleteImageAndVideo(@item.Id)" style="margin-right: 10px;">Xóa</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="pagination" data-total-count="@Model.Paging.TotalRows" data-take="@Model.Paging.PerPage"></div>
        </div>
        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-1 uk-text-center">
                <a id="btnAdd" href="/API/ImageAndVideo/Create" class="md-btn md-btn-primary uk-margin-small-top">Thêm mới</a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="@Url.Content("~/Scripts/cms/vendor/paging/pajinatify.js")"></script>
<link type="text/css" href="@Url.Content("~/Scripts/cms/vendor/paging/pajinatify.css")" rel="stylesheet" />
<script type="text/javascript">
    $(document).ready(function () {
        $('.pagination').pajinatify();
        $('.pagination').pajinatify('set', @Model.Paging.CurPage, @Model.Paging.TotalRows);
        $('.pajinatify__button').click(function () {
            var p = $(this).attr('data-page');
            window.location.href = '@Url.Action("Index", "ImageAndVideo", new { area = "API" })' + '?p=' + p + querySearch();
        });
        $('#btnSearch').click(function () {
            window.location.href = '@Url.Action("Index", "ImageAndVideo", new { area = "API" })' + '?p=0' + querySearch();
        });
        $('select').select2({
            selectOnClose: true
        });
        $('#btnDownload').click(function () {
            var url = '/Agency/Report/DownloadDetailCustomer?p=0' + querySearch();
            $(location).attr('href', url);
        });

    });

    function querySearch() {
        return '&groupCode=' + $('#GroupCode option:selected').val();
    }

    function DeleteImageAndVideo(id) {
        var r = confirm("Bạn có chắc chắn muốn xóa?");
        if (r == true) {
            window.location.href = '@Url.Action("Delete", "ImageAndVideo", new { area = "API" })' + '?id=' + id;
        }
    }

</script>