﻿@model GCSOFT.MVC.AGENCY.ViewModels.HienTai.O_ParentOriginReport
@{
    ViewBag.Title = "BÁO CÁO";
}

<div id="page_content_inner">
    <div class="md-card">
        <div class="md-card-toolbar">
            <h3 class="md-card-toolbar-heading-text">
                Tìm kiếm
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-3">
                    <label for="Type">Từ ngày</label><br />
                    @Html.TextBoxFor(model => model.StartDate
                                         , new Dictionary<string, Object> {
                                                { "class", "md-input label-fixed validate[required,funcCall[DateFormat[]]" }
                                                , { "autocomplete", "off" }
                                                , { "placeholder", "dd/MM/yyyy" }
                                                , { "data-uk-datepicker", "{format:'DD/MM/YYYY'}" }
                                         })
                </div>
                <div class="uk-width-medium-1-3">
                    <label for="Type">Đến ngày</label><br />
                    @Html.TextBoxFor(model => model.EndDate
                                         , new Dictionary<string, Object> {
                                                { "class", "md-input label-fixed validate[required,funcCall[DateFormat[]]" }
                                                , { "autocomplete", "off" }
                                                , { "placeholder", "dd/MM/yyyy" }
                                                , { "data-uk-datepicker", "{format:'DD/MM/YYYY'}" }
                                         })
                </div>
                <div class="uk-width-medium-1-3" style="padding-top: 45px;">
                    @Html.CheckBoxFor(model=>model.IsAll)
                    <span>Tất cả</span>
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1 uk-text-right">
                    <a id="btnSearch" href="javascript:void(0);" class="md-btn md-btn-primary uk-margin-small-top"><i class="material-icons">&#xE8B6;</i> Lọc dữ liệu</a>
                </div>
            </div>
        </div>
    </div>
    <div class="md-card">
        <div class="md-card-toolbar">
            <h3 class="md-card-toolbar-heading-text">
                BÁO CÁO VỀ DỮ LIỆU
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-grid uk-grid-width-large-1-3 uk-grid-width-medium-1-2 uk-grid-medium uk-sortable sortable-handler hierarchical_show" data-uk-sortable data-uk-grid-margin>
                <div>
                    <div class="md-card">
                        <div class="md-card-content" style="text-align:center">
                            <span class="uk-text-muted uk-text-small">Số lượng nhập qua Email</span>
                            <h2 class="uk-margin-remove"><span class="countUpMe">@Model.CountInputEmail</span></h2>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="md-card">
                        <div class="md-card-content" style="text-align:center">
                            <span class="uk-text-muted uk-text-small">Số lượng nhập qua SMS</span>
                            <h2 class="uk-margin-remove"><span class="countUpMe">@Model.CountInputSMS</span></h2>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="md-card">
                        <div class="md-card-content" style="text-align:center">
                            <span class="uk-text-muted uk-text-small">Số lượng nhập qua APP</span>
                            <h2 class="uk-margin-remove"><span class="countUpMe">@Model.CountInputAPP</span></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-grid uk-grid-width-large-1-1 uk-grid-width-medium-1-1 uk-grid-medium uk-sortable sortable-handler hierarchical_show" data-uk-sortable data-uk-grid-margin>
                <div>
                    <div class="md-card">
                        <div class="md-card-content" style="text-align:center">
                            <span class="uk-text-muted uk-text-small">Tổng số lượng</span>
                            <h2 class="uk-margin-remove"><span class="countUpMe">@Model.CountInputSum</span></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="md-card">
        <div class="md-card-toolbar">
            <h3 class="md-card-toolbar-heading-text">
                BÁO CÁO VỀ TRUY CẬP
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-grid uk-grid-width-large-1-3 uk-grid-width-medium-1-2 uk-grid-medium uk-sortable sortable-handler hierarchical_show" data-uk-sortable data-uk-grid-margin>
                <div>
                    <div class="md-card">
                        <div class="md-card-content" style="text-align:center">
                            <span class="uk-text-muted uk-text-small">Số lượng truy cập qua Email</span>
                            <h2 class="uk-margin-remove"><span class="countUpMe">@Model.CountClickEmail</span></h2>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="md-card">
                        <div class="md-card-content" style="text-align:center">
                            <span class="uk-text-muted uk-text-small">Số lượng truy cập qua SMS</span>
                            <h2 class="uk-margin-remove"><span class="countUpMe">@Model.CountClickSMS</span></h2>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="md-card">
                        <div class="md-card-content" style="text-align:center">
                            <span class="uk-text-muted uk-text-small">Số lượng nhập qua APP</span>
                            <h2 class="uk-margin-remove"><span class="countUpMe">@Model.CountClickAPP</span></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-grid uk-grid-width-large-1-1 uk-grid-width-medium-1-1 uk-grid-medium uk-sortable sortable-handler hierarchical_show" data-uk-sortable data-uk-grid-margin>
                <div>
                    <div class="md-card">
                        <div class="md-card-content" style="text-align:center">
                            <span class="uk-text-muted uk-text-small">Tổng số lượng truy cập</span>
                            <h2 class="uk-margin-remove"><span class="countUpMe">@Model.CountClickSum</span></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('select').select2();
        $('#btnSearch').click(function () {
            window.location.href = '@Url.Action("Report", "ParentOrigin", new { area = "HienTai" })' + '?p=0' + querySearch();
        });
    });
    function querySearch() {
        var all = false;
        if ($('#IsAll').is(":checked")) {
            all = true;
        }
        return '&StartDate=' + $('#StartDate').val() + '&EndDate=' + $('#EndDate').val() + '&IsAll=' + all;
    }
    function DateFormat(field, rules, i, options) {
        var regex = /^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$/;
        if (!regex.test(field.val())) {
            return "Vui lòng nhập ngày theo định dạng dd/MM/yyyy.";
        }
    }
</script>

