﻿@model GCSOFT.MVC.AGENCY.Areas.HienTai.Data.FAQsViewModel

<div id="page_content_inner" class="hierarchical_slide">
    <div class="md-card">
        <div class="md-card-toolbar">
            <div class="md-card-toolbar-actions">
                <i class="md-icon material-icons md-card-toggle">&#xE316;</i>
            </div>
            <h3 class="md-card-toolbar-heading-text">
                <i class="material-icons">&#xE894;</i>&nbsp;&nbsp;@ViewBag.Title
                @Html.HiddenFor(model => model.Id)
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-5">
                    <label for="StatusCode">Loại Câu hỏi</label>
                    @Html.DropDownListFor(model => model.StatusCode, Model.StatusList, "[ Chọn ]", new { @class = "md-input label-fixed" })
                </div>
                <div class="uk-width-medium-1-1">
                    <label>Tiêu Đề</label>
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "md-input label-fixed" } })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    <label>Câu hỏi</label>
                    @Html.TextAreaFor(model => model.Question, new { htmlAttributes = new { @cols = "30", @rows = "3", @class = "md-input label-fixed validate[required]" } })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    <label>Trả Lời</label>
                    @Html.TextAreaFor(model => model.Answer, new { htmlAttributes = new { @cols = "30", @rows = "3", @class = "md-input label-fixed validate[required]" } })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-2">
                    <label>Hiển thị</label>
                    @Html.CheckBoxFor(model => model.IsActive, new { @class = "" })
                </div>
                <div class="uk-width-medium-1-2">
                    <label>Thứ Tự</label>
                    @Html.TextAreaFor(model => model.Orders, new { @class = "md-input label-fixed validate[required]" })
                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footer" class="uk-text-center">
    <a id="btnReturn" href="@Url.Action("Index", "FAQs", new { area = "HienTai" })" class="md-btn md-btn-danger md-btn-wave-light md-btn-icon">
        <i class="material-icons md-color-white">&#xE15E;</i>
        Quay Lại
    </a>
    <a class="md-btn md-btn-primary md-btn-wave-light md-btn-icon" href="javascript:void(0)" id="btnSave">
        <span class="material-icons md-color-white">save</span>
        Lưu Thông Tin
    </a>
</footer>

@*<div class="md-fab-wrapper">
    <div class="md-fab md-fab-accent md-fab-sheet md-fab-small">
        <i class="material-icons">&#xE30F;</i>
        <div class="md-fab-sheet-actions">
            <a id="btnReturn" href="@Url.Action("Index", "Ticket", new { area = "HienTai" })" class="md-color-white"><i class="material-icons md-color-white">&#xE15E;</i> <span class="gc-text-decoration uk-text-warning">Q</span>uay lại</a>
            <a id="btnSave" href="javascript:void(0)" class="md-color-white"><i class="material-icons md-color-white">&#xE161;</i> <span class="gc-text-decoration uk-text-warning">L</span>ưu</a>
        </div>
    </div>
</div>*@
<script type="text/javascript">
    $(document).ready(function () {
        gcHotkey._return();
        gcHotkey._save();
        $('select').select2();
        CreateSuccess('@Url.Action("Create", "FAQs", new { area = "HienTai" })');
        $('#btnSave').click(function () {
            Save($("#frm"), true);
        });

        CKEDITOR.replace('Question', { height: 150 });
        CKEDITOR.instances.Question.on('change', function () {
            $('[name="Question"]').val(CKEDITOR.instances.Question.getData());
        });
        CKEDITOR.replace('Answer', { height: 150 });
        CKEDITOR.instances.Anser.on('change', function () {
            $('[name="Answer"]').val(CKEDITOR.instances.Anser.getData());
        });

    });
</script>
