﻿@model GCSOFT.MVC.AGENCY.Areas.HienTai.Data.FAQsViewModel
<div id="page_content_inner" class="hierarchical_slide">
    <div class="md-card">
        <div class="md-card-toolbar">
            <div class="md-card-toolbar-actions">
                <i class="md-icon material-icons md-card-toggle">&#xE316;</i>
            </div>
            <h3 class="md-card-toolbar-heading-text">
                <i class="material-icons">&#xE894;</i>&nbsp;&nbsp;Xem Chi Tiết Câu Hỏi Thường Gặp
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    <label>Loại Câu Hỏi</label> <br />
                    <strong>@Model.StatusList.FirstOrDefault(z => z.Selected).Text</strong>
                    @*@Html.TextAreaFor(model => model.Question, new { @cols = "30", @rows = "3", @class = "md-input", @readonly = true })*@
                </div>
                <div class="uk-width-medium-1-1">
                    <label>Tiêu Đề</label> <br />
                    <strong>@Model.Title</strong>
                    @*@Html.TextAreaFor(model => model.Question, new { @cols = "30", @rows = "3", @class = "md-input", @readonly = true })*@
                </div>
                <div class="uk-width-medium-1-1">
                    <label>Câu Hỏi</label> <br />
                    <strong>@Html.Raw(Model.Question)</strong>
                    @*@Html.TextAreaFor(model => model.Question, new { @cols = "30", @rows = "3", @class = "md-input", @readonly = true })*@
                </div>
                <div class="uk-width-medium-1-1">
                    <label>Trả Lời</label> <br />
                    <strong>@Html.Raw(Model.Answer)</strong>
                    @* <textarea class="md-input autosized" cols="30" rows="5">@Html.Raw(Model.Answer)</textarea>*@
                    @*@Html.Raw(Html.TextAreaFor(model => model.Answer, new { @cols = "30", @rows = "3", @class = "md-input", @readonly = true }))*@
                </div>
            </div>
        </div>
    </div>
</div>
