﻿@model IEnumerable<GCSOFT.MVC.AGENCY.Areas.Transaction.Data.SalesOrderList>
@{
    ViewBag.Title = "DANH SÁCH PHIẾU NHẬN HÀNG";
}
<div id="page_content_inner">
    <div class="md-card">
        <div class="md-card-toolbar">
            <h3 class="md-card-toolbar-heading-text">
                @ViewBag.Title
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-overflow-container">
                <table class="uk-table uk-table-nowrap table_check">
                    <thead>
                        <tr>
                            <th class="uk-width-1-10 uk-text-center">Mã Đơn Hàng</th>
                            <th class="uk-width-3-10">Khách Hàng</th>
                            <th class="uk-width-1-10 uk-text-center">Ngày Giao Hàng</th>
                            <th class="uk-width-1-10 uk-text-center">Số Lượng Thẻ</th>
                            <th class="uk-width-1-10 uk-text-center">Số Thẻ Tặng</th>
                            <th class="uk-width-1-10 uk-text-center">Tổng Số Lượng</th>
                            <th class="uk-width-1-10 uk-text-center">Giá Trị</th>
                            <th class="uk-width-1-10 uk-text-center">Trạng Thái</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td><a href="@Url.Action("Details", "AgencyShipment", new { area = "Transaction", id=item.Code })">@item.Code</a></td>
                            <td>@item.CustomerName</td>
                            <td class="uk-text-center">@item.DocumentDateStr</td>
                            <td class="uk-text-right">@item.NoOfCardStr</td>
                            <td class="uk-text-right">@item.GiftCardStr</td>
                            <td class="uk-text-right">@item.TotalCardStr</td>
                            <td class="uk-text-right">@item.TotalAmountStr</td>
                            <td class="uk-text-center"><span class="uk-badge">@item.StatusName</span></td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>