﻿@model GCSOFT.MVC.Web.Areas.ChienGa.Data.ParcelOfLandViewModel

<div id="page_content_inner" class="hierarchical_slide">
    <div class="md-card">
        <div class="md-card-toolbar">
            <div class="md-card-toolbar-actions">
                <i class="md-icon material-icons md-card-toggle">&#xE316;</i>
            </div>
            <h3 class="md-card-toolbar-heading-text">
                Chủ Sử Dụng
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.IsCreate)
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-5">
                    <label for="FullNameMale">Số Thửa</label>
                    @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "md-input label-fixed validate[required]", @readonly = true } })
                    @*@Html.DropDownListFor(model => model.StatusCode, Model.StatusList, "[ Chọn ]", new { @class = "md-input label-fixed" })*@
                </div>
                <div class="uk-width-medium-1-5">
                    <label for="DateCreate">Ngày Tạo</label>
                    @*@Html.EditorFor(model => model.DateCreate, new { htmlAttributes = new { @class = "md-input label-fixed" } })*@
                    @Html.TextBoxFor(model => model.DateCreateStr
                                               , new Dictionary<string, Object> {
                                                   { "class", "md-input label-fixed validate[required,funcCall[DateFormat[]]" }
                                                   , { "autocomplete", "off" }
                                                   , { "placeholder", "dd/MM/yyyy" }
                                                   , { "data-uk-datepicker", "{format:'DD/MM/YYYY'}" }
                                               })
                </div>
                <div class="uk-width-medium-1-5">
                </div>
                <div class="uk-width-medium-1-5">
                </div>
                <div class="uk-width-medium-1-5">
                </div>
                <div class="uk-width-medium-1-4">
                    <label for="FullNameMale">Chủ Sử Dụng(Vợ/Chồng)</label>
                    @Html.EditorFor(model => model.FullNameMale, new { htmlAttributes = new { @class = "md-input label-fixed" } })
                </div>
                <div class="uk-width-medium-1-4">
                    @Html.DropDownListFor(model => model.Vocative1, Model.VocativeList1, "[ Chọn ]", new { @class = "md-input label-fixed validate[required]" })
                </div>
                <div class="uk-width-medium-1-4">
                    <label for="YearBirthMale">Năm Sinh</label>
                    @Html.EditorFor(model => model.YearBirthMale, new { htmlAttributes = new { @class = "md-input label-fixed" } })
                </div>
                <div class="uk-width-medium-1-4">
                    <label for="YearBirthMale">CCCD/CMND</label>
                    @Html.EditorFor(model => model.CMND1, new { htmlAttributes = new { @class = "md-input label-fixed" } })
                </div>
                <div class="uk-width-medium-1-4">
                    <label for="FullNameFemale">Chủ Sử Dụng(Vợ/Chồng)</label>
                    @Html.EditorFor(model => model.FullNameFemale, new { htmlAttributes = new { @class = "md-input label-fixed" } })
                </div>
                <div class="uk-width-medium-1-4">
                    @Html.DropDownListFor(model => model.Vocative2, Model.VocativeList2, "[ Chọn ]", new { @class = "md-input label-fixed" })
                </div>
                <div class="uk-width-medium-1-4">
                    <label for="YearBirthFemale">Năm Sinh</label>
                    @Html.EditorFor(model => model.YearBirthFemale, new { htmlAttributes = new { @class = "md-input label-fixed" } })
                </div>
                <div class="uk-width-medium-1-4">
                    <label for="YearBirthMale">CCCD/CMND</label>
                    @Html.EditorFor(model => model.CMND2, new { htmlAttributes = new { @class = "md-input label-fixed" } })
                </div>
                <div class="uk-width-medium-1-5">
                    <label for="Phone">Điện Thoại</label>
                   @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "md-input label-fixed" } })
                </div>
                <div class="uk-width-medium-1-2">
                    <label for="Address">Địa Chỉ</label>
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "md-input label-fixed" } })
                </div>
            </div>
            </div>
    </div>

    <div class="md-card">
        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-1-2">

                <div class="md-card-toolbar uk-width-1-2">
                    <h3 class="md-card-toolbar-heading-text">
                        Thông Tin Thửa Cũ
                    </h3>
                </div>
                <div class="md-card-content">
                    <div class="uk-grid" data-uk-grid-margin>
                        <div class="uk-width-medium-1-2">
                            <label for="FullNameMale">Thửa Đất</label>
                            @Html.EditorFor(model => model.ParcelOld, new { htmlAttributes = new { @class = "md-input label-fixed validate[required]" } })
                            @*@Html.DropDownListFor(model => model.StatusCode, Model.StatusList, "[ Chọn ]", new { @class = "md-input label-fixed" })*@
                        </div>
                        <div class="uk-width-medium-1-2">
                            <label for="FullNameMale">Xã/Phường</label>
                            @Html.DropDownListFor(model => model.Ward, Model.WardList, "[ Chọn ]", new { @class = "md-input label-fixed validate[required]" })
                        </div>
                    </div>
                    <div class="uk-grid" data-uk-grid-margin>
                        <div class="uk-width-medium-1-2">
                            <label for="FullNameMale">Tờ Bản Đồ</label>
                            @Html.EditorFor(model => model.MapOld, new { htmlAttributes = new { @class = "md-input label-fixed validate[required]" } })

                        </div>
                        <div class="uk-width-medium-1-2">
                            <label for="FullNameMale">Loại Đất</label>
                            @Html.DropDownListFor(model => model.SoilType, Model.SoilTypeList, "[ Chọn ]", new { @class = "md-input label-fixed validate[required]" })
                        </div>
                    </div>
                    <div class="uk-grid" data-uk-grid-margin>
                        <div class="uk-width-medium-1-2">
                            <label for="FullNameMale">Diện Tích</label>
                            @Html.EditorFor(model => model.AreaOld, new { htmlAttributes = new { @class = "md-input label-fixed validate[required]" } })
                        </div>
                        <div class="uk-width-medium-1-2">
                            <label for="FullNameMale">Biến Động</label>
                            @Html.DropDownListFor(model => model.Volatility, Model.VolatilityList, "[ Chọn ]", new { @class = "md-input label-fixed" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-width-1-2">

                <div class="md-card-toolbar uk-width-1-2">
                    <h3 class="md-card-toolbar-heading-text">
                        Thông Tin Thửa Mới
                    </h3>
                </div>
                <div class="md-card-content">
                    <div class="uk-grid" data-uk-grid-margin>
                        <div class="uk-width-medium-1-2">
                            <label for="FullNameMale">Thửa Đất Cũ</label>
                            @Html.EditorFor(model => model.ParcelBig, new { htmlAttributes = new { @class = "md-input label-fixed", @readonly = true } })
                        </div>
                        <div class="uk-width-medium-1-2">
                            <label for="FullNameMale">Diện Tích Thửa Cũ</label>
                            @Html.EditorFor(model => model.AreaBig, new { htmlAttributes = new { @class = "md-input label-fixed", @readonly = true } })
                        </div>
                        <div class="uk-width-medium-1-3">
                            <label for="FullNameMale">Thửa Đất</label>
                            @Html.EditorFor(model => model.ParcelNew, new { htmlAttributes = new { @class = "md-input label-fixed validate[required]" } })
                        </div>
                        <div class="uk-width-medium-1-3">
                            <label for="FullNameMale">Tờ Bản Đồ</label>
                            @Html.EditorFor(model => model.MapNew, new { htmlAttributes = new { @class = "md-input label-fixed validate[required]" } })
                        </div>
                        <div class="uk-width-medium-1-3">
                            <label for="FullNameMale">Diện Tích</label>
                            @Html.EditorFor(model => model.AreaNew, new { htmlAttributes = new { @class = "md-input label-fixed validate[required]" } })
                        </div>
                    </div>
                    <div class="uk-grid" data-uk-grid-margin>
                        <div class="uk-width-medium-1-1">
                            <label for="FullNameMale">Ghi Chú</label>
                            @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "md-input label-fixed" } })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="md-card">
        <div class="md-card-toolbar">
            <div class="md-card-toolbar-actions">
                <i class="md-icon material-icons md-card-toggle">&#xE316;</i>
            </div>
            <h3 class="md-card-toolbar-heading-text">
                Danh Sách Thửa Mới
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-1-1">
                    <div class="uk-overflow-container">
                        <table id="table_content" class="uk-table uk-table-nowrap table_check uk-table-striped">
                            <thead>
                                <tr>
                                    <th>Tờ Bản Đố</th>
                                    <th>Thử Đất</th>
                                    <th>Diện Tích</th>
                                    <th>Xã/Phường</th>
                                    <th>Loại Đất</th>
                                    <th>Tên người sử dụng</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer id="footer" class="uk-text-center">
        <a id="btnReturn" href="@Url.Action("Index", "ParcelOfLand", new { area = "ChienGa" })" class="md-btn md-btn-danger md-btn-wave-light md-btn-icon">
            <i class="material-icons md-color-white">&#xE15E;</i>
            Quay Lại
        </a>
        <a class="md-btn md-btn-primary md-btn-wave-light md-btn-icon" href="javascript:void(0)" id="btnSave">
            <span class="material-icons md-color-white">save</span>
            Lưu Thông Tin
        </a>
    </footer>

    @*<div class="md-fab-wrapper">
            <div class="md-fab md-fab-accent md-fab-sheet md-fab-small">
                <i class="material-icons">&#xE30F;</i>
                <div class="md-fab-sheet-actions">
                    <a id="btnReturn" href="@Url.Action("Index", "Ticket", new { area = "HienTai" })" class="md-color-white"><i class="material-icons md-color-white">&#xE15E;</i> <span class="gc-text-decoration uk-text-warning">Q</span>uay lại</a>
                    <a id="btnSave" href="javascript:void(0)" class="md-color-white"><i class="material-icons md-color-white">&#xE161;</i> <span class="gc-text-decoration uk-text-warning">L</span>ưu</a>
                </div>
            </div>
        </div>*@
    <script type="text/javascript">
    $(document).ready(function () {
        gcHotkey._return();
        gcHotkey._save();
       /*$('select').select2();*/
        CreateSuccess('@Url.Action("Create", "ParcelOfLand", new { area = "ChienGa" })');
        if ($('#IsCreate').val() != 'True') {
            LoadNewPrace();
        }
        $('#btnSave').click(function () {

            if ($('#IsCreate').val()=='True') {
                $.post('@Url.Action("CheckParcel", "ParcelOfLand", new { area = "ChienGa" })',
                    {
                        ward: $('#Ward').val(),
                        map: $('#MapNew').val(),
                        parcel: $('#ParcelNew').val(),
                        area: $('#AreaNew').val(),
                    }, function (data) {
                        if (data.hasError) {
                            $().toastmessage('showToast', {
                                text: 'Diện tích đã tồn tại',
                                sticky: false,
                                position: 'top-center',
                                type: 'warning'
                            });
                        }
                        //else if (data.hasCode) {
                        //    $().toastmessage('showToast', {
                        //        text: 'Mã nhân viên đã tồn tại',
                        //        sticky: false,
                        //        position: 'top-center',
                        //        type: 'warning'
                        //    });
                        //}
                        else {
                            Save($("#frm"), true);
                        }
                    });
            } else
            {
                Save($("#frm"), true);
            }

        });

        //$(function () {
        //    $('#table_content').on('click', 'tr', function () {
        //        var tr = $(this).closest("tr")   // Finds the closest row <tr>
        //        $("#MapOld").val(parseInt(tr.find(".Map").text()));
        //        $("#ParcelOld").val(parseInt(tr.find(".Parcel").text()));
        //        $("#AreaOld").val(parseFloat(tr.find(".Area").text()));
        //    });
        //});

        $('#Ward, #SoilType, #Volatility, #MapOld, #Code').on('change', function (e) {
            //$("#MapOld").val('');
            //$("#ParcelOld").val('');
            //$("#AreaOld").val('');
            LoadNewPrace();
        });
    });

    function LoadNewPrace() {
            $.ajax({
                url: '/ChienGa/ParcelOfLand/LoadParcel?Ward=' + $('#Ward').val() + '&soilType=' + $('#SoilType').val() + '&volatility=' + $('#Volatility').val() + '&mapOld=' + $('#MapOld').val() + '&parcelOld=' + $('#ParcelOld').val() + '&areaOld=' + $('#AreaOld').val() + '&code=' + $('#Code').val(),
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    if (data.length == 0) {
                        $('#table_content tbody tr').remove();
                        $("#ParcelBig").val(0);
                        $("#AreaBig").val(0);
                        if ($('#IsCreate').val() == 'True') {

                            $("#MapNew").val(0);
                            $("#ParcelNew").val(0);
                            $("#AreaNew").val(0);
                        }
                    }
                    else {
                        $('#table_content tbody tr').remove();
                        $("#ParcelBig").val(data[0].Parcel);
                        $("#AreaBig").val(data[0].Area);
                        if ($('#IsCreate').val() == 'True') {

                            $("#ParcelOld").val(data[0].Parcel);
                            $("#AreaOld").val((data[0].Area));

                            $("#MapNew").val($('#MapOld').val());
                            $("#ParcelNew").val(data[0].Parcel);
                            $("#AreaNew").val((data[0].Area) + 1);
                        }
                    }
                   
                   
                    $.each(data, function (index, value) {
                        $('#table_content tbody').append(
                            "<tr><td class='Map'>" + value.Map
                            + "</td><td class='Parcel'>" + value.Parcel
                            + "</td><td class='Area'>" + value.Area
                            + "</td><td class='Ward'>" + value.Ward
                            + "</td><td class='SoilType'>" + value.SoilType
                            + "</td><td class='FullName'>" + value.FullName
                            + "</td></tr > "
                        );
                    });


                },
                error: function () {
                    console.log('error');
                }
            });
        }
    function DateFormat(field, rules, i, options) {
        var regex = /^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$/;
        if (!regex.test(field.val())) {
            return "Vui lòng nhập ngày theo định dạng dd/MM/yyyy.";
        }
    }
    </script>
