﻿@model IEnumerable<GCSOFT.MVC.Model.StoreProcedue.SpCustomerInfo>
<table class="uk-table uk-table-nowrap table_check">
    <thead>
        <tr>
            <th class="uk-width-1-10">Code</th>
            <th class="uk-width-1-10">Họ Tên</th>
            <th class="uk-width-1-10">Điện Thoại</th>
            <th class="uk-width-1-10">Email</th>
            <th class="uk-width-1-10">Owner</th>
            <th class="uk-width-1-10">Số Lô Thẻ</th>
            <th class="uk-width-1-10">Số Serial</th>
            <th class="uk-width-1-10">Mã Kích Hoạt</th>
            <th class="uk-width-1-10">Thời Hạn</th>
            <th class="uk-width-1-10">Trạng Thái</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Code</td>
            <td>@item.FullName</td>
            <td>@item.PhoneNo</td>
            <td>@item.Email</td>
            <td>@item.Owner</td>
            <td>@item.LotNumber</td>
            <td>@item.SerialNumber</td>
            <td>
                @item.CardNo2
                <input type="hidden" value="@item.CardNo" />
            </td>
            <td>@item.DurationName</td>
            <td><span class="uk-badge">@item.Active</span></td>
        </tr>
        }
    </tbody>
</table>