﻿@model IEnumerable<GCSOFT.MVC.Model.StoreProcedue.SpUserInfo>
    @{ 
        ViewBag.isSalesAdmin = true;
    }
<table class="uk-table uk-table-nowrap table_check">
    <thead>
        <tr>
            <th class="uk-width-1-10">Tên Đăng Nhập</th>
            @if (ViewBag.isSalesAdmin)
            {
                <th class="uk-width-1-10">Mật Khẩu</th>
            }
            <th class="uk-width-1-10">Họ Tên</th>
            <th class="uk-width-1-10">Email</th>
            <th class="uk-width-1-10">Điện Thoại</th>
            <th>Địa Chỉ</th>
            <th class="uk-width-1-10">Số Serial</th>
            <th class="uk-width-1-10">Ngày Active</th>
            <th class="uk-width-1-10">Ngày Hết Hạn</th>
            <th class="uk-width-1-10">Trạng Thái</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.userName</td>
            @if (ViewBag.isSalesAdmin)
            {
                <td>@item.Password</td>
            }
            <td>@item.fullName</td>
            <td>@item.Email</td>
            <td>@item.Phone</td>
            <td>@item.Addr</td>
            <td>@item.Serinumber</td>
            <td>@item.DateActive</td>
            <td>@item.DateExpired</td>
            <td><span class="uk-badge">@item.ActivePhone</span></td>
            <td><a href="javascript:void(0);" name="editUserInfo" accesskey="@item.Id"><i class="md-icon material-icons">&#xE254;</i></a></td>
        </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    $(document).ready(function () {
        $('[name="editUserInfo"]').click(function () {
            var Id = $(this).attr('accesskey');
            $.fancybox({
                openEffect: 'elastic',
                closeEffect: 'elastic',
                href: '@Url.Action("EditUserInfo", "UserInfo", new { area = "MasterData" })/' + Id,
                title: '',
                type: 'ajax',
                fitToView: true
            });
        });
    });
</script>