﻿@{
    ViewBag.Title = "Thông Tin Khách Hàng";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
<div id="page_content_inner">
    <div class="md-card">
        <div class="md-card-toolbar">
            <h3 class="md-card-toolbar-heading-text">
                Tìm Kiếm Khách Hàng
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-4">
                    <label for="ToDate">Số Serial</label>
                    <input type="text" class="md-input" id="SerialNumber">
                </div>
                <div class="uk-width-medium-1-4">
                    <label for="CardNo">Mã Kích Hoạt</label>
                    <input type="text" class="md-input" id="CardNo">
                </div>
                <div class="uk-width-medium-1-4">
                    <label for="ToDate">Số Điện Thoại</label>
                    <input type="text" class="md-input" id="PhoneNo">
                </div>
                <div class="uk-width-medium-1-4">
                    <label for="ToDate">Email</label>
                    <input type="text" class="md-input" id="Email">
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-2">
                    <label for="ToDate">Họ Tên</label>
                    <input type="text" class="md-input" id="FullName">
                </div>
                <div class="uk-width-1-2">
                    <a id="btnSearchCustomer" href="javascript:void(0);" class="md-btn md-btn-primary md-btn-wave-light"><i class="material-icons">&#xE8B6;</i> Tìm Kiếm</a>
                </div>
            </div>
        </div>
    </div>
    <div class="md-card">
        <div class="md-card-toolbar">
            <h3 class="md-card-toolbar-heading-text">
                Thông Tin Khách Hàng
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-overflow-container" id="loadCustomerInfo">

            </div>
        </div>
    </div>
</div>
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnSearchCustomer').click(function () {
                if ($('#SerialNumber').val() == '' && $('#CardNo').val() == '' && $('#PhoneNo').val() == '' && $('#Email').val() == '' && $('#FullName').val() == '') {
                    $().toastmessage('showToast', {
                        text: 'Chưa nhập thông tin tìm kiếm',
                        sticky: false,
                        position: 'top-center',
                        type: 'error'
                    });
                    return false;
                }
                NProgress.start();
                $('#btnSearchCustomer').addClass("disabled").html('<i class="uk-icon-spinner uk-icon-spin"></i>&nbsp;Đang gửi ....');
                $('#loadCustomerInfo').load('@Url.Action("CustomerInfoResult", "Search", new { area = "MasterData" })'
                    , { CardNo: $('#CardNo').val(), PhoneNo: $('#PhoneNo').val(), Email: $('#Email').val(), FullName: $('#FullName').val(), SerialNumber: $('#SerialNumber').val() }
                    , function (responseTxt, statusTxt, xhr) {
                        if (statusTxt == "error") {
                            $().toastmessage('showToast', {
                                text: "Error: " + xhr.status + ": " + xhr.statusText,
                                sticky: false,
                                position: 'top-center',
                                type: 'error'
                            });
                        } else {
                            $('#btnSearchCustomer').removeClass("disabled").html('<i class="material-icons">&#xE8B6;</i> Tìm Kiếm');
                            $('html,body').animate({ scrollTop: $("#btnSearchCustomer").offset().top }, 'slow');
                            NProgress.done();
                            $().toastmessage('showToast', {
                                text: "Đã tải xong",
                                sticky: false,
                                position: 'top-center',
                                type: 'success'
                            });
                        }
                });
            });
        });
    </script>
}
