﻿@{
    ViewBag.Title = "Siêu Trí Nhớ Học Đường";
}
<div class="container">
    <div class="jumbotron">
        <div class="txt">
            <h2>Xin chào bạn</h2>
        </div>
        <p class="jumbotron-img"><img src="@Url.Content("~/Content/images/banner-detail.png")" alt=""></p>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-20">
            <div class="modify-w-form contact post">
                <h3 style="text-align: center;">
                    Thanh Toán Thành Công
                </h3>
                <p class="text-center">
                    Siêu Trí Nhớ Học Đường xin chúc mừng bạn <strong>Lê Thanh Hiếu đã đăng ký thành công.</strong>
                </p>
                <div class="text-center"><button type="button" class="btn btn-primary">Quay Lại Trang Chủ</button></div>
            </div>
        </div>
    </div>
</div>