﻿@{
    ViewBag.Title = "Đăng Nhập";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    @Styles.Render("~/Content/css")
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Dmitry Volkov">
    <title>Siêu Trí Nhớ Học Đường</title>
</head>
<body>
    <div class="sign">
        <!-- authorization form -->
        @using (Html.BeginForm("Index", "Login", FormMethod.Post, new { @id = "frm", @class = "sign__form", @autocomplete = "off" }))
        {
            <a href="/" class="sign__logo">
                <img src="@Url.Content("~/Content/img/logo_blue.png")" alt="">
            </a>
            <span id="msg" class="sign__text"></span>
            <div class="form-group">
                <input id="LoginuserName" type="text" placeholder="Tên Đăng Nhập" name="userName">
            </div>

            <div class="form-group">
                <input id="Loginpassword" type="password" placeholder="Mật Khẩu" name="password">
            </div>
            <button class="default-button" type="button" name="btnLogin">Đăng Nhập</button>
        }
        <!-- end authorization form -->
    </div>
    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript">
        $('[name="btnLogin"]').click(function () {
            if ($('[name="userName"]').val() == '') {
                $('#msg').html('Vui lòng nhập Tên Đăng Nhập của bạn');
            }
            else if ($('[name="password"]').val() == '') {
                $('#msg').html('Vui lòng nhập Mật Khẩu của bạn ');
            } else {
                $('[name="btnLogin"]').attr('disabled', 'disabled').text('Loading ...');
                NProgress.start();
                $('#frm').ajaxSubmit(function (data) {
                    if (data.s == 'Oke') {
                        window.location.href = data.url;
                    } else {
                        if (data.url == 'B1' || data.url == 'B2') {
                            $('#msg').html('Tên Đăng Nhập hoặc Mật Khẩu của bạn chưa đúng<BR /> Vui lòng kiểm tra lại.');
                        }
                        else if (data.url == 'B3') {
                            $('#msg').html('Tài Khoản chưa được duyệt');
                        }
                        else {
                            $('#msg').html('Bạn chưa mua khóa học');
                        }
                        $('[name="btnLogin"]').removeAttr('disabled').text('Đăng Nhập');
                        NProgress.done();
                    }
                   
                });
            }
        });
        $('#LoginuserName,#Loginpassword').keypress(function (e) {
            alert(e.which);
            if (e.which == 13) {
                $('[name="btnLogin"]').click();
                return false;
            }
        });
    </script>
</body>
</html>