﻿@using GCSOFT.MVC.Web.ViewModels.MasterData
@model CourseContentLine
@Html.HiddenFor(model => model.IdCourse)
@Html.HiddenFor(model => model.LineNo)
@Html.HiddenFor(model => model.Bold)
@Html.HiddenFor(model => model.Italic)
@Html.HiddenFor(model => model.SortOrder)
<div class="md-card-content">
    <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-medium-1-1">
            @Html.LabelFor(model => model.Title)
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "md-input", @readonly = true } })
        </div>
    </div>
    <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-medium-1-1">
            @Html.LabelFor(model => model.FullDescription)
            @Html.TextAreaFor(model => model.FullDescription, new { @cols = "30", @rows = "10" })
        </div>
    </div>
</div>