﻿@using System.Configuration
@model IEnumerable<GCSOFT.MVC.Web.ViewModels.MasterData.CourseResourceLine>
<div class="md-card-content">
    <div class="uk-grid" data-uk-grid-margin id="tbodyResource">

        @if (Model != null)
        {
            int stt = 0;
            foreach (var item in Model)
            {
                <div class="uk-width-medium-1-2 tr">
                    <div class="md-card">
                        <div class="md-card-content">
                            <div class="uk-input-group">
                                <span class="uk-input-group-addon">@(++stt)</span>
                                <label>Tên File</label>
                                <input class="md-input" type="text" value="@item.Title" readonly="readonly">
                                <span class="uk-input-group-addon">
                                    <a title="Xem Ảnh" href="@Url.Content("~/Files/CourseResource/" + item.IdCourse.ToString() + "/" + item.Image)" data-uk-lightbox="{group:'image'}">
                                        <i class="material-icons md-24">visibility</i>
                                    </a>
                                </span>
                            </div>
                            <div class="uk-width-medium-1-1">
                                <input class="md-input" type="text" value="@item.ImagePath" readonly="readonly">
                            </div>
                            @Html.TextBoxFor(d => item.ImageUpload
                                            , new Dictionary<string, Object> {
                                                { "data-label", "Upload" }
                                                , { "type", "file" }
                                                , { "class", "dropify" }
                                                , { "data-show-remove", "false" }
                                                , { "data-default-file", item.ImagePath }
                                            })
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('.dropify').dropify();
    });
</script>
