﻿@model GCSOFT.MVC.Web.ViewModels.MasterData.CourseContentLine
<div class="md-card-content gc-padding-top-8">
    <div class="uk-grid gc-margin-top-0px">
        <div class="uk-width-medium-1-2">
            <div class="uk-width-medium-1-1">
                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "gc-text-muted uk-text-small" })
            </div>
            <div class="uk-width-medium-1-1 gc-margin-top-2px">
                <span class="uk-text-middle">@Model.Title</span>
            </div>
            <hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
        </div>
        <div class="uk-width-medium-1-2">
            <div class="uk-width-medium-1-1">
                @Html.LabelFor(model => model.LinkYoutube, htmlAttributes: new { @class = "gc-text-muted uk-text-small" })
            </div>
            <div class="uk-width-medium-1-1 gc-margin-top-2px">
                <span class="uk-text-middle">@Model.LinkYoutube</span>
            </div>
            <hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
        </div>
    </div>
    <div class="uk-grid gc-margin-top-0px uk-hidden-small">
        <div class="uk-width-medium-1-2">
            <hr class="gc-grid-divider">
        </div>
        <div class="uk-width-medium-1-2">
            <hr class="gc-grid-divider">
        </div>
    </div>
    <div class="uk-grid gc-margin-top-0px">
        <div class="uk-width-medium-1-1">
            <div class="uk-width-medium-1-1">
                @Html.LabelFor(model => model.FullDescription, htmlAttributes: new { @class = "gc-text-muted uk-text-small" })
            </div>
            <div class="uk-width-medium-1-1 gc-margin-top-2px">
                <span class="uk-text-middle">@Html.Raw(Model.FullDescription)</span>
            </div>
            <hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
        </div>
    </div>
    <div class="uk-grid gc-margin-top-0px uk-hidden-small">
        <div class="uk-width-medium-1-1">
            <hr class="gc-grid-divider">
        </div>
    </div>
</div>