﻿@model GCSOFT.MVC.Web.Areas.Transaction.Data.SalesOrderCard
@if (Model.NoOfCard != 0)
{
    ViewBag.Title = string.Format("Đơn Đặt Hàng [ {0} ]", Model.StatusName);
}
<div id="page_content_inner" class="hierarchical_slide">
    @Html.Partial("_ApprovalOnline", Model.Flows)
    <div class="md-card">
        <div class="md-card-toolbar">
            <div class="md-card-toolbar-actions">

            </div>
            <h3 class="md-card-toolbar-heading-text">
                <i class="material-icons">&#xE894;</i>&nbsp;&nbsp;@ViewBag.Title
                @Html.HiddenFor(model => model.StatusCode)
                @Html.HiddenFor(model => model.StatusId)
                @Html.HiddenFor(model => model.CreateBy)
                @Html.HiddenFor(model => model.DateCreate)
                @Html.HiddenFor(model => model.PostingDateStr)
                @Html.HiddenFor(model => model.FromSoure)
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-margin-bottom" data-uk-margin>
                <a id="btnReject" class="md-btn md-btn-danger md-btn-small md-btn-wave-light md-btn-icon @ViewBag.IsReject" href="javascript:void(0)">
                    <i class="material-icons">thumb_down_off_alt</i>
                    Từ Chối
                </a>
                <a id="btnSendToApproval" class="md-btn md-btn-primary md-btn-small md-btn-wave-light md-btn-icon @ViewBag.isSendApproval" href="javascript:void(0)">
                    <i class="material-icons">local_shipping</i>
                    Gửi Duyệt
                </a>
                <a id="btnMakeSalesOrder" class="md-btn md-btn-primary md-btn-small md-btn-wave-light md-btn-icon @ViewBag.IsMakeOrder" href="javascript:void(0)">
                    <i class="material-icons">list_alt</i>
                    Tạo Đơn Hàng Bán
                </a>
            </div>
            <hr />
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.Code)
                    @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "md-input", @readonly = true } })
                </div>
                <div class="uk-width-medium-1-4">
                    <label>Số Phiếu Chuyển Đổi</label>
                    @Html.EditorFor(model => model.SourceNo, new { htmlAttributes = new { @class = "md-input label-fixed", @readonly = true } })
                </div>
                <div class="uk-width-medium-1-4">
                    <label>Ngày Đặt Hàng</label>
                    @Html.TextBoxFor(model => model.DocumentDateStr
                                            , new Dictionary<string, Object> {
                                                { "class", "md-input label-fixed validate[required,funcCall[DateFormat[]]" }
                                                , { "autocomplete", "off" }
                                                , { "placeholder", "dd/MM/yyyy" }
                                                , { "data-uk-datepicker", "{format:'DD/MM/YYYY'}" }
                                            })
                </div>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.StatusId)
                    @Html.EditorFor(model => model.StatusName, new { htmlAttributes = new { @class = "md-input", @readonly = true } })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.CustomerId)<br />
                    @Html.DropDownListFor(model => model.CustomerId, Model.CustomerList, "[ Chọn ]", new { @class = "md-input label-fixed validate[required] select2" })
                </div>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.DurationId)
                    @Html.DropDownListFor(model => model.DurationCode, Model.DurationList, "[ Chọn ]", new { @class = "md-input label-fixed validate[required]" })
                </div>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.ReasonId)
                    @Html.DropDownListFor(model => model.ReasonCode, Model.ReasonList, "[ Chọn ]", new { @class = "md-input label-fixed validate[required]" })
                </div>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.LevelId)
                    @Html.DropDownListFor(model => model.LevelCode, Model.LevelList, "[ Chọn ]", new { @class = "md-input label-fixed validate[required]" })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.NoOfCard)
                    @Html.TextBoxFor(model => model.NoOfCard, new Dictionary<string, Object>
                          {
                              {"class","md-input masked_input label-fixed"},
                              {"data-inputmask", "'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true, 'placeholder': '0'"}
                          })
                </div>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.GiftCard)
                    @Html.TextBoxFor(model => model.GiftCard, new Dictionary<string, Object>
                          {
                              {"class","md-input masked_input label-fixed"},
                              {"data-inputmask", "'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true, 'placeholder': '0'"}
                          })
                </div>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.TotalCard)
                    @Html.TextBoxFor(model => model.TotalCard, new Dictionary<string, Object>
                          {
                              {"class","md-input masked_input label-fixed"},
                              {"data-inputmask", "'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true, 'placeholder': '0'"},
                              {"readonly","readonly"}
                          })
                </div>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.Price)
                    @Html.TextBoxFor(model => model.Price, new Dictionary<string, Object>
                          {
                              {"class","md-input masked_input label-fixed"},
                              {"data-inputmask", "'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true, 'placeholder': '0'"}
                          })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.Amount)
                    @Html.TextBoxFor(model => model.Amount, new Dictionary<string, Object>
                          {
                              {"class","md-input masked_input label-fixed"},
                              {"data-inputmask", "'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true, 'placeholder': '0'"}
                          })
                </div>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.DiscountPercent)
                    @Html.TextBoxFor(model => model.DiscountPercent, new Dictionary<string, Object>
                          {
                              {"class","md-input masked_input label-fixed"},
                              {"data-inputmask", "'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true, 'placeholder': '0'"}
                          })
                </div>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.DiscountAmt)
                    @Html.TextBoxFor(model => model.DiscountAmt, new Dictionary<string, Object>
                          {
                              {"class","md-input masked_input label-fixed"},
                              {"data-inputmask", "'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true, 'placeholder': '0'"}
                          })
                </div>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.TotalAmount)
                    @Html.TextBoxFor(model => model.TotalAmount, new Dictionary<string, Object>
                          {
                              {"class","md-input masked_input label-fixed"},
                              {"data-inputmask", "'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true, 'placeholder': '0'"},
                              {"readonly","readonly"}
                          })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.PromotionCodeId)<br />
                    @Html.DropDownListFor(model => model.PromotionCode, Model.PromotionList, "[ Chọn ]", new { @class = "md-input label-fixed" })
                </div>
                <div class="uk-width-medium-1-4">
                   
                </div>
                <div class="uk-width-medium-1-4">
                   
                </div>
                <div class="uk-width-medium-1-4">
                    
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    @Html.LabelFor(model => model.Remark)
                    @Html.TextAreaFor(model => model.Remark, new { @cols = "30", @rows = "3", @class = "md-input" })
                </div>
            </div>
            @if (Model.StatusCode.Equals("400") && (ViewBag.userName == "admin" || ViewBag.userName == "phungtu"))
            {
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.LotNumber)
                        @Html.EditorFor(model => model.LotNumber, new { htmlAttributes = new { @class = "md-input" } })
                    </div>
                </div>
                <a id="btnMakeLotnumber" class="md-btn md-btn-primary md-btn-small md-btn-wave-light md-btn-icon " href="javascript:void(0)">
                    <i class="material-icons">list_alt</i>
                    Tạo Lot Number
                </a>
            }
        </div>
    </div>
</div>
<div class="md-fab-wrapper">
    <div class="md-fab md-fab-accent md-fab-sheet md-fab-small">
        <i class="material-icons">&#xE30F;</i>
        <div class="md-fab-sheet-actions">
            <a id="btnReturn" href="@Url.Action("Index", "PurchaseOrder", new { area = "Transaction" })" class="md-color-white"><i class="material-icons md-color-white">&#xE15E;</i> <span class="gc-text-decoration uk-text-warning">Q</span>uay lại</a>
            @if (Model.StatusCode.Equals("700") || Model.StatusCode.Equals("500") || Model.StatusCode.Equals("800") || ViewBag.userName == "admin" || ViewBag.userName == "phungtu")
            {
                <a id="btnSave" href="javascript:void(0)" class="md-color-white"><i class="material-icons md-color-white">&#xE161;</i> <span class="gc-text-decoration uk-text-warning">L</span>ưu</a>
            }
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        gcHotkey._return();
        gcHotkey._save();
        CreateSuccess('@Url.Action("Create", "PurchaseOrder", new { area = "Transaction" })');
        if ($.urlParam('msg') == '2') {
            $().toastmessage('showToast', {
                text: 'Đã gửi mail duyệt thành công.',
                sticky: false,
                position: 'top-center',
                type: 'success'
            });
        }
        if ($.urlParam('msg') == '3') {
            $().toastmessage('showToast', {
                text: 'Đã gửi mail xác nhận đơn hàng với đại lý.',
                sticky: false,
                position: 'top-center',
                type: 'success'
            });
        }
        if ($.urlParam('msg') == '4') {
            $().toastmessage('showToast', {
                text: 'Đơn Hàng đã bị từ chối.',
                sticky: false,
                position: 'top-center',
                type: 'success'
            });
        }
        $('#btnSave').click(function () {
            Save($("#frm"), true);
        });
        $('#CustomerId').change(function () {
            var id = $(this).val();
            $.post('@Url.Action("PackageInfo", "Package", new { area = "Agency" })', { a: id }, function (data) {
                $('#NoOfCard').val(data.NoOfCardsReceived);
                $('#TotalCard').val(data.NoOfCardsReceived);
                var amount = data.NoOfCardsReceived * $('#Price').val();
                $('#Amount').val(amount);
                $('#DiscountPercent').val(data.PaymentDiscount);
                var discountAmt = amount * (data.PaymentDiscount / 100);
                $('#DiscountAmt').val(discountAmt);
                $('#TotalAmount').val(amount - discountAmt);
            });
        });
        $('#NoOfCard,#DiscountPercent,#Price').change(function () {
            AmountChange('');
        });
        $('#DiscountAmt').change(function () {
            AmountChange('discountAmt');
        });
        $('#GiftCard').change(function () {
            var noOfCard = parseFloat(getNumber($('#NoOfCard').val()));
            var giftCard = parseFloat(getNumber($('#GiftCard').val()));
            if (isNaN(noOfCard))
                noOfCard = 0;
            if (isNaN(giftCard))
                giftCard = 0;
            $('#TotalCard').val(noOfCard + giftCard);
        });
        $('#btnSendToApproval').click(function () {
            BlockUI();
            var poId = $('#Code').val();
            $.post('@Url.Action("POSendToApproval", "Approval", new { area = "Approval" })', { c: poId }, function (data) {
                if (data.s == 'Oke') {
                    window.location.href = '@Url.Action("Edit", "PurchaseOrder", new { area = "Transaction", id = Model.Code })' + '?msg=2';
                } else {
                    $().toastmessage('showToast', {
                        text: data.m,
                        sticky: false,
                        position: 'top-center',
                        type: 'success'
                    });
                }
            });
        });
        $('#btnMakeLotnumber').click(function () {
            var url = '@Url.Action("Create", "Card", new { area = "MasterData" })' + '?noc=@Model.TotalCard&p=@Model.Price&d=@Model.DurationCode&r=@Model.ReasonCode&l=@Model.LevelCode&pro=@Model.PromotionCode';
            window.open(url, "_blank");
        });
        $('#btnConfirm').click(function () {
            BlockUI();
            var poId = $('#Code').val();
            $.post('@Url.Action("ConfirmPo", "PurchaseOrder", new { area = "Transaction" })', { c: poId }, function (data) {
                if (data.s == 'Oke') {
                    window.location.href = '@Url.Action("Edit", "PurchaseOrder", new { area = "Transaction", id = Model.Code })' + '?msg=3';
                } else {
                    $().toastmessage('showToast', {
                        text: data.m,
                        sticky: false,
                        position: 'top-center',
                        type: 'success'
                    });
                }
            });
        });
        $('#btnReject').click(function () {
            UIkit.modal.confirm('Bạn có chắc chắn muốn từ chối Đơn Hàng ' + $('#Code').val() + ' ?', function () {
                BlockUI();
                var poId = $('#Code').val();
                $.post('@Url.Action("RejectPO", "PurchaseOrder", new { area = "Transaction" })', { c: poId }, function (data) {
                    if (data.s == 'Oke') {
                        window.location.href = '@Url.Action("Edit", "PurchaseOrder", new { area = "Transaction", id = Model.Code })' + '?msg=4';
                    } else {
                        $().toastmessage('showToast', {
                            text: data.m,
                            sticky: false,
                            position: 'top-center',
                            type: 'success'
                        });
                    }
                });
            });
        });
        $('#btnMakeSalesOrder').click(function () {
            var poId = $('#Code').val();
            if ($('#LotNumber').val() == '') {
                $().toastmessage('showToast', {
                    text: 'Chưa có số lô hàng',
                    sticky: false,
                    position: 'top-center',
                    type: 'success'
                });
                return;
            }
            window.location.href = '@Url.Action("CreateFromPO", "SalesOrder", new { area = "Transaction" })/' + poId;
        });

        $('#LevelCode').change(function () {
                var levelCode = $(this).val();
                if (levelCode == '') {
                    levelCode = '0';
                }
            $.getJSON('@Url.Action("LoadDurationCodeChangeLevelCode", "Base", new { area = "Administrator" })', { levelCode: levelCode }, function (response) {
                    var durationCode = $('#DurationCode');
                        durationCode.empty();
                        durationCode.append($('<option></option>').text('[ Chọn ]').val(''));
                            $.each(response, function (index, item) {
                                durationCode.append('<option ' + (item.Selected ? 'selected="selected"' : '') +' value = "'+item.Value+'">'+item.Text+'</option>');
                    });
                });
            });
    });
    function AmountChange(field) {
        var noOfCard = parseFloat(getNumber($('#NoOfCard').val()));
        var giftCard = parseFloat(getNumber($('#GiftCard').val()));
        if (isNaN(noOfCard))
            noOfCard = 0;
        if (isNaN(giftCard))
            giftCard = 0;
        var totalCard = noOfCard + giftCard;
        var amount = noOfCard * parseFloat(getNumber($('#Price').val()));
        var discountPercent = parseFloat(getNumber($('#DiscountPercent').val()));
        var discountAmt = parseFloat(getNumber($('#DiscountAmt').val()));
        if (field != 'discountAmt') {
            var discountAmt = amount * (discountPercent / 100);
        }
        var totalAmount = amount - discountAmt;
        $('#TotalCard').val(totalCard);
        $('#Amount').val(amount);
        $('#DiscountAmt').val(discountAmt);
        $('#TotalAmount').val(totalAmount);
    }
    function DateFormat(field, rules, i, options) {
        var regex = /^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$/;
        if (!regex.test(field.val())) {
            return "Vui lòng nhập ngày theo định dạng dd/MM/yyyy.";
        }
    }
    function isNaN(x) {
        // Ép kiểu Number cho biến x
        x = Number(x);
        // Nếu x là NaN, NaN != NaN trả về true, các trường hợp khác sẽ trả về false
        return x != x;
    }
</script>
