﻿@model IEnumerable<GCSOFT.MVC.Web.Areas.Transaction.Data.SalesOrderList>

@{
    ViewBag.Title = "Đơn Hàng Chờ Xác Nhận";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
<div id="page_content_inner">
    <div class="md-card">
        <div class="md-card-toolbar">
            <div class="md-card-toolbar-actions">
                <i class="md-icon material-icons md-card-fullscreen-activate toolbar_fixed">&#xE5D0;</i>
                <input type="hidden" id="statusCode" value="700,800" />
            </div>
            <h3 id="txttitle" class="md-card-toolbar-heading-text">
                <i class="material-icons">&#xE894;</i>&nbsp;&nbsp;@ViewBag.Title
                
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-grid uk-grid-width-large-1-5 uk-grid-width-small-1-3 uk-text-center" data-uk-grid-margin>
                <div>
                    <button name="btnStatus" class="md-btn md-btn-flat md-btn-flat-primary md-btn-wave waves-effect waves-button" title="Đơn Hàng Chờ Xác Nhận" accesskey="700,800">Chờ Xác Nhận</button>
                </div>
                <div>
                    <button name="btnStatus" class="md-btn md-btn-flat md-btn-flat-primary md-btn-wave waves-effect waves-button" title="Đơn Hàng Đang Duyệt" accesskey="300">Đang Duyệt</button>
                </div>
                <div>
                    <button name="btnStatus" class="md-btn md-btn-flat md-btn-flat-primary md-btn-wave waves-effect waves-button" title="Đơn Hàng Đã Duyệt" accesskey="400">Đã Duyệt</button>
                </div>
                <div>
                    <button name="btnStatus" class="md-btn md-btn-flat md-btn-flat-primary md-btn-wave waves-effect waves-button" title="Đơn Hàng Đã Duyệt" accesskey="900">Đã Xuất Kho</button>
                </div>
                
                <div>
                    <button name="btnStatus" class="md-btn md-btn-flat md-btn-flat-primary md-btn-wave waves-effect waves-button" title="Đơn Hàng Từ Chối" accesskey="1100">Từ Chối</button>
                </div>
            </div>
            <br />
            <div class="uk-overflow-container">
                <table id="jqGrid"></table>
                <div id="jqGridPager"></div>
            </div>
        </div>
    </div>
</div>
<div class="md-fab-wrapper">
    <div class="md-fab md-fab-accent md-fab-sheet md-fab-small">
        <i class="material-icons">&#xE30F;</i>
        <div class="md-fab-sheet-actions">
            <a name="btnEdit" href="javascript:void(0)" class="md-color-white">
                <i class="material-icons md-color-white">&#xE254;</i> <span class="gc-text-decoration uk-text-warning">S</span>ửa
            </a>
            <a name="btnAdd" href="@Url.Action("Create", "PurchaseOrder", new { area = "Transaction" })" class="md-color-white">
                <i class="material-icons md-color-white">&#xE148;</i> <span class="gc-text-decoration uk-text-warning">T</span>hêm
            </a>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            LoadGrid(BuildURL());
            $('[name="btnEdit"]').click(function () {
                JqEdit('@Url.Action("Edit", "PurchaseOrder", new { area = "Transaction" })', 'jqGrid')
            });
            $('[name="btnStatus"]').click(function () {
                $('#txttitle').html('<i class="material-icons">&#xE894;</i>&nbsp;&nbsp;' + $(this).attr('title'));
                var accessKey = $(this).attr('accesskey');
                $('#statusCode').val(accessKey);
                ReloadGrid(BuildURL());
            });
			CallHotKey();
        });

        function LoadGrid(url) {
            $("#jqGrid").jqGrid({
                url: url,
                mtype: "get",
                datatype: "json",
                colNames: [
					'@Html.DisplayNameFor(model => model.Code)'
					, '@Html.DisplayNameFor(model => model.CustomerName)'
                    , 'Ngày Đặt Hàng'
                    , 'Ngày Gửi Đơn Hàng'
                    , '@Html.DisplayNameFor(model => model.NoOfCardStr)'
                    , '@Html.DisplayNameFor(model => model.TotalAmountStr)'
					, '@Html.DisplayNameFor(model => model.StatusName)'
				],
                colModel: [
					{ name: 'Code', index: 'Code' }
					, { name: 'CustomerName', index: 'CustomerName' }
                    , { name: 'DocumentDateStr', index: 'DocumentDate', align: 'center' }
                    , { name: 'PostingDateStr', index: 'PostingDate', align: 'center' }
                    , { name: 'NoOfCardStr', index: 'NoOfCardStr', align: 'center' }
                    , { name: 'TotalAmountStr', index: 'TotalAmountStr', align: 'right' }
					, { name: 'StatusName', index: 'StatusName' }
				],
                rowNum: 20,
                rowList: [20, 40, 60, 80, 100],
                pager: '#jqGridPager',
                sortname: 'Code',
                viewrecords: true,
                autowidth: true,
                height: "100%",
                sortorder: "asc",
                multiselect: true,
                rownumbers: true,
                viewsortcols: [true, 'vertical', true],
                loadComplete: function () {
                    jqGrid_resize('jqGrid');
                    gridSearch('jqGrid', 'search-button');
					GetDetails();
                },
                jsonReader: {
                    root: "Rows",
                    page: "jqGridPager",
                    total: "Total",
                    records: "Records",
                    repeatitems: false,
                    id: "Code"
                }
            });
            $("#jqGrid").jqGrid('navGrid', '#jqGridPager',
                    { edit: false, add: false, del: false }, {}, {}, {},
                    {
                        multipleSearch: true,
                        closeOnEscape: true,
                        closeAfterSearch: true,
                        showQuery: true,
                        searchOnEnter: true,
                        sopt: ['cn', 'eq', 'ne', 'lt', 'le', 'gt', 'ge']
                    }
                );
        }

        function NoFormatter(cellvalue, options, rowObject) {
            return '<strong><a href="@Url.Action("Details/", "PurchaseOrder", new { area = "Transaction" })' + rowObject.Code + '" title="Xem chi tiết" name="Details" data-uk-tooltip="{pos:\'top\'}">' + cellvalue + '</a></strong>';
        }

		function GetDetails() {
            $('[name="Details"]').click(function () {
                var idx = $('[name="Details"]').index($(this));
                $(location).attr('href', $('[name="Details"]:eq(' + idx + ')').attr('href'));
            });
            gcHotkey._view();
        }

        function CallHotKey() {
            gcHotkey._add();
            gcHotkey._edit();
            gcHotkey._del();
        }
        function BuildURL() {
            return '@Url.Action("LoadData", "PurchaseOrder", new { area = "Transaction" })?s=' + $('#statusCode').val();
        }
        function ReloadGrid(url) {
            $("#jqGrid").setGridParam({ url: url, page: 1 }).trigger("reloadGrid");
        }
    </script>    
}
