﻿@model GCSOFT.MVC.AGENCY.Areas.Agency.Data.IntroduceStudenViewModel
  
<div id="page_content_inner" class="hierarchical_slide">
    <div class="md-card">
        <div class="md-card-toolbar">
            <div class="md-card-toolbar-actions">
                <i class="md-icon material-icons md-card-toggle">&#xE316;</i>
            </div>
            <h3 class="md-card-toolbar-heading-text">
                <i class="material-icons">&#xE894;</i>&nbsp;&nbsp;@ViewBag.Title
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.UserName)
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "md-input validate[required] funcCall[CheckUserName[]]" } })
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.IsEdit)
                    <input id="Id" value="@Model.Id" name="Id" hidden/>
                </div>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.FullName)
                    @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "md-input validate[required]" } })
                </div>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.Link)
                    @Html.EditorFor(model => model.Link, new { htmlAttributes = new { @class = "md-input validate[required]" } })
                </div>
            </div>
        </div>
    </div>
</div>
<div class="md-fab-wrapper">
    <div class="md-fab md-fab-accent md-fab-sheet md-fab-small">
        <i class="material-icons">&#xE30F;</i>
        <div class="md-fab-sheet-actions">
            <a id="btnReturn" href="@Url.Action("Index2", "UserInfo", new { area = "Agency" })" class="md-color-white"><i class="material-icons md-color-white">&#xE15E;</i> <span class="gc-text-decoration uk-text-warning">Q</span>uay lại</a>
            <a id="btnSave" href="javascript:void(0)" class="md-color-white"><i class="material-icons md-color-white">&#xE161;</i> <span class="gc-text-decoration uk-text-warning">L</span>ưu</a>
        </div>
    </div>
</div>
<script type="text/javascript">
    var res;
    $(document).ready(function () {
        gcHotkey._return();
        gcHotkey._save();
        CreateSuccess('@Url.Action("Create", "UserInfo", new { area = "Agency" })');
        $('#btnSave').click(function () {
            Save($("#frm"), true);
        });
        if ($("#IsEdit").val() == 'True') {
            $("#UserName").prop('disabled', true)
        }
        $("#UserName").change(function () {
            CheckUserName();
        });
    });

    function CheckUserName(field, rules, i, options) {
        var userName = $('#UserName').val();
       
        $.ajax({
            type: "GET",
            url: "/Agency/UserInfo/CheckUserName/" + userName,
            success: function (viewHTML) {
                if (viewHTML.status) {
                    res = true;
                }
                else {
                    $().toastmessage('showToast', {
                        text: 'Tài khoản không tồn tại',
                        sticky: false,
                        position: 'top-center',
                        type: 'error'
                    });
                    res = false;
                }
            },
            error: function (errorData) { alert('Đã có lỗi') }
        });
        if (res == false)
            return "Tài khoản không tồn tại";
    }
</script>
