﻿@model GCSOFT.MVC.AGENCY.Areas.Agency.Data.IntroduceStudenIndex

@{
    ViewBag.Title = "Danh Sách Tài Khoản";
    int stt = 0;
}
<div id="page_content_inner">
    <div class="md-card">
        <div class="md-card-toolbar">
            <h3 class="md-card-toolbar-heading-text">
                Tìm kiếm
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-2">
                    <div class="parsley-row">
                        <label for="Type">Tài Khoản</label><br />
                        @Html.TextBoxFor(model => model.UserName, new { @class = "md-input" })
                    </div>
                </div>
                <div class="uk-width-medium-1-2">
                    <div class="parsley-row">
                        <label for="Type">Họ Tên</label><br />
                        @Html.TextBoxFor(model => model.FullName, new { @class = "md-input" })
                    </div>
                </div>
            </div>

            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1 uk-text-right">
                    <a id="btnSearch" href="javascript:void(0);" class="md-btn md-btn-primary uk-margin-small-top"><i class="material-icons">&#xE8B6;</i> Tìm Kiếm</a>
                </div>
            </div>
        </div>
    </div>
    <div class="md-card">
        <div class="md-card-toolbar">
            <div class="md-card-toolbar-actions">
                <i class="md-icon material-icons md-card-fullscreen-activate toolbar_fixed">&#xE5D0;</i>
            </div>
            <h3 class="md-card-toolbar-heading-text">
                <i class="material-icons">&#xE894;</i>&nbsp;&nbsp;@ViewBag.Title
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-overflow-container">
                <table class="uk-table uk-table-nowrap table_check">
                    <thead>
                        <tr>
                            <th class="uk-width-1-10">STT</th>
                            <th class="uk-width-3-10">Tên Đăng Nhập</th>
                            <th class="uk-width-1-10">Họ Tên</th>
                            <th class="uk-width-1-10">Link</th>
                            <th class="uk-width-1-10">Tác Vụ</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.IntroduceStudenList)
                        {
                            <tr>
                                <td>@(++stt)</td>
                                <td class="">@item.UserName</td>
                                <td class="">@item.FullName</td>
                                <td class="">@item.Link</td>
                                <td>
                                    <a class="uk-margin-left" href="@Url.Action("Edit", "UserInfo", new { area = "Agency", id = item.Id })"><i class="material-icons md-24 uk-text-warning">edit</i> Sửa</a>
                                    <a href="javascript:void(0);" class="uk-margin-left" name="btnDelete" id="@item.Id" accesskey="@item.UserName"><i class="material-icons md-24 uk-text-danger">&#xE872;</i> Xóa</a>
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<footer id="footer" class="uk-text-center">
    <a href="@Url.Action("Create", "UserInfo", new { area = "Agency" })" class="md-btn md-btn-primary md-btn-wave-light md-btn-icon">
        <i class="material-icons md-color-white">playlist_add</i>
        Thêm Mới
    </a>
</footer>
<script type="text/javascript">
    $(document).ready(function () {
        $('#btnSearch').click(function () {
            window.location.href = '@Url.Action("Index2", "UserInfo", new { area = "Agency" })' + '?' + querySearch();
        });
        $('[name="btnDelete"]').click(function () {
                var id = $(this).attr('id');
                UIkit.modal.confirm('Bạn có chắc chắn muốn xóa?', function () {
                    $.post('@Url.Action("Delete", "UserInfo", new { area = "Agency" })', { id: id }, function (data) {
                        window.location.reload();
                    }, 'json');
                });
            });
    });
    function querySearch() {
        return 'UserName=' + $('#UserName').val() + '&FullName=' + $('#FullName').val();
    }
</script>