﻿@model IEnumerable<GCSOFT.MVC.Web.ViewModels.MasterData.VM_Category_Index>
@{
    ViewBag.Title = "Danh Mục";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
<div id="page_content_inner">
    <div class="md-card">
        <div class="md-card-toolbar">
            <div class="md-card-toolbar-actions">
                <i class="md-icon material-icons md-card-fullscreen-activate toolbar_fixed">&#xE5D0;</i>
            </div>
            <h3 class="md-card-toolbar-heading-text">
                <i class="material-icons">&#xE894;</i>&nbsp;&nbsp;@ViewBag.Title
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-1-1">
                    <div class="uk-overflow-container">
                        <table id="jqGrid"></table>
                        <div id="jqGridPager"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="md-fab-wrapper">
    <div class="md-fab md-fab-accent md-fab-sheet md-fab-small">
        <i class="material-icons">&#xE30F;</i>
        <div class="md-fab-sheet-actions">
            <a name="btnDel" href="javascript:void(0)" class="md-color-white">
                <i class="material-icons md-color-white">&#xE872;</i> <span class="gc-text-decoration uk-text-warning">X</span>óa
            </a>
            <a name="btnEdit" href="javascript:void(0)" class="md-color-white">
                <i class="material-icons md-color-white">&#xE254;</i> <span class="gc-text-decoration uk-text-warning">S</span>ửa
            </a>
            <a name="btnAdd" href="@Url.Action("Create", "Category", new { area = "MasterData" })" class="md-color-white">
                <i class="material-icons md-color-white">&#xE148;</i> <span class="gc-text-decoration uk-text-warning">T</span>hêm
            </a>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            LoadGrid('@Url.Action("LoadData", "Category", new { area = "MasterData" })');
            $('[name="btnEdit"]').click(function () {
                JqEdit('@Url.Action("Edit", "Category", new { area = "MasterData" })', 'jqGrid')
            });
            $('[name="btnDel"]').click(function () {
                JqDel('@Url.Action("Deletes", "Category", new { area = "MasterData" })', $('#jqGrid'));
            });
			CallHotKey();
        });
		
        function LoadGrid(url) {
            $("#jqGrid").jqGrid({
                url: url,
                mtype: "get",
                datatype: "json",
                colNames: [
                                '@Html.DisplayNameFor(model => model.Id)'
								, '@Html.DisplayNameFor(model => model.SearchName)'
								, '@Html.DisplayNameFor(model => model.LinkWeb)'
								, '@Html.DisplayNameFor(model => model.LevelCategory)'
								, '@Html.DisplayNameFor(model => model.SortOrder)'
								, '@Html.DisplayNameFor(model => model.Status)'
				],
                colModel: [
                                { name: 'Id', index: 'Id', hidden: true }
                                , { name: 'SearchName', index: 'SearchName', formatter: NoFormatter }
								, { name: 'LinkWeb', index: 'LinkWeb', width: 80 }
								, { name: 'LevelCategory', index: 'LevelCategory', align: 'right', width: 20 }
								, { name: 'SortOrder', index: 'SortOrder', align: 'right', width: 20 }
								, { name: 'StatusStr', index: 'Status', align: 'center', width: 25 }
				],
                rowNum: 20,
                rowList: [20, 40, 60, 80, 100],
                pager: '#jqGridPager',
                sortname: 'Id',
                viewrecords: true,
                autowidth: true,
                height: "100%",
                sortorder: "asc",
                multiselect: true,
                rownumbers: true,
                viewsortcols: [true, 'vertical', true],
                loadComplete: function () {
                    gridSearch('jqGrid', 'search-button');
					GetDetails();
                },
                jsonReader: {
                    root: "Rows",
                    page: "jqGridPager",
                    total: "Total",
                    records: "Records",
                    repeatitems: false,
                    id: "Id"
                }
            });
            $("#jqGrid").jqGrid('navGrid', '#jqGridPager',
                    { edit: false, add: false, del: false }, {}, {}, {},
                    {
                        multipleSearch: true,
                        closeOnEscape: true,
                        closeAfterSearch: true,
                        showQuery: true,
                        searchOnEnter: true,
                        sopt: ['cn', 'eq', 'ne', 'lt', 'le', 'gt', 'ge']
                    }
                );
        }

        function NoFormatter(cellvalue, options, rowObject) {
            return '<strong><a href="@Url.Action("Details/", "Category", new { area = "MasterData" })' + rowObject.Id + '" title="Xem chi tiết" name="Details" data-uk-tooltip="{pos:\'top\'}">' + cellvalue + '</a></strong>';
        }
		
		function GetDetails() {
            $('[name="Details"]').click(function () {
                var idx = $('[name="Details"]').index($(this));
                $(location).attr('href', $('[name="Details"]:eq(' + idx + ')').attr('href'));
            });
            gcHotkey._view();
        }

        function CallHotKey() {
            gcHotkey._add();
            gcHotkey._edit();
            gcHotkey._del();
        }
    </script>    
}
