﻿@model GCSOFT.MVC.Web.Areas.API.Data.SupportQuestion
@{
    ViewBag.Title = "Cập nhật Câu hỏi thường gặp";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Edit", "SupportQuestion", FormMethod.Post, new { @id = "frmSupportQuestion", @class = "uk-form-stacked", @autocomplete = "off" }))
{
    <div id="page_content_inner" class="hierarchical_slide">
        <div class="md-card">
            <div class="md-card-toolbar">
                <div class="md-card-toolbar-actions">
                    <i class="md-icon material-icons md-card-toggle">&#xE316;</i>
                </div>
                <h3 class="md-card-toolbar-heading-text">
                    <i class="material-icons">&#xE894;</i>&nbsp;&nbsp;Cập nhật Câu hỏi thường gặp
                    <input type="hidden" name="Id" id="Id" value="@Model.Id" />
                </h3>
            </div>
            <div class="md-card-content">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-2">
                        @Html.LabelFor(model => model.GroupCode)
                        @Html.DropDownListFor(model => model.GroupCode, Model.GroupCodes, "[ Chọn ]", new { @class = "md-input label-fixed validate[required]" })
                    </div>
                    <div class="uk-width-medium-1-2">
                        @Html.LabelFor(model => model.QuestionName)
                        @Html.EditorFor(model => model.QuestionName, new { htmlAttributes = new { @class = "md-input validate[required]" } })
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.AnswerName)
                        @Html.TextAreaFor(model => model.AnswerName, new { @cols = "30", @rows = "30" })
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-2">
                        @Html.LabelFor(model => model.DateInputStr)
                        @Html.TextBoxFor(model => model.DateInputStr
                                                , new Dictionary<string, Object> {
                                                    { "class", "md-input label-fixed validate[required,funcCall[DateFormat[]]" }
                                                    , { "autocomplete", "off" }
                                                    , { "placeholder", "dd/MM/yyyy" }
                                                    , { "data-uk-datepicker", "{format:'DD/MM/YYYY'}" }
                                                })
                    </div>
                    <div class="uk-width-medium-1-2">
                        @Html.LabelFor(model => model.SortOrder)
                        @Html.EditorFor(model => model.SortOrder, new { htmlAttributes = new { @class = "md-input" } })
                    </div>
                </div>
            </div>
            <div class="uk-grid uk-margin-medium-top">
                <div class="uk-width-1-1 uk-text-center">
                    <button id="btnSave" type="button" class="md-btn md-btn-primary">Cập Nhật</button>
                </div>
            </div>
        </div>
    </div>

}
<script type="text/javascript">
        $(document).ready(function () {
            gcHotkey._return();
            gcHotkey._save();
            CreateSuccess('@Url.Action("Edit", "SupportQuestion", new { area = "API" })');
            $('#btnSave').click(function () {
                Save($("#frmSupportQuestion"), true);
            });

            CKEDITOR.replace('AnswerName', { height: 150 });
            CKEDITOR.instances.AnswerName.on('change', function () {
                $('[name="AnswerName"]').val(CKEDITOR.instances.AnswerName.getData());
            });
        });

    function DateFormat(field, rules, i, options) {
        var regex = /^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$/;
        if (!regex.test(field.val())) {
            return "Vui lòng nhập ngày theo định dạng dd/MM/yyyy.";
        }
    }
</script>
