﻿@model GCSOFT.MVC.AGENCY.Areas.HienTai.Data.TicketViewModel
@using System
@{
    bool isCreate = (bool)ViewBag.IsCreate;
}
<style>
    /* Fix table head */
    .tableFixHead {
        overflow: auto;
        height: 500px;
    }

        .tableFixHead thead {
            position: sticky;
            top: 0;
        }

    /* Just common table stuff. */
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th {
        background: #eee;
    }
</style>
<div id="page_content_inner" class="hierarchical_slide">
    <div class="md-card">
        <div class="md-card-toolbar">
            <div class="md-card-toolbar-actions">
                <i class="md-icon material-icons md-card-toggle">&#xE316;</i>
            </div>
            <h3 class="md-card-toolbar-heading-text">
                <i class="material-icons">&#xE894;</i>&nbsp;&nbsp;@ViewBag.Title
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.SendById)
                @Html.HiddenFor(model => model.SendBy)
                @Html.HiddenFor(model => model.SystemCode)
                @Html.HiddenFor(model => model.SendByEmail)
                @Html.HiddenFor(model => model.DateCreate)
                @Html.HiddenFor(model => model.DateModify)
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-4">
                    <label>Mã Ticket</label>
                    @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "md-input label-fixed", @readonly = true } })
                </div>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.DateCreateStr)
                    @Html.EditorFor(model => model.DateCreateStr, new { htmlAttributes = new { @class = "md-input label-fixed", @readonly = true } })
                </div>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.DateModifyStr)
                    @Html.EditorFor(model => model.DateModifyStr, new { htmlAttributes = new { @class = "md-input label-fixed", @readonly = true } })
                </div>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.SendByName)
                    @Html.EditorFor(model => model.SendByName, new { htmlAttributes = new { @class = "md-input label-fixed", @readonly = true } })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-3">
                    @Html.LabelFor(model => model.TicketType)
                    @Html.DropDownListFor(model => model.TicketType, Model.TicketTypes, "[ Chọn ]", new { @class = "md-input label-fixed validate[required]" })
                </div>
                <div class="uk-width-medium-1-3">
                    @Html.LabelFor(model => model.PIC)
                    @Html.DropDownListFor(model => model.PIC, Model.PICList, "[ Chọn ]", new { @class = "md-input label-fixed validate[required]" })
                </div>
                <div class="uk-width-medium-1-3">
                    @if (ViewBag.Role == "ADMIN_HIENTAI")
                    {
                        @Html.LabelFor(model => model.StatusCode)
                        @Html.DropDownListFor(model => model.StatusCode, Model.StatusList, "[ Chọn ]", new { @class = "md-input label-fixed validate[required]" })
                    }
                    else
                    {
                        @Html.LabelFor(model => model.StatusCode)
                        @Html.DropDownListFor(model => model.StatusCode, Model.StatusList, "[ Chọn ]", new { @class = "md-input label-fixed validate[required]" , @disabled= "disabled" })
                        @Html.HiddenFor(model => model.StatusCode)
                    }
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    @Html.LabelFor(model => model.Title)
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "md-input validate[required]" } })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    @Html.LabelFor(model => model.Question)
                    @Html.TextAreaFor(model => model.Question, new { @cols = "30", @rows = "3", @class = "md-input validate[required]" })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    <label>Link Google Drive ( chia sẽ cho ai nhận được link sẽ xem được )</label>
                    @Html.EditorFor(model => model.Link, new { htmlAttributes = new { @class = "md-input validate[required]" } })
                </div>
            </div>
        </div>
    </div>
    @if (!isCreate)
    {
        <div class="md-card">
            <div class="md-card-toolbar">
                <h3 class="md-card-toolbar-heading-text">
                    Ghi Chú
                </h3>
            </div>
            <div class="md-card-content ">
                <div class="uk-overflow-container tableFixHead">
                    <table id="tableCommet" class="uk-table uk-table-nowrap table_check uk-table-striped">
                        <thead>
                            <tr>
                                <th>Họ Tên</th>
                                <th>Nội dung</th>
                                <th>Ngày Tạo</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.TicketCommentList)
                            {
                                <tr>
                                    <td><strong class="uk-text-primary">@item.UserName</strong></td>
                                    <td>@item.Content</td>
                                    <td>
                                        @item.DateCreateStr
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="uk-grid" data-uk-grid-margin>
                        <div class="uk-width-medium-1-1">
                            <label>Ghi Chú</label>
                            @Html.TextAreaFor(model => model.Comment, new { @cols = "30", @rows = "3", @class = "md-input" })
                        </div>
                        <div class="uk-width-medium-1-4">
                            <a id="btnSendComment" href="javascript:void(0);" class="md-btn md-btn-primary md-btn-wave-light md-btn-icon waves-effect waves-button waves-light">
                                <i class="material-icons md-color-white">playlist_add</i>
                                Thêm
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="md-card">
            <div class="md-card-toolbar">
                <h3 class="md-card-toolbar-heading-text">
                    Phản hồi của IT
                </h3>
            </div>
            <div class="md-card-content">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.Reason)
                        @Html.TextAreaFor(model => model.Reason, new { @cols = "30", @rows = "3", @class = "md-input", @readonly = true })
                    </div>
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.Overcome)
                        @Html.TextAreaFor(model => model.Overcome, new { @cols = "30", @rows = "3", @class = "md-input", @readonly = true })
                    </div>
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.SolutionNet)
                        @Html.TextAreaFor(model => model.SolutionNet, new { @cols = "30", @rows = "3", @class = "md-input", @readonly = true })
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<footer id="footer" class="uk-text-center">
    <a id="btnReturn" href="@Url.Action("Index", "Ticket", new { area = "HienTai" })" class="md-btn md-btn-danger md-btn-wave-light md-btn-icon">
        <i class="material-icons md-color-white">&#xE15E;</i>
        Quay Lại
    </a>
    <a class="md-btn md-btn-primary md-btn-wave-light md-btn-icon" href="javascript:void(0)" id="btnSave">
        <span class="material-icons md-color-white">save</span>
        Lưu Thông Tin
    </a>
</footer>

@*<div class="md-fab-wrapper">
        <div class="md-fab md-fab-accent md-fab-sheet md-fab-small">
            <i class="material-icons">&#xE30F;</i>
            <div class="md-fab-sheet-actions">
                <a id="btnReturn" href="@Url.Action("Index", "Ticket", new { area = "HienTai" })" class="md-color-white"><i class="material-icons md-color-white">&#xE15E;</i> <span class="gc-text-decoration uk-text-warning">Q</span>uay lại</a>
                <a id="btnSave" href="javascript:void(0)" class="md-color-white"><i class="material-icons md-color-white">&#xE161;</i> <span class="gc-text-decoration uk-text-warning">L</span>ưu</a>
            </div>
        </div>
    </div>*@
<script type="text/javascript">
    $(document).ready(function () {
        gcHotkey._return();
        gcHotkey._save();
        $('select').select2();
        CreateSuccess('@Url.Action("Create", "Ticket", new { area = "HienTai" })');
        $('#btnSave').click(function () {
            Save($("#frm"), true);
        });

        $('#TicketType').change(function () {
             $.post('@Url.Action("LoadPIC", "Ticket", new { area = "HienTai" })', { code: $('#TicketType').val() }, function (data) {
                 $('#PIC').empty();
                 $.each(data.content, function (data, value) {
                     $("#PIC").append($("<option></option>").val(value.Value).html(value.Text));
                 })
                $('select').select2();
            });
        });

        $("#btnSendComment").click(function () {

            if ($('#Comment').val() == '') {
                $().toastmessage('showToast', {
                    text: 'Chưa nhập nội dung ghi chú',
                    sticky: false,
                    position: 'top-center',
                    type: 'error'
                });
                return false;
            }

            NProgress.start();
            $('#btnSendComment').addClass("disabled").html('<i class="uk-icon-spinner uk-icon-spin"></i>&nbsp;Đang gửi ....');

            $.ajax({
                type: 'GET',
                url: '/HienTai/Ticket/SendComment?content=' + $('#Comment').val() + '&code=' + $('#Code').val() + '&id=' + $('#Id').val(),
                async: true,
                success: function (status) {
                    if (status.success) {
                        NProgress.done();
                        $().toastmessage('showToast', {
                            text: "Đã gửi thành công!",
                            sticky: false,
                            position: 'top-center',
                            type: 'success'
                        });
                        $('#btnSendComment').removeClass("disabled").html('Gửi');
                        $('#Comment').val('');
                        var trStr =
                            "<tr>" +
                            "<td><strong class=\"uk-text-primary\">" + status.fullname + "</strong></td>" +
                            "<td>" + status.content + "</td>" +
                            "<td>" + status.datacreateStr + "</td>" +
                            "</tr>";
                        $('#tableCommet')
                            .append(trStr);

                    } else {
                        $().toastmessage('showToast', {
                            text: "Error: " + xhr.status + ": " + xhr.statusText,
                            sticky: false,
                            position: 'top-center',
                            type: 'error'
                        });
                    }
                },
                error: function () {
                    alert('error');
                }
            });


        });

        //CKEDITOR.replace('Question', { height: 150 });
        //CKEDITOR.instances.Question.on('change', function () {
        //    $('[name="Question"]').val(CKEDITOR.instances.Question.getData());
        //});
        //CKEDITOR.replace('Anser', { height: 150 });
        //CKEDITOR.instances.Anser.on('change', function () {
        //    $('[name="Anser"]').val(CKEDITOR.instances.Anser.getData());
        //});

    });
</script>
