﻿@model  GCSOFT.MVC.AGENCY.Areas.HienTai.Data.TicketListPage

@{
    ViewBag.Title = "Danh Sách Ticket";
}
<div id="page_content_inner">
    <div class="md-card">
        <div class="md-card-toolbar">
            <div class="md-card-toolbar-actions">
                <i class="md-icon material-icons md-card-fullscreen-activate toolbar_fixed">&#xE5D0;</i>
            </div>
            <h3 class="md-card-toolbar-heading-text">
                <i class="material-icons">&#xE894;</i>&nbsp;&nbsp;@ViewBag.Title
            </h3>
        </div>
        <div class="md-card">
            <div class="md-card-toolbar">
                <h3 class="md-card-toolbar-heading-text">
                    Tìm kiếm
                </h3>
            </div>
            <div class="md-card-content">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-4">
                        <label for="Type">Mã Ticket</label>
                        @Html.TextBoxFor(model => model.Code, new { @class = "md-input" })
                    </div>
                    <div class="uk-width-medium-1-4">
                        <label for="KeyWord">Người Tiếp Nhận</label>
                        @Html.DropDownListFor(model => model.PIC, Model.PICList, "[ Chọn ]", new { @class = "md-input label-fixed" })
                    </div>
                    <div class="uk-width-medium-1-4">
                        <label for="KeyWord">Trạng Thái</label>
                        @Html.DropDownListFor(model => model.StatusCode, Model.StatusList, "[ Chọn ]", new { @class = "md-input label-fixed" })
                    </div>
                    <div class="uk-width-medium-1-4">
                        <label for="KeyWord">Loại Ticket</label>
                        @Html.DropDownListFor(model => model.TicketType, Model.TicketTypes, "[ Chọn ]", new { @class = "md-input label-fixed" })
                    </div>
                    <div class="uk-width-medium-1-1">
                        <label for="KeyWord">Người Tạo</label>
                        @Html.DropDownListFor(model => model.SendById, Model.SendList, "[ Chọn ]", new { @class = "md-input label-fixed" })
                    </div>
                    <div class="uk-width-medium-1-3"></div>
                    <div class="uk-width-medium-1-3"></div>
                    <div class="uk-width-medium-1-3 uk-text-right">
                        <a href="@Url.Action("Create", "Ticket", new { area = "HienTai" })" class="md-btn md-btn-primary md-btn-wave-light md-btn-icon waves-effect waves-button waves-light">
                            <i class="material-icons md-color-white">playlist_add</i>
                            Thêm Mới
                        </a>
                        <a id="btnSearch" href="javascript:void(0);" class="md-btn md-btn-primary md-btn-wave-light md-btn-icon waves-effect waves-button waves-light">
                            <i class="material-icons">&#xE8B6;</i>
                            Tìm Kiếm
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="md-card-content">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-1-1">
                    <div class="uk-overflow-container">
                        <table id="branchTable02" class="uk-table uk-table-nowrap table_check uk-table-striped">
                            <thead>
                                <tr>
                                    <th>Mã Giáo Viên</th>
                                    <th>Người Tạo</th>
                                    <th>Mã Ticket</th>
                                    <th>Ngày Tạo</th>
                                    <th>Ngày Hoàn thành</th>
                                    <th>Tiêu Đề</th>
                                    <th>Trạng Thái</th>
                                    <th>Loại Ticket</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ int stt = Model.paging.startIndex; }
                                @foreach (var item in Model.TicketList)
                                {
                                    var datanode = item.ParentTeacherId == 0 ? "" : string.Format("data-node-pid=\"{0}\"", item.ParentTeacherId);
                                <tr id="tr@(item.Id)" data-node-id="@item.Id" @Html.Raw(datanode)>
                                    <td><strong class="uk-text-primary">@item.CodeTeacher</strong></td>
                                    <td>@item.SendByName</td>
                                    <td>@item.Code</td>
                                    <td>@item.DateCreate</td>
                                    <td>@item.DateModifyStr</td>
                                    <td>@item.Title</td>
                                    <td>@item.StatusName</td>
                                    <td>@item.TicketType</td>
                                    <td class="uk-text-nowrap">
                                        @if (item.Id != ViewBag.teacherId)
                                        {
                                            <a class="uk-margin-left" href="@Url.Action("Edit", "Ticket", new { area = "HienTai", id = item.TicketId })"><i class="material-icons md-24 uk-text-warning">edit</i> Sửa</a>
                                            <a href="javascript:void(0);" class="uk-margin-left" name="btnDelete" id="@item.TicketId" accesskey="@item.Code"><i class="material-icons md-24 uk-text-danger">&#xE872;</i> Xóa</a>
                                        }
                                    </td>

                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="pagination" data-total-count="@Model.paging.TotalRows" data-take="@Model.paging.PerPage"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="md-fab-wrapper">
    <div class="md-fab md-fab-accent md-fab-sheet md-fab-small">
        <i class="material-icons">&#xE30F;</i>
        <div class="md-fab-sheet-actions">
            <a name="btnDel" href="javascript:void(0)" class="md-color-white">
                <i class="material-icons md-color-white">&#xE872;</i> <span class="gc-text-decoration uk-text-warning">X</span>óa
            </a>
            <a name="btnEdit" href="javascript:void(0)" class="md-color-white">
                <i class="material-icons md-color-white">&#xE254;</i> <span class="gc-text-decoration uk-text-warning">S</span>ửa
            </a>
            <a name="btnAdd" href="@Url.Action("Create", "Ticket", new { area = "HienTai" })" class="md-color-white">
                <i class="material-icons md-color-white">&#xE148;</i> <span class="gc-text-decoration uk-text-warning">T</span>hêm
            </a>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript" src="https://rawgit.com/vitmalina/w2ui/master/dist/w2ui.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://rawgit.com/vitmalina/w2ui/master/dist/w2ui.min.css" />

    <link href="@Url.Content("~/Scripts/cms/vendor/Treetable/treetable.css")" rel="Stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/cms/vendor/Treetable/jquery-simple-tree-table.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/cms/vendor/paging/pajinatify.js")"></script>
    <link type="text/css" href="@Url.Content("~/Scripts/cms/vendor/paging/pajinatify.css")" rel="stylesheet" />

    <script type="text/javascript">
        $(document).ready(function () {

            $('select').select2();

            $('#branchTable02').simpleTreeTable({
                store: 'session',
                storeKey: 'BranchTableTree02',
                collapsed: true
            });
            $('.pagination').pajinatify();
            $('.pagination').pajinatify('set', @Model.paging.CurPage, @Model.paging.TotalRows);
            $('.pajinatify__button').click(function () {
                var p = $(this).attr('data-page');
                window.location.href = '@Url.Action("Index", "Ticket", new { area = "HienTai" })' + '?currPage=' + p + querySearch();
            });
            $('[name="btnDelete"]').click(function () {
                var id = $(this).attr('id');
                var code  = $(this).attr('accesskey');
                UIkit.modal.confirm('Bạn có chắc chắn muốn xóa?', function () {
                    $.post('@Url.Action("Deletes", "Ticket", new { area = "HienTai" })', { id: id, code: code }, function (data) {
                        window.location.reload();
                    }, 'json');
                });
            });
           
            $('#btnSearch').click(function () {
                window.location.href = '@Url.Action("Index", "Ticket", new { area = "HienTai" })' + '?currPage=0' + querySearch();
            });
            $('#Code, #FullName, #Phone').keypress(function (event) {
                var keycode = (event.keyCode ? event.keyCode : event.which);
                if (keycode == '13') {
                    window.location.href = '@Url.Action("Index", "Ticket", new { area = "HienTai" })' + '?currPage=0' + querySearch();
                }
            });

        });

        function querySearch() {
            let querySearch = '';
            if ($('#Code').val() != '') {
                querySearch += '&code=' + $('#Code').val();
            }
            if ($('#SendById').val() != '') {
                querySearch += '&sendById=' + $('#SendById').val();
            }
            if ($('#PIC').val() != '') {
                querySearch += '&pIC=' + $('#PIC').val();
            }
            if ($('#StatusCode').val() != '') {
                querySearch += '&statusCode=' + $('#StatusCode').val();
            }
            return querySearch;
        }


    </script>
}
