﻿@{
    ViewBag.Title = "Ứng Dụng Tâm Trí Lực";
    Layout = "~/Views/Shared/_LayoutOC.cshtml";
}
}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-20">
            <div class="modify-w-form contact post">
                <h3 style="text-align: center; color: #FF660F;">
                    @ViewBag.Title
                </h3>
                <p><h4 class="media-heading" style="text-align:center;font-size: 16px;">TẢI APP LIỀN TAY, BÁO NGAY VỀ MÁY</h4></p>
                @*<p class="text-center">
            <img src="https://stnhd.com/files/hientai/qrCode.png" />
        </p>*@
                <p style="text-align: center;">
                    <a href="https://tamtriluc.page.link/EwdR" target="_blank" rel="noopener" style="border-width:0px;border:0px;"><img src="https://stnhd.com/Files/hientai/AppStore.png" class="hs-image-widget " style="max-width: 45%; height: auto;" alt="PNG-26" title="PNG-26"></a>
                    &nbsp;
                    <a href="https://tamtriluc.page.link/EwdR" target="_blank" rel="noopener" style="border-width:0px;border:0px;"><img src="https://stnhd.com/Files/hientai/GooglePlay.png" class="hs-image-widget " style="max-width: 45%; height: auto;" alt="PNG-26" title="PNG-26"></a>
                </p>
            </div>
        </div>
    </div>
</div>