﻿@model  GCSOFT.MVC.AGENCY.Areas.ChienGa.Data.ParcelOfLandListPage

@{
    ViewBag.Title = "Danh Sách Thửa Đất";
}
<div id="page_content_inner">
    <div class="md-card">
        <div class="md-card-toolbar">
            <div class="md-card-toolbar-actions">
                <i class="md-icon material-icons md-card-fullscreen-activate toolbar_fixed">&#xE5D0;</i>
            </div>
            <h3 class="md-card-toolbar-heading-text">
                <i class="material-icons">&#xE894;</i>&nbsp;&nbsp;@ViewBag.Title
            </h3>
        </div>
        <div class="md-card">
            <div class="md-card-toolbar">
                <h3 class="md-card-toolbar-heading-text">
                    Tìm kiếm
                </h3>
            </div>
            <div class="md-card-content">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-4">
                        <label for="Type">Xã/Phường</label>
                        @Html.DropDownListFor(model => model.Ward, Model.WardList, "[ Chọn ]", new { @class = "md-input label-fixed" })
                    </div>
                    <div class="uk-width-medium-1-4">
                        <label for="Type">Loại Đất</label>
                        @Html.DropDownListFor(model => model.SoilType, Model.SoilTypeList, "[ Chọn ]", new { @class = "md-input label-fixed" })
                    </div>
                    <div class="uk-width-medium-1-4">
                        <label for="Type">Biến Động</label>
                        @Html.DropDownListFor(model => model.Volatility, Model.VolatilityList, "[ Chọn ]", new { @class = "md-input label-fixed" })
                    </div>
                    <div class="uk-width-medium-1-4">
                        <label for="Type">Chủ Sử Dụng Đất</label>
                        @Html.TextBoxFor(model => model.FullNameMale, new { @class = "md-input" })
                    </div>
                    <div class="uk-width-medium-1-4">
                        <label for="Type">Năm Sinh</label>
                        @Html.TextBoxFor(model => model.YearBirthMale, new { @class = "md-input" })
                    </div>
                    <div class="uk-width-medium-1-4">
                        <label for="KeyWord">Điện Thoại</label>
                        @Html.TextBoxFor(model => model.Phone, new { @class = "md-input" })
                    </div>
                    <div class="uk-width-medium-1-4">
                        <label for="KeyWord">Địa Chỉ</label>
                        @Html.TextBoxFor(model => model.Address, new { @class = "md-input" })
                    </div>
                    <div class="uk-width-medium-1-4 uk-text-right">
                        <a href="@Url.Action("Create", "ParcelOfLand", new { area = "ChienGa" })" class="md-btn md-btn-primary md-btn-wave-light md-btn-icon waves-effect waves-button waves-light">
                            <i class="material-icons md-color-white">playlist_add</i>
                            Thêm Mới
                        </a>
                        <a id="btnSearch" href="javascript:void(0);" class="md-btn md-btn-primary md-btn-wave-light md-btn-icon waves-effect waves-button waves-light">
                            <i class="material-icons">&#xE8B6;</i>
                            Tìm Kiếm
                        </a>
                    </div>
                </div>
                </div>
        </div>
        <div class="md-card-content">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-1-1">
                    <div class="uk-overflow-container">
                        <table id="branchTable02" class="uk-table uk-table-nowrap table_check uk-table-striped">
                            <thead>
                                <tr>
                                    <th class="uk-text-center">STT</th>
                                    <th>Số</th>
                                    <th>Tên Chủ Sở Hữu</th>
                                    <th>Điện Thoại</th>
                                    <th>Nơi Thường Trú</th>
                                    <th>Tác Vụ</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ int stt = Model.paging.startIndex; }
                                @foreach (var item in Model.ParcelOfLandList)
                                {
                                <tr class="uk-table-middle">
                                    <td class="uk-text-center">@(++stt)</td>
                                    <td>
                                        <a class="uk-margin-left" href="@Url.Action("Detail", "ParcelOfLand", new { area = "ChienGa", id = item.Id })">
                                            <strong class="uk-text-primary">
                                                @item.Code
                                            </strong>
                                        </a>
                                    </td>
                                    <td> @item.FullNameMale</td>
                                    <td> @item.Phone</td>
                                    <td> @item.Address</td>
                                    <td>
                                        <a class="uk-margin-left" href="@Url.Action("Edit", "ParcelOfLand", new { area = "ChienGa", id = item.Id })"><i class="material-icons md-24 uk-text-warning">edit</i> Sửa</a>
                                        <a href="javascript:void(0);" class="uk-margin-left" name="btnDelete" id="@item.Id"><i class="material-icons md-24 uk-text-danger">&#xE872;</i> Xóa</a>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="pagination" data-total-count="@Model.paging.TotalRows" data-take="@Model.paging.PerPage"></div>
                </div>
            </div>
        </div>
    </div>
</div>
@*<div class="md-fab-wrapper">
    <div class="md-fab md-fab-accent md-fab-sheet md-fab-small">
        <i class="material-icons">&#xE30F;</i>
        <div class="md-fab-sheet-actions">
            <a name="btnDel" href="javascript:void(0)" class="md-color-white">
                <i class="material-icons md-color-white">&#xE872;</i> <span class="gc-text-decoration uk-text-warning">X</span>óa
            </a>
            <a name="btnEdit" href="javascript:void(0)" class="md-color-white">
                <i class="material-icons md-color-white">&#xE254;</i> <span class="gc-text-decoration uk-text-warning">S</span>ửa
            </a>
            <a name="btnAdd" href="@Url.Action("Create", "Ticket", new { area = "HienTai" })" class="md-color-white">
                <i class="material-icons md-color-white">&#xE148;</i> <span class="gc-text-decoration uk-text-warning">T</span>hêm
            </a>
        </div>
    </div>
</div>*@
@section scripts{
    <script type="text/javascript" src="https://rawgit.com/vitmalina/w2ui/master/dist/w2ui.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://rawgit.com/vitmalina/w2ui/master/dist/w2ui.min.css" />

    <link href="@Url.Content("~/Scripts/cms/vendor/Treetable/treetable.css")" rel="Stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/cms/vendor/Treetable/jquery-simple-tree-table.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/cms/vendor/paging/pajinatify.js")"></script>
    <link type="text/css" href="@Url.Content("~/Scripts/cms/vendor/paging/pajinatify.css")" rel="stylesheet" />

    <script type="text/javascript">
        $(document).ready(function () {

            $('#branchTable02').simpleTreeTable({
                store: 'session',
                storeKey: 'BranchTableTree02',
                collapsed: true
            });
            $('.pagination').pajinatify();
            $('.pagination').pajinatify('set', @Model.paging.CurPage, @Model.paging.TotalRows);
            $('.pajinatify__button').click(function () {
                var p = $(this).attr('data-page');
                window.location.href = '@Url.Action("Index", "ParcelOfLand", new { area = "ChienGa" })' + '?currPage=' + p + querySearch();
            });

            $('#btnSearch').click(function () {
                window.location.href = '@Url.Action("Index", "ParcelOfLand", new { area = "ChienGa" })' + '?currPage=0' + querySearch();
            });

            $('[name="btnDelete"]').click(function () {
                var id = $(this).attr('id');
                UIkit.modal.confirm('Bạn có chắc chắn muốn xóa?', function () {
                    NProgress.start();
                    $.post('@Url.Action("Deletes", "ParcelOfLand", new { area = "ChienGa" })', { id: id }, function (data) {
                        NProgress.done();
                        if (data.success) {
                            $().toastmessage('showToast', {
                                text: "Đã xóa thành công!",
                                sticky: false,
                                position: 'top-center',
                                type: 'success'
                            });
                            window.location.reload();
                        }
                        else {
                            $().toastmessage('showToast', {
                                text: data.message,
                                sticky: false,
                                position: 'top-center',
                                type: 'error'
                            });
                        }
                       
                    }, 'json');
                });
            });
        });

        function querySearch() {
            let querySearch = '';
            if ($('#Ward').val() != '') {
                querySearch += '&ward=' + $('#Ward').val();
            }
            if ($('#SoilType').val() != '') {
                querySearch += '&soilType=' + $('#SoilType').val();
            }
            if ($('#Volatility').val() != '') {
                querySearch += '&volatility=' + $('#Volatility').val();
            }
            if ($('#FullNameMale').val() != '') {
                querySearch += '&fullNameMale=' + $('#FullNameMale').val();
            }
            if ($('#YearBirthMale').val() != '') {
                querySearch += '&yearBirthMale=' + $('#YearBirthMale').val();
            }
            if ($('#Phone').val() != '') {
                querySearch += '&phone=' + $('#Phone').val();
            }
            if ($('#Address').val() != '') {
                querySearch += '&address=' + $('#Address').val();
            }
            return querySearch;
        }


    </script>
}
