﻿@model List<GCSOFT.MVC.AGENCY.HienTaiService.StarLevel>
@{
    Layout = null;
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Nền tảng</th>
            <th>Phẩm chất</th>
            <th>Tên Sao</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count > 0)
        {
            int stt = 0;
            foreach (var item in Model)
            {
                stt++;
                <tr>
                    <td>@stt</td>
                    <td>@item.BasicName</td>
                    <td>@item.QualityName</td>
                    <td>@item.StarName</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4">Dữ liệu đang được cập nhật</td>
            </tr>
        }
    </tbody>
</table>