﻿@model GCSOFT.MVC.AGENCY.ViewModels.HienTai.O_SchoolClassDetails
@{
    ViewBag.StudentLine = "DANH SÁCH HỌC VIÊN";
}
<div class="md-card">
    <div class="md-card-toolbar">
        <h3 class="md-card-toolbar-heading-text">
            @ViewBag.StudentLine
            @Html.HiddenFor(model => model.Code)
        </h3>
    </div>
    <div class="md-card-content">
        <div class="uk-width-1-1">
            <div class="uk-overflow-container">
                <table class="uk-table uk-table-nowrap table_check">
                    <thead>
                        <tr>
                            <th class="uk-width-1-10 uk-text-center"><strong>STT</strong></th>
                            <th>Số Báo Danh</th>
                            <th>Họ Và Tên</th>
                            <th>Tuổi</th>
                            <th>Phụ Huynh</th>
                            <th>Lớp</th>
                            <th>Trạng Thái</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int stt = Model.paging.startIndex; }
                        @foreach (var item in Model.StudentList)
                        {
                            <tr>
                                <td class="uk-text-center">@(++stt)</td>
                                <td>@item.IDNo</td>
                                <td>@item.FullName</td>
                                <td>@item.Age</td>
                                <td>@item.ParentName</td>
                                <td> @item.SchoolClassName</td>
                                <td>
                                    <strong>Mã Kích Hoạt:</strong> @item.HasSendActiveCode<br />
                                    <strong>Cài App:</strong> @item.StudentComfirmInApp
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="pagination" data-total-count="@Model.paging.TotalRows" data-take="@Model.paging.PerPage"></div>
    </div>
</div>
<script type="text/javascript" src="@Url.Content("~/Scripts/cms/vendor/paging/pajinatify.js")"></script>
<link type="text/css" href="@Url.Content("~/Scripts/cms/vendor/paging/pajinatify.css")" rel="stylesheet" />
<script type="text/javascript">
    $(document).ready(function () {

        $('.pagination').pajinatify();
        $('.pagination').pajinatify('set', @Model.paging.CurPage, @Model.paging.TotalRows);
        $('.pajinatify__button').click(function () {
            var p = $(this).attr('data-page');
            window.location.href = queryFilter($(this).attr('data-page'));
        });
        $("#SchoolClassStarId").change(function () {
            window.location.href = queryFilter(1);
        });
    });
    function queryFilter(p) {
        return  '@Url.Action("Details", "LopHoc", new { area = "HienTai", id = Model.Id })' + '?currPage=' + p;
    }
</script>