﻿@model GCSOFT.MVC.AGENCY.ViewModels.HienTai.O_SchoolClassDetails
@{
    ViewBag.Title = "THÔNG TIN CHI TIẾT LỚP HỌC";
}
<div id="page_content_inner">
    <div class="md-card">
        <div class="md-card-toolbar">
            <h3 class="md-card-toolbar-heading-text">
                @ViewBag.Title
                @Html.HiddenFor(model => model.Code)
            </h3>
        </div>
        <div class="md-card-content gc-padding-top-8">
            <div class="uk-grid margin-top-0px">
                <div class="uk-width-medium-1-4">
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "uk-text-muted uk-text-small" })
                    </div>
                    <div class="uk-width-medium-1-1 margin-top-2px">
                        <span class="uk-text-middle">@Model.Code</span>
                    </div>
                    <hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
                </div>
                <div class="uk-width-medium-1-4">
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "uk-text-muted uk-text-small" })
                    </div>
                    <div class="uk-width-medium-1-1 margin-top-2px">
                        <span class="uk-text-middle">@Model.Name</span>
                    </div>
                    <hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
                </div>
                <div class="uk-width-medium-1-4">
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.OpeningDay, htmlAttributes: new { @class = "uk-text-muted uk-text-small" })
                    </div>
                    <div class="uk-width-medium-1-1 margin-top-2px">
                        <span class="uk-text-middle">@Model.OpeningDay.ToString("dd-MM-yyyyy")</span>
                    </div>
                    <hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
                </div>
                <div class="uk-width-medium-1-4">
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.ClosingDay, htmlAttributes: new { @class = "uk-text-muted uk-text-small" })
                    </div>
                    <div class="uk-width-medium-1-1 margin-top-2px">
                        <span class="uk-text-middle">@Model.ClosingDay.ToString("dd-MM-yyyyy")</span>
                    </div>
                    <hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
                </div>
            </div>
            <div class="uk-grid gc-margin-top-0px uk-hidden-small">
                <div class="uk-width-medium-1-4">
                    <hr class="gc-grid-divider">
                </div>
                <div class="uk-width-medium-1-4">
                    <hr class="gc-grid-divider">
                </div>
                <div class="uk-width-medium-1-4">
                    <hr class="gc-grid-divider">
                </div>
                <div class="uk-width-medium-1-4">
                    <hr class="gc-grid-divider">
                </div>
            </div>
            <div class="uk-grid margin-top-0px">
                <div class="uk-width-medium-1-4">
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.TeacherId, htmlAttributes: new { @class = "uk-text-muted uk-text-small" })
                    </div>
                    <div class="uk-width-medium-1-1 margin-top-2px">
                        <span class="uk-text-middle">@Model.TeacherId</span>
                    </div>
                    <hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
                </div>
                <div class="uk-width-medium-1-4">
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.TeacherName, htmlAttributes: new { @class = "uk-text-muted uk-text-small" })
                    </div>
                    <div class="uk-width-medium-1-1 margin-top-2px">
                        <span class="uk-text-middle">@Model.TeacherName</span>
                    </div>
                    <hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
                </div>
                <div class="uk-width-medium-1-4">
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.Total, htmlAttributes: new { @class = "uk-text-muted uk-text-small" })
                    </div>
                    <div class="uk-width-medium-1-1 margin-top-2px">
                        <span class="uk-text-middle">@Model.Total</span>
                    </div>
                    <hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
                </div>
                <div class="uk-width-medium-1-4">
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.LevelArrs, htmlAttributes: new { @class = "uk-text-muted uk-text-small" })
                    </div>
                    <div class="uk-width-medium-1-1 margin-top-2px">
                        @{ string stt = string.Empty; }
                        @foreach (var item in Model.LevelArrs)
                        {
                            stt += $"Level{item} ";
                        }
                        <span class="uk-text-middle">@stt</span>
                    </div>
                    <hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("_StudentLine", Model)
</div>

<footer id="footer" class="uk-text-center">
    <a id="btnReturn" href="@Url.Action("Index", "LopHoc", new { area = "HienTai" })" class="md-btn md-btn-danger md-btn-wave-light md-btn-icon">
        <i class="material-icons md-color-white">&#xE15E;</i>
        Quay Lại
    </a>
</footer>