﻿@model GCSOFT.MVC.AGENCY.ViewModels.HienTai.O_SchoolClassListPage
@{
    ViewBag.Title = "Danh Sách Lớp Học";
}
<div id="page_content_inner">
    <div class="md-card">
        <div class="md-card-toolbar">
            <h3 class="md-card-toolbar-heading-text">
                Tìm kiếm
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-2">
                    <label for="Type">Mã Lớp Học</label>
                    @Html.TextBoxFor(model => model.Code, new { @class = "md-input" })
                </div>
                <div class="uk-width-medium-1-2">
                    <label for="KeyWord">Tên Lớp Học</label>
                    @Html.TextBoxFor(model => model.Name, new { @class = "md-input" })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    <label for="KeyWord">Giáo Viên Phụ Trách</label>
                    @Html.DropDownListFor(model => model.TeacherId, Model.TeacherList, "[ Chọn ]", new { @class = "md-input label-fixed" })
                </div>

            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1 uk-text-right">
                    <a href="@Url.Action("Create", "LopHoc", new { area = "HienTai" })" class="md-btn md-btn-primary md-btn-wave-light md-btn-icon waves-effect waves-button waves-light">
                        <i class="material-icons md-color-white">playlist_add</i>
                        Thêm Mới
                    </a>
                    <a id="btnSearch" href="javascript:void(0);" class="md-btn md-btn-primary md-btn-wave-light md-btn-icon waves-effect waves-button waves-light">
                        <i class="material-icons">&#xE8B6;</i>
                        Tìm Kiếm
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="md-card">
        <div class="md-card-content">
            <div class="uk-width-1-1">
                <div class="uk-overflow-container">
                    <table class="uk-table uk-table-nowrap table_check">
                        <thead>
                            <tr>
                                <th class="uk-width-1-10 uk-text-center"><strong>STT</strong></th>
                                <th>Mã Lớp Học</th>
                                <th>Tên Lớp Học</th>
                                <th>Ngày Mở Lớp</th>
                                <th>Ngày Kết Thúc</th>
                                <th>Giáo Viên Phụ Trách</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int stt = Model.paging.startIndex; }
                            @foreach (var item in Model.SchoolClasList)
                            {
                            <tr>
                                <td class="uk-text-center">@(++stt)</td>
                                <td><a href="@Url.Action("Details", "LopHoc", new { area = "HienTai", id=item.Id })"><strong>@item.Code</strong></a></td>
                                <td>@item.Name</td>
                                <td>@item.OpeningDay.ToString("dd-MM-yyyy")</td>
                                <td>@item.ClosingDay.ToString("dd-MM-yyyy")</td>
                                <td>@item.TeacherName</td>
                                <td class="uk-text-nowrap">
                                    <a href="@Url.Action("Edit", "LopHoc", new { area = "HienTai", id = item.Id })"><i class="material-icons md-24 uk-text-warning">edit</i> Sửa</a>
                                    <a href="javascript:void(0);" class="uk-margin-left" name="btnDelete" id="@item.Id"><i class="material-icons md-24 uk-text-danger">&#xE872;</i> Xóa</a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="pagination" data-total-count="@Model.paging.TotalRows" data-take="@Model.paging.PerPage"></div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/cms/vendor/paging/pajinatify.js")"></script>
    <link type="text/css" href="@Url.Content("~/Scripts/cms/vendor/paging/pajinatify.css")" rel="stylesheet" />
    <script type="text/javascript">
        $(document).ready(function () {
            $('.pagination').pajinatify();
            $('.pagination').pajinatify('set', @Model.paging.CurPage, @Model.paging.TotalRows);
            $('.pajinatify__button').click(function () {
                var p = $(this).attr('data-page');
                window.location.href = '@Url.Action("Index", "LopHoc", new { area = "HienTai" })' + '?currPage=' + p + querySearch();
            });
            $('[name="btnDelete"]').click(function () {
                var id = $(this).attr('id');
                var userName = $(this).attr('accesskey');
                UIkit.modal.confirm('Bạn có chắc chắn muốn xóa?', function () {
                    $.post('@Url.Action("Deletes", "LopHoc", new { area = "HienTai" })', { id: id, userName: userName }, function (data) {
                        if (data.retCode == 0) {
                            window.location.reload();
                        } else {
                            $().toastmessage('showToast', {
                                text: data.retText,
                                sticky: false,
                                position: 'top-center',
                                type: 'warning'
                            });
                        }
                    }, 'json');
                });
            });
            $('#btnSearch').click(function () {
                window.location.href = '@Url.Action("Index", "LopHoc", new { area = "HienTai" })' + '?currPage=0' + querySearch();
            });
            $('#Code, #Name').keypress(function (event) {
                var keycode = (event.keyCode ? event.keyCode : event.which);
                if (keycode == '13') {
                    window.location.href = '@Url.Action("Index", "LopHoc", new { area = "HienTai" })' + '?currPage=0' + querySearch();
                }
            });
            $("#TeacherId").change(function () {
                window.location.href = '@Url.Action("Index", "LopHoc", new { area = "HienTai" })' + '?currPage=0' + querySearch();
            });
        });
        function querySearch() {
            let querySearch = '';
            if ($('#Code').val() != '') {
                querySearch += '&code=' + $('#Code').val();
            }
            if ($('#Name').val() != '') {
                querySearch += '&name=' + $('#Name').val();
            }
            if ($('#TeacherId').val() != '') {
                querySearch += '&teacher=' + parseInt($('#TeacherId').val());
            }
            return querySearch;
        }
    </script>
}