﻿@using PagedList.Mvc;
@using PagedList;
@model IPagedList<GCSOFT.MVC.AGENCY.HienTaiService.O_Student>
@{
    Layout = null;
    int StartStt = ViewBag.StartSTT;
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th class="text-center">#</th>
            <th class="text-center">Số báo danh</th>
            <th class="text-center">Họ và tên</th>
            <th class="text-center">Tuổi</th>
            <th class="text-center">Giới tính</th>
            <th class="text-center">Phụ huynh</th>
            <th class="text-center">Lớp</th>
            <th class="text-center">Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count > 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">@StartStt</td>
                    <td>@item.IdNo</td>
                    <td>@item.FullName</td>
                    <td class="text-center">@item.Age</td>
                    <td class="text-center">@item.GenderName</td>
                    <td>@item.ParentName</td>
                    <td>@item.SchoolClassName</td>
                    <td class="text-center">
                        
                        <a href="#" class="btn btn-sm btn-icon btn-flat btn-default" title="Thông tin hiền tài">
                            <i class="material-icons md-24 uk-text-success">account_circle</i>
                        </a>
                        <a href="#" class="btn btn-sm btn-icon btn-flat btn-default" title="Ghi chú cuộc gọi">
                            <i class="material-icons md-24 uk-text-success">phone</i>
                        </a>
                        <a href="#" class="btn btn-sm btn-icon btn-flat btn-default" title="Sửa">
                            <i class="material-icons md-24 uk-text-success">edit</i>
                        </a>
                        <a href="#" class="btn btn-sm btn-icon btn-flat btn-default" title="Khóa Hiền tài">
                            <i class="material-icons md-24 uk-text-success">lock_open</i>
                        </a>
                        <button type="button" onclick='' class="btn btn-sm btn-icon btn-flat btn-default" title="Xóa">
                            <i class="material-icons md-24 uk-text-danger">&#xE872;</i>
                        </button>
                    </td>
                </tr>
                StartStt++;
            }
        }
        else
        {
            <tr>
                <td colspan="8">Dữ liệu không tồn tại.</td>
            </tr>
        }
    </tbody>
</table>
<div class="text-center">
    @if (Model.PageCount > 1)
    {
        @Html.PagedListPager(
            Model,
            pageNumber => Url.Action("IndexContent", "HocVien"
            , new { idNo = ViewBag.idNo, fullName = ViewBag.fullName, schoolClassId = ViewBag.schoolClassId, levelId = ViewBag.levelId, pageNumber }),
            PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(PagedListRenderOptions.PageNumbersOnly, new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "AccountGid1" })
        )
    }
</div>

