﻿@model GCSOFT.MVC.AGENCY.ViewModels.HienTai.O_StudentPage
@{
    ViewBag.Title = "Danh Sách Học Viên";
}

<div id="page_content_inner">
    <div class="md-card">
        <div class="md-card-toolbar">
            <h3 class="md-card-toolbar-heading-text">
                Tìm kiếm
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    <label for="KeyWord">Giáo Viên Phụ Trách</label>
                    @Html.DropDownListFor(model => model.TeacherId, Model.TeacherList, "[ Chọn ]", new { @class = "md-input label-fixed" })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-3">
                    <label for="Type">Số Báo Danh</label>
                    @Html.TextBoxFor(model => model.Code, new { @class = "md-input" })
                </div>
                <div class="uk-width-medium-1-3">
                    <label for="KeyWord">Họ Và Tên Học Viên</label>
                    @Html.TextBoxFor(model => model.FullName, new { @class = "md-input" })
                </div>
                <div class="uk-width-medium-1-3">
                    <label for="KeyWord">Khóa</label>
                    @Html.DropDownListFor(model => model.SchoolClassId, Model.SchoolClassList, "[ Chọn ]", new { @class = "md-input label-fixed" })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1 uk-text-right">
                    <a href="@Url.Action("Create", "HocVien", new { area = "HienTai" })" class="md-btn md-btn-primary md-btn-wave-light md-btn-icon waves-effect waves-button waves-light">
                        <i class="material-icons md-color-white">playlist_add</i>
                        Thêm Mới
                    </a>
                    <a id="btnSearch" href="javascript:void(0);" class="md-btn md-btn-primary md-btn-wave-light md-btn-icon waves-effect waves-button waves-light">
                        <i class="material-icons">&#xE8B6;</i>
                        Tìm Kiếm
                    </a>
                    <a id="btnDownload" href="javascript:void(0);" class="md-btn md-btn-primary md-btn-wave-light md-btn-icon waves-effect waves-button waves-light">DownLoad Excel</a>
                </div>
            </div>
        </div>
    </div>
    <div class="md-card">
        <div class="md-card-content">
            <div class="uk-width-1-1">
                <div class="uk-overflow-container">
                    <table class="uk-table uk-table-nowrap table_check">
                        <thead>
                            <tr>
                                <th class="uk-width-1-10 uk-text-center"><strong>STT</strong></th>
                                <th>Số Báo Danh</th>
                                <th>Họ Và Tên</th>
                                <th>Tuổi</th>
                                <th>Giáo Viên</th>
                                <th>Phụ Huynh</th>
                                <th>Lớp</th>
                                <th>Trạng Thái</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int stt = Model.paging.startIndex; }
                            @foreach (var item in Model.StudentList)
                            {
                                <tr>
                                    <td class="uk-text-center">@(++stt)</td>
                                    <td><a href="@Url.Action("Details", "HocVien", new { area = "HienTai", id = item.Id })"><strong>@item.IDNo</strong></a></td>
                                    <td>@item.FullName</td>
                                    <td>@item.Age</td>
                                    <td>@item.TeacherName</td>
                                    <td>@item.ParentName</td>
                                    <td>
                                        @item.SchoolClassName
                                    </td>
                                    <td>
                                        <strong>Mã Kích Hoạt:</strong> @item.HasSendActiveCode<br />
                                        <strong>Cài App:</strong> @item.StudentComfirmInApp
                                    </td>
                                    <td class="uk-text-nowrap">
                                        <a href="javascript:void(0);" class="uk-margin-left" name="btnAccountInfo" id="@item.Id"><i class="material-icons md-24 uk-text-warning">contacts</i> Tài khoản</a>
                                        <a href="@Url.Action("Edit", "HocVien", new { area = "HienTai", id = item.Id })"><i class="material-icons md-24 uk-text-warning">edit</i> Sửa</a>
                                        <a href="javascript:void(0);" class="uk-margin-left" name="btnDelete" id="@item.Id"><i class="material-icons md-24 uk-text-danger">&#xE872;</i> Xóa</a>
                                        @if (item.IsActive != 0)
                                        {
                                            <a href="javascript:void(0);" class="uk-margin-left" name="btnBlock" id="@item.Id"><i class="material-icons md-24 uk-text-warning">lock</i> Khóa</a>
                                        }
                                        else
                                        {
                                            <a href="javascript:void(0);" class="uk-margin-left" name="btnUnBlock" id="@item.Id"><i class="material-icons md-24 uk-text-warning">lock</i> Mở Khóa</a>
                                        }
                                        @if (item.StudentId == 0)
                                        {
                                            <a href="javascript:void(0);" class="uk-margin-left" name="btnCreateAccountParent" id="@item.Id"><i class="material-icons md-24 uk-text-danger">control_point</i> Tạo tài khoản PH</a>
                                        }
                                        else
                                        {
                                            <a href="@Url.Action("Edit", "HocVien", new { area = "HienTai", Id = item.StudentId })" class="uk-margin-left"><i class="material-icons md-24 uk-text-danger">person_pin</i> Tài khoản phụ huynh</a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="pagination" data-total-count="@Model.paging.TotalRows" data-take="@Model.paging.PerPage"></div>
        </div>
    </div>
</div>

@section scripts{
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://rawgit.com/vitmalina/w2ui/master/dist/w2ui.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://rawgit.com/vitmalina/w2ui/master/dist/w2ui.min.css" />

    <script type="text/javascript" src="@Url.Content("~/Scripts/cms/vendor/paging/pajinatify.js")"></script>
    <link type="text/css" href="@Url.Content("~/Scripts/cms/vendor/paging/pajinatify.css")" rel="stylesheet" />
    <script type="text/javascript">
        $(document).ready(function () {
            gcHotkey._return();
            gcHotkey._save();
            $('select').select2();
            $('.pagination').pajinatify();
            $('.pagination').pajinatify('set', @Model.paging.CurPage, @Model.paging.TotalRows);
            $('.pajinatify__button').click(function () {
                var p = $(this).attr('data-page');
                window.location.href = '@Url.Action("Index", "HocVien", new { area = "HienTai" })' + '?currPage=' + p + querySearch();
            });
            $('[name="btnDelete"]').click(function () {
                var id = $(this).attr('id');
                var userName = $(this).attr('accesskey');
                UIkit.modal.confirm('Bạn có chắc chắn muốn xóa?', function () {
                    $.post('@Url.Action("Deletes", "HocVien", new { area = "HienTai" })', { id: id }, function (data) {
                        window.location.reload();
                    }, 'json');
                });
            });
            $('[name="btnBlock"]').click(function () {
                var id = $(this).attr('id');
                UIkit.modal.confirm('Bạn có chắc chắn muốn khóa?', function () {
                    $.post('@Url.Action("Block", "HocVien", new { area = "HienTai" })', { id: id }, function (data) {
                        window.location.reload();
                    }, 'json');
                });
            });
            $('[name="btnCreateAccountParent"]').click(function () {
                var id = $(this).attr('id');
                UIkit.modal.confirm('Bạn có chắc chắn muốn tạo tài khoản phụ huynh?', function () {
                    $.post('@Url.Action("CreateAccountParent", "HocVien", new { area = "HienTai" })', { studentId: id }, function (data) {
                        window.location.reload();
                    }, 'json');
                });
            });
            $('[name="btnUnBlock"]').click(function () {
                var id = $(this).attr('id');
                UIkit.modal.confirm('Bạn có chắc chắn muốn mở khóa?', function () {
                    $.post('@Url.Action("UnBlock", "HocVien", new { area = "HienTai" })', { id: id }, function (data) {
                        window.location.reload();
                    }, 'json');
                });
            });
            $('[name="btnAccountInfo"]').click(function () {
                var id = $(this).attr('id');
                w2popup.load('/HienTai/HocVien/AccountInfo/' + id );
            });
            $('#btnSearch').click(function () {
                window.location.href = '@Url.Action("Index", "HocVien", new { area = "HienTai" })' + '?currPage=0' + querySearch();
            });
            $('#Code, #FullName').keypress(function (event) {
                var keycode = (event.keyCode ? event.keyCode : event.which);
                if (keycode == '13') {
                    window.location.href = '@Url.Action("Index", "HocVien", new { area = "HienTai" })' + '?currPage=0' + querySearch();
                }
            });
            $("#SchoolClassId").change(function () {
                window.location.href = '@Url.Action("Index", "HocVien", new { area = "HienTai" })' + '?currPage=0' + querySearch();
            });
            $("#LevelArrs").change(function () {
                window.location.href = '@Url.Action("Index", "HocVien", new { area = "HienTai" })' + '?currPage=0' + querySearch();
            });
            $('#btnDownload').click(function () {
                var url = '/HienTai/HocVien/ExportStudent?p=0' + querySearch();
                $(location).attr('href', url);
            });
        });
        function querySearch() {
            let querySearch = '';
            if ($('#Code').val() != '') {
                querySearch += '&code=' + $('#Code').val();
            }
            if ($('#FullName').val() != '') {
                querySearch += '&fullName=' + $('#FullName').val();
            }
            if ($('#SchoolClassId').val() != '') {
                querySearch += '&schoolClassId=' + parseInt($('#SchoolClassId').val());
            }
            querySearch += '&TeacherId=' + $('#TeacherId').val();
            return querySearch;
        }
    </script>
}

