﻿@{
    ViewBag.Title = "GIỚI HẠN SÓ LƯỢNG ĐĂNG KÝ HIỀN TÀI";
}
<div class="md-card">
    <div class="md-card-toolbar height45">
        <h3 class="md-card-toolbar-heading-text">
            @ViewBag.Title
        </h3>
    </div>
    <div class="md-card-content uk-text-center">
        <h2>Số lượng hiền tài đào tạo vượt quá số lượng cho phép! <br />Vui lòng liên hệ với hotline <a href="tel:0939279868">0939 279 868</a> để được hỗ trợ.</h2>

        <h4>Số lượng hiền tài được phép đào tạo: @ViewBag.NoOfStudentTTL</h4>
        <h4>Số lượng hiền tài đã nhập hệ thống: @ViewBag.NoOfStudentAgency</h4>
        <br />
        <a href="javascript:history.back()">Quay lại trang trước.</a>
    </div>
</div>