﻿@model GCSOFT.MVC.Web.Areas.API.Data.AgencyAPI
@{
    ViewBag.Title = "Cập nhật Đối tác";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Edit", "Agency", FormMethod.Post, new { @id = "frmAgency", @class = "uk-form-stacked", @autocomplete = "off", @enctype = "multipart/form-data" }))
{
    <div id="page_content_inner" class="hierarchical_slide">
        <div class="md-card">
            <div class="md-card-toolbar">
                <div class="md-card-toolbar-actions">
                    <i class="md-icon material-icons md-card-toggle">&#xE316;</i>
                </div>
                <h3 class="md-card-toolbar-heading-text">
                    <i class="material-icons">&#xE894;</i>&nbsp;&nbsp;Cập nhật Đối tác
                    <input type="hidden" name="Id" id="Id" value="@Model.Id" />
                </h3>
            </div>
            <div class="md-card-content">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-2">
                        @Html.LabelFor(model => model.AgencyGroupCode)
                        @Html.DropDownListFor(model => model.AgencyGroupCode, Model.AgencyGroupCodes, "[ Chọn ]", new { @class = "md-input label-fixed validate[required]" })
                    </div>
                    <div class="uk-width-medium-1-2">
                        @Html.LabelFor(model => model.FullName)
                        @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "md-input" } })
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-2">
                        @Html.LabelFor(model => model.DistrictId)
                        @Html.DropDownListFor(model => model.CityId, Model.CityList, "[ Chọn ]", new { @class = "md-input label-fixed validate[required]" })
                    </div>
                    <div class="uk-width-medium-1-2">
                        @Html.LabelFor(model => model.DistrictId)
                        @Html.DropDownListFor(model => model.DistrictId, Model.DistrictList, "[ Chọn ]", new { @class = "md-input label-fixed validate[required]" })
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-2">
                        @Html.LabelFor(model => model.Avatar)
                        @Html.EditorFor(model => model.Avatar, new { htmlAttributes = new { @class = "md-input" } }) 
                        <label>Image</label>
                        <br />
                        <input type="file" class="md-input" name="file" , accept="image/*" required />
                    </div>
                    <div class="uk-width-medium-1-2">
                        @Html.LabelFor(model => model.FullAddress)
                        @Html.EditorFor(model => model.FullAddress, new { htmlAttributes = new { @class = "md-input" } })
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-2">
                        @Html.LabelFor(model => model.PhoneNo)
                        @Html.EditorFor(model => model.PhoneNo, new { htmlAttributes = new { @class = "md-input validate[custom[phone]]" } })
                    </div>
                    <div class="uk-width-medium-1-2">
                        @Html.LabelFor(model => model.Email)
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "md-input validate[custom[email]]" } })
                    </div>
                </div>
            </div>
            <div class="uk-grid uk-margin-medium-top">
                <div class="uk-width-1-1 uk-text-center">
                    <button id="btnSave" type="button" class="md-btn md-btn-primary">Cập Nhật</button>
                </div>
            </div>
        </div>
    </div>

}
<script type="text/javascript">
        $(document).ready(function () {
            gcHotkey._return();
            gcHotkey._save();
            CreateSuccess('@Url.Action("Create", "Agency", new { area = "API" })');
            $('#btnSave').click(function () {
                Save($("#frmAgency"), true);
            });

             $('#CityId').change(function () {
            var provinceId = $(this).val();
            if (provinceId == '') {
                provinceId = '0';
            }
            $.getJSON('@Url.Action("FetchDistricts", "Agency", new { area = "API" })', { provinceId: provinceId }, function (response) {
                var ddlDistrict = $('#DistrictId');
                ddlDistrict.empty();
                ddlDistrict.append($('<option></option>').text('[ Chọn ]').val(''));
                $.each(response, function (index, item) {
                    ddlDistrict.append($('<option></option>').text(item.name).val(item.id));
                });
            });
             });

        });
</script>
