﻿@model GCSOFT.MVC.Web.Areas.API.Data.News
@{
    ViewBag.Title = "Cập nhật Tin tức";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Edit", "News", FormMethod.Post, new { @id = "frmNews", @class = "uk-form-stacked", @autocomplete = "off", @enctype = "multipart/form-data" }))
{
    <div id="page_content_inner" class="hierarchical_slide">
        <div class="md-card">
            <div class="md-card-toolbar">
                <div class="md-card-toolbar-actions">
                    <i class="md-icon material-icons md-card-toggle">&#xE316;</i>
                </div>
                <h3 class="md-card-toolbar-heading-text">
                    <i class="material-icons">&#xE894;</i>&nbsp;&nbsp;Cập nhật Tin tức
                    <input type="hidden" name="Id" id="Id" value="@Model.Id" />
                </h3>
            </div>
            <div class="md-card-content">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-2">
                        @Html.LabelFor(model => model.GroupCode)
                        @Html.DropDownListFor(model => model.GroupCode, Model.GroupCodes, "[ Chọn ]", new { @class = "md-input label-fixed validate[required]" })
                    </div>
                    <div class="uk-width-medium-1-2">
                        @Html.LabelFor(model => model.Title)
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "md-input validate[required]" } })
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-2">
                        @Html.LabelFor(model => model.DateCreateStr)
                        @Html.TextBoxFor(model => model.DateCreateStr
                                                , new Dictionary<string, Object> {
                                                    { "class", "md-input label-fixed validate[required,funcCall[DateFormat[]]" }
                                                    , { "autocomplete", "off" }
                                                    , { "placeholder", "dd/MM/yyyy" }
                                                    , { "data-uk-datepicker", "{format:'DD/MM/YYYY'}" }
                                                })
                    </div>
                    <div class="uk-width-medium-1-2">
                        @Html.LabelFor(model => model.SortOrder)
                        @Html.EditorFor(model => model.SortOrder, new { htmlAttributes = new { @class = "md-input" } })
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-2">
                        @Html.LabelFor(model => model.ImageNews)
                        @Html.EditorFor(model => model.ImageNews, new { htmlAttributes = new { @class = "md-input" } })
                    </div>
                    <div class="uk-width-medium-1-2">
                        <label>Image</label>
                        <br />
                        <input type="file" class="md-input" name="file" , accept="image/*" required />
                    </div>
                </div>

                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.FullDescription)
                        @Html.TextAreaFor(model => model.FullDescription, new { @cols = "30", @rows = "30" })
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-2">
                        @Html.LabelFor(model => model.FileDownload)
                        @Html.EditorFor(model => model.FileDownload, new { htmlAttributes = new { @class = "md-input" } })
                    </div>
                    <div class="uk-width-medium-1-2">
                      
                    </div>
                </div>
            </div>
            <div class="uk-grid uk-margin-medium-top">
                <div class="uk-width-1-1 uk-text-center">
                    <a id="btnReturn" href="@Url.Action("Index", "News", new { area = "API" })" class="md-btn md-btn-danger md-btn-wave-light md-btn-icon">
                        <i class="material-icons md-color-white">&#xE15E;</i>
                        Quay Lại
                    </a>
                    <button id="btnSave" type="button" class="md-btn md-btn-primary">Cập nhật tin tức</button>
                </div>
            </div>
        </div>
    </div>

}
<script type="text/javascript">
        $(document).ready(function () {
            gcHotkey._return();
            gcHotkey._save();
            CreateSuccess('@Url.Action("Edit", "News", new { area = "API" })');
            $('#btnSave').click(function () {
                Save($("#frmNews"), true);
            });

            CKEDITOR.replace('FullDescription', { height: 500 });
            CKEDITOR.instances.FullDescription.on('change', function () {
                $('[name="FullDescription"]').val(CKEDITOR.instances.FullDescription.getData());
            });
        });

    function DateFormat(field, rules, i, options) {
        var regex = /^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$/;
        if (!regex.test(field.val())) {
            return "Vui lòng nhập ngày theo định dạng dd/MM/yyyy.";
        }
    }
</script>
