﻿@model GCSOFT.MVC.Web.ViewModels.SystemViewModels.UserLoginVMs
@using (Html.BeginForm("ChangePassword", "SysUser", FormMethod.Post, new { @id = "frmChangePassword", @class = "uk-form-stacked" }))
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/cms/js/altair_admin_common.js")"></script>
    <div class="md-card md-card-popup">
        <div class="md-card-toolbar md-card-toolbar-popup">
            <h3 class="md-card-toolbar-heading-text">
                Đổi Mật Khẩu
                @Html.HiddenFor(model => model.ID)
            </h3>
        </div>
        <div class="md-card-content md-card-content-popup">
            <!-- Row 1 -->
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    @Html.LabelFor(model => model.FullName)
                    @Html.TextBoxFor(model => model.FullName, new { @class = "md-input uk-form-width-large", @readonly = true })
                </div>
            </div>
            <!-- Row 2 -->
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    @Html.LabelFor(model => model.Username)
                    @Html.TextBoxFor(model => model.Username, new { @class = "md-input uk-form-width-large", @readonly = true })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    @Html.LabelFor(model => model.Password)
                    @Html.PasswordFor(model => model.Password, new { @class = "md-input uk-form-width-large validate[required]" })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    @Html.LabelFor(model => model.RePassword)
                    @Html.PasswordFor(model => model.RePassword, new { @class = "md-input uk-form-width-large validate[required,equals[Password]]" })
                </div>
            </div>
            <div class="uk-grid uk-margin-medium-top">
                <div class="uk-width-1-1 uk-text-right">
                    <button id="btnChangePass" type="button" class="md-btn md-btn-primary">Thay Đổi Mật Khẩu</button>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#btnChangePass').click(function () {
            var objFrom = $('#frmChangePassword');
            var options = {
                beforeSend: function () {
                    NProgress.start();
                    NProgress.set(0.4);
                },
                uploadProgress: function (event, position, total, percentComplete) {
                    NProgress.set(0.7);
                },
                success: function () {
                    NProgress.done();
                },
                complete: function (response) {
                    $().toastmessage('showToast', {
                        text: "Cập nhật mật khẩu thành công",
                        sticky: false,
                        position: 'top-center',
                        type: 'success'
                    });
                    $.fancybox.close();
                },
                error: function () {
                    $().toastmessage('showErrorToast', "Lỗi, Vui lòng liên hệ với quản trị viên để được hổ trợ");
                }
            }

            var flag = $.validation(objFrom);
            if (flag) {
                objFrom.ajaxForm(options).submit();
            }
        });
    });
</script>