﻿@model GCSOFT.MVC.Web.ViewModels.SystemViewModels.UserCard
<div id="page_content_inner" class="hierarchical_slide">
    <div class="md-card">
        <div class="md-card-toolbar">
            <div class="md-card-toolbar-actions">
                <i class="md-icon material-icons md-card-toggle">&#xE316;</i>
            </div>
            <h3 class="md-card-toolbar-heading-text">
                <i class="material-icons">&#xE894;</i>&nbsp;&nbsp;@ViewBag.Title
                @Html.HiddenFor(model => model.Password2)
            </h3>
        </div>
        <div class="md-card-content">
			<div class="uk-grid" data-uk-grid-margin>
				<div class="uk-width-medium-1-2">
					@Html.LabelFor(model => model.Username)
                    @Html.TextBoxFor(model => model.Username, new Dictionary<string, Object>
                            {
                                {"class","md-input validate[required]"},
                                {"xUsername", Model.Username}
                            })
                    @Html.HiddenFor(model => model.ID)
                    @if (Model.ID !=0)
                    {
                        @Html.HiddenFor(model => model.Password)
                    }
				</div>
                <div class="uk-width-medium-1-2">
                   
                    @*@Html.LabelFor(model => model.userGroupCodes)
        @Html.ListBoxFor(d => d.userGroupCodes, new MultiSelectList(Model.userGroups, "Code", "Name"), new { @class = "md-input select2" })*@
                </div>
			</div>
			<div class="uk-grid" data-uk-grid-margin>
				<div class="uk-width-medium-1-2">
					@Html.LabelFor(model => model.FirstName)
					@Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "md-input validate[required]" } })
				</div>
				<div class="uk-width-medium-1-2">
					@Html.LabelFor(model => model.LastName)
					@Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "md-input validate[required]" } })
				</div>
			</div>
            @if (Model.ID == 0)
            {
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-2">
                        @Html.LabelFor(model => model.Password)
                        @Html.PasswordFor(model => model.Password, new { @class = "md-input validate[required]" })
                    </div>
                    <div class="uk-width-medium-1-2">
                        @Html.LabelFor(model => model.RePassword)
                        @Html.PasswordFor(model => model.RePassword, new { @class = "md-input validate[required,equals[Password]]" })
                    </div>
                </div>
            }
			<div class="uk-grid" data-uk-grid-margin>
				<div class="uk-width-medium-1-2">
					@Html.LabelFor(model => model.Email)
					@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "md-input validate[required]" } })
				</div>
				<div class="uk-width-medium-1-2">
					@Html.LabelFor(model => model.Phone)
					@Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "md-input validate[required]" } })
				</div>
			</div>
			<div class="uk-grid" data-uk-grid-margin>
				<div class="uk-width-medium-1-2">
					@Html.LabelFor(model => model.Address)
					@Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "md-input" } })
				</div>
                <div class="uk-width-medium-1-2">
                    <div class="uk-form-row parsley-row">
                        @Html.LabelFor(model => model.Blocked, new { @class = "uk-form-label" })
                        <span class="icheck-inline">
                            @Html.CheckBoxFor(model => model.Blocked, new Dictionary<string, Object> { { "data-md-icheck", "" } })
                        </span>
                    </div>
                </div>
            </div>
			<div class="uk-grid" data-uk-grid-margin>
				<div class="uk-width-medium-1-2">
					@Html.LabelFor(model => model.Position)
					@Html.EditorFor(model => model.Position, new { htmlAttributes = new { @class = "md-input" } })
				</div>
				<div class="uk-width-medium-1-2">
					@Html.LabelFor(model => model.Description)
					@Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "md-input" } })
				</div>
			</div>
		</div>
	</div>
    @Html.Partial("_CardLine", Model.UserOfGroups)
</div>
<div class="md-fab-wrapper">
    <div class="md-fab md-fab-accent md-fab-sheet md-fab-small">
        <i class="material-icons">&#xE30F;</i>
        <div class="md-fab-sheet-actions">
            <a id="btnReturn" href="@Url.Action("Index", "SysUser", new { area = "administrator" })" class="md-color-white"><i class="material-icons md-color-white">&#xE15E;</i> <span class="gc-text-decoration uk-text-warning">Q</span>uay lại</a>
            <a id="btnSave" href="javascript:void(0)" class="md-color-white"><i class="material-icons md-color-white">&#xE161;</i> <span class="gc-text-decoration uk-text-warning">L</span>ưu</a>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        gcHotkey._return();
        gcHotkey._save();
        CreateSuccess('@Url.Action("Create", "SysUser", new { area = "administrator" })');
        $('#btnSave').click(function () {
            $.post('@Url.Action("CandAdd", "SysUser", new { area = "administrator" })', { u: $('#Username').val(), xu: $('#Username').attr('xUsername') }, function (data) {
                if (data) {
                    $().toastmessage('showToast', {
                        text: 'Username đã tồn tại',
                        sticky: false,
                        position: 'top-center',
                        type: 'warning'
                    });
                } else {
                    Save($("#frm"), true);
                }
            });
        });

        $('#Username').change(function () {
            var code = $(this).val();
            if (code == '')
                return;
            $.post('@Url.Action("CandAdd", "SysUser", new { area = "administrator" })', { c: $('#Code').val(), xc: $('#Code').attr('xCode') }, function (data) {
                if (data) {
                    $().toastmessage('showToast', {
                        text: 'Username đã tồn tại',
                        sticky: false,
                        position: 'top-center',
                        type: 'warning'
                    });
                }
            });
        });
    });
</script>