﻿@model GCSOFT.MVC.AGENCY.Areas.Agency.Data.AgencyList
    <script type="text/javascript" src="@Url.Content("~/Scripts/cms/js/altair_admin_common.js")"></script>
    <div class="md-card md-card-popup">
        <div class="md-card-toolbar md-card-toolbar-popup">
            <h3 class="md-card-toolbar-heading-text">
                Thông Tin Đối Tác
            </h3>
        </div>
        <div class="md-card-content md-card-content-popup">
            <!-- Row 1 -->
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    @Html.LabelFor(model => model.FullName)
                    @Html.TextBoxFor(model => model.FullName, new { @class = "md-input uk-form-width-large", @readonly = true })
                </div>
            </div>
            <!-- Row 2 -->
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    @Html.LabelFor(model => model.Phone)
                    @Html.TextBoxFor(model => model.Phone, new { @class = "md-input uk-form-width-large", @readonly = true })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    @Html.LabelFor(model => model.Email)
                    @Html.TextBoxFor(model => model.Email, new { @class = "md-input uk-form-width-large", @readonly = true })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    @Html.LabelFor(model => model.AgencyNo)
                    @Html.TextBoxFor(model => model.AgencyNo, new { @class = "md-input uk-form-width-large" })
                    <span class="uk-input-group-addon"><a class="md-btn md-btn-flat md-btn-flat-primary md-btn-wave waves-effect waves-button" href="javascript:void(0);" id="btnReSendAPIKey">Lấy API Key</a></span>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    $(document).ready(function () {
        $('#btnReSendAPIKey').click(function () {
            NProgress.start();
           $('#btnReSendAPIKey').addClass("disabled").text('Đang tạo ....');
            $.post('@Url.Action("ResendAPIKey", "SysUser", new { area = "Administrator" })', { id: $('#Id').val() }, function (data) {
                $().toastmessage('showToast', {
                    text: 'Lấy API key mới thành công!',
                    sticky: false,
                    position: 'top-center',
                    type: 'success'
                });
                $('#AgencyNo').text(data).val(data);
                $('#btnReSendAPIKey').removeClass("disabled").text('Lấy API Key');
                NProgress.done();
            });
        });
    });
    </script>