﻿@using PagedList.Mvc;
@using PagedList;
@model IPagedList<GCSOFT.MVC.AGENCY.ViewModels.HienTai.O_StudentActive>
@{
    Layout = null;
    int StartStt = ViewBag.StartSTT;
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th class="text-center">STT</th>
            <th class="text-center">Mã Kích Hoạt</th>
            <th class="text-center">Số Báo Danh</th>
            <th class="text-center">Họ Tên Học Viên</th>
            <th class="text-center">Họ Tên Phụ Huynh</th>
            <th class="text-center">Số Điện Thoại</th>
            <th class="text-center">Thời Gian Kích Hoạt</th>
            <th class="text-center">Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count > 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">@StartStt</td>
                    <td class="text-center"><a href="@Url.Action("Details", "MaKichHoat", new { area = "HienTai", id=item.Id })"><strong>@item.ActivationCode</strong></a></td>
                    <td>@item.IDNo</td>
                    <td>@item.StudentName</td>
                    <td>@item.ParentName</td>
                    <td>@item.PhoneNumber</td>
                    <td class="text-center">@item.DateActive.ToString("dd/MM/yyyy")</td>
                    <td class="text-center">
                        <a href="#" class="btn btn-sm btn-icon btn-flat btn-default" title="Chỉnh Sửa">
                            <i class="material-icons md-24 uk-text-success">edit</i>
                        </a>
                        <button type="button" onclick='' class="btn btn-sm btn-icon btn-flat btn-default" title="Xóa">
                            <i class="material-icons md-24 uk-text-danger">&#xE872;</i>
                        </button>
                    </td>
                </tr>
                StartStt++;
            }
        }
        else
        {
            <tr>
                <td colspan="8">Dữ liệu không tồn tại.</td>
            </tr>
        }
    </tbody>
</table>
<div class="text-center">
    @if (Model.PageCount > 1)
    {
        @Html.PagedListPager(
            Model,
            pageNumber => Url.Action("IndexContent", "MaKichHoat"
            , new { idNo = ViewBag.idNo, fullName = ViewBag.fullName, schoolClassId = ViewBag.schoolClassId, levelId = ViewBag.levelId, pageNumber }),
            PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(PagedListRenderOptions.PageNumbersOnly, new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "StudentActiveGrid" })
        )
    }
</div>

