﻿@model GCSOFT.MVC.AGENCY.Areas.Transaction.Data.SalesOrderCard
@using (Html.BeginForm("Create", "Shipment", FormMethod.Post, new { @id = "frmShipment", @class = "uk-form-stacked", @autocomplete = "off" }))
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/cms/js/altair_admin_common.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/cms/js/gc-common.js")"></script>
    <div class="md-card md-card-popup">
        <div class="md-card-toolbar md-card-toolbar-popup">
            <h3 class="md-card-toolbar-heading-text">
                Chuyển Thẻ Cho Đại Lý
            </h3>
        </div>
        <div class="md-card-content md-card-content-popup">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-3">
                    <label>Chứng Từ Giao Hàng</label>
                    @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "md-input", @readonly = true } })
                </div>
                <div class="uk-width-medium-1-3">
                    <label>Đơn Đặt Hàng</label>
                    @Html.EditorFor(model => model.SourceNo, new { htmlAttributes = new { @class = "md-input", @readonly = true } })
                    @Html.HiddenFor(model => model.SalesType)
                </div>
                <div class="uk-width-medium-1-3">
                    @Html.LabelFor(model => model.DocumentDateStr)
                    @Html.EditorFor(model => model.DocumentDateStr, new { htmlAttributes = new { @class = "md-input label-fixed", @readonly = true } })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-3">
                    @Html.LabelFor(model => model.CustomerId)
                    @Html.EditorFor(model => model.CustomerName, new { htmlAttributes = new { @class = "md-input", @readonly = true } })
                </div>
                <div class="uk-width-medium-1-3">
                    @Html.LabelFor(model => model.CustomerPhoneNo)
                    @Html.EditorFor(model => model.CustomerPhoneNo, new { htmlAttributes = new { @class = "md-input", @readonly = true } })
                </div>
                <div class="uk-width-medium-1-3">
                    @Html.LabelFor(model => model.CustomerEmail)
                    @Html.EditorFor(model => model.CustomerEmail, new { htmlAttributes = new { @class = "md-input", @readonly = true } })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-2">
                    @Html.LabelFor(model => model.CustomerAddress)
                    @Html.EditorFor(model => model.CustomerAddress, new { htmlAttributes = new { @class = "md-input", @readonly = true } })
                </div>
                <div class="uk-width-medium-1-2">
                    @Html.LabelFor(model => model.StatusId)
                    @Html.EditorFor(model => model.StatusName, new { htmlAttributes = new { @class = "md-input", @readonly = true } })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-2">
                    @Html.LabelFor(model => model.TotalCardStr)
                    @Html.TextBoxFor(model => model.TotalCardStr, new Dictionary<string, Object>
                          {
                              {"class","md-input masked_input label-fixed"},
                              {"readonly", "readonly" },
                              {"data-inputmask", "'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true, 'placeholder': '0'"}
                          })
                </div>
                <div class="uk-width-medium-1-2">
                    @Html.LabelFor(model => model.TotalAmount)
                    @Html.TextBoxFor(model => model.TotalAmount, new Dictionary<string, Object>
                          {
                              {"class","md-input masked_input label-fixed"},
                              {"data-inputmask", "'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true, 'placeholder': '0'"},
                              {"readonly","readonly"}
                          })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    @Html.LabelFor(model => model.Remark)
                    @Html.TextAreaFor(model => model.Remark, new { @cols = "30", @rows = "3", @class = "md-input" })
                </div>
            </div>
            <div class="uk-grid uk-margin-medium-top">
                <div class="uk-width-1-1 uk-text-right">
                    <button id="btnPostedShipment" type="button" class="md-btn md-btn-primary">Xác Nhận Giao Thẻ</button>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#btnPostedShipment').click(function () {
            var objFrom = $('#frmShipment');
            var flag = $.validation(objFrom);
            if (flag) {
                NProgress.start();
                BlockUI();
                objFrom.ajaxSubmit(function (data) {
                    console.log(data);
                    window.location.href = data;
                });
                $.fancybox.close();
            }
        });
    });
</script>