﻿@model GCSOFT.MVC.AGENCY.Areas.Transaction.Data.SalesOrderCard
@{
    ViewBag.Title = "CHI TIẾT PHIẾU NHẬN HÀNG";
}
@using (Html.BeginForm("ChangeStatus", "Shipment", FormMethod.Post, new { @id = "frmShipment", @class = "uk-form-stacked", @autocomplete = "off" }))
{
    <div id="page_content_inner">
        <div class="md-card">
            <div class="md-card-toolbar">
                <div class="md-card-toolbar-actions">
                    @if (Model.StatusCode.Equals("250"))
                    {
                        <a id="btnConfirmOrder" href="javascript:void(0);" class="md-btn md-btn-small md-btn-flat md-btn-flat-primary"><i class="material-icons uk-text-primary">work</i>&nbsp;Đã Nhận Đủ Số Lượng</a>
                    }
                </div>
                <h3 class="md-card-toolbar-heading-text">
                    @ViewBag.Title
                    @Html.HiddenFor(model => model.Code)
                    @Html.HiddenFor(model => model.FromSoure)
                    @Html.HiddenFor(model => model.SourceNo)
                </h3>
            </div>
            <div class="md-card-content gc-padding-top-8">
                <div class="uk-grid margin-top-0px">
                    <div class="uk-width-medium-1-4">
                        <div class="uk-width-medium-1-1">
                            @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "uk-text-muted uk-text-small" })
                        </div>
                        <div class="uk-width-medium-1-1 margin-top-2px">
                            <span class="uk-text-middle">@Model.Code</span>
                        </div>
                        <hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
                    </div>
                    <div class="uk-width-medium-1-4">
                        <div class="uk-width-medium-1-1">
                            @Html.LabelFor(model => model.DocumentDateStr, htmlAttributes: new { @class = "uk-text-muted uk-text-small" })
                        </div>
                        <div class="uk-width-medium-1-1 margin-top-2px">
                            <span class="uk-text-middle">@Model.DocumentDateStr</span>
                        </div>
                        <hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
                    </div>
                    <div class="uk-width-medium-1-4">
                        <div class="uk-width-medium-1-1">
                            @Html.LabelFor(model => model.ReceiptDateStr, htmlAttributes: new { @class = "uk-text-muted uk-text-small" })
                        </div>
                        <div class="uk-width-medium-1-1 margin-top-2px">
                            <span class="uk-text-middle">@Model.ReceiptDateStr</span>
                        </div>
                        <hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
                    </div>
                    <div class="uk-width-medium-1-4">
                        <div class="uk-width-medium-1-1">
                            @Html.LabelFor(model => model.StatusId, htmlAttributes: new { @class = "uk-text-muted uk-text-small" })
                        </div>
                        <div class="uk-width-medium-1-1 margin-top-2px">
                            <span class="uk-text-middle">@Model.StatusName</span>
                        </div>
                        <hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
                    </div>
                </div>
                <div class="uk-grid gc-margin-top-0px uk-hidden-small">
                    <div class="uk-width-medium-1-4">
                        <hr class="gc-grid-divider">
                    </div>
                    <div class="uk-width-medium-1-4">
                        <hr class="gc-grid-divider">
                    </div>
                    <div class="uk-width-medium-1-4">
                        <hr class="gc-grid-divider">
                    </div>
                    <div class="uk-width-medium-1-4">
                        <hr class="gc-grid-divider">
                    </div>
                </div>

                <div class="uk-grid margin-top-0px">
                    <div class="uk-width-medium-1-4">
                        <div class="uk-width-medium-1-1">
                            @Html.LabelFor(model => model.CustomerId, htmlAttributes: new { @class = "uk-text-muted uk-text-small" })
                        </div>
                        <div class="uk-width-medium-1-1 margin-top-2px">
                            <span class="uk-text-middle">@Model.CustomerName</span>
                        </div>
                        <hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
                    </div>
                    <div class="uk-width-medium-1-4">
                        <div class="uk-width-medium-1-1">
                            @Html.LabelFor(model => model.CustomerAddress, htmlAttributes: new { @class = "uk-text-muted uk-text-small" })
                        </div>
                        <div class="uk-width-medium-1-1 margin-top-2px">
                            <span class="uk-text-middle">@Model.CustomerAddress</span>
                        </div>
                        <hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
                    </div>
                    <div class="uk-width-medium-1-4">
                        <div class="uk-width-medium-1-1">
                            @Html.LabelFor(model => model.CustomerEmail, htmlAttributes: new { @class = "uk-text-muted uk-text-small" })
                        </div>
                        <div class="uk-width-medium-1-1 margin-top-2px">
                            <span class="uk-text-middle">@Model.CustomerEmail</span>
                        </div>
                        <hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
                    </div>
                    <div class="uk-width-medium-1-4">
                        <div class="uk-width-medium-1-1">
                            @Html.LabelFor(model => model.CustomerPhoneNo, htmlAttributes: new { @class = "uk-text-muted uk-text-small" })
                        </div>
                        <div class="uk-width-medium-1-1 margin-top-2px">
                            <span class="uk-text-middle">@Model.CustomerPhoneNo</span>
                        </div>
                        <hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
                    </div>
                </div>
                <div class="uk-grid gc-margin-top-0px uk-hidden-small">
                    <div class="uk-width-medium-1-4">
                        <hr class="gc-grid-divider">
                    </div>
                    <div class="uk-width-medium-1-4">
                        <hr class="gc-grid-divider">
                    </div>
                    <div class="uk-width-medium-1-4">
                        <hr class="gc-grid-divider">
                    </div>
                    <div class="uk-width-medium-1-4">
                        <hr class="gc-grid-divider">
                    </div>
                </div>

                <div class="uk-grid margin-top-0px">
                    <div class="uk-width-medium-1-4">
                        <div class="uk-width-medium-1-1">
                            @Html.LabelFor(model => model.NoOfCard, htmlAttributes: new { @class = "uk-text-muted uk-text-small" })
                        </div>
                        <div class="uk-width-medium-1-1 margin-top-2px">
                            <span class="uk-text-middle">@Model.NoOfCardStr</span>
                        </div>
                        <hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
                    </div>
                    <div class="uk-width-medium-1-4">
                        <div class="uk-width-medium-1-1">
                            @Html.LabelFor(model => model.GiftCard, htmlAttributes: new { @class = "uk-text-muted uk-text-small" })
                        </div>
                        <div class="uk-width-medium-1-1 margin-top-2px">
                            <span class="uk-text-middle">@Model.GiftCardStr</span>
                        </div>
                        <hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
                    </div>
                    <div class="uk-width-medium-1-4">
                        <div class="uk-width-medium-1-1">
                            @Html.LabelFor(model => model.TotalCard, htmlAttributes: new { @class = "uk-text-muted uk-text-small" })
                        </div>
                        <div class="uk-width-medium-1-1 margin-top-2px">
                            <span class="uk-text-middle">@Model.TotalCardStr</span>
                        </div>
                        <hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
                    </div>
                    <div class="uk-width-medium-1-4">
                        <div class="uk-width-medium-1-1">
                            @Html.LabelFor(model => model.LotNumber, htmlAttributes: new { @class = "uk-text-muted uk-text-small" })
                        </div>
                        <div class="uk-width-medium-1-1 margin-top-2px">
                            <span class="uk-text-middle">@Model.LotNumber</span>
                        </div>
                        <hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
                    </div>
                </div>
                <div class="uk-grid gc-margin-top-0px uk-hidden-small">
                    <div class="uk-width-medium-1-4">
                        <hr class="gc-grid-divider">
                    </div>
                    <div class="uk-width-medium-1-4">
                        <hr class="gc-grid-divider">
                    </div>
                    <div class="uk-width-medium-1-4">
                        <hr class="gc-grid-divider">
                    </div>
                    <div class="uk-width-medium-1-4">
                        <hr class="gc-grid-divider">
                    </div>
                </div>
                <div class="uk-grid margin-top-0px">
                    <div class="uk-width-medium-1-4">
                        <div class="uk-width-medium-1-1">
                            @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "uk-text-muted uk-text-small" })
                        </div>
                        <div class="uk-width-medium-1-1 margin-top-2px">
                            <span class="uk-text-middle">@Model.AmountStr</span>
                        </div>
                        <hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
                    </div>
                    <div class="uk-width-medium-1-4">
                        <div class="uk-width-medium-1-1">
                            @Html.LabelFor(model => model.DiscountPercent, htmlAttributes: new { @class = "uk-text-muted uk-text-small" })
                        </div>
                        <div class="uk-width-medium-1-1 margin-top-2px">
                            <span class="uk-text-middle">@Model.DiscountPercent</span>
                        </div>
                        <hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
                    </div>
                    <div class="uk-width-medium-1-4">
                        <div class="uk-width-medium-1-1">
                            @Html.LabelFor(model => model.DiscountAmt, htmlAttributes: new { @class = "uk-text-muted uk-text-small" })
                        </div>
                        <div class="uk-width-medium-1-1 margin-top-2px">
                            <span class="uk-text-middle">@Model.DiscountAmtStr</span>
                        </div>
                        <hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
                    </div>
                    <div class="uk-width-medium-1-4">
                        <div class="uk-width-medium-1-1">
                            @Html.LabelFor(model => model.TotalAmount, htmlAttributes: new { @class = "uk-text-muted uk-text-small" })
                        </div>
                        <div class="uk-width-medium-1-1 margin-top-2px">
                            <span class="uk-text-middle">@Model.TotalAmountStr</span>
                        </div>
                        <hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
                    </div>
                </div>
                <div class="uk-grid gc-margin-top-0px uk-hidden-small">
                    <div class="uk-width-medium-1-4">
                        <hr class="gc-grid-divider">
                    </div>
                    <div class="uk-width-medium-1-4">
                        <hr class="gc-grid-divider">
                    </div>
                    <div class="uk-width-medium-1-4">
                        <hr class="gc-grid-divider">
                    </div>
                    <div class="uk-width-medium-1-4">
                        <hr class="gc-grid-divider">
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.Remark)
                        @Html.TextAreaFor(model => model.Remark, new { @cols = "30", @rows = "3", @class = "md-input" })
                    </div>
                </div>

            </div>
        </div>
        @Html.Partial("_CardLine", Model)
    </div>
    <div class="md-fab-wrapper">
        <a id="btnReturn" href="@Url.Action("Index", "Shipment", new { area = "Transaction" })" class="md-fab md-fab-small md-fab-accent" title="Quay lại" data-uk-tooltip="{pos:'top'}"><i class="material-icons">&#xE31B;</i></a>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        if ($.urlParam('msg') == '2') {
            $().toastmessage('showToast', {
                text: 'Thẻ đã được chuyển vào Kho.',
                sticky: false,
                position: 'top-center',
                type: 'success'
            });
        }
        $('#btnConfirmOrder').click(function () {
            NProgress.start();
            var objFrom = $('#frmShipment');
            var options = {
                beforeSend: function () {
                    NProgress.start();
                    NProgress.set(0.4);
                    BlockUI();
                },
                uploadProgress: function (event, position, total, percentComplete) {
                    NProgress.set(0.7);
                },
                success: function () {
                    NProgress.done();
                },
                complete: function (response) {
                    window.location.href = '@Url.Action("Details", "Shipment", new { area = "Transaction", id = Model.Code })' + '?msg=2';
                },
                error: function () {
                    $().toastmessage('showErrorToast', "Lỗi, Vui lòng liên hệ với quản trị viên để được hổ trợ");
                }
            }
            objFrom.ajaxForm(options).submit();
        });
    });
</script>