﻿@model GCSOFT.MVC.Web.Areas.Report.Data.AgencyBuyGeneralData
@{
    ViewBag.Title = "Báo Cáo Kinh Doanh Đại Lý";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
<style>
    /* Fix table head */
    .tableFixHead {
        overflow: auto;
        height: 750px;
    }

        .tableFixHead thead {
            position: sticky;
            top: 0;
        }

    /* Just common table stuff. */
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th {
        background: #eee;
    }
</style>
<div id="page_content_inner">
    <div class="md-card">
        <div class="md-card-toolbar">
            <h3 class="md-card-toolbar-heading-text">
                Tìm kiếm
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-2">
                    <div class="parsley-row">
                        <label for="Type">Đại Lý</label><br />
                        @Html.DropDownListFor(model => model.searchAgencyId, Model.AgencyList, "[ Xem tất cả ]", new { @class = "md-input" })
                    </div>
                </div>
                <div class="uk-width-medium-1-2">
                    <div class="parsley-row">
                        <label for="Type">Sắp Xếp</label><br />
                        @Html.DropDownListFor(model => model.SortBy, Model.SortByList, "[ Chọn ]", new { @class = "md-input" })
                    </div>
                </div>

            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-4">
                    <label for="Type">Từ Ngày bán</label>
                    @Html.TextBoxFor(model => model.FromDateBuyStr
                                         , new Dictionary<string, Object> {
                                                { "class", "md-input label-fixed validate[required,funcCall[DateFormat[]]" }
                                                , { "autocomplete", "off" }
                                                , { "placeholder", "dd/MM/yyyy" }
                                                , { "data-uk-datepicker", "{format:'DD/MM/YYYY'}" }
                                         })
                </div>
                <div class="uk-width-medium-1-4">
                    <label for="Type">Đến Ngày bán</label>
                    @Html.TextBoxFor(model => model.ToDateBuyStr
                                         , new Dictionary<string, Object> {
                                                { "class", "md-input label-fixed validate[required,funcCall[DateFormat[]]" }
                                                , { "autocomplete", "off" }
                                                , { "placeholder", "dd/MM/yyyy" }
                                                , { "data-uk-datepicker", "{format:'DD/MM/YYYY'}" }
                                         })
                </div>
                <div class="uk-width-medium-1-4">
                    <label for="Type">Từ Ngày kích hoạt</label>
                    @Html.TextBoxFor(model => model.FromDateActiveStr
                                         , new Dictionary<string, Object> {
                                                { "class", "md-input label-fixed validate[required,funcCall[DateFormat[]]" }
                                                , { "autocomplete", "off" }
                                                , { "placeholder", "dd/MM/yyyy" }
                                                , { "data-uk-datepicker", "{format:'DD/MM/YYYY'}" }
                                         })
                </div>
                <div class="uk-width-medium-1-4">
                    <label for="Type">Đến Ngày kích hoạt</label>
                    @Html.TextBoxFor(model => model.ToDateActiveStr
                                         , new Dictionary<string, Object> {
                                                { "class", "md-input label-fixed validate[required,funcCall[DateFormat[]]" }
                                                , { "autocomplete", "off" }
                                                , { "placeholder", "dd/MM/yyyy" }
                                                , { "data-uk-datepicker", "{format:'DD/MM/YYYY'}" }
                                         })
                </div>
            </div>

            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1 uk-text-right">
                    <a id="btnSearch" href="javascript:void(0);" class="md-btn md-btn-primary uk-margin-small-top"><i class="material-icons">&#xE8B6;</i> Tìm Kiếm</a>
                    <a id="btnDownload" href="javascript:void(0);" class="md-btn md-btn-primary uk-margin-small-top">DownLoad Excel</a>
                </div>
            </div>
        </div>
    </div>
    <div class="md-card">
        <div class="md-card-toolbar">
            <h3 class="md-card-toolbar-heading-text">
                @ViewBag.Title
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-overflow-container tableFixHead">
                <table class="uk-table uk-table-striped uk-table-hover">
                    <thead>
                        <tr>
                            <th colspan="2"></th>

                            <th colspan="3" class="uk-text-center"><strong>Tổng Thẻ Đang Có</strong></th>

                            <th colspan="3" class="uk-text-center"><strong>Số Lượng Đã Bán<br />(Từ ĐT Chính Thức)</strong></th>

                            <th colspan="3" class="uk-text-center"><strong>Số Lượng Đã Kích Hoạt</strong></th>

                            <th colspan="3" class="uk-text-center"><strong>Số Lượng Đã Bán <br />(Từ ĐT Chính Thức, ĐT Con, CTV)</strong></th>

                            <th colspan="3" class="uk-text-center"><strong>Số Lượng Tồn Kho</strong></th>
                        </tr>
                        <tr>
                            <th class="uk-width-1-10 uk-text-center"><strong>STT</strong></th>
                            <th class="uk-width-2-10"><strong>Tên Đại Lý</strong></th>

                            <th class="uk-text-right"><strong>Thẻ 12 Lớp</strong></th>
                            <th class="uk-text-right"><strong>Thẻ Cấp</strong></th>
                            <th class="uk-text-right"><strong>Thẻ Lớp</strong></th>

                            <th class="uk-text-right"><strong>Thẻ 12 Lớp</strong></th>
                            <th class="uk-text-right"><strong>Thẻ Cấp</strong></th>
                            <th class="uk-text-right"><strong>Thẻ Lớp</strong></th>

                            <th class="uk-text-right"><strong>Thẻ 12 Lớp</strong></th>
                            <th class="uk-text-right"><strong>Thẻ Cấp</strong></th>
                            <th class="uk-text-right"><strong>Thẻ Lớp</strong></th>

                            <th class="uk-text-right"><strong>Thẻ 12 Lớp</strong></th>
                            <th class="uk-text-right"><strong>Thẻ Cấp</strong></th>
                            <th class="uk-text-right"><strong>Thẻ Lớp</strong></th>

                            <th class="uk-text-right"><strong>Thẻ 12 Lớp</strong></th>
                            <th class="uk-text-right"><strong>Thẻ Cấp</strong></th>
                            <th class="uk-text-right"><strong>Thẻ Lớp</strong></th>
                        </tr>
                        <tr>
                            <th class="uk-width-1-10 uk-text-center"><strong></strong></th>
                            <th class="uk-width-2-10"><strong>Tổng Cộng</strong></th>

                            <th class="uk-text-right uk-text-primary"><strong>@string.Format("{0:#,##0}", Model.TotalVIP)</strong></th>
                            <th class="uk-text-right uk-text-primary"><strong>@string.Format("{0:#,##0}", Model.TotalLevel)</strong></th>
                            <th class="uk-text-right uk-text-primary"><strong>@string.Format("{0:#,##0}", Model.TotalGrade)</strong></th>

                            <th class="uk-text-right uk-text-primary"><strong>@string.Format("{0:#,##0}", Model.BuyVIP)</strong></th>
                            <th class="uk-text-right uk-text-primary"><strong>@string.Format("{0:#,##0}", Model.BuyLevel)</strong></th>
                            <th class="uk-text-right uk-text-primary"><strong>@string.Format("{0:#,##0}", Model.BuyGrade)</strong></th>

                            <th class="uk-text-right uk-text-primary"><strong>@string.Format("{0:#,##0}", Model.ActiveVIP)</strong></th>
                            <th class="uk-text-right uk-text-primary"><strong>@string.Format("{0:#,##0}", Model.ActiveLevel)</strong></th>
                            <th class="uk-text-right uk-text-primary"><strong>@string.Format("{0:#,##0}", Model.ActiveGrade)</strong></th>

                            <th class="uk-text-right uk-text-primary"><strong>@string.Format("{0:#,##0}", Model.BuyAllVIP)</strong></th>
                            <th class="uk-text-right uk-text-primary"><strong>@string.Format("{0:#,##0}", Model.BuyAllLevel)</strong></th>
                            <th class="uk-text-right uk-text-primary"><strong>@string.Format("{0:#,##0}", Model.BuyAllGrade)</strong></th>

                            <th class="uk-text-right uk-text-primary"><strong>@string.Format("{0:#,##0}", Model.TotalVIP - Model.BuyAllVIP)</strong></th>
                            <th class="uk-text-right uk-text-primary"><strong>@string.Format("{0:#,##0}", Model.TotalLevel - Model.BuyAllLevel)</strong></th>
                            <th class="uk-text-right uk-text-primary"><strong>@string.Format("{0:#,##0}", Model.TotalGrade - Model.BuyAllGrade)</strong></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int stt = Model.Paging.startIndex; }
                        @foreach (var item in Model.agencyBuyGeneral)
                        {
                            <tr>
                                <td class="uk-text-center">@(++stt)</td>
                                <td>
                                    <strong>@item.FullName</strong><br />
                                    <strong>- ĐT:</strong> @item.Phone<br />
                                    <strong>- Quận/Huyện:</strong>@item.DistrictName<br />
                                    <strong>- Tỉnh/Thành Phố:</strong>@item.CityName<br />
                                    <strong>- Mã Đại Lý: </strong>@item.Code<br />
                                </td>
                                <td class="uk-text-right">@string.Format("{0:#,##0}", item.Total_VIP)</td>
                                <td class="uk-text-right">@string.Format("{0:#,##0}", item.Total_LEVEL)</td>
                                <td class="uk-text-right">@string.Format("{0:#,##0}", item.Total_GRADE)</td>

                                <td class="uk-text-right">@string.Format("{0:#,##0}", item.CardBuy_VIP)</td>
                                <td class="uk-text-right">@string.Format("{0:#,##0}", item.CardBuy_LEVEL)</td>
                                <td class="uk-text-right">@string.Format("{0:#,##0}", item.CardBuy_GRADE)</td>

                                <td class="uk-text-right">@string.Format("{0:#,##0}", item.CardActive_VIP)</td>
                                <td class="uk-text-right">@string.Format("{0:#,##0}", item.CardActive_LEVEL)</td>
                                <td class="uk-text-right">@string.Format("{0:#,##0}", item.CardActive_GRADE)</td>

                                <td class="uk-text-right">@string.Format("{0:#,##0}", item.CardBuyAll_VIP)</td>
                                <td class="uk-text-right">@string.Format("{0:#,##0}", item.CardBuyAll_LEVEL)</td>
                                <td class="uk-text-right">@string.Format("{0:#,##0}", item.CardBuyAll_GRADE)</td>

                                <td class="uk-text-right">@string.Format("{0:#,##0}", item.TotalCardBuyAll_VIP)</td>
                                <td class="uk-text-right">@string.Format("{0:#,##0}", item.TotalCardBuyAll_LEVEL)</td>
                                <td class="uk-text-right">@string.Format("{0:#,##0}", item.TotalCardBuyAll_GRADE)</td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="pagination" data-total-count="@Model.Paging.TotalRows" data-take="@Model.Paging.PerPage"></div>
        </div>
    </div>
</div>
<script type="text/javascript" src="@Url.Content("~/Scripts/cms/vendor/paging/pajinatify.js")"></script>
<link type="text/css" href="@Url.Content("~/Scripts/cms/vendor/paging/pajinatify.css")" rel="stylesheet" />
<script type="text/javascript">
    $(document).ready(function () {
        $('.pagination').pajinatify();
        $('.pagination').pajinatify('set', @Model.Paging.CurPage, @Model.Paging.TotalRows);
        $('.pajinatify__button').click(function () {
            var p = $(this).attr('data-page');
            window.location.href = '@Url.Action("Index", "AgencyBuyGeneral", new { area = "Report" })' + '?p=' + p + querySearch();
        });
        $('select').select2({
            selectOnClose: true
        });
        $('#btnSearch').click(function () {
            window.location.href = '@Url.Action("Index", "AgencyBuyGeneral", new { area = "Report" })' + '?p=0' + querySearch();
        });
        $('#btnDownload').click(function () {
            var url = '/Report/AgencyBuyGeneral/DownloadExcel?p=0' + querySearch();
            $(location).attr('href', url);
        });
    });
    function querySearch() {
        return '&searchAgencyId=' + $('#searchAgencyId option:selected').val() + '&fdBuy=' + $('#FromDateBuyStr').val() + '&tdBuy=' + $('#ToDateBuyStr').val() + '&fdActive=' + $('#FromDateActiveStr').val() + '&tdActive=' + $('#ToDateActiveStr').val() + '&SortBy=' + $('#SortBy option:selected').val();
    }
    function DateFormat(field, rules, i, options) {
        var regex = /^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$/;
        if (!regex.test(field.val())) {
            return "Vui lòng nhập ngày theo định dạng dd/MM/yyyy.";
        }
    }
</script>