﻿@model GCSOFT.MVC.Web.Areas.Agency.Data.TicketViewModel
@{
    bool isCreate = string.IsNullOrEmpty(Model.Code);
}
<style>
    /* Fix table head */
    .tableFixHead {
        overflow: auto;
        height: 500px;
    }

        .tableFixHead thead {
            position: sticky;
            top: 0;
        }

    /* Just common table stuff. */
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th {
        background: #eee;
    }
</style>

<div id="page_content_inner" class="hierarchical_slide">
    <div class="md-card">
        <div class="md-card-toolbar">
            <div class="md-card-toolbar-actions">
                <i class="md-icon material-icons md-card-toggle">&#xE316;</i>
            </div>
            <h3 class="md-card-toolbar-heading-text">
                <i class="material-icons">&#xE894;</i>&nbsp;&nbsp;@ViewBag.Title
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.SendById)
                @Html.HiddenFor(model => model.SendBy)
                @Html.HiddenFor(model => model.Code)
                @Html.HiddenFor(model => model.SendByEmail)
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-3">
                    <label>Mã Ticket</label>
                    @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "md-input label-fixed", @readonly = true } })
                </div>
                <div class="uk-width-medium-1-3">
                    @Html.LabelFor(model => model.DateCreateStr)
                    @Html.EditorFor(model => model.DateCreateStr, new { htmlAttributes = new { @class = "md-input label-fixed", @readonly = true } })
                </div>
                <div class="uk-width-medium-1-3">
                    @Html.LabelFor(model => model.DateModifyStr)
                    @Html.EditorFor(model => model.DateModifyStr, new { htmlAttributes = new { @class = "md-input label-fixed", @readonly = true } })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-5">
                    @Html.LabelFor(model => model.SystemCode)
                    @Html.DropDownListFor(model => model.SystemCode, Model.SystemList, "[ Chọn ]", new { @class = "md-input label-fixed validate[required]" })
                </div>
                <div class="uk-width-medium-1-5">
                    @Html.LabelFor(model => model.SendByName)
                    @Html.EditorFor(model => model.SendByName, new { htmlAttributes = new { @class = "md-input label-fixed", @readonly = true } })
                </div>
                <div class="uk-width-medium-1-5">
                    @Html.LabelFor(model => model.PIC)
                    @Html.DropDownListFor(model => model.PIC, Model.PICList, "[ Chọn ]", new { @class = "md-input label-fixed validate[required]" })
                </div>
                <div class="uk-width-medium-1-5">
                    @Html.LabelFor(model => model.StatusCode)
                    @Html.DropDownListFor(model => model.StatusCode, Model.StatusList, "[ Chọn ]", new { @class = "md-input label-fixed validate[required]" })
                </div>
                <div class="uk-width-medium-1-5">
                    @Html.LabelFor(model => model.TicketType)
                    @Html.DropDownListFor(model => model.TicketType, Model.TicketList, "[ Chọn ]", new { @class = "md-input label-fixed validate[required]" })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    @Html.LabelFor(model => model.Title)
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "md-input validate[required]" } })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    @Html.LabelFor(model => model.Question)
                    @Html.TextAreaFor(model => model.Question, new { @cols = "30", @rows = "3", @class = "md-input validate[required]" })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    <label>Link drive (Link đã chia sẻ)</label>
                    @Html.EditorFor(model => model.Link, new { htmlAttributes = new { @class = "md-input validate[required]" } })
                </div>
            </div>
        </div>
    </div>
    @if (!isCreate)
    {
        <div class="md-card">
            <div class="md-card-toolbar">
                <h3 class="md-card-toolbar-heading-text">
                    Phản hồi của IT
                </h3>
            </div>
            <div class="md-card-content">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.Reason)
                        @Html.TextAreaFor(model => model.Reason, new { @cols = "30", @rows = "3", @class = "md-input validate[required]" })
                    </div>
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.Overcome)
                        @Html.TextAreaFor(model => model.Overcome, new { @cols = "30", @rows = "3", @class = "md-input validate[required]" })
                    </div>
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.SolutionNet)
                        @Html.TextAreaFor(model => model.SolutionNet, new { @cols = "30", @rows = "3", @class = "md-input validate[required]" })
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<div class="md-fab-wrapper">
    <div class="md-fab md-fab-accent md-fab-sheet md-fab-small">
        <i class="material-icons">&#xE30F;</i>
        <div class="md-fab-sheet-actions">
            <a id="btnReturn" href="@Url.Action("Index", "Ticket", new { area = "Agency" })" class="md-color-white"><i class="material-icons md-color-white">&#xE15E;</i> <span class="gc-text-decoration uk-text-warning">Q</span>uay lại</a>
            <a id="btnSave" href="javascript:void(0)" class="md-color-white"><i class="material-icons md-color-white">&#xE161;</i> <span class="gc-text-decoration uk-text-warning">L</span>ưu</a>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        gcHotkey._return();
        gcHotkey._save();
        CreateSuccess('@Url.Action("Create", "Ticket", new { area = "Agency" })');
        $('#btnSave').click(function () {
            Save($("#frm"), true);
        });
        //CKEDITOR.replace('Question', { height: 150 });
        //CKEDITOR.instances.Question.on('change', function () {
        //    $('[name="Question"]').val(CKEDITOR.instances.Question.getData());
        //});
        //CKEDITOR.replace('Anser', { height: 150 });
        //CKEDITOR.instances.Anser.on('change', function () {
        //    $('[name="Anser"]').val(CKEDITOR.instances.Anser.getData());
        //});
    });
</script>
