﻿@model GCSOFT.MVC.Web.Areas.Report.Data.GeneralData
<div class="uk-width-medium-10-10">
    <div class="md-card">
        <div class="md-card-content">
            <h3 class="heading_a uk-margin-bottom">Thông Tin Chung</h3>
            <div class="uk-overflow-container">
                <table class="uk-table uk-table-striped uk-table-hover tabler">
                    <thead>
                        <tr>
                            <th class="uk-width-5-10 uk-text-nowrap"><strong>Trạng Thái</strong></th>
                            <th class="uk-width-2-10 uk-text-nowrap uk-text-center"><strong>@Model.LastFromDateStr<br /> @Model.LastToDateStr</strong></th>
                            <th class="uk-width-2-10 uk-text-nowrap uk-text-center"><strong>@Model.FromDateStr<br />@Model.ToDateStr</strong></th>
                            <th class="uk-width-2-10 uk-text-nowrap uk-text-center"><strong>Thẻ VIP</strong></th>
                            <th class="uk-width-2-10 uk-text-nowrap uk-text-center"><strong>Thẻ CẤP</strong></th>
                            <th class="uk-width-2-10 uk-text-nowrap uk-text-center"><strong>Thẻ LỚP</strong></th>
                            <th class="uk-width-2-10 uk-text-nowrap uk-text-center"><strong>Hôm Nay</strong></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.generalInfo)
                        {
                            <tr class="uk-table-middle">
                                <td class="uk-text-nowrap @(item.Bold.Equals("Bold") ? "uk-text-bold" : "")">
                                    @item.RptName
                                </td>
                                <td class="uk-text-nowrap uk-text-right @(item.Bold.Equals("Bold") ? "uk-text-bold" : "")">@string.Format("{0:#,##0}", item.QtySamePeriod)</td>
                                <td class="uk-text-nowrap uk-text-right @(item.Bold.Equals("Bold") ? "uk-text-bold" : "")">@string.Format("{0:#,##0}", item.QtyPreriod)</td>
                                <td class="uk-text-nowrap uk-text-right @(item.Bold.Equals("Bold") ? "uk-text-bold" : "")">@string.Format("{0:#,##0}", item.QtyPreriodVIP)</td>
                                <td class="uk-text-nowrap uk-text-right @(item.Bold.Equals("Bold") ? "uk-text-bold" : "")">@string.Format("{0:#,##0}", item.QtyPreriodCAP)</td>
                                <td class="uk-text-nowrap uk-text-right @(item.Bold.Equals("Bold") ? "uk-text-bold" : "")">@string.Format("{0:#,##0}", item.QtyPreriodLOP)</td>
                                <td class="uk-text-nowrap uk-text-right @(item.Bold.Equals("Bold") ? "uk-text-bold" : "")">@string.Format("{0:#,##0}", item.QtyToday)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br />
<div class="uk-width-medium-5-10" style="margin-top: 25px">
    <div class="md-card">
        <div class="md-card-content">
            <h3 class="heading_a uk-margin-bottom">Chi Tiết TTL Cấp Khách Lẻ</h3>
            <div class="uk-overflow-container">
                <table class="uk-table uk-table-striped uk-table-hover tabler">
                    <thead>
                        <tr>
                            <th class="uk-width-5-10 uk-text-nowrap"><strong>Loại</strong></th>
                            <th class="uk-width-2-10 uk-text-nowrap uk-text-center"><strong>@Model.LastFromDateStr<br /> @Model.LastToDateStr</strong></th>
                            <th class="uk-width-2-10 uk-text-nowrap uk-text-center"><strong>@Model.FromDateStr<br />@Model.ToDateStr</strong></th>
                            <th class="uk-width-1-10 uk-text-nowrap uk-text-center"><strong>Hôm Nay</strong></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ttlByCustDtl)
                        {
                            <tr class="uk-table-middle">
                                <td class="uk-text-nowrap">
                                    @item.ReasonName
                                </td>
                                <td class="uk-text-nowrap uk-text-right">@string.Format("{0:#,##0}", item.LastNoOfCard)</td>
                                <td class="uk-text-nowrap uk-text-right">@string.Format("{0:#,##0}", item.NoOfCard)</td>
                                <td class="uk-text-nowrap uk-text-right">@string.Format("{0:#,##0}", item.ToDayNoOfCard)</td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr class="uk-table-middle">
                            <td class="uk-text-nowrap uk-text-bold">
                                Tổng
                            </td>
                            <td class="uk-text-nowrap uk-text-right uk-text-bold">@string.Format("{0:#,##0}", Model.ttlByCustDtl.Sum(d => d.LastNoOfCard))</td>
                            <td class="uk-text-nowrap uk-text-right uk-text-bold"><a title="Thẻ VIP: @Model.ttlByCustDtl.Sum(d => d.NoOfCardVIP), Thẻ Cấp: @Model.ttlByCustDtl.Sum(d => d.NoOfCardCAP), Thẻ Lớp: @Model.ttlByCustDtl.Sum(d => d.NoOfCardLOP)">@string.Format("{0:#,##0}", Model.ttlByCustDtl.Sum(d => d.NoOfCard))</a></td>
                            <td class="uk-text-nowrap uk-text-right uk-text-bold">@string.Format("{0:#,##0}", Model.ttlByCustDtl.Sum(d => d.ToDayNoOfCard))</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="uk-width-medium-5-10" style="margin-top: 25px">
    <div class="md-card">
        <div class="md-card-content">
            <h3 class="heading_a uk-margin-bottom">Chi Tiết Đại Lý</h3>
            <div class="uk-overflow-container">
                <table class="uk-table uk-table-striped uk-table-hover tabler">
                    <thead>
                        <tr>
                            <th class="uk-width-5-10 uk-text-nowrap"><strong>Cấp</strong></th>
                            <th class="uk-width-2-10 uk-text-nowrap uk-text-center"><strong>@Model.LastFromDateStr<br /> @Model.LastToDateStr</strong></th>
                            <th class="uk-width-2-10 uk-text-nowrap uk-text-center"><strong>@Model.FromDateStr<br />@Model.ToDateStr</strong></th>
                            <th class="uk-width-1-10 uk-text-nowrap uk-text-center"><strong>Hôm Nay</strong></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.agencyLevelDtls)
                        {
                            <tr class="uk-table-middle">
                                <td class="uk-text-nowrap">
                                    @item.LeavelName
                                </td>
                                <td class="uk-text-nowrap uk-text-right">@string.Format("{0:#,##0}", item.LastNoOfMember)</td>
                                <td class="uk-text-nowrap uk-text-right">@string.Format("{0:#,##0}", item.NoOfMember)</td>
                                <td class="uk-text-nowrap uk-text-right">@string.Format("{0:#,##0}", item.ToDayNoOfMember)</td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr class="uk-table-middle">
                            <td class="uk-text-nowrap uk-text-bold">
                                Tổng
                            </td>
                            <td class="uk-text-nowrap uk-text-right uk-text-bold">@string.Format("{0:#,##0}", Model.agencyLevelDtls.Sum(d => d.LastNoOfMember))</td>
                            <td class="uk-text-nowrap uk-text-right uk-text-bold">@string.Format("{0:#,##0}", Model.agencyLevelDtls.Sum(d => d.NoOfMember))</td>
                            <td class="uk-text-nowrap uk-text-right uk-text-bold">@string.Format("{0:#,##0}", Model.agencyLevelDtls.Sum(d => d.ToDayNoOfMember))</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {

        $('.tabler').basictable();
    });
</script>
