﻿@model GCSOFT.MVC.Web.Areas.Report.Data.GeneralData
@{
    ViewBag.Title = "Thông Tin Chung";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
<div id="page_content_inner">
    <div class="uk-grid" data-uk-grid-margin data-uk-grid-match="{target:'.md-card-content'}">
        <div class="uk-width-medium-1-1">
            @using (Html.BeginForm("Index", "General", FormMethod.Post, new { @id = "frmGeneral", @class = "uk-form-stacked", @autocomplete = "off" }))
            {
                <div class="md-card">
                    <div class="md-card-content">

                        <div class="uk-grid" data-uk-grid-margin>
                            <div class="uk-width-medium-1-4">
                                @Html.LabelFor(model => model.LastFromDate)
                                @Html.TextBoxFor(model => model.LastFromDateStr
                                                     , new Dictionary<string, Object> {
                                                            { "class", "md-input label-fixed validate[required,funcCall[DateFormat[]]" }
                                                            , { "autocomplete", "off" }
                                                            , { "placeholder", "dd/MM/yyyy" }
                                                            , { "data-uk-datepicker", "{format:'DD/MM/YYYY'}" }
                                                     })
                            </div>
                            <div class="uk-width-medium-1-4">
                                @Html.LabelFor(model => model.LastToDate)
                                @Html.TextBoxFor(model => model.LastToDateStr
                                                     , new Dictionary<string, Object> {
                                                            { "class", "md-input label-fixed validate[required,funcCall[DateFormat[]]" }
                                                            , { "autocomplete", "off" }
                                                            , { "placeholder", "dd/MM/yyyy" }
                                                            , { "data-uk-datepicker", "{format:'DD/MM/YYYY'}" }
                                                     })
                            </div>
                            <div class="uk-width-medium-1-4">
                                @Html.LabelFor(model => model.FromDate)
                                @Html.TextBoxFor(model => model.FromDateStr
                                                     , new Dictionary<string, Object> {
                                                            { "class", "md-input label-fixed validate[required,funcCall[DateFormat[]]" }
                                                            , { "autocomplete", "off" }
                                                            , { "placeholder", "dd/MM/yyyy" }
                                                            , { "data-uk-datepicker", "{format:'DD/MM/YYYY'}" }
                                                     })
                            </div>
                            <div class="uk-width-medium-1-4">
                                @Html.LabelFor(model => model.ToDate)
                                @Html.TextBoxFor(model => model.ToDateStr
                                                     , new Dictionary<string, Object> {
                                                            { "class", "md-input label-fixed validate[required,funcCall[DateFormat[]]" }
                                                            , { "autocomplete", "off" }
                                                            , { "placeholder", "dd/MM/yyyy" }
                                                            , { "data-uk-datepicker", "{format:'DD/MM/YYYY'}" }
                                                     })
                            </div>
                        </div>
                        <div class="uk-grid" data-uk-grid-margin>
                            <div class="uk-width-medium-1-1 uk-text-right">
                                <a href="javascript:void(0);" id="btnSearch" class="md-btn md-btn-primary uk-margin-small-top"><i class="material-icons">&#xE8B6;</i> Xem Báo Cáo</a>
                                <a href="javascript:void(0);" id="btnDownload" class="md-btn md-btn-primary uk-margin-small-top"><i class="material-icons">cloud_download</i> Download</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div id="loadGeneralInfo" class="uk-grid" data-uk-grid-margin data-uk-grid-match="{target:'.md-card-content'}">

    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnSearch').click(function () {
                var flag = $('#frmGeneral').validationEngine('validate');
                if (flag) {
                    $('#btnSearch').addClass("disabled").html('Đang lấy báo cáo ...');
                    $('#loadGeneralInfo').load('@Url.Action("GeneralInfo", "General", new { area = "Report" })'
                        , { lfd: $('#LastFromDateStr').val(), ltd: $('#LastToDateStr').val(), fd: $('#FromDateStr').val(), td: $('#ToDateStr').val() }
                        , function (responseTxt, statusTxt, xhr) {
                        if (statusTxt == "error") {
                            alert("Error: " + xhr.status + ": " + xhr.statusText);
                        } else {
                            $('html,body').animate({
                                scrollTop: $("#btnSearch").offset().top
                            }, 'slow');
                            $().toastmessage('showToast', {
                                text: 'Đã tải xong báo cáo.',
                                sticky: false,
                                position: 'top-center',
                                type: 'success'
                            });
                            $('#btnSearch').removeClass("disabled").html('<i class="material-icons">&#xE8B6;</i> Xem Báo Cáo');
                        }
                    });
                }
            });
            $('#btnDownload').click(function () {
                var url = '@Url.Action("Download", "General", new { area = "Report" })';
                url += '?fd=' + $('#FromDateStr').val();
                url += '&td=' + $('#ToDateStr').val();
                url += '&lfd=' + $('#LastFromDateStr').val();
                url += '&ltd=' + $('#LastToDateStr').val();
                $(location).attr('href', url);
            });
        });
        function DateFormat(field, rules, i, options) {
            var regex = /^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$/;
            if (!regex.test(field.val())) {
                return "Vui lòng nhập ngày theo định dạng dd/MM/yyyy.";
            }
        }
    </script>

}