﻿@model GCSOFT.MVC.Web.Areas.Report.Data.RptAgencyInfo
<div class="uk-width-medium-1-1">
    <div class="md-card">
        <div class="md-card-content">
            <h3 class="heading_a uk-margin-bottom">Thông Tin Dại Lý</h3>
            <div class="uk-overflow-container">
                <table class="uk-table uk-table-striped uk-table-hover tabler">
                    <thead>
                        <tr>
                            <th><strong>STT</strong></th>
                            <th><strong>Tên Đại Lý</strong></th>
                            <th><strong>Cấp</strong></th>
                            <th><strong>Số Sao</strong></th>
                            <th class="uk-text-right"><strong>SL. Đại Lý</strong></th>
                            <th class="uk-text-right"><strong>SL. CTV</strong></th>
                            <th class="uk-text-right"><strong>Tổng Đại Lý</strong></th>

                            <th class="uk-text-right"><strong>Số Thẻ Bán</strong></th>
                            <th class="uk-text-right"><strong>Số Thẻ Tặng</strong></th>
                            <th class="uk-text-right"><strong>Tổng Thẻ</strong></th>

                            <th class="uk-text-right"><strong>Đại Lý<br />Đã Phân Phối</strong></th>
                            <th class="uk-text-right"><strong>% Phân Phối</strong></th>
                            <th class="uk-text-right"><strong>Đại Lý<br />Đã Bán Mã Kích Hoạt</strong></th>
                            <th class="uk-text-right"><strong>Đại Lý<br />Đăng Ký Thành Viên</strong></th>
                            <th class="uk-text-right"><strong>Tổng Thẻ Đại Lý Đã Bán</strong></th>
                            <th class="uk-text-right"><strong>% Đã Bán</strong></th>
                            <th class="uk-text-right"><strong>Thẻ Đã Kích Hoạt</strong></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int stt = 0; double persentDMS = 0; double persentSold = 0; }
                        @foreach (var item in Model.agencyInfo)
                        {
                            try {
                                if (item.AgencyDaBanDL == 0 || item.TotalCard == 0)
                                {
                                    persentDMS = 0;
                                }
                                else
                                {
                                    persentDMS = ((double)item.AgencyDaBanDL / (double)item.TotalCard);
                                }
                            }
                            catch { persentDMS = 0; }
                            try {
                                if (item.TongTheDaBan == 0 || item.TotalCard == 0)
                                {
                                    persentSold = 0;
                                }
                                else
                                {
                                    persentSold = ((double)item.TongTheDaBan / (double)item.TotalCard);
                                }
                            }
                            catch { persentSold = 0; }
                        <tr class="uk-table-middle">
                            <td>
                                @(stt +=1 )
                            </td>
                            <td>@item.FullName</td>
                            <td>@item.LeavelName</td>
                            <td>@item.Rating</td>
                            <td class="uk-text-right">@string.Format("{0:#,##0}", item.NoOfAgency)</td>
                            <td class="uk-text-right">@string.Format("{0:#,##0}", item.NoOfPartner)</td>
                            <td class="uk-text-right">@string.Format("{0:#,##0}", item.NoOfAgency + item.NoOfPartner)</td>

                            <td class="uk-text-right">@string.Format("{0:#,##0}", item.NoOfCard)</td>
                            <td class="uk-text-right">@string.Format("{0:#,##0}", item.GiftCard)</td>
                            <td class="uk-text-right">@string.Format("{0:#,##0}", item.TotalCard)</td>


                            <td class="uk-text-right">@string.Format("{0:#,##0}", item.AgencyDaBanDL)</td>
                            <td class="uk-text-right">
                                @string.Format("{0:0.#%}", persentDMS)
                            </td>
                            <td class="uk-text-right">@string.Format("{0:#,##0}", item.BanMKH)</td>
                            <td class="uk-text-right">@string.Format("{0:#,##0}", item.TuKichHoat)</td>
                            <td class="uk-text-right">@string.Format("{0:#,##0}", item.TongTheDaBan)</td>
                            <td class="uk-text-right">@string.Format("{0:0.#%}", persentSold)</td>
                            <td class="uk-text-right">@string.Format("{0:#,##0}", item.TheDaActive)</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('.tabler').basictable();
    });
</script>