﻿@using GCSOFT.MVC.Web.ViewModels.SystemViewModels;
@using GCSOFT.MVC.Web.Helper;
<!doctype html>
<!--[if lte IE 9]> <html class="lte-ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Remove Tap Highlight on Windows Phone IE -->
    <meta name="msapplication-tap-highlight" content="no" />
    @*<link rel="icon" type="image/png" href="@Url.Content("~/Content/cms/images/favicon-16x16.png")" sizes="16x16">*@
    <title>@ViewBag.Title</title>
    @Styles.Render("~/cms/css")
    <!-- matchMedia polyfill for testing media queries in JS -->
    <!--[if lte IE 9]>
        <script type="text/javascript" src="@Url.Content("~/Scripts/cms/vendor/matchMedia/matchMedia.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/cms/vendor/matchMedia/matchMediaaddListener.js")"></script>
        <link rel="stylesheet" href="@Url.Content("~/Content/cms/css/ie.css")" media="all">
    <![endif]-->
</head>
<body class="top_menu">
    <!-- main header -->
    <header id="header_main">
        <div class="header_main_content">
            <nav class="uk-navbar">
                <div class="main_logo_top">
                    <a href="javascript:void(0)">
                    @*<img src="@Url.Content("~/Content/cms/images/logo_main_white.png")" />*@
                    </a>
                </div>
                <div class="uk-navbar-flip">
                    <ul class="uk-navbar-nav user_actions">
                        <!-- Message, Alert -->
                        <li data-uk-dropdown="{mode:'click',pos:'bottom-right'}">
                            <a href="#" class="user_action_image"><img class="md-user-image" src="@Url.Content("~/Content/cms/images/avatars/avatar_11_tn.png")" alt="" /></a> <!--  uk-icon-spin-->
                            
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <div id="page_content">
        @Scripts.Render("~/cms/js")
        @RenderBody()
    </div>
    <!-- google web fonts -->
    <script>
        WebFontConfig = {
            google: {
                families: [
                    'Source+Code+Pro:400,700:latin',
                    'Roboto:400,300,500,700,400italic:latin'
                ]
            }
        };
        (function () {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
            '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
    </script>
   
    @RenderSection("scripts", required: false)
</body>
</html>