﻿@model IEnumerable<GCSOFT.MVC.Web.Areas.MasterData.Models.CardHeaderList>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
<div id="page_content_inner">
    <div class="md-card">
        <div class="md-card-toolbar">
            <div class="md-card-toolbar-actions">
                <i class="md-icon material-icons md-card-fullscreen-activate toolbar_fixed">&#xE5D0;</i>
            </div>
            <h3 class="md-card-toolbar-heading-text">
                <i class="material-icons">&#xE894;</i>&nbsp;&nbsp;@ViewBag.Title
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-overflow-container">
                <table id="jqGrid"></table>
                <div id="jqGridPager"></div>
            </div>
        </div>
    </div>
</div>
<div class="md-fab-wrapper">
    <div class="md-fab md-fab-accent md-fab-sheet md-fab-small">
        <i class="material-icons">&#xE30F;</i>
        <div class="md-fab-sheet-actions">
            <a name="btnReNewCard" href="javascript:void(0)" class="md-color-white">
                <i class="material-icons md-color-white">&#xE869;</i> <span class="gc-text-decoration uk-text-warning">C</span>ấp lại mã thẻ trùng
            </a>
            <a name="btnDel" href="javascript:void(0)" class="md-color-white">
                <i class="material-icons md-color-white">&#xE872;</i> <span class="gc-text-decoration uk-text-warning">X</span>óa
            </a>
            <a name="btnEdit" href="javascript:void(0)" class="md-color-white">
                <i class="material-icons md-color-white">&#xE254;</i> <span class="gc-text-decoration uk-text-warning">S</span>ửa
            </a>
            <a name="btnAdd" href="@Url.Action("Create", "Card", new { area = "MasterData" })" class="md-color-white">
                <i class="material-icons md-color-white">&#xE148;</i> <span class="gc-text-decoration uk-text-warning">T</span>hêm
            </a>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            LoadGrid('@Url.Action("LoadData", "Card", new { area = "MasterData" })');
            $('[name="btnEdit"]').click(function () {
                JqEdit('@Url.Action("Edit", "Card", new { area = "MasterData" })', 'jqGrid')
            });
            $('[name="btnDel"]').click(function () {
                JqDel('@Url.Action("Deletes", "Card", new { area = "MasterData" })', $('#jqGrid'));
            });
            $('[name="btnReNewCard"]').click(function () {
                $.ajax({
                    type: 'GET',
                    url: '/MasterData/Card/ReNewCard',
                    data: {},
                    success: function (res) {
                        $().toastmessage('showToast', {
                            text: 'Cấp mã kịch hoạt thành công!',
                            sticky: false,
                            position: 'top-center',
                            type: 'success'
                        });
                    },
                    error: function () {
                        $().toastmessage('showToast', {
                            text: 'Bị lỗi trong quá trình xử lý. Vui lòng kiểm tra lại!',
                            sticky: false,
                            position: 'top-center',
                            type: 'error'
                        });
                    }
                });
            });
			CallHotKey();
        });

        function LoadGrid(url) {
            $("#jqGrid").jqGrid({
                url: url,
                mtype: "get",
                datatype: "json",
                colNames: [
                    '@Html.DisplayNameFor(model => model.LotNumber)'
                    , '@Html.DisplayNameFor(model => model.DateOrderStr)'
                    , '@Html.DisplayNameFor(model => model.NoOfCardStr)'
					, '@Html.DisplayNameFor(model => model.UserFullName)'
					, '@Html.DisplayNameFor(model => model.StatusName)'
				],
                colModel: [
					{ name: 'LotNumber', index: 'LotNumber' }
                    , { name: 'DateOrderStr', index: 'DateOrderStr', align: 'center' }
                    , { name: 'NoOfCardStr', index: 'NoOfCardStr', align: 'right' }
					, { name: 'UserFullName', index: 'UserFullName' }
                    , { name: 'StatusName', index: 'StatusName', align: 'center' }
				],
                rowNum: 20,
                rowList: [20, 40, 60, 80, 100],
                pager: '#jqGridPager',
                sortname: 'LotNumber',
                viewrecords: true,
                autowidth: true,
                height: "100%",
                sortorder: "asc",
                multiselect: true,
                rownumbers: true,
                viewsortcols: [true, 'vertical', true],
                loadComplete: function () {
                    jqGrid_resize('jqGrid');
                    gridSearch('jqGrid', 'search-button');
					GetDetails();
                },
                jsonReader: {
                    root: "Rows",
                    page: "jqGridPager",
                    total: "Total",
                    records: "Records",
                    repeatitems: false,
                    id: "LotNumber"
                }
            });
            $("#jqGrid").jqGrid('navGrid', '#jqGridPager',
                    { edit: false, add: false, del: false }, {}, {}, {},
                    {
                        multipleSearch: true,
                        closeOnEscape: true,
                        closeAfterSearch: true,
                        showQuery: true,
                        searchOnEnter: true,
                        sopt: ['cn', 'eq', 'ne', 'lt', 'le', 'gt', 'ge']
                    }
                );
        }

        function NoFormatter(cellvalue, options, rowObject) {
            return '<strong><a href="@Url.Action("Details/", "Card", new { area = "MasterData" })' + rowObject.LotNumber + '" title="Xem chi tiết" name="Details" data-uk-tooltip="{pos:\'top\'}">' + cellvalue + '</a></strong>';
        }

		function GetDetails() {
            $('[name="Details"]').click(function () {
                var idx = $('[name="Details"]').index($(this));
                $(location).attr('href', $('[name="Details"]:eq(' + idx + ')').attr('href'));
            });
            gcHotkey._view();
        }

        function CallHotKey() {
            gcHotkey._add();
            gcHotkey._edit();
            gcHotkey._del();
        }
    </script>    
}
