﻿@model GCSOFT.MVC.Web.Areas.Agency.Data.AgencyCard
@{ 
    var disable = !string.IsNullOrEmpty(Model.RatingCode) ? "disabled" : "";
}
<div id="page_content_inner" class="hierarchical_slide">
    <div class="md-card">
        <div class="md-card-toolbar">
            <div class="md-card-toolbar-actions">
                <i class="md-icon material-icons md-card-toggle">&#xE316;</i>
            </div>
            <h3 class="md-card-toolbar-heading-text">
                <i class="material-icons">&#xE894;</i>&nbsp;&nbsp;@ViewBag.Title
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.HasAccount)
                @Html.HiddenFor(model => model.RatingCode)
                @Html.HiddenFor(model => model.DateCreate)
            </h3>
        </div>
        <div class="md-card-content">

            <a id="btnExcel" href="javascript:void(0);" class="md-btn md-btn-primary uk-margin-small-top"><i class="material-icons">&#xE8B6;</i> Download Excel</a>
            <a id="btnShow" href="javascript:void(0);" class="md-btn md-btn-primary uk-margin-small-top @disable"><i class="material-icons">&#xE8B6;</i> Hiển Thị Website</a>
            <hr />
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.RegistrationDateStr)
                    @Html.TextBoxFor(model => model.RegistrationDateStr
                                           , new Dictionary<string, Object> {
                                               { "class", "md-input label-fixed validate[required,funcCall[DateFormat[]]" }
                                               , { "autocomplete", "off" }
                                               , { "placeholder", "dd/MM/yyyy" }
                                               , { "data-uk-datepicker", "{format:'DD/MM/YYYY'}" }
                                           })
                </div>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.PackageId)
                    @Html.DropDownListFor(model => model.PackageId, Model.PackageList, "[ Chọn ]", new { @class = "md-input label-fixed validate[required]" })
                </div>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.Code)
                    @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "md-input" } })
                </div>
                <div class="uk-width-medium-1-4">
                    @if (ViewBag.hasAccount)
                    {
                        <div class="uk-input-group">
                            @Html.LabelFor(model => model.UserName)
                            @Html.TextBoxFor(model => model.UserName, new { @class = "md-input label-fixed", @readonly = true })
                            <span class="uk-input-group-addon"><a class="md-btn md-btn-flat md-btn-flat-primary md-btn-wave waves-effect waves-button" href="javascript:void(0);" id="btnReSendPassword">Gửi lại mật khẩu</a></span>
                        </div>
                    }
                    else
                    {
                        <div class="uk-input-group">
                            @Html.LabelFor(model => model.UserName)
                            @Html.TextBoxFor(model => model.UserName, new { @class = "md-input label-fixed" })
                            <span class="uk-input-group-addon"><a class="md-btn md-btn-flat md-btn-flat-primary md-btn-wave waves-effect waves-button @ViewBag.IsAccounting" title="Liên hệ kế toán để duyệt đại lý" href="javascript:void(0);" id="btnGeneralUser">Tạo user đăng nhập</a></span>
                        </div>
                    }
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-2">
                    <div class="uk-form-row parsley-row">
                        @Html.LabelFor(model => model.IsOutlierAdmin, htmlAttributes: new { @class = "uk-form-label" })
                        <span class="icheck-inline">
                            @Html.CheckBoxFor(model => model.IsOutlierAdmin, new Dictionary<string, Object> { { "data-md-icheck", "" } })
                        </span>
                    </div>
                </div>
                <div class="uk-width-medium-1-2">
                    @Html.LabelFor(model => model.NoOfOutlier)
                    @Html.EditorFor(model => model.NoOfOutlier, new { htmlAttributes = new { @class = "md-input uk-text-right" } })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-3">
                    <div class="uk-form-row parsley-row">
                        @Html.LabelFor(model => model.Block, htmlAttributes: new { @class = "uk-form-label" })
                        <span class="icheck-inline">
                            @Html.CheckBoxFor(model => model.Block, new Dictionary<string, Object> { { "data-md-icheck", "" } })
                        </span>
                    </div>
                </div>
                <div class="uk-width-medium-1-3">
                    @Html.LabelFor(model => model.DateBlockStr)
                    @Html.TextBoxFor(model => model.DateBlockStr
                                           , new Dictionary<string, Object> {
                                               { "class", "md-input label-fixed" }
                                               , { "autocomplete", "off" }
                                               , { "placeholder", "dd/MM/yyyy" }
                                               , { "data-uk-datepicker", "{format:'DD/MM/YYYY'}" }
                                           })
                </div>
                <div class="uk-width-medium-1-3">
                    @Html.LabelFor(model => model.ReasonBlock)
                    @Html.EditorFor(model => model.ReasonBlock, new { htmlAttributes = new { @class = "md-input" } })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-2">
                    @Html.LabelFor(model => model.Image, new { @class = "uk-text-muted" })
                    <div id="divImg">
                        @if (!string.IsNullOrEmpty(Model.Image))
                        {
                            <button name="btnRemoveImg" type="button" class="uk-modal-close uk-close uk-close-alt uk-position-absolute" accesskey="imgShow"></button>
                            <img src="@Url.Content("~/Files/Agencry/" + Model.Id + "/" + Model.Image)" class="img_small" accesskey="imgShow" />
                        }
                        else
                        {
                            <input name="fileUpload" data-label="Upload" type="file" />
                        }
                    </div>
                    @Html.HiddenFor(model => model.Image)
                </div>
                <div class="uk-width-medium-1-2">
                    @Html.LabelFor(model => model.Remark)
                    @Html.TextAreaFor(model => model.Remark, new { @cols = "30", @rows = "3", @class = "md-input" })
                </div>
            </div>
        </div>
    </div>
    <div class="md-card">
        <div class="md-card-toolbar">
            <h3 class="md-card-toolbar-heading-text">
                <i class="material-icons">&#xE894;</i>&nbsp;&nbsp;Thông Tin Chủ Thể&nbsp;&nbsp;&nbsp;&nbsp;
            </h3>
            <div class="parsley-row">
                <div class="dynamic_radio uk-margin-small-top">
                    <span class="icheck-inline">
                        <input type="radio" name="Legal" id="Legal1" value="Cá Nhân" @(Model.Legal.Equals("Cá Nhân") ? "checked" : "") />
                        <label for="d_form_gender_m" class="inline-label">Cá Nhân</label>
                    </span>
                    <span class="icheck-inline">
                        <input type="radio" name="Legal" id="Legal2" value="Doanh Nghiệp" @(Model.Legal.Equals("Doanh Nghiệp") ? "checked" : "") />
                        <label for="d_form_gender_f" class="inline-label">Công Ty</label>
                    </span>
                </div>
            </div>
        </div>
        <div class="md-card-content" id="frmLegal">
            @if (Model.Legal.Equals("Cá Nhân"))
            {
                @Html.Partial("_personal", Model)
            }
            else
            {
                @Html.Partial("_Company", Model)
            }
        </div>
    </div>
</div>
<div class="md-fab-wrapper">
    <div class="md-fab md-fab-accent md-fab-sheet md-fab-small">
        <i class="material-icons">&#xE30F;</i>
        <div class="md-fab-sheet-actions">
            <a id="btnReturn" href="@Url.Action("Index", "Agency", new { area = "Agency"})" class="md-color-white"><i class="material-icons md-color-white">&#xE15E;</i> <span class="gc-text-decoration uk-text-warning">Q</span>uay lại</a>
            <a id="btnSave" href="javascript:void(0)" class="md-color-white"><i class="material-icons md-color-white">&#xE161;</i> <span class="gc-text-decoration uk-text-warning">L</span>ưu</a>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        gcHotkey._return();
        gcHotkey._save();
        CreateSuccess('@Url.Action("Create", "Agency", new { area = "Agency"})');
        $('#btnSave').click(function () {
            Save($("#frm"), true);
        });

        $('#btnReSendPassword').click(function () {
            NProgress.start();
            $('#btnReSendPassword').addClass("disabled").text('Đang gửi ....');
            $.post('@Url.Action("ResendPassForAgency", "Mail", new { area = "transaction" })', { id: $('#Id').val() }, function (data) {
                $().toastmessage('showToast', {
                    text: data,
                    sticky: false,
                    position: 'top-center',
                    type: 'success'
                });
                $('#btnReSendPassword').removeClass("disabled").text('Gửi lại mật khẩu');
                NProgress.done();
            });
        });
        $('#btnGeneralUser').click(function () {
            if ($('#UserName').val() == '') {
                $().toastmessage('showToast', {
                    text: 'Vui lòng nhập username',
                    sticky: false,
                    position: 'top-center',
                    type: 'warning'
                });
            } else {
                NProgress.start();
                $.post('@Url.Action("CandAdd", "SysUser", new { area = "administrator" })', { u: $('#UserName').val(), xu: '' }, function (data) {
                    if (data) {
                        $().toastmessage('showToast', {
                            text: 'Username đã tồn tại',
                            sticky: false,
                            position: 'top-center',
                            type: 'warning'
                        });
                    } else {
                        BlockUI();
                        var permission = 'AGENCY';
                        if ($('select[name=PackageId] option:selected').text() == 'PAY_AS_YOU_GO') {
                            permission = 'VIPAGENCY';
                        }
                        $.post('@Url.Action("CreateAgency", "SysUser", new { area = "administrator" })', { id: $('#Id').val(), u: $('#UserName').val(), g: permission }, function (data) {
                            if (data.s == 'Oke') {
                                window.location.href = '@Url.Action("Edit", "Agency", new { area = "Agency", id = Model.Id })?msg=2';
                            } else {
                                $().toastmessage('showToast', {
                                    text: data.url,
                                    sticky: false,
                                    position: 'top-center',
                                    type: 'warning'
                                });
                                NProgress.done();
                            }

                        });
                    }
                });
            }
        });
        if ($.urlParam('msg') == '2') {
            $('#btnReSendPassword').click();
            //$().toastmessage('showToast', {
            //    text: 'Đã tạo user thành công cho đại lý.',
            //    sticky: false,
            //    position: 'top-center',
            //    type: 'success'
            //});
        }
        $('[name="btnRemoveImg"]').click(function () {
            UIkit.modal.confirm('Bạn có chắc chắn muốn xóa?', function () {
                $.post('@Url.Action("RemoveImg", "Agency", new { area = "Agency" })', { id: $('#Id').val(), img: $('#Image').val() }, function (data) {
                    if (data) {
                        $('#divImg').html('<input name="fileUpload" data-label="Upload" type="file" />');
                        $('#Image').val('');
                    }
                    else {
                        $().toastmessage('showErrorToast', 'Lỗi !!!');
                    }
                }, 'json');
            });
        });
        $('#btnShow').click(function () {
            UIkit.modal.confirm('Bạn có chắc chắn muốn hiển thị Đại Lý này lên website?', function () {
                $.post('@Url.Action("ShowWebsite", "Agency", new { area = "Agency" })', { id: $('#Id').val() }, function (data) {
                    if (data.code == 0) {
                        $().toastmessage('showToast', {
                            text: data.msg,
                            sticky: false,
                            position: 'top-center',
                            type: 'success'
                        });
                    }
                    else {
                        $().toastmessage('showToast', {
                            text: data.msg,
                            sticky: false,
                            position: 'top-center',
                            type: 'error'
                        });
                    }
                }, 'json');
            });
        });
        $('input[type=radio][name="Legal"]').on('change', function () {
            $('#frmLegal').load('@Url.Action("LegalForm", "Agency", new { area = "Agency" })', { id: $('#Id').val(), type: $(this).val() })
        });
         $('#btnExcel').click(function () {
            var stringUrl = '';
            stringUrl += '@Url.Action("DownloadCardAgency", "General", new { area = "Report" })';
             stringUrl += '?agencyId=' + $('#Id').val();
            $(location).attr('href', stringUrl);
        });
    });
    function DateFormat(field, rules, i, options) {
        var regex = /^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$/;
        if (!regex.test(field.val())) {
            return "Vui lòng nhập ngày theo định dạng dd/MM/yyyy.";
        }
    }
</script>
