.readall {
    position: relative;
    text-align: left;
    box-sizing: border-box;
}

.readall-wrapper {
    text-align: center;
}
.readall-button {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    height: 46px;
    font-weight: 500;
    background-color: #008FF3;
    color: #fff;
    border-radius: 4px;
    padding: 0 20px;
    font-family: 'Roboto', sans-serif;
    will-change: box-shadow;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12);
}

    .readall-button:hover {
        color: #fff;
        box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);
    }

.readall-hide:after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 25px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), white 75%);
}