﻿@model GCSOFT.MVC.Model.MasterData.M_HistoryRecall
@using (Html.BeginForm("PopupRecallCard", "CustomerAgencyBuy", FormMethod.Post, new { @id = "frm", @class = "uk-form-stacked" }))
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/cms/js/altair_admin_common.js")"></script>
    <div class="md-card md-card-popup">
        <div class="md-card-toolbar md-card-toolbar-popup">
            <h3 class="md-card-toolbar-heading-text">
                Thu Hồi Thẻ
                @Html.HiddenFor(model => model.AgencyId)
            </h3>
        </div>
        <div class="md-card-content md-card-content-popup">
            <!-- Row 1 -->
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    <label for="Type">Tên Đối Tác</label>
                    @Html.TextBoxFor(model => model.AgencyName, new { @class = "md-input uk-form-width-large", @readonly = true })
                </div>
            </div>
            <!-- Row 2 -->
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    <label for="Type">Seri Number</label>
                    @Html.TextBoxFor(model => model.Serinumber, new { @class = "md-input uk-form-width-large", @readonly = true })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    <label for="Type">Mã Kích Hoạt</label>
                    @Html.TextBoxFor(model => model.CardNo, new { @class = "md-input uk-form-width-large", @readonly = true })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    <label for="Type">Ngày Thu Hồi</label>
                    @Html.TextBoxFor(model => model.DateRecallStr
                                    , new Dictionary<string, Object> {
                                           { "class", "md-input label-fixed validate[required,funcCall[DateFormat[]]" }
                                           , { "autocomplete", "off" }
                                           , { "placeholder", "dd/MM/yyyy" }
                                           , { "disabled", "disabled" }
                                           , { "readonly", "true" }
                                           , { "data-uk-datepicker", "{format:'DD/MM/YYYY'}" }
                                    })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    <label for="Type">Lý Do Thu Hồi</label>
                    @Html.TextBoxFor(model => model.Reason, new { @class = "md-input uk-form-width-large validate[required]" })
                </div>
            </div>
            <div class="uk-grid uk-margin-medium-top">
                <div class="uk-width-1-1 uk-text-right">
                    <button id="btnSave" type="button" class="md-btn md-btn-primary">Thu Hồi</button>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#btnSave').click(function () {
            var objFrom = $('#frm');
            var options = {
                beforeSend: function () {
                    NProgress.start();
                    NProgress.set(0.4);
                },
                uploadProgress: function (event, position, total, percentComplete) {
                    NProgress.set(0.7);
                },
                success: function () {
                    NProgress.done();
                },
                complete: function (response) {
                    $().toastmessage('showToast', {
                        text: "Thu hồi thành công",
                        sticky: false,
                        position: 'top-center',
                        type: 'success'
                    });
                    $('#' + $('#Serinumber').val()).hide();
                    $('#status' + $('#Serinumber').val()).html('Hủy Mã Kích Hoạt');
                    $.fancybox.close();
                },
                error: function () {
                    $().toastmessage('showErrorToast', "Lỗi, Vui lòng liên hệ với quản trị viên để được hổ trợ");
                }
            }

            var flag = $.validation(objFrom);
            if (flag) {
                objFrom.ajaxForm(options).submit();
            }
        });
    });
</script>