﻿@model GCSOFT.MVC.Web.Areas.MasterData.Models.PotenticalPage
@{
    ViewBag.Title = "Danh Sách Khách Hàng";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
<div id="page_content_inner">
    <div class="md-card">
        <div class="md-card-toolbar">
            <h3 class="md-card-toolbar-heading-text">
                Tìm kiếm
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-3">
                    <label for="Type">Tên Phụ Huynh</label>
                    @Html.TextBoxFor(model => model.FullName, new { @class = "md-input label-fixed" })
                </div>
                <div class="uk-width-medium-1-3">
                    <label for="Type">Số Điện Thoại</label>
                    @Html.TextBoxFor(model => model.Phone, new { @class = "md-input label-fixed" })
                </div>
                <div class="uk-width-medium-1-3">
                    <label for="Type">Email</label>
                    @Html.TextBoxFor(model => model.Email, new { @class = "md-input label-fixed" })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-2">
                    <label for="Type">Từ Ngày</label>
                    @Html.TextBoxFor(model => model.FromDateStr
                                         , new Dictionary<string, Object> {
                                                { "class", "md-input label-fixed validate[required,funcCall[DateFormat[]]" }
                                                , { "autocomplete", "off" }
                                                , { "placeholder", "dd/MM/yyyy" }
                                                , { "data-uk-datepicker", "{format:'DD/MM/YYYY'}" }
                                         })
                </div>
                <div class="uk-width-medium-1-2">
                    <label for="Type">Đến Ngày</label>
                    @Html.TextBoxFor(model => model.ToDateStr
                                         , new Dictionary<string, Object> {
                                                { "class", "md-input label-fixed validate[required,funcCall[DateFormat[]]" }
                                                , { "autocomplete", "off" }
                                                , { "placeholder", "dd/MM/yyyy" }
                                                , { "data-uk-datepicker", "{format:'DD/MM/YYYY'}" }
                                         })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1 uk-text-right">
                    <a id="btnSearch" href="javascript:void(0);" class="md-btn md-btn-primary uk-margin-small-top"><i class="material-icons">&#xE8B6;</i> Tìm Kiếm</a>
                </div>
            </div>
        </div>
    </div>
    <div class="md-card">
        <div class="md-card-content">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1 uk-text-right">
                    <input type="file" id="imgupload" hidden />
                    <a id="btnExcel" href="javascript:void(0);" class="md-btn md-btn-primary uk-margin-small-top">Download Template Import</a>
                    <a id="btnImport" href="javascript:void(0);" class="md-btn md-btn-primary uk-margin-small-top">Import danh sách khách hàng</a>
                    <br />
                </div>
            </div>
            <div class="errImport">
                <label id="lbError" style="color:red"></label>
            </div>
        </div>
    </div>
        <div class="md-card">
            <div class="md-card-toolbar">
                <h3 class="md-card-toolbar-heading-text">
                    @ViewBag.Title
                </h3>
            </div>
            <div class="md-card-content">
                <a href="javascript:void(0);" id="btnDownload" class="md-btn md-btn-primary uk-margin-small-top"><i class="material-icons">cloud_download</i> Download</a>
                <div class="uk-overflow-container">
                    <table class="uk-table uk-table-nowrap table_check">
                        <thead>
                            <tr>
                                <th class="uk-width-1-10 uk-text-center"><strong>STT</strong></th>
                                <th><strong>Ngày Tạo</strong></th>
                                <th><strong>Phụ Huynh</strong></th>
                                <th><strong>Thông Tin Con</strong></th>
                                <th><strong>Mã Kích Hoạt</strong></th>
                                <th><strong>Tình Trạng</strong></th>
                                <th><strong>Lịch Sử Cuộc Gọi</strong></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int stt = Model.paging.startIndex; }
                            @foreach (var item in Model.potenticals)
                            {
                            <tr>
                                <td class="uk-text-center">@(++stt)</td>
                                <td>@Html.Raw(item.DateCreateStr)</td>
                                <td>
                                    @item.fullName
                                    <br />@item.Email
                                    <br /><a href="tel:@item.Phone">@item.Phone</a>
                                </td>
                                <td>
                                    @item.ChildFullName1
                                    <br />@item.ClassName1
                                    <br />@item.Child1_SchoolName
                                </td>
                                <td>
                                    @item.Serinumber <br />
                                    @item.ActionCode
                                </td>
                                <td>@Html.Raw(item.TinhTrang)</td>
                                <td>
                                    <a class="md-btn md-btn-primary md-btn-wave-light" href="javascript:void(0)" name="addHistoryCall" id="@item.id" accesskey="@item.AgencyId">Thêm</a>
                                    <a class="md-btn md-btn-success md-btn-wave-light" href="javascript:void(0)" name="viewHistoryCall" id="@item.id" accesskey="@item.AgencyId">Xem</a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="pagination" data-total-count="@Model.paging.TotalRows" data-take="@Model.paging.PerPage"></div>
            </div>
        </div>
    </div>
<script type="text/javascript" src="@Url.Content("~/Scripts/cms/vendor/paging/pajinatify.js")"></script>
<link type="text/css" href="@Url.Content("~/Scripts/cms/vendor/paging/pajinatify.css")" rel="stylesheet" />
<script type="text/javascript">
    $(document).ready(function () {
        $('.pagination').pajinatify();
        $('.pagination').pajinatify('set', @Model.paging.CurPage, @Model.paging.TotalRows);
        $('.pajinatify__button').click(function () {
            var p = $(this).attr('data-page');
            window.location.href = '@Url.Action("Index", "Potential", new { area = "MasterData" })' + '?p=' + p + querySearch();
        });
        $('#btnDownload').click(function () {
            var url = '@Url.Action("Download", "Potential", new { area = "MasterData" })' + '?p=0' + '&fullName=' + $('#FullName').val() + '&phone=' + $('#Phone').val() + '&email=' + $('#Email').val() + '&fromDate=' + $('#FromDateStr').val() + '&toDate=' + $('#ToDateStr').val();
            //url += '?s=1';
            $(location).attr('href', url);
        });
        $('[name="addHistoryCall"]').each(function (index) {
            var id = $(this).attr('id');
            var agencyId = $(this).attr('accesskey');
            OpenDialog($(this), '/MasterData/Potential/PopupAddHistoryCall' + '?agencyId=' + agencyId + '&id=' + id, '');
        });
        $('[name="viewHistoryCall"]').each(function (index) {
            var id = $(this).attr('id');
            var agencyId = $(this).attr('accesskey');
            OpenDialog($(this), '/MasterData/Potential/PopupViewHistoryCall' + '?agencyId=' + agencyId + '&id=' + id, '');
        });
        $('#btnSearch').click(function () {
            window.location.href = '@Url.Action("Index", "Potential", new { area = "MasterData" })' + '?p=0' + '&fullName=' + $('#FullName').val() + '&phone=' + $('#Phone').val() + '&email=' + $('#Email').val() + '&fromDate=' + $('#FromDateStr').val() + '&toDate=' + $('#ToDateStr').val();
        });
        $('#btnExcel').click(function () {
            window.location = '/MasterData/Potential/DownloadExcel'
        });
        $('#btnImport').click(function () {
            $('#imgupload').trigger('click');
        });
        $("#imgupload").on('change', function () {
            $('#btnImport').addClass('disabled').text('Đang cập nhật dữ liệu ....');
            this.files[0];
            sendFile(this.files[0]);
        });
    });
    function querySearch() {
        return '&fullName=' + $('#FullName').val() + '&phone=' + $('#Phone').val() + '&email=' + $('#Email').val() + '&fromDate=' + $('#FromDateStr').val() + '&toDate=' + $('#ToDateStr').val();
    }
    function DateFormat(field, rules, i, options) {
        var regex = /^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$/;
        if (!regex.test(field.val())) {
            return "Vui lòng nhập ngày theo định dạng dd/MM/yyyy.";
        }
    }
    function sendFile(file) {
        var formData = new FormData();
        formData.append(file.name, file);
        $.ajax({
            type: 'POST',
            url: '/MasterData/Potential/ImportDataLead',
            data: formData,
            contentType: false,
            processData: false,
            async: true,
            success: function (status) {
                if (status.success) {
                    //$('#btnSendMail').removeClass('disabled').text('Gửi Mail');
                    window.location.reload();
                }
                else {
                    alert('Đã xảy ra lỗi!');
                    $('#lbError').html(status.html);
                    $('#btnImport').removeClass('disabled').text('Import danh sách khách hàng')
                }
                    
                $('#imgupload').val('');
            },
            processData: false,
            contentType: false,
            error: function () {
                alert('error');
                $('#imgupload').val('');
            }
        });
    }
</script>