﻿@{
    ViewBag.Title = "Siêu Trí Nhớ Học Đường";
}
<div class="container">
    <div class="jumbotron">
        <div class="txt">
            <h2>Xin chào bạn</h2>
        </div>
        <p class="jumbotron-img"><img src="@Url.Content("~/Content/images/banner-detail.png")" alt=""></p>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-20">
            <div class="modify-w-form contact post">
                <h3 style="text-align: center;">
                    Hướng Dẫn Mua Hàng
                </h3>
                <p>
                    <strong>1:</strong> Vào website <a href="https://sieutrinhohocduong.com" target="_blank">https://sieutrinhohocduong.com</a> --> Chọn Đăng Nhập/Đăng Ký.
                </p>
                <p>
                    <strong>2:</strong> Chọn tab Đăng Ký
                </p>
                <p>
                    <strong>3:</strong> Nhập đầy đủ thông tin học viên.
                </p>
                <p>
                    <strong>4:</strong> Chọn đăng ký.
                </p>
                <p>
                    <strong>5:</strong> Lựa chọn nguồn thanh toán. Có 3 hình thức thanh toán linh động mà bạn có thể áp dụng.
                </p>
                <p>
                    - Nhập Mã Kích Hoạt mua từ Đại Lý của Tâm Trí Lực.<br />
                    - Thẻ tính dụng/thẻ ghi nợ.<br />
                    - Thanh toán qua Internet Banking ( ATM )
                </p>
                <p>
                    <strong>6:</strong> Sau khi thanh toán xong, Siêu Trí Nhớ Học Đường sẽ kích hoạt tài khoản bạn vừa đăng ký.
                </p>
            </div>
        </div>
    </div>
</div>