﻿@{
    ViewBag.Title = "Siêu Trí Nhớ Học Đường";
}
<div class="container">
    <div class="jumbotron">
        <div class="txt">
            <h2>Xin chào bạn</h2>
        </div>
        <p class="jumbotron-img"><img src="@Url.Content("~/Content/images/banner-detail.png")" alt=""></p>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-20">
            <div class="modify-w-form contact post">
                <h4 style="text-align: center;">
                    <strong>Hướng dẫn xem videos Siêu Trí Nhớ Học Đường trên máy tính Windows 7</strong>
                </h4>
                <br />
                <p>
                    - Để khắc phục đầu tiên chúng ta sẽ dowload file và mở folder chứa file: <a href="https://firebasestorage.googleapis.com/v0/b/sieutrinhohocduong.appspot.com/o/FileDownload%2FDigiCertGlobalRootG2.crt?alt=media&token=79cb9417-3920-4f4f-b64c-d35f21861fe3">Download file DigiCertGlobalRootG2</a>
                </p>
                <p>
                    - Sau đó click chuột phải vài file này và chọn <strong>“Install certificate”</strong> để cài đặt
                </p>
                <p><img style="max-width: 60%;" src="https://laptopbathon.com/wp-content/uploads/2020/02/cc2af6f1ad5855060c497.jpg" /></p>
                <p>
                    <img style="max-width: 60%;" src="https://laptopbathon.com/wp-content/uploads/2020/02/cd901a4841e1b9bfe0f08.jpg" />
                </p>
                <p>
                    <img style="max-width: 60%;" src="https://laptopbathon.com/wp-content/uploads/2020/02/a3515db5061cfe42a70d9.jpg" />
                </p>
                <p>
                    <img style="max-width: 60%;" src="https://laptopbathon.com/wp-content/uploads/2020/02/8c874c6317caef94b6db1.jpg" />
                </p>
                <p>
                    Sau khi click vào Finish, bạn chờ khoảng 30 giây thì sẽ hiện ra thông báo từ Windows 7. Bạn chọn Yes là xong.
                </p>
                <p>
                    <img style="max-width: 60%;" src="https://laptopbathon.com/wp-content/uploads/2020/02/4a19f8fea3575b0902462.png" />
                </p>
                <p>
                    Sau khi đã cập nhật chứng chỉ xong, bạn tắt Chrome hoàn toàn và khởi động lại. Lúc này, Chrome đã cập nhật chứng chỉ SSL và công chứng Kết nối an toàn đối với website, nên bạn sẽ xem videos bình thường.
                </p>
                <p>
                    Cảm ơn bạn đã theo dõi bài viết Sửa lỗi <strong>“Xem videos trên máy tính cài Window 7”</strong> trên Chrome của Siêu Trí Nhớ Học Đường
                </p>
            </div>
        </div>
    </div>
</div>