﻿@model IEnumerable<GCSOFT.MVC.AGENCY.Areas.Transaction.Data.CustomerViewModel>

<input type="file" id="imgupload" hidden />
<div class="uk-width-medium-1-4" style="margin-bottom:0.5%">
    <a id="btnExcel" href="javascript:void(0);" class="md-btn md-btn-primary uk-margin-small-top">Download Excel</a>
    <a id="btnImport" href="javascript:void(0);" class="md-btn md-btn-primary uk-margin-small-top">Import Excel</a>
</div>

<div class="md-card">
    <div class="md-card-content" id="tbodyContact">
        @if (Model != null)
        {
            int stt = 0;
            var CustomerViewModelList = Model.ToList();
            foreach (var item in Model)
            {
                <div class="uk-grid tr" data-uk-grid-margin>
                    <div class="uk-width-medium-1-10 uk-text-center">
                        <p class="uk-text-large">@(++stt)</p>
                    </div>
                    <div class="uk-width-medium-8-10">
                        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
                            <div class="uk-width-medium-2-10">
                                @Html.LabelFor(d => CustomerViewModelList[stt - 1].FullName)
                                @Html.TextBoxFor(d => CustomerViewModelList[stt - 1].FullName, new { @class = "md-input validate[required]", @accesskey = "KeyFocus" })
                            </div>
                            <div class="uk-width-medium-2-10">
                                @Html.LabelFor(d => CustomerViewModelList[stt - 1].PhoneNo)
                                @Html.TextBoxFor(d => CustomerViewModelList[stt - 1].PhoneNo, new { @class = "md-input validate[required]" })
                            </div>
                            <div class="uk-width-medium-2-10">
                                @Html.LabelFor(d => CustomerViewModelList[stt - 1].Email)
                                @Html.TextBoxFor(d => CustomerViewModelList[stt - 1].Email, new { @class = "md-input validate[required]" })
                            </div>
                            <div class="uk-width-medium-4-10">
                                @Html.LabelFor(d => CustomerViewModelList[stt - 1].Address)
                                @Html.TextBoxFor(d => CustomerViewModelList[stt - 1].Address, new { @class = "md-input validate[required]", @accesskey = "KeyNewLine" })
                            </div>
                        </div>
                        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
                            <div class="uk-width-medium-5-10">
                                @Html.LabelFor(d => CustomerViewModelList[stt - 1].UserName)
                                @Html.TextBoxFor(d => CustomerViewModelList[stt - 1].UserName, new { @class = "md-input" })
                            </div>
                            <div class="uk-width-medium-5-10">
                                @Html.LabelFor(d => CustomerViewModelList[stt - 1].GradeId)
                                @Html.DropDownListFor(d => CustomerViewModelList[stt - 1].GradeId, CustomerViewModelList[stt - 1].ClassList, "[ Chọn ]", new { @class = "md-input label-fixed" })
                            </div>
                        </div>
                    </div>
                    
                    <div class="uk-width-medium-1-10 uk-text-center">
                        <a href="javascript:void(0);" name="btnRemoveContactLine"><i class="material-icons md-24">&#xE872;</i></a>
                    </div>

                </div>
            }
        }
    </div>
    <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-medium-1-1 uk-text-right">
            <a name="btnAddNewContactRow" id="btnAddNewContactRow" href="javascript:void(0);" class="md-btn md-btn-flat md-btn-flat-primary md-btn-wave"><i class="material-icons uk-text-primary">&#xE03B;</i>&nbsp;&nbsp;Thêm dòng</a>
        </div>
    </div>
</div>
<script id="template_contact_subform" type="text/x-handlebars-template">
    <div class="uk-grid tr" data-uk-grid-margin>
        <div class="uk-width-medium-1-10 uk-text-center">
            <p class="uk-text-large">{{stt}}</p>
        </div>
        <div class="uk-width-medium-8-10">
            <div class="uk-grid uk-grid-small" data-uk-grid-margin>
                <div class="uk-width-medium-2-10">
                    <label for="CustomerViewModelList__{{stt}}__FullName">Họ tên người mua</label>
                    <input class="md-input validate[required]" accesskey="KeyFocus" id="CustomerViewModelList_{{stt}}__FullName" name="CustomerViewModelList[{{stt}}].FullName" type="text" value="" />
                </div>
                <div class="uk-width-medium-2-10">
                    <label for="CustomerViewModelList__{{stt}}__PhoneNo">Số điện thoại</label>
                    <input class="md-input validate[required]" id="CustomerViewModelList_{{stt}}__PhoneNo" name="CustomerViewModelList[{{stt}}].PhoneNo" type="text" value="" />
                </div>
                <div class="uk-width-medium-2-10">
                    <label for="CustomerViewModelList__{{stt}}__Email">Email</label>
                    <input class="md-input validate[required]" id="CustomerViewModelList_{{stt}}__Email" name="CustomerViewModelList[{{stt}}].Email" type="text" value="" />
                </div>
                <div class="uk-width-medium-4-10">
                    <label for="CustomerViewModelList__{{stt}}__Address">Địa chỉ</label>
                    <input class="md-input validate[required]" id="CustomerViewModelList_{{stt}}__Address" name="CustomerViewModelList[{{stt}}].Address" type="text" value="" />
                </div>
            </div>
            <div class="uk-grid uk-grid-small" data-uk-grid-margin>
                <div class="uk-width-medium-5-10">
                    <label for="CustomerViewModelList__{{stt}}__UserName">Tài Khoản</label>
                    <input class="md-input validate[required]" id="CustomerViewModelList_{{stt}}__UserName" name="CustomerViewModelList[{{stt}}].UserName" type="text" value="" />
                </div>
                <div class="uk-width-medium-5-10">
                    <label for="CustomerViewModelList__{{stt}}__GradeId">Lớp</label>
                    @Html.Raw(ViewBag.ClassListStr)
                </div>
            </div>
        </div> 
        <div class="uk-width-medium-1-10 uk-text-center">
            <a href="javascript:void(0);" name="btnRemoveContactLine"><i class="material-icons md-24">&#xE872;</i></a>
        </div>
    </div>
</script>
<script type="text/javascript">
    $(document).ready(function () {
        InitValueContact();
        $('#btnAddNewContactRow').click(function () {
            var table = $('#tbodyContact');
            var stt = table.find(".tr").length + 1;

            var getTemplate = $("#template_contact_subform").html();

            // Compile the template
            var compileTemplate = Handlebars.compile(getTemplate);
            var context = {
                "stt": stt
            };

            // Pass our data to the template
            var passDataToTemplate = compileTemplate(context);
            // Add the compiled html to the page
            if ($("#tbodyContact .tr").length > 0) {
                $('#tbodyContact').find(".tr").end().append(passDataToTemplate);
            } else {
                $('#tbodyContact').html(passDataToTemplate);
            }
            altair_md.inputs();
            altair_uikit.reinitialize_grid_margin();
            table.Uk_RebuildIndex();
            table.Uk_RebuildSortOrder();
            InitValueContact();
        });

        $('#btnExcel').click(function () {
            window.location = '/Transaction/RetailSales/DownloadExcel'
        });
        $('#btnImport').click(function () {
            var levelCode = $('#LevelCode').val();
            if (levelCode == '') {
                alert('Bạn chưa chọn Gói học');
                return;
            }
            var typeSale = $('#TypeSale').val();
            if (typeSale == '') {
                alert('Bạn chưa chọn Hình Thức Bán');
                return;
            }
            $('#imgupload').trigger('click');
        });

        $("#imgupload").on('change', function () {
            this.files[0];
            sendFile(this.files[0]);
        });

        $("#TypeSale").on('change', function () {
            $('input[name*="UserName"]').each(function () {
                if ($('#TypeSale').val() == '1') {
                    $(this).removeClass("validate[required]");
                    $(this).val('');
                    $('#msgOrder').val('');
                }
                else
                    $(this).addClass("validate[required]");
            });
        });

    });


    function InitValueContact() {
        $('[name="btnRemoveContactLine"]').Uk_RemoveRow($('#tbody'));
        $('[accesskey="KeyNewLine"]').keydown(function (e) {
            var code = e.keyCode || e.which;
            if (code === 9) {
                e.preventDefault();
                var idxTbl = $('#tbodyContact').find('.tr').length;
                var idx = $('[accesskey="KeyNewLine"]').index($(this)) + 1;
                if (idxTbl == idx) {
                    $('#btnAddNewContactRow').click();
                    $('[accesskey="KeyFocus"]').last().focus();
                }
                return false;
            }
        });
    }

    function sendFile(file) {
        var formData = new FormData();
        formData.append(file.name, file);
        formData.append("typeSale", $('#TypeSale').val());
        $.ajax({
            type: 'POST',
            url: '/Transaction/RetailSales/RenderHtml',
            data: formData,
            contentType: false,
            processData: false,
            async: true,
            success: function (status) {
                if (status.success) {
                    $('#tbodyContact').html(status.html)
                    InitValueContact();
                } else {
                    alert(status.html);
                }
                $('#imgupload').val('');
            },
            processData: false,
            contentType: false,
            error: function () {
                alert('error');
                $('#imgupload').val('');
            }
        });
    }

</script>
