﻿@model IEnumerable<GCSOFT.MVC.Web.ViewModels.MasterData.VM_OptionLine>
<div class="md-card">
    <div class="md-card-toolbar height45">
        <h3 class="md-card-toolbar-heading-text">
            DANH SÁCH
        </h3>
    </div>
    <div class="md-card-content" id="tbody">
        @if (Model != null)
        {
            int stt = 0;
            var Optionlines = Model.ToList();
            foreach (var item in Model)
            {
        <div class="uk-grid tr" data-uk-grid-margin>
            <div class="uk-width-medium-1-10 uk-text-center">
                <p class="uk-text-large">@(++stt)</p>
            </div>
            <div class="uk-width-medium-2-10">
                @Html.LabelFor(d => Optionlines[stt - 1].Code)
                @Html.TextBoxFor(d => Optionlines[stt - 1].Code, new { @class = "md-input", @accesskey = "KeyFocus" })
            </div>
            <div class="uk-width-medium-4-10">
                @Html.LabelFor(d => Optionlines[stt - 1].Name)
                @Html.EditorFor(d => Optionlines[stt - 1].Name, new { htmlAttributes = new { @class = "md-input" } })
                @Html.HiddenFor(d => Optionlines[stt - 1].OptionHeaderID)
                @Html.HiddenFor(d => Optionlines[stt - 1].OptionHeaderName)
                @Html.HiddenFor(d => Optionlines[stt - 1].LineNo)
            </div>
            <div class="uk-width-medium-1-10">
                @Html.LabelFor(d => Optionlines[stt - 1].Order)
                @Html.TextBoxFor(d => Optionlines[stt - 1].Order, new { @class = "md-input uk-text-right", @accesskey = "KeyNewLine" })
            </div>
            <div class="uk-width-medium-1-10 uk-text-center">
                <div class="uk-form-row parsley-row">
                    @Html.LabelFor(d => Optionlines[stt - 1].IsHidden, new { @class = "uk-form-label" })
                    <span class="icheck-inline">
                        @Html.CheckBoxFor(d => Optionlines[stt - 1].IsHidden, new Dictionary<string, Object> { { "data-md-icheck", "" } })
                    </span>
                </div>
            </div>
            <div class="uk-width-medium-1-10 uk-text-center">
                <a href="javascript:void(0);" name="btnRemoveLine"><i class="material-icons md-24">&#xE872;</i></a>
            </div>
        </div>
            }
        }
    </div>
    <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-medium-1-1 uk-text-right">
            <a id="btnAddNewRow" href="javascript:void(0);" class="md-btn md-btn-flat md-btn-flat-primary md-btn-wave"><i class="material-icons uk-text-primary">&#xE03B;</i>&nbsp;&nbsp;Thêm dòng</a>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        InitValue();
        $('#btnAddNewRow').click(function () {
            var table = $("#tbody");
            var stt = table.find(".tr").length;
            var stringBuilder = '';

            stringBuilder += '<div class="uk-grid tr" data-uk-grid-margin>';

            stringBuilder += '<div class="uk-width-medium-1-10 uk-text-center uk-row-first">';
            stringBuilder += '<p class="uk-text-large">' + (stt + 1) + '</p>';
            stringBuilder += '</div>';
            //-- Ma
            stringBuilder += '<div class="uk-width-medium-1-10">';
            stringBuilder += '<div class="md-input-wrapper md-input-filled">';
            stringBuilder += '<label for="Optionlines_' + (stt) + '__Code">Mã</label>';
            stringBuilder += '<input accesskey="KeyFocus" class="md-input" id="Optionlines_' + (stt) + '__Code" name="Optionlines[' + (stt) + '].Code" type="text" value="">';
            stringBuilder += '<span class="md-input-bar"></span>';
            stringBuilder += '</div>';
            stringBuilder += '</div>';
            //-- Ma End
            //-- Ten
            stringBuilder += '<div class="uk-width-medium-4-10 uk-row-first">';
            //-- Field
            stringBuilder += '<div class="md-input-wrapper md-input-filled">';
            stringBuilder += '<label for="Optionlines_' + (stt) + '__Name">Tên</label>';
            stringBuilder += '<input class="md-input text-box single-line" id="Optionlines_' + (stt) + '__Name" name="Optionlines[' + (stt) + '].Name" type="text" value="">';
            stringBuilder += '<span class="md-input-bar"></span>';
            stringBuilder += '</div>';
            //-- Field End
            //-- Hidden
            stringBuilder += '<input id="Optionlines_' + (stt) + '__OptionHeaderID" name="Optionlines[' + (stt) + '].OptionHeaderID" type="hidden" value="">';
            stringBuilder += '<input id="Optionlines_' + (stt) + '__OptionHeaderName" name="Optionlines[' + (stt) + '].OptionHeaderName" type="hidden" value="">';
            stringBuilder += '<input id="Optionlines_' + (stt) + '__LineNo" name="Optionlines[' + (stt) + '].LineNo" type="hidden" value="">';
            //-- Hidden End
            stringBuilder += '</div>';
            //-- Ten End
            //-- Thu tu
            stringBuilder += '<div class="uk-width-medium-1-10">';
                stringBuilder += '<div class="md-input-wrapper md-input-filled">';
                    stringBuilder += '<label for="Optionlines_' + (stt) + '__Order">Thứ Tự</label>';
                    stringBuilder += '<input accesskey="KeyNewLine" class="md-input uk-text-right" id="Optionlines_' + (stt) + '__Order" name="Optionlines[' + (stt) + '].Order" type="text" value="">';
                    stringBuilder += '<span class="md-input-bar"></span>';
                stringBuilder += '</div>';
            stringBuilder += '</div>';
            //-- Thu tu End
            //--An hien
            stringBuilder += '<div class="uk-width-medium-1-10 uk-text-center">';
            stringBuilder += '<div class="uk-form-row parsley-row">';
            stringBuilder += '<label class="uk-form-label" for="Optionlines_' + (stt) + '__IsHidden">Ẩn/Hiện</label>';
            stringBuilder += '<span class="icheck-inline">';
            stringBuilder += '<div class="icheckbox_md checked">';
            stringBuilder += '<input checked="checked" data-md-icheck="" data-val="true" id="Optionlines_' + (stt) + '__IsHidden" name="Optionlines[' + (stt) + '].IsHidden" type="checkbox" value="true" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">';
            stringBuilder += '<ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>';
            stringBuilder += '</div>';
            stringBuilder += '<input name="Optionlines[' + (stt) + '].IsHidden" type="hidden" value="false">';
            stringBuilder += '</span>';
            stringBuilder += '</div>';
            stringBuilder += '</div>';
            //--An hien End
            //-- Delete button
            stringBuilder += '<div class="uk-width-medium-1-10 uk-text-center">';
            stringBuilder += '<a href="javascript:void(0);" name="btnRemoveLine"><i class="material-icons md-24">&#xE872;</i></a>';
            stringBuilder += '</div>';
            //-- Delete button End
            stringBuilder += '</div>';
            if (stringBuilder != "") {
                if ($("#tbody .tr").length > 0) {
                    $("#tbody").find(".tr").end().append(stringBuilder);
                } else {
                    $("#tbody").html(stringBuilder);
                }
            }
            InitValue();
            table.Uk_RebuildIndex();
            table.Uk_RebuildSortOrder();
        });
    });
    function InitValue() {
        $('[name="btnRemoveLine"]').Uk_RemoveRow($('#tbody'));
        $('[accesskey="KeyNewLine"]').keydown(function (e) {
            var code = e.keyCode || e.which;
            if (code === 9) {
                e.preventDefault();
                var idxTbl = $('#tbody').find('.tr').length;
                var idx = $('[accesskey="KeyNewLine"]').index($(this)) + 1;
                if (idxTbl == idx) {
                    $('#btnAddNewRow').click();
                    $('[accesskey="KeyFocus"]').last().focus();
                }
                return false;
            }
        });
    }
</script>