﻿@model GCSOFT.MVC.Web.ViewModels.MasterData.VM_OptionType
@{
    ViewBag.Title = "Xem Chi Tiết Loại";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
<div id="page_content_inner">
	<div class="md-card">
		<div class="md-card-toolbar">
			<h3 class="md-card-toolbar-heading-text">
				<i class="material-icons">&#xE894;</i>&nbsp;&nbsp;@ViewBag.Title
			</h3>
		</div>
		<div class="md-card-content gc-padding-top-8">
			<div class="uk-grid gc-margin-top-0px">
				<div class="uk-width-medium-1-2">
					<div class="uk-width-medium-1-1">
						@Html.LabelFor(model => model.ID, htmlAttributes: new { @class = "gc-text-muted uk-text-small" })
					</div>
					<div class="uk-width-medium-1-1 gc-margin-top-2px">
						<span class="uk-text-middle">@Model.ID</span>
					</div>
					<hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
				</div>
				<div class="uk-width-medium-1-2">
					<div class="uk-width-medium-1-1">
						@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "gc-text-muted uk-text-small" })
					</div>
					<div class="uk-width-medium-1-1 gc-margin-top-2px">
						<span class="uk-text-middle">@Model.Name</span>
					</div>
					<hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
				</div>
			</div>
			<div class="uk-grid gc-margin-top-0px uk-hidden-small">
				<div class="uk-width-medium-1-2">
					<hr class="gc-grid-divider">
				</div>
				<div class="uk-width-medium-1-2">
					<hr class="gc-grid-divider">
				</div>
			</div>
		</div>
	</div>
    @Html.Partial("_ViewLine", Model.Optionlines)
</div>
<div class="md-fab-wrapper">
    <a id="btnReturn" href="@Url.Action("Index", "OptionType", new { area = "MasterData" })" class="md-fab md-fab-small md-fab-accent" title="Quay lại" data-uk-tooltip="{pos:'top'}"><i class="material-icons">&#xE31B;</i></a>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        gcHotkey._return();
    });
</script>
}
