﻿@model GCSOFT.MVC.Web.ViewModels.SystemViewModels.CategoryCard
@{
    int stt = 0;
    var functions = Model.Functions.ToList();
}
<div id="page_content_inner" class="hierarchical_slide">
    <div class="md-card">
        <div class="md-card-toolbar">
            <div class="md-card-toolbar-actions">
                <i class="md-icon material-icons md-card-toggle">&#xE316;</i>
            </div>
            <h3 class="md-card-toolbar-heading-text">
                <i class="material-icons">&#xE894;</i>&nbsp;&nbsp;@ViewBag.Title
                @Html.HiddenFor(model => model.xCode)
                @Html.HiddenFor(model => model.xParentCode)
                @Html.HiddenFor(model => model.Link)
                @Html.HiddenFor(model => model.ParentPriority)
                @Html.HiddenFor(model => model.ParentPriorityLink)
            </h3>
        </div>
        <div class="md-card-content">
            <!-- row 1 -->
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-2">
                    @Html.LabelFor(model => model.Code)
                    @Html.TextBoxFor(model => model.Code, new Dictionary<string, Object>
                            {
                                {"class","md-input validate[required] UpperCase"},
                                {"xCode", Model.Code}
                            })
                </div>
                <div class="uk-width-medium-1-2">
                    @Html.LabelFor(model => model.Name)
                    @Html.TextBoxFor(model => model.Name, new { @class = "md-input validate[required]" })
                </div>
            </div>
            <!-- row 2 -->
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-3">
                    @Html.LabelFor(model => model.AreaName)
                    @Html.TextBoxFor(model => model.AreaName, new { @class = "md-input" })
                </div>
                <div class="uk-width-medium-1-3">
                    @Html.LabelFor(model => model.ControllerName)
                    @Html.TextBoxFor(model => model.ControllerName, new { @class = "md-input" })
                </div>
                <div class="uk-width-medium-1-3">
                    @Html.LabelFor(model => model.ActionName)
                    @Html.TextBoxFor(model => model.ActionName, new { @class = "md-input" })
                </div>
            </div>
            <!-- row 3 -->
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    @Html.LabelFor(model => model.ParentCode)
                    @Html.DropDownListFor(model => model.ParentCode, Model.Parents, "[ Chọn ]", new { @class = "md-input label-fixed" })
                </div>

            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-2">
                    <div class="uk-form-row parsley-row">
                        @Html.LabelFor(model => model.OnMenu, new { @class = "uk-form-label" })
                        <span class="icheck-inline">
                            @Html.CheckBoxFor(model => model.OnMenu, new Dictionary<string, Object>
                            {
                                {"data-md-icheck", ""}
                            })
                        </span>
                    </div>
                </div>
                <div class="uk-width-medium-1-2">
                    @Html.LabelFor(model => model.Priority)
                    @Html.TextBoxFor(model => model.Priority, new Dictionary<string, Object>
                            {
                                {"class","md-input masked_input label-fixed"},
                                {"data-inputmask", "'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true, 'placeholder': '0'"}
                            })
                </div>
            </div>
           
            <!-- row 4 -->
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    @Html.LabelFor(model => model.Description)
                    @Html.TextAreaFor(model => model.Description, new { @class = "md-input", @cols = 30, @rows = 2 })
                </div>
            </div>
        </div>
    </div>
    <div class="md-card">
        <div class="md-card-toolbar">
            <div class="md-card-toolbar-actions">
                <i class="md-icon material-icons md-card-toggle">&#xE316;</i>
            </div>
            <h3 class="md-card-toolbar-heading-text">
                <i class="material-icons">&#xE896;</i>&nbsp;&nbsp;Chọn Vụ Việc
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-overflow-container">
                <table class="uk-table uk-table-hover">
                    <thead>
                        <tr>
                            <th class="uk-width-1-10 uk-text-nowrap">STT</th>
                            <th class="uk-width-1-10 uk-text-nowrap">Mã Vụ Việc</th>
                            <th class="uk-width-3-10 uk-text-nowrap">Tên Vụ Việc</th>
                            <th class="uk-text-nowrap">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Functions)
                        {
                            <tr>
                                <td>@(++stt)</td>
                                <td>
                                    @Html.HiddenFor(model => functions[stt - 1].Code)
                                    @item.Code
                                </td>
                                <td>
                                    @Html.HiddenFor(model => functions[stt - 1].Name)
                                    @item.Name
                                </td>
                                <td class="uk-text-right">
                                    @Html.CheckBoxFor(model => functions[stt - 1].Check, new Dictionary<string, Object>
                                            {
                                                {"data-md-icheck", ""}
                                            })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="md-fab-wrapper">
    <div class="md-fab md-fab-accent md-fab-sheet md-fab-small">
        <i class="material-icons">&#xE30F;</i>
        <div class="md-fab-sheet-actions">
            <a id="btnReturn" href="@Url.Action("Index", "SysCategory", new { area = "administrator" })" class="md-color-white"><i class="material-icons md-color-white">&#xE15E;</i> <span class="gc-text-decoration uk-text-warning">Q</span>uay lại</a>
            <a href="javascript:void(0)" id="btnSave" class="md-color-white"><i class="material-icons md-color-white">&#xE161;</i> <span class="gc-text-decoration uk-text-warning">L</span>ưu</a>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        gcHotkey._return();
        gcHotkey._save();
        $('#ParentCode').select2();
        CreateSuccess('@Url.Action("Create", "SysCategory", new { area = "administrator" })');
        $('#btnSave').click(function () {
            $.post('@Url.Action("CandAdd", "SysCategory", new { area = "administrator" })', { c: $('#Code').val(), xc: $('#Code').attr('xCode') }, function (data) {
                if (data) {
                    $().toastmessage('showToast', {
                        text: 'Mã công việc đã tồn tại',
                        sticky: false,
                        position: 'top-center',
                        type: 'warning'
                    });
                } else {
                    Save($("#frm"), true);
                }
            });
        });

        $('#Code').change(function () {
            var code = $(this).val();
            if (code == '')
                return;
            $.post('@Url.Action("CandAdd", "SysCategory", new { area = "administrator" })', { c: $('#Code').val(), xc: $('#Code').attr('xCode') }, function (data) {
                if (data) {
                    $().toastmessage('showToast', {
                        text: 'Mã công việc đã tồn tại',
                        sticky: false,
                        position: 'top-center',
                        type: 'warning'
                    });
                }
            });
        });
    });
</script>