﻿@model GCSOFT.MVC.AGENCY.Areas.Transaction.Data.AgencyAndCard
@using (Html.BeginForm("ActivationCard", "CardByGrade", FormMethod.Post, new { @id = "frmReActivationCard", @class = "uk-form-stacked", @autocomplete = "off" }))
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/cms/js/altair_admin_common.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/cms/js/gc-common.js")"></script>
    <div class="md-card md-card-popup">
        <div class="md-card-toolbar md-card-toolbar-popup">
            <h3 class="md-card-toolbar-heading-text">
                Mã Kích Hoạt STNHĐ
            </h3>
        </div>
        <div class="md-card-content md-card-content-popup">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    <label>Số Seri</label>
                    @Html.EditorFor(model => model.SerialNumber, new { htmlAttributes = new { @class = "md-input", @readonly = true } })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    <label>Họ tên</label>
                    @Html.EditorFor(model => model.FulName, new { htmlAttributes = new { @class = "md-input validate[required]", @readonly = true } })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-2">
                    <label>Email</label>
                    @Html.EditorFor(model => model.VerifyInfo, new { htmlAttributes = new { @class = "md-input validate[required,custom[email]]" } })
                </div>
                <div class="uk-width-medium-1-2">
                    <label>Số Điện Thoại</label>
                    @Html.EditorFor(model => model.PhoneNo, new { htmlAttributes = new { @class = "md-input validate[required,custom[phone]]", @readonly = true } })
                </div>
            </div>
            @*<div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    <label>Mã Kích Hoạt</label>
                    @Html.EditorFor(model => model.CardNo, new { htmlAttributes = new { @class = "md-input validate[required]", @readonly = true } })
                </div>
            </div>*@
            @*<div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-1">
                        <div class="uk-input-group">
                            <label>Số Điện Thoại</label>
                            @Html.EditorFor(model => model.PhoneNo, new { htmlAttributes = new { @class = "md-input validate[required,custom[phone]]" } })
                            <span class="uk-input-group-addon"><a class="md-btn md-btn-flat md-btn-flat-primary md-btn-wave waves-effect waves-button" href="javascript:void(0);" id="btnSendOTP">Lấy mã xác thực</a></span>
                        </div>
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-1">
                        <label>Mã xác thực</label>
                        @Html.EditorFor(model => model.OTP, new { htmlAttributes = new { @class = "md-input validate[required]" } })
                    </div>
                </div>*@
            <div class="uk-grid uk-margin-medium-top">
                <div class="uk-width-1-1 uk-text-right">
                    <button id="btnReSendActivationCode" type="button" class="md-btn md-btn-primary">Gửi Lại Mã Kích Hoạt</button>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#btnReSendActivationCode').click(function () {
            var flag = $('#frmReActivationCard').validationEngine('validate');
            if (flag) {
                var _id = $('#SerialNumber').val();
                var _p = $('#PhoneNo').val();
                var _e = $('#VerifyInfo').val();
                NProgress.start();
                $('#btnReSendActivationCode').addClass('disabled').text('Đang gửi mã kích hoạt ....');
                $.post('@Url.Action("ResendViaEmailPhoneActivation", "CardByGrade", new { area = "Transaction" })', { id: _id, e: _e, p: _p}, function (data) {
                    $.toast({
                        heading: 'STNHD Thông Báo',
                        text: 'Đã gửi lại mã kích hoạt qua mail',
                        showHideTransition: 'slide',
                        icon: 'info',
                        position: 'top-center'
                    });
                    $('#btnReSendActivationCode').removeClass('disabled').text('Gửi Lại Mã Kích Hoạt');
                });
            }
        });
    });
</script>