﻿@model GCSOFT.MVC.AGENCY.Areas.Transaction.ViewModel.CardStoreIndex
@{
    ViewBag.Title = "Kho Thẻ Lớp";
}
<div id="page_content_inner">
    @Html.Partial("_chart", Model)
    <div class="md-card">
        <div class="md-card-toolbar">
            <h3 class="md-card-toolbar-heading-text">
                Tìm kiếm
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-3">
                    <label for="Type">Trạng Thái</label>
                    @Html.DropDownListFor(model => model.StatusCode, Model.StatusList, "[ Chọn ]", new { @class = "md-input label-fixed" })
                </div>
                <div class="uk-width-medium-1-3">
                    <label for="KeyWord">Số Seri</label>
                    @Html.TextBoxFor(model => model.Keyword, new { @class = "md-input" })
                </div>
                <div class="uk-width-medium-1-3">
                    <a id="btnSearch" href="javascript:void(0);" class="md-btn md-btn-primary uk-margin-small-top"><i class="material-icons">&#xE8B6;</i> Tìm</a>
                </div>
            </div>
        </div>
    </div>
    <div class="md-card">
        <div class="md-card-toolbar">
            <h3 class="md-card-toolbar-heading-text">
                @ViewBag.Title
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-overflow-container">
                <table class="uk-table uk-table-nowrap table_check">
                    <thead>
                        <tr>
                            <th class="uk-width-1-10 uk-text-center"><strong>STT</strong></th>
                            <th class="uk-width-2-10"><strong>Gói</strong></th>
                            <th class="uk-width-2-10"><strong>Số Seri</strong></th>
                            <th class="uk-width-1-10 uk-text-right"><strong>Giá</strong></th>
                            <th class="uk-width-2-10 uk-text-right"><strong>Trạng Thái</strong></th>
                            <th class="uk-width-4-10 uk-text-center"><strong>Kích Hoạt</strong></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int stt = Model.paging.startIndex; }
                        @foreach (var item in Model.AgencyAndCards)
                        {
                        <tr>
                            <td class="uk-text-center">@(++stt)</td>
                            <td>
                                @if (string.IsNullOrEmpty(item.LevelName))
                                {
                                    @:Gói Học Trọn Đời
                                }
                                else
                                {
                                    @item.LevelName
                                }

                            </td>
                            <td>@item.SerialNumber</td>

                            <td class="uk-text-right">@string.Format("{0:##,#}", item.Price)</td>
                            <td class="uk-text-right" id="status@(item.SerialNumber)"><span class="uk-badge">@item.StatusName</span></td>
                            <td class="uk-text-right">
                                @if (item.StatusCode.Equals("100"))
                                {
                                    <a class="md-btn md-btn-warning md-btn-wave-light" href="javascript:void(0)" name="buyCard" id="buy@(item.SerialNumber)" accesskey="@item.SerialNumber"><i class="material-icons">style</i>&nbsp;Bán Mã Kích Hoạt</a>
                                    <a class="md-btn md-btn-primary md-btn-wave-light" href="javascript:void(0)" name="registerCard" id="register@(item.SerialNumber)" accesskey="@item.SerialNumber"><i class="material-icons">how_to_reg</i>&nbsp;Đăng Ký Thành Viên</a>
                                }
                                @if (item.StatusCode.Equals("450"))
                                {
                                    <a class="md-btn md-btn-warning md-btn-wave-light" href="javascript:void(0)" name="ResendBuyCard" id="ResendB@(item.SerialNumber)" accesskey="@item.SerialNumber"><i class="material-icons">style</i>&nbsp;Mã Kích Hoạt</a>
                                }
                                @if (item.StatusCode.Equals("500"))
                                {
                                    <a class="md-btn md-btn-primary md-btn-wave-light" href="javascript:void(0)" name="ViewCardInfo" id="UserInfo@(item.SerialNumber)" accesskey="@item.SerialNumber"><i class="material-icons">style</i>&nbsp;Thông Tin Người Dùng</a>
                                }

                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            @if (Model.AgencyAndCards.Count() > 0)
            {
                <div class="pagination" data-total-count="@Model.paging.TotalRows" data-take="@Model.paging.PerPage"></div>
            }
        </div>
    </div>
</div>
<script type="text/javascript" src="@Url.Content("~/Scripts/cms/vendor/paging/pajinatify.js")"></script>
<link type="text/css" href="@Url.Content("~/Scripts/cms/vendor/paging/pajinatify.css")" rel="stylesheet" />
<script type="text/javascript">
    $(document).ready(function () {
        $('.pagination').pajinatify();
        $('.pagination').pajinatify('set', @Model.paging.CurPage, @Model.paging.TotalRows);
        $('.pajinatify__button').click(function () {
            var p = $(this).attr('data-page');
            window.location.href = '@Url.Action("Index", "CardByGrade", new { area = "Transaction" })' + '?p=' + p + querySearch();
        });
        $('[name="buyCard"]').click(function () {
            var seriNumber = $(this).attr('accesskey');
            $.fancybox({
                openEffect: 'elastic',
                closeEffect: 'elastic',
                href: '@Url.Action("ActivationCard", "CardByGrade", new { area = "Transaction" })/' + seriNumber,
                title: '',
                type: 'ajax',
                fitToView: true
            });
        });
        $('[name="registerCard"]').click(function () {
            var seriNumber = $(this).attr('accesskey');
            $.fancybox({
                openEffect: 'elastic',
                closeEffect: 'elastic',
                href: '@Url.Action("Register", "CardByGrade", new { area = "Transaction" })/' + seriNumber,
                title: '',
                type: 'ajax',
                fitToView: true
            });
        });
        $('[name="ResendBuyCard"]').click(function () {
            var seriNumber = $(this).attr('accesskey');
            $.fancybox({
                openEffect: 'elastic',
                closeEffect: 'elastic',
                href: '@Url.Action("DetailsActivationCard", "CardByGrade", new { area = "Transaction" })/' + seriNumber,
                title: '',
                type: 'ajax',
                fitToView: true
            });
        });
        $('[name="ViewCardInfo"]').click(function () {
            var seriNumber = $(this).attr('accesskey');
            $.fancybox({
                openEffect: 'elastic',
                closeEffect: 'elastic',
                href: '@Url.Action("DetailsCardInfo", "CardByGrade", new { area = "Transaction" })/' + seriNumber,
                title: '',
                type: 'ajax',
                fitToView: true
            });
        });
        $('#btnSearch').click(function () {
            window.location.href = '@Url.Action("Index", "CardByGrade", new { area = "Transaction" })' + '?p=0' + querySearch();
        });
        $('#StatusCode').change(function () {
            window.location.href = '@Url.Action("Index", "CardByGrade", new { area = "Transaction" })' + '?p=0' + querySearch();
        });
    });
    function querySearch() {
        return '&s=' + $('#StatusCode').val() + '&si=' + $('#Keyword').val();
    }
</script>