﻿@model GCSOFT.MVC.Web.Areas.API.Data.Teacher
@{
    ViewBag.Title = "Thêm mới Giáo viên";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Create", "Teacher", FormMethod.Post, new { @id = "frmTeacher", @class = "uk-form-stacked", @autocomplete = "off" ,@enctype = "multipart/form-data" }))
{
    <div id="page_content_inner" class="hierarchical_slide">
        <div class="md-card">
            <div class="md-card-toolbar">
                <div class="md-card-toolbar-actions">
                    <i class="md-icon material-icons md-card-toggle">&#xE316;</i>
                </div>
                <h3 class="md-card-toolbar-heading-text">
                    <i class="material-icons">&#xE894;</i>&nbsp;&nbsp;Thêm mới Giáo viên
                    <input type="hidden" name="Id" id="Id" value="@Model.Id" />
                </h3>
            </div>
            <div class="md-card-content">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-2">
                        @Html.LabelFor(model => model.LevelCode)
                        @Html.DropDownListFor(model => model.LevelCode, Model.LevelCodes, "[ Chọn ]", new { @class = "md-input label-fixed" })
                    </div>
                    <div class="uk-width-medium-1-2">
                        @Html.LabelFor(model => model.FullName)
                        @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "md-input" } })
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-2">
                        @Html.LabelFor(model => model.SchoolName)
                        @Html.EditorFor(model => model.SchoolName, new { htmlAttributes = new { @class = "md-input label-fixed" } })
                    </div>
                    <div class="uk-width-medium-1-2">
                        @Html.LabelFor(model => model.Position)
                        @Html.EditorFor(model => model.Position, new { htmlAttributes = new { @class = "md-input" } })
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-2">
                        @Html.LabelFor(model => model.Avartar)
                        @Html.EditorFor(model => model.Avartar, new { htmlAttributes = new { @class = "md-input" } })
                    </div>
                    <div class="uk-width-medium-1-2">
                        <label>Image</label>
                        <br />
                        <input type="file" class = "md-input" name="file", accept="image/*" required />
                    </div>
                </div>

                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.Description)
                        @Html.TextAreaFor(model => model.Description, new { @cols = "30", @rows = "30" })
                    </div>
                </div>
            </div>
            <div class="uk-grid uk-margin-medium-top">
                <div class="uk-width-1-1 uk-text-center">
                    <button id="btnSave" type="button" class="md-btn md-btn-primary">Cập Nhật</button>
                </div>
            </div>
        </div>
    </div>

}
<script type="text/javascript">
        $(document).ready(function () {
            gcHotkey._return();
            gcHotkey._save();
            CreateSuccess('@Url.Action("Create", "Teacher", new { area = "API" })');
            $('#btnSave').click(function () {
                Save($("#frmTeacher"), true);
            });

            CKEDITOR.replace('Description', { height: 150 });
            CKEDITOR.instances.Description.on('change', function () {
                $('[name="Description"]').val(CKEDITOR.instances.Description.getData());
            });
        });
</script>
