﻿@model GCSOFT.MVC.Web.Areas.API.Data.Teachers
@{
    ViewBag.Title = "Danh Sách Giáo viên";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
<div id="page_content_inner">
    <div class="md-card">
        <div class="md-card-toolbar">
            <h3 class="md-card-toolbar-heading-text">
                Tìm kiếm
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-3">
                    <div class="parsley-row">
                        <label for="Type">Giáo viên cấp</label>
                        <br />
                        @Html.DropDownListFor(model => model.LevelCode, Model.LevelCodes, "[ Chọn ]", new { @class = "md-input label-fixed" })
                    </div>
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1 uk-text-right">
                    <a id="btnSearch" href="javascript:void(0);" class="md-btn md-btn-primary uk-margin-small-top"><i class="material-icons">&#xE8B6;</i> Tìm Kiếm</a>
                </div>
            </div>
        </div>
    </div>
    <div class="md-card">
        <div class="md-card-toolbar">
            <h3 class="md-card-toolbar-heading-text">
                @ViewBag.Title
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-overflow-container">
                <table class="uk-table uk-table-nowrap table_check">
                    <thead>
                        <tr>
                            <th class="uk-width-1-10 uk-text-center"><strong>STT</strong></th>
                            <th class="uk-width-1-10"><strong>Giáo viên cấp</strong></th>
                            <th class="uk-width-1-10"><strong>Tên giáo viên</strong></th>
                            <th class="uk-width-1-10"><strong>Trường học</strong></th>
                            <th class="uk-width-1-10"><strong>Diễn giải</strong></th>
                            <th class="uk-width-1-10"><strong>Học vấn</strong></th>
                            <th class="uk-width-1-10"><strong>Kinh nghiệm</strong></th>
                            <th class="uk-width-1-10"><strong>Hình ảnh giáo viên</strong></th>
                            <th class="uk-width-1-10"><strong>Action</strong></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int stt = Model.Paging.startIndex; }
                        @foreach (var item in Model.ListTeacher)
                        {
                            <tr>
                                <td class="uk-text-center">@(++stt)</td>
                                <td>@item.LevelCode</td>
                                <td>@item.FullName</td>
                                <td>@item.SchoolName</td>
                                <td>@item.Description</td>
                                <td>@item.Position</td>
                                <td>@item.TeachingExperience</td>
                                <td>@item.Avartar</td>
                                <td>
                                    <a href="/API/Teacher/Edit/@item.Id" style="margin-right: 10px;">Sửa</a>
                                    <a onclick="DeleteTeacher(@item.Id)" style="margin-right: 10px;">Xóa</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="pagination" data-total-count="@Model.Paging.TotalRows" data-take="@Model.Paging.PerPage"></div>
        </div>
        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-1 uk-text-center">
                <a id="btnAdd" href="/API/Teacher/Create" class="md-btn md-btn-primary uk-margin-small-top">Thêm mới</a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="@Url.Content("~/Scripts/cms/vendor/paging/pajinatify.js")"></script>
<link type="text/css" href="@Url.Content("~/Scripts/cms/vendor/paging/pajinatify.css")" rel="stylesheet" />
<script type="text/javascript">
    $(document).ready(function () {
        $('.pagination').pajinatify();
        $('.pagination').pajinatify('set', @Model.Paging.CurPage, @Model.Paging.TotalRows);
        $('.pajinatify__button').click(function () {
            var p = $(this).attr('data-page');
            window.location.href = '@Url.Action("Index", "Teacher", new { area = "API" })' + '?p=' + p + querySearch();
        });
        $('#btnSearch').click(function () {
            window.location.href = '@Url.Action("Index", "Teacher", new { area = "API" })' + '?p=0' + querySearch();
        });
        $('select').select2({
            selectOnClose: true
        });
       

    });

    function querySearch() {
        return '&levelCode=' + $('#LevelCode option:selected').val();
    }

    function DeleteTeacher(id) {
        var r = confirm("Bạn có chắc chắn muốn xóa?");
        if (r == true) {
            window.location.href = '@Url.Action("Delete", "Teacher", new { area = "API" })' + '?id=' + id;
        }
    }

</script>