﻿@model GCSOFT.MVC.Web.Areas.Transaction.Data.SalesOrderCard
@if (Model.NoOfCard != 0)
{
    ViewBag.Title = string.Format("Thu Hồi Thẻ [ {0} ]", Model.StatusName);
}
<div id="page_content_inner" class="hierarchical_slide">
    @Html.Partial("_ApprovalOnline", Model.Flows)
    <div class="md-card">
        <div class="md-card-toolbar">
            <h3 class="md-card-toolbar-heading-text">
                <i class="material-icons">&#xE894;</i>&nbsp;&nbsp;@ViewBag.Title
                @Html.HiddenFor(model => model.StatusCode)
                @Html.HiddenFor(model => model.StatusId)
                @Html.HiddenFor(model => model.FromSeriesNumber)
                @Html.HiddenFor(model => model.ToSeriesNumber)
                @Html.HiddenFor(model => model.DateCreate)
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-margin-bottom" data-uk-margin>
                <a id="btnCancel" class="md-btn md-btn-danger md-btn-small md-btn-wave-light md-btn-icon @ViewBag.isSendApproval" href="javascript:void(0)">
                    <i class="material-icons">thumb_down_alt</i>
                    Từ chối
                </a>
                <a id="btnSendToApproval" class="md-btn md-btn-primary md-btn-small md-btn-wave-light md-btn-icon @ViewBag.isSendApproval" href="javascript:void(0)">
                    <i class="material-icons">local_shipping</i>
                    Gửi Duyệt
                </a>
            </div>
            <hr />
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.Code)
                    @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "md-input", @readonly = true } })
                </div>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.DocumentDateStr)
                    @Html.TextBoxFor(model => model.DocumentDateStr
                             , new Dictionary<string, Object> {
                                                { "class", "md-input label-fixed validate[required,funcCall[DateFormat[]]" }
                                                , { "autocomplete", "off" }
                                                , { "placeholder", "dd/MM/yyyy" }
                                                , { "data-uk-datepicker", "{format:'DD/MM/YYYY'}" }
                             })
                </div>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.StatusId)
                    @Html.EditorFor(model => model.StatusName, new { htmlAttributes = new { @class = "md-input", @readonly = true } })
                </div>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.CustomerId)
                    <br />
                    @Html.DropDownListFor(model => model.CustomerId, Model.CustomerList, "[ Chọn ]", new { @class = "md-input label-fixed validate[required] select2" })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-3">
                    <label>Đổi Từ Thẻ</label>
                    @Html.DropDownListFor(model => model.FromLevelCode, Model.FromLevelList, "[ Chọn ]", new { @class = "md-input label-fixed validate[required]" })
                </div>
                <div class="uk-width-medium-1-3">
                    <label>Sang Thẻ</label>
                    @Html.DropDownListFor(model => model.ToLevelCode, Model.FromLevelList, "[ Chọn ]", new { @class = "md-input label-fixed validate[required]" })
                </div>
                <div class="uk-width-medium-1-3">
                    <label>Số Lượng Thẻ Đại Lý Đang Có</label>
                    @Html.TextBoxFor(model => model.NoOfCardAgency, new Dictionary<string, Object>
                          {
                              {"class","md-input masked_input label-fixed"},
                              {"data-inputmask", "'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true, 'placeholder': '0'"},
                              {"readonly","readonly"}
                          })
                </div>
                <div class="uk-width-medium-1-3">
                    <label>Số Lượng Thẻ Cần Đổi</label>
                    @Html.TextBoxFor(model => model.TotalCard, new Dictionary<string, Object>
                          {
                              {"class",string.Format("md-input masked_input label-fixed validate[required,min[1],max[{0}]]", Model.NoOfCardAgency)},
                              {"data-inputmask", "'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true, 'placeholder': '0'"}
                          })
                </div>
                <div class="uk-width-medium-1-3">
                    @Html.LabelFor(model => model.SuggestedNoOfCard)
                    @Html.EditorFor(model => model.SuggestedNoOfCard, new { htmlAttributes = new { @class = "md-input label-fixed"} })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    @Html.LabelFor(model => model.TTLRemark)
                    @Html.TextBoxFor(model => model.TTLRemark, new { @cols = "30", @rows = "3", @class = "md-input label-fixed"})
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    @Html.LabelFor(model => model.Remark)
                    @Html.TextAreaFor(model => model.Remark, new { @cols = "30", @rows = "3", @class = "md-input validate[required]" })
                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footer" class="uk-text-center">
    <a id="btnReturn" href="@Url.Action("Index", "ConvertCard", new { area = "Transaction" })" class="md-btn md-btn-danger md-btn-wave-light md-btn-icon">
        <i class="material-icons md-color-white">&#xE15E;</i>
        Quay Lại
    </a>
    @if (Model.StatusCode.Equals("100") || Model.StatusCode.Equals("700"))
    {
        <a class="md-btn md-btn-primary md-btn-wave-light md-btn-icon" href="javascript:void(0)" id="btnSave">
            <span class="material-icons md-color-white">save</span>
            Lưu
        </a>
    }
</footer>

<script type="text/javascript">
    $(document).ready(function () {
        gcHotkey._return();
        gcHotkey._save();
        CreateSuccess('@Url.Action("Create", "ConvertCard", new { area = "Transaction" })');
        if ($.urlParam('msg') == '2') {
            $().toastmessage('showToast', {
                text: 'Đã Gửi Duyệt Thành Công.',
                sticky: false,
                position: 'top-center',
                type: 'success'
            });
        }
        if ($.urlParam('msg') == '3') {
            $().toastmessage('showToast', {
                text: 'Đã Từ Chối Đơn Đổi Thẻ.',
                sticky: false,
                position: 'top-center',
                type: 'success'
            });
        }
        $('#btnSave').click(function () {
            Save($("#frm"), true);
        });
        $('#CustomerId').change(function () {
             var id = $(this).val();
                $.post('@Url.Action("NoOfCard", "ConvertCard", new { area = "Transaction" })', { idc: id }, function (data) {
                    $('#NoOfCardAgency').val(data);
                    $('#TotalCard').val(data).attr('class', 'md-input masked_input label-fixed validate[required,custom[integer],min[1],max[' + data + ']]');
                });
        });
        $('#btnSendToApproval').click(function () {
            BlockUI();
            var poId = $('#Code').val();
            $.post('@Url.Action("SendToApproval", "RetailApproval", new { area = "Approval" })', { c: poId }, function (data) {
                if (data.s == 'Oke') {
                    window.location.href = '@Url.Action("Edit", "ConvertCard", new { area = "Transaction", id = Model.Code })' + '?msg=2';
                } else {
                    $().toastmessage('showToast', {
                        text: data.m,
                        sticky: false,
                        position: 'top-center',
                        type: 'success'
                    });
                }
            });
        });
        $('#btnCancel').click(function () {
            BlockUI();
            var poId = $('#Code').val();
            $.post('@Url.Action("CancelCode", "ConvertCard", new { area = "Transaction" })', { c: poId }, function (data) {
                if (data.s == 'Oke') {
                    window.location.href = '@Url.Action("Edit", "ConvertCard", new { area = "Transaction", id = Model.Code })' + '?msg=3';
                } else {
                    $().toastmessage('showToast', {
                        text: data.m,
                        sticky: false,
                        position: 'top-center',
                        type: 'success'
                    });
                }
            });
        });
    });
    function DateFormat(field, rules, i, options) {
        var regex = /^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$/;
        if (!regex.test(field.val())) {
            return "Vui lòng nhập ngày theo định dạng dd/MM/yyyy.";
        }
    }
</script>
