﻿@model GCSOFT.MVC.AGENCY.ViewModels.HienTai.SP2_RPT_STAR_STATUS_DETAIL_Page
@{
    ViewBag.Title = "Báo Cáo Chi Tiết SAO Hiền Tài";
}
<div id="page_content_inner">
    <div class="md-card">
        <div class="md-card-toolbar">
            <h3 class="md-card-toolbar-heading-text">
                @ViewBag.Title
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-width-medium-1-1 uk-text-right" style="margin-bottom:15px">
                <a id="btnDownload" href="javascript:void(0);" class="md-btn md-btn-primary uk-margin-small-top">DownLoad Excel</a>
            </div>
            <div class="uk-overflow-container">
                <table class="uk-table uk-table-striped uk-table-hover">
                    <thead>
                        <tr>
                            <th><strong>STT</strong></th>
                            <th><strong>Số Báo Danh</strong></th>
                            <th><strong>Hiền Tài</strong></th>
                            <th><strong>Lớp</strong></th>
                            <th><strong>Giáo Viên</strong></th>
                            <th><strong>SAO</strong></th>
                            <th><strong>Trạng Thái</strong></th>
                            <th><strong>Số Ngày Làm</strong></th>
                            <th><strong>Ngày Bắt Đầu - Kết Thúc</strong></th>
                        </tr>

                    </thead>
                    <tbody>
                        @{ int stt = 0; }
                        @foreach (var item in Model.RptStarDetail)
                        {
                            <tr>
                                <td>@(++stt)</td>
                                <td>@item.IDNo</td>
                                <td>@item.FullName</td>
                                <td>@item.SchoolName</td>
                                <td>@item.TeacherName</td>
                                <td>
                                    @item.BasisName<br />
                                    @item.QualityName<br />
                                    @item.StarName
                                </td>
                                <td>@item.StatusName</td>
                                <td>
                                    @item.NoOfDay/@item.TotalDay
                                </td>
                                <td>
                                    @string.Format("{0:dd/MM/yyyy}", item.StartProcessDate) - @string.Format("{0:dd/MM/yyyy}", item.EndProcessDate)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#btnDownload').click(function () {
            var url = '/HienTai/QuaTrinhLamSAO/ExportInProcessDetail?StudentId=' + @ViewBag.StudentId;
            $(location).attr('href', url);
        });
    });
</script>