﻿@model GCSOFT.MVC.AGENCY.Areas.Transaction.Data.SalesOrderCard
<div class="md-card">
    <div class="md-card-toolbar">
        <div class="md-card-toolbar-actions">
            <i class="md-icon material-icons md-card-toggle">&#xE316;</i>
        </div>
        <h3 class="md-card-toolbar-heading-text">
            <i class="material-icons">&#xE896;</i>&nbsp;&nbsp;Danh Sách Thẻ STNHD
        </h3>
    </div>
    <div class="md-card-content">
        <div class="uk-overflow-container">
            <table class="uk-table uk-table-hover">
                <thead>
                    <tr>
                        <th class="uk-width-1-10 uk-text-nowrap">STT</th>
                        <th class="uk-width-3-10 uk-text-nowrap">Số Serial</th>
                        <th class="uk-width-3-10 uk-text-nowrap">Giá</th>
                    </tr>
                </thead>
                <tbody>
                    @{ int stt = Model.paging.startIndex; }
                    @foreach (var item in Model.SalesLines)
                    {
                        <tr>
                            <td>@(++stt)</td>
                            <td>@item.SerialNumber</td>
                            <td>@item.PriceStr</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @if (Model.SalesLines.Count() > 0)
        {
            <div class="pagination" data-total-count="@Model.paging.TotalRows" data-take="@Model.paging.PerPage"></div>
        }
    </div>
</div>
<script type="text/javascript" src="@Url.Content("~/Scripts/cms/vendor/paging/pajinatify.js")"></script>
<link type="text/css" href="@Url.Content("~/Scripts/cms/vendor/paging/pajinatify.css")" rel="stylesheet" />
<script type="text/javascript">
    $(document).ready(function () {
        $('.pagination').pajinatify();
        $('.pagination').pajinatify('set', @Model.paging.CurPage, @Model.paging.TotalRows);
        $('.pajinatify__button').click(function () {
            var p = $(this).attr('data-page');
            window.location.href = '@Url.Action("Details", "SalesShipment", new { area = "Transaction", id = Model.Code })' + '?p=' + p;
        });
    });
</script>