﻿<div class="md-card md-card-popup">
    <div class="md-card-toolbar md-card-toolbar-popup">
        <div class="md-card-toolbar-actions-popup">
            <a name="btnClose" class="md-btn md-btn-flat md-btn-wave" href="javascript:void(0)"><i class="material-icons">&#xE8AC;</i>&nbsp;Đóng</a>
            <a name="btnChoosed" class="md-btn md-btn-flat md-btn-wave" href="javascript:void(0)"><i class="material-icons">&#xE2C0;</i>&nbsp;&nbsp;Chọn</a>
        </div>
        <h3 class="md-card-toolbar-heading-text">
            Danh sách người sử dụng
        </h3>
    </div>
    <div class="md-card-content md-card-content-popup">
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        LoadGrid('@Url.Action("LoadData", "SysUserCTV", new { area = "administrator" })');
        $('[name="btnClose"]').click(function () {
            $.fancybox.close();
        });
    });
    function LoadGrid(url) {
        $("#jqGrid").jqGrid({
            url: url,
            mtype: "get",
            datatype: "json",
            colNames: ['UserId', 'Họ', 'Tên', 'Email'],
            colModel: [
                        { name: 'ID', index: 'ID', hidden: true },
                        { name: 'FirstName', index: 'FirstName' },
                        { name: 'LastName', index: 'LastName' },
                        { name: 'Email', index: 'Email' }
            ],
            rowNum: 20,
            rowList: [20, 40, 60, 80, 100],
            pager: '#jqGridPager',
            sortname: 'ID',
            viewrecords: true,
            width: 1000,
            height: $(window).height() / 2,
            sortorder: "desc",
            multiselect: true,
            rownumbers: true,
            viewsortcols: [true, 'vertical', true],
            loadComplete: function () {
                //gridSearch('jqGrid', 'search-button');
                Choose();
            },
            jsonReader: {
                root: "Rows",
                page: "jqGridPager",
                total: "Total",
                records: "Records",
                repeatitems: false,
                id: "ID"
            }
        });
        $("#jqGrid").jqGrid('navGrid', '#jqGridPager',
                { edit: false, add: false, del: false }, {}, {}, {},
                {
                    multipleSearch: true,
                    closeOnEscape: true,
                    closeAfterSearch: true,
                    showQuery: true,
                    searchOnEnter: true,
                    sopt: ['cn', 'eq', 'ne', 'lt', 'le', 'gt', 'ge']
                }
            );
    }
</script>