﻿@model IEnumerable<GCSOFT.MVC.Web.ViewModels.SystemViewModels.UserList>

@{
    ViewBag.Title = "Người Sử Dụng";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
<div id="page_content_inner" class="hierarchical_slide">
    <div class="md-card">
        <div class="md-card-toolbar">
            <h3 class="md-card-toolbar-heading-text">
                <i class="material-icons">&#xE894;</i>&nbsp;&nbsp;@ViewBag.Title
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-overflow-container">
                <table id="jqGrid"></table>
                <div id="jqGridPager"></div>
            </div>
        </div>
    </div>
</div>
<div class="md-fab-wrapper">
    <div class="md-fab md-fab-accent md-fab-sheet md-fab-small">
        <i class="material-icons">&#xE30F;</i>
        <div class="md-fab-sheet-actions">
            <a name="btnDel" href="javascript:void(0)" class="md-color-white">
                <i class="material-icons md-color-white">&#xE872;</i> <span class="gc-text-decoration uk-text-warning">X</span>óa
            </a>
            <a name="btnEdit" href="javascript:void(0)" class="md-color-white">
                <i class="material-icons md-color-white">&#xE254;</i> <span class="gc-text-decoration uk-text-warning">S</span>ửa
            </a>
            <a name="btnAdd" href="@Url.Action("Create", "SysUserCTV", new { area = "administrator" })" class="md-color-white">
                <i class="material-icons md-color-white">&#xE148;</i> <span class="gc-text-decoration uk-text-warning">T</span>hêm
            </a>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            LoadGrid('@Url.Action("LoadData", "SysUserCTV", new { area = "administrator" })');
            CallHotKey();
            $('[name="btnEdit"]').click(function () {
                JqEdit('@Url.Action("Edit", "SysUserCTV", new { area = "administrator" })', 'jqGrid')
            });
            $('[name="btnDel"]').click(function () {
                JqDel('@Url.Action("Deletes", "SysUserCTV", new { area = "administrator" })', $('#jqGrid'));
            });
        });

        function LoadGrid(url) {
            $("#jqGrid").jqGrid({
                url: url,
                mtype: "get",
                datatype: "json",
                colNames: [
                                '@Html.DisplayNameFor(model => model.ID)'
                                , '@Html.DisplayNameFor(model => model.Username).ToString().Replace("(*)","")'
                                , '@Html.DisplayNameFor(model => model.FullName)'
								, '@Html.DisplayNameFor(model => model.Email).ToString().Replace("(*)", "")'
								, '@Html.DisplayNameFor(model => model.Phone).ToString().Replace("(*)", "")'
                                , '@Html.DisplayNameFor(model => model.Blocked)'
                                , 'Mật khẩu'
				],
                colModel: [
                                { name: 'ID', index: 'ID', hidden: true }
								, { name: 'Username', index: 'Username', formatter: NoFormatter }
                                , { name: 'FullName', index: 'FullName' }
                                , { name: 'Email', index: 'Email' }
                                , { name: 'Phone', index: 'Phone' }
                                , { name: 'BlockedStr', index: 'BlockedStr', width: 30, align: 'center' }
                                , { name: 'ID', index: 'ID', width: 30, align: 'center', formatter: ChangePassFormatter }

				],
                rowNum: 20,
                rowList: [20, 40, 60, 80, 100],
                pager: '#jqGridPager',
                sortname: 'ID',
                viewrecords: true,
                autowidth: true,
                height: "100%",
                sortorder: "asc",
                multiselect: true,
                rownumbers: true,
                //viewsortcols: [true, 'vertical', true],
                loadComplete: function () {
                    jqGrid_resize('jqGrid');
                    gridSearch('jqGrid', 'search-button');
                    GetDetails();
                    OpenPopupChangePass();
                },
                jsonReader: {
                    root: "Rows",
                    page: "jqGridPager",
                    total: "Total",
                    records: "Records",
                    repeatitems: false,
                    id: "ID"
                }
            });
            $("#jqGrid").jqGrid('navGrid', '#jqGridPager',
                    { edit: false, add: false, del: false }, {}, {}, {},
                    {
                        multipleSearch: true,
                        closeOnEscape: true,
                        closeAfterSearch: true,
                        showQuery: true,
                        searchOnEnter: true,
                        sopt: ['cn', 'eq', 'ne', 'lt', 'le', 'gt', 'ge']
                    }
                );
        }

        function NoFormatter(cellvalue, options, rowObject) {
            return '<strong><a href="@Url.Action("Details/", "SysUserCTV", new { area = "administrator" })' + rowObject.ID + '" title="Xem chi tiết" name="Details" data-uk-tooltip="{pos:\'top\'}">' + cellvalue + '</a></strong>';
        }

        function ChangePassFormatter(cellvalue, options, rowObject) {
            return '<a name="ChangePassword" href="javascript:void(0);" accesskey="@Url.Action("ChangePassword/", "SysUserCTV", new { area = "administrator" })' + rowObject.ID + '" title="Đổi mật khẩu" data-uk-tooltip="{pos:\'top\'}"><i class="md-icon material-icons uk-text-primary">&#xE86A;</i></a>';
        }

		function GetDetails() {
            $('[name="Details"]').click(function () {
                var idx = $('[name="Details"]').index($(this));
                $(location).attr('href', $('[name="Details"]:eq(' + idx + ')').attr('href'));
            });
            gcHotkey._view();
        }

        function OpenPopupChangePass() {
            $('[name="ChangePassword"]').click(function () {
                var idx = $('[name="ChangePassword"]').index($(this));
                OpenDialog($('[name="ChangePassword"]:eq(' + idx + ')'), $('[name="ChangePassword"]:eq(' + idx + ')').attr('accesskey'), '');
            });
        }

        function CallHotKey() {
            gcHotkey._add();
            gcHotkey._edit();
            gcHotkey._del();
        }
    </script>
}
