﻿@model GCSOFT.MVC.Web.Areas.Report.Data.RptAgencyInfo

<style>
    /* Fix table head */
    .tableFixHead {
        overflow: auto;
        height: 750px;
    }

        .tableFixHead thead {
            position: sticky;
            top: 0;
        }

    /* Just common table stuff. */
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th {
        background: #eee;
    }
</style>
<div class="uk-width-medium-1-1">
    <div class="md-card">
        <div class="md-card-content">
            <h3 class="heading_a uk-margin-bottom">Thông Tin Đối Tác</h3>
            <div class="uk-overflow-container tableFixHead" style="overflow-x:auto;">
                <table class="uk-table uk-table-striped uk-table-hover tabler">
                    <thead>
                        <tr>
                            <th><strong>STT</strong></th>
                            <th><strong>Tên Đối Tác</strong></th>
                            <th><strong>Cấp</strong></th>
                            <th class="uk-text-right"><strong>SL. Đối Tác</strong></th>
                            <th class="uk-text-right"><strong>SL. CTV</strong></th>
                            <th class="uk-text-right"><strong>Tổng Đối Tác</strong></th>
                            <th class="uk-text-right"><strong>Tiền Trước<br />Chiết Khấu</strong></th>
                            <th class="uk-text-right"><strong>Chiết Khấu</strong></th>
                            <th class="uk-text-right"><strong>Tiền Sau<br />Chiết Khấu</strong></th>
                            <th class="uk-text-right"><strong>Số Thẻ Bán</strong></th>
                            <th class="uk-text-right"><strong>Số Thẻ Tặng</strong></th>
                            <th class="uk-text-right"><strong>Thẻ 1 Lớp</strong></th>
                            <th class="uk-text-right"><strong>Thẻ 2 Lớp</strong></th>
                            <th class="uk-text-right"><strong>Thẻ 3 Lớp</strong></th>
                            <th class="uk-text-right"><strong>Thẻ 4 Lớp</strong></th>
                            <th class="uk-text-right"><strong>Thẻ 5 Lớp</strong></th>
                            <th class="uk-text-right"><strong>Thẻ Cấp</strong></th>
                            <th class="uk-text-right"><strong>Thẻ VIP</strong></th>
                            <th class="uk-text-right"><strong>Tổng Thẻ Kho</strong></th>
                            <th class="uk-text-right"><strong>Thẻ 1 Lớp</strong></th>
                            <th class="uk-text-right"><strong>Thẻ 2 Lớp</strong></th>
                            <th class="uk-text-right"><strong>Thẻ 3 Lớp</strong></th>
                            <th class="uk-text-right"><strong>Thẻ 4 Lớp</strong></th>
                            <th class="uk-text-right"><strong>Thẻ 5 Lớp</strong></th>
                            <th class="uk-text-right"><strong>Thẻ Cấp</strong></th>
                            <th class="uk-text-right"><strong>Thẻ VIP</strong></th>
                            <th class="uk-text-right"><strong>Tổng Thẻ Phân Phối</strong></th>
                            <th class="uk-text-right"><strong>ĐT Đã Bán</strong></th>
                            <th class="uk-text-right"><strong>ĐT <br />ĐK Thành Viên</strong></th>
                            <th class="uk-text-right"><strong>Thẻ 1 Lớp</strong></th>
                            <th class="uk-text-right"><strong>Thẻ 2 Lớp</strong></th>
                            <th class="uk-text-right"><strong>Thẻ 3 Lớp</strong></th>
                            <th class="uk-text-right"><strong>Thẻ 4 Lớp</strong></th>
                            <th class="uk-text-right"><strong>Thẻ 5 Lớp</strong></th>
                            <th class="uk-text-right"><strong>Thẻ Cấp</strong></th>
                            <th class="uk-text-right"><strong>Thẻ VIP</strong></th>
                            <th class="uk-text-right"><strong>Tổng Thẻ Bán</strong></th>
                            <th class="uk-text-right"><strong>Thẻ 1 Lớp</strong></th>
                            <th class="uk-text-right"><strong>Thẻ 2 Lớp</strong></th>
                            <th class="uk-text-right"><strong>Thẻ 3 Lớp</strong></th>
                            <th class="uk-text-right"><strong>Thẻ 4 Lớp</strong></th>
                            <th class="uk-text-right"><strong>Thẻ 5 Lớp</strong></th>
                            <th class="uk-text-right"><strong>Thẻ Cấp</strong></th>
                            <th class="uk-text-right"><strong>Thẻ VIP</strong></th>
                            <th class="uk-text-right"><strong>Tổng Thẻ Kích Hoạt</strong></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int stt = 0; }
                        @foreach (var item in Model.agencyInfo)
                        {
                        <tr class="uk-table-middle">
                            <td>
                                @(stt +=1 )
                            </td>
                            <td>@item.FullName</td>
                            <td>@item.LeavelName</td>
                            <td class="uk-text-right">@string.Format("{0:#,##0}", item.NoOfAgency)</td>
                            <td class="uk-text-right">@string.Format("{0:#,##0}", item.NoOfPartner)</td>
                            <td class="uk-text-right">@string.Format("{0:#,##0}", item.NoOfAgency + item.NoOfPartner)</td>
                            <td class="uk-text-right">@string.Format("{0:#,##0}", item.TienTruocCK)</td>
                            <td class="uk-text-right">@string.Format("{0:#,##0}", item.DiscountAmt)</td>
                            <td class="uk-text-right">@string.Format("{0:#,##0}", item.TienSauCK)</td>
                            <td class="uk-text-right">@string.Format("{0:#,##0}", item.NoOfCard)</td>
                            <td class="uk-text-right">@string.Format("{0:#,##0}", item.GiftCard)</td>
                            @*Tổng Thẻ*@
                            <td class="uk-text-right">@string.Format("{0:#,##0}", item.TotalCard1Lop)</td>
                            <td class="uk-text-right">@string.Format("{0:#,##0}", item.TotalCard2Lop)</td>
                            <td class="uk-text-right">@string.Format("{0:#,##0}", item.TotalCard3Lop)</td>
                            <td class="uk-text-right">@string.Format("{0:#,##0}", item.TotalCard4Lop)</td>
                            <td class="uk-text-right">@string.Format("{0:#,##0}", item.TotalCard5Lop)</td>
                            <td class="uk-text-right">@string.Format("{0:#,##0}", item.TotalCardCap)</td>
                            <td class="uk-text-right">@string.Format("{0:#,##0}", item.TotalCardVIP)</td>
                            <td class="uk-text-right">@string.Format("{0:#,##0}", item.TotalCard)</td>
                            @*Tổng Thẻ Phân Phối*@
                            <td class="uk-text-right">@string.Format("{0:#,##0}", item.AgencyDaBanDL1Lop)</td>
                            <td class="uk-text-right">@string.Format("{0:#,##0}", item.AgencyDaBanDL2Lop)</td>
                            <td class="uk-text-right">@string.Format("{0:#,##0}", item.AgencyDaBanDL3Lop)</td>
                            <td class="uk-text-right">@string.Format("{0:#,##0}", item.AgencyDaBanDL4Lop)</td>
                            <td class="uk-text-right">@string.Format("{0:#,##0}", item.AgencyDaBanDL5Lop)</td>
                            <td class="uk-text-right">@string.Format("{0:#,##0}", item.AgencyDaBanDLCap)</td>
                            <td class="uk-text-right">@string.Format("{0:#,##0}", item.AgencyDaBanDLVIP)</td>
                            <td class="uk-text-right">@string.Format("{0:#,##0}", item.AgencyDaBanDL)</td>
                            @*ĐT Đã Bán*@
                            <td class="uk-text-right">@string.Format("{0:#,##0}", item.BanMKH)</td>
                            @*ĐK Thành Viên*@
                            <td class="uk-text-right">@string.Format("{0:#,##0}", item.TuKichHoat)</td>
                            @*Tổng Thẻ ĐT Đã Bán*@
                            <td class="uk-text-right">@string.Format("{0:#,##0}", item.TongTheDaBan1Lop)</td>
                            <td class="uk-text-right">@string.Format("{0:#,##0}", item.TongTheDaBan2Lop)</td>
                            <td class="uk-text-right">@string.Format("{0:#,##0}", item.TongTheDaBan3Lop)</td>
                            <td class="uk-text-right">@string.Format("{0:#,##0}", item.TongTheDaBan4Lop)</td>
                            <td class="uk-text-right">@string.Format("{0:#,##0}", item.TongTheDaBan5Lop)</td>
                            <td class="uk-text-right">@string.Format("{0:#,##0}", item.TongTheDaBanCap)</td>
                            <td class="uk-text-right">@string.Format("{0:#,##0}", item.TongTheDaBanVIP)</td>
                            <td class="uk-text-right">@string.Format("{0:#,##0}", item.TongTheDaBan)</td>
                            @*Tổng Thẻ Kích Hoạt*@
                            <td class="uk-text-right">@string.Format("{0:#,##0}", item.TheDaActive1Lop)</td>
                            <td class="uk-text-right">@string.Format("{0:#,##0}", item.TheDaActive2Lop)</td>
                            <td class="uk-text-right">@string.Format("{0:#,##0}", item.TheDaActive3Lop)</td>
                            <td class="uk-text-right">@string.Format("{0:#,##0}", item.TheDaActive4Lop)</td>
                            <td class="uk-text-right">@string.Format("{0:#,##0}", item.TheDaActive5Lop)</td>
                            <td class="uk-text-right">@string.Format("{0:#,##0}", item.TheDaActiveCap)</td>
                            <td class="uk-text-right">@string.Format("{0:#,##0}", item.TheDaActiveVIP)</td>
                            <td class="uk-text-right">@string.Format("{0:#,##0}", item.TheDaActive)</td>

                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('.tabler').basictable();
    });
</script>