﻿@model GCSOFT.MVC.AGENCY.Areas.Transaction.Data.SalesOrderCard
<div class="md-card">
    <div class="md-card-toolbar">
        <div class="md-card-toolbar-actions">
            <i class="md-icon material-icons md-card-toggle">&#xE316;</i>
        </div>
        <h3 class="md-card-toolbar-heading-text">
            <i class="material-icons">&#xE896;</i>&nbsp;&nbsp;Danh Sách Thẻ STNHD
        </h3>
    </div>
    <div class="md-card-content">
        <div class="uk-overflow-container">
            <table class="uk-table uk-table-hover">
                <thead>
                    <tr>
                        <th class="uk-width-1-10 uk-text-nowrap">STT</th>
                        <th class="uk-width-3-10 uk-text-nowrap">Số Serial</th>
                        <th class="uk-width-3-10 uk-text-nowrap">Mã Kích Hoạt</th>
                    </tr>
                </thead>
                <tbody>
                    @{ int stt = 0; }
                    @foreach (var item in Model.SalesLines)
                    {
                        <tr>
                            <td>@(++stt)</td>
                            <td>@item.SerialNumber</td>
                            <td>@item.CardNo</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>