﻿@model GCSOFT.MVC.AGENCY.Areas.Transaction.Data.SalesOrderCard
@{
    ViewBag.Title = string.Format("Đơn Đặt Hàng [ {0} ]", Model.StatusName);
}
<div id="page_content_inner" class="hierarchical_slide">
    <div class="md-card">
        <div class="md-card-toolbar">
            <h3 class="md-card-toolbar-heading-text">
                <i class="material-icons">&#xE894;</i>&nbsp;&nbsp;@ViewBag.Title
                @Html.HiddenFor(model => model.StatusCode)
                @Html.HiddenFor(model => model.StatusId)
                @Html.HiddenFor(model => model.FromSeriesNumber)
                @Html.HiddenFor(model => model.ToSeriesNumber)
                @Html.HiddenFor(model => model.AgencyId)
                @Html.HiddenFor(model => model.AgencyName)
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.Code)
                    @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "md-input", @readonly = true } })
                </div>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.DocumentDateStr)
                    @Html.TextBoxFor(model => model.DocumentDateStr
                                            , new Dictionary<string, Object> {
                                                { "class", "md-input label-fixed validate[required,funcCall[DateFormat[]]" }
                                                , { "autocomplete", "off" }
                                                , { "placeholder", "dd/MM/yyyy" }
                                                , { "data-uk-datepicker", "{format:'DD/MM/YYYY'}" }
                                            })
                </div>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.PostingDateStr)
                    @Html.EditorFor(model => model.PostingDateStr, new { htmlAttributes = new { @class = "md-input label-fixed", @readonly = true } })
                </div>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.ReceiptDateStr)
                    @Html.EditorFor(model => model.ReceiptDateStr, new { htmlAttributes = new { @class = "md-input label-fixed", @readonly = true } })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.CustomerId)
                    @if (Model.StatusCode.Equals("100"))
                    {
                        @Html.DropDownListFor(model => model.CustomerId, Model.CustomerList, "[ Chọn ]", new { @class = "md-input label-fixed validate[required]" })
                    }
                    else
                    {
                        @Html.EditorFor(model => model.CustomerName, new { htmlAttributes = new { @class = "md-input label-fixed", @readonly = true } })
                    }

                </div>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.StatusId)
                    @Html.EditorFor(model => model.StatusName, new { htmlAttributes = new { @class = "md-input", @readonly = true } })
                </div>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.LevelId)
                    @if (Model.StatusCode.Equals("100"))
                    {
                        @Html.DropDownListFor(model => model.LevelCode, Model.LevelList, "[ Chọn ]", new { @class = "md-input label-fixed validate[required]" })
                    }
                    else
                    {
                        @Html.EditorFor(model => model.LevelName, new { htmlAttributes = new { @class = "md-input label-fixed", @readonly = true } })
                    }
                </div>
                <div class="uk-width-medium-1-4">
                    @if (Model.StatusCode.Equals("100"))
                    {
                        <label>Số Lượng Thẻ Đại Lý Đang Có</label>
                        @Html.TextBoxFor(model => model.NoOfCardAgency, new Dictionary<string, Object>
                              {
                                  {"class","md-input masked_input label-fixed"},
                                  {"data-inputmask", "'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true, 'placeholder': '0'"},
                                  {"readonly","readonly"}
                              })
                    }
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.NoOfCard)
                    @Html.TextBoxFor(model => model.NoOfCard, new Dictionary<string, Object>
                          {
                              {"class","md-input masked_input label-fixed"},
                              {"data-inputmask", "'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true, 'placeholder': '0'"}
                          })
                </div>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.GiftCard)
                    @Html.TextBoxFor(model => model.GiftCard, new Dictionary<string, Object>
                          {
                              {"class","md-input masked_input label-fixed"},
                              {"data-inputmask", "'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true, 'placeholder': '0'"}
                          })
                </div>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.TotalCard)
                    @Html.TextBoxFor(model => model.TotalCard, new Dictionary<string, Object>
                          {
                              {"class","md-input masked_input label-fixed"},
                              {"data-inputmask", "'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true, 'placeholder': '0'"},
                              {"readonly","readonly"}
                          })
                </div>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.Price)
                    @Html.TextBoxFor(model => model.Price, new Dictionary<string, Object>
                          {
                              {"class","md-input masked_input label-fixed"},
                              {"data-inputmask", "'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true, 'placeholder': '0'"}
                          })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.Amount)
                    @Html.TextBoxFor(model => model.Amount, new Dictionary<string, Object>
                          {
                              {"class","md-input masked_input label-fixed"},
                              {"data-inputmask", "'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true, 'placeholder': '0'"}
                          })
                </div>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.DiscountPercent)
                    @Html.TextBoxFor(model => model.DiscountPercent, new Dictionary<string, Object>
                          {
                              {"class","md-input masked_input label-fixed"},
                              {"data-inputmask", "'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true, 'placeholder': '0'"}
                          })
                </div>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.DiscountAmt)
                    @Html.TextBoxFor(model => model.DiscountAmt, new Dictionary<string, Object>
                          {
                              {"class","md-input masked_input label-fixed"},
                              {"data-inputmask", "'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true, 'placeholder': '0'"}
                          })
                </div>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.TotalAmount)
                    @Html.TextBoxFor(model => model.TotalAmount, new Dictionary<string, Object>
                          {
                              {"class","md-input masked_input label-fixed"},
                              {"data-inputmask", "'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true, 'placeholder': '0'"},
                              {"readonly","readonly"}
                          })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    @Html.LabelFor(model => model.Remark)
                    @Html.TextAreaFor(model => model.Remark, new { @cols = "30", @rows = "3", @class = "md-input" })
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("_CardLine", Model) 
</div>
<footer id="footer" class="uk-text-center">
    <a id="btnReturn" href="@Url.Action("Index", "Wholesale", new { area = "Transaction" })" class="md-btn md-btn-danger md-btn-wave-light md-btn-icon">
        <i class="material-icons md-color-white">&#xE15E;</i>
        Quay Lại
    </a>
    @if (Model.StatusCode.Equals("250"))
    {
        <a class="md-btn md-btn-primary md-btn-wave-light md-btn-icon" href="javascript:void(0)" id="btnResend">
            <span class="material-icons md-color-white">mail</span>
            Gửi lại Mail Xác Nhận
        </a>
    }
    @if (Model.StatusCode.Equals("100"))
    {
        <a class="md-btn md-btn-primary md-btn-wave-light md-btn-icon @(Model.StatusCode.Equals("100") ? "" : "disabled")" href="javascript:void(0)" id="btnSave">
            <span class="material-icons md-color-white">save</span>
            Xác Nhận Giao Thẻ
        </a>
    }
</footer>
<script type="text/javascript">
    $(document).ready(function () {
        gcHotkey._return();
        gcHotkey._save();
        CreateSuccess('@Url.Action("Create", "Wholesale", new { area = "Transaction" })');
        if ($.urlParam('msg') == '2') {
            $().toastmessage('showToast', {
                text: 'Đơn hàng của bạn đã được nhận thàn công, kiểm tra email để xem chi tiết',
                sticky: false,
                position: 'top-center',
                type: 'success'
            });
        }
        $('#btnResend').click(function () {
            NProgress.start();
            $('#btnResend').addClass("disabled").text('Đang gửi ....');
            $.post('@Url.Action("ResendReceipt", "Wholesale", new { area = "Transaction" })', { id: $('#Code').val() }, function (data) { {}
                if (data.msg == '') {
                    $().toastmessage('showToast', {
                        text: 'Email đã được gửi lại thành công',
                        sticky: false,
                        position: 'top-center',
                        type: 'success'
                    });
                } else {
                    $().toastmessage('showToast', {
                        text: data.msg,
                        sticky: false,
                        position: 'top-center',
                        type: 'error'
                    });
                }
                $('#btnResend').removeClass("disabled").text('Gửi lại Mail Xác Nhận');
                NProgress.done();
            });
        });
        $('#btnSave').click(function () {

            // Check tồn
            var noOfCardAgency = $('#NoOfCardAgency').val();
            var totalCard = $('#TotalCard').val();
            if (parseInt(getNumber(noOfCardAgency)) < parseInt(getNumber(totalCard))) {
                $().toastmessage('showToast', {
                    text: 'Số lượng đang thẻ đang có nhỏ hơn số lượng giao!',
                    sticky: false,
                    position: 'top-center',
                    type: 'error'
                });
            }
            else
                Save($("#frm"), true);

        });
        $('#NoOfCard,#DiscountPercent,#Price').change(function () {
            AmountChange('');
        });
        $('#DiscountAmt').change(function () {
            AmountChange('discountAmt');
        });
        $('#GiftCard').change(function () {
            var noOfCard = parseFloat(getNumber($('#NoOfCard').val()));
            var giftCard = parseFloat(getNumber($('#GiftCard').val()));
            if (isNaN(noOfCard))
                noOfCard = 0;
            if (isNaN(giftCard))
                giftCard = 0;
            $('#TotalCard').val(noOfCard + giftCard);
        });
        $('#LevelCode').change(function () {
            var levelCode = $(this).val();
            var agencyId = $('#AgencyId').val();
            $.post('@Url.Action("NoOfCard", "SalesOrder", new { area = "Transaction" })', { ai: agencyId, lvc: levelCode }, function (data) {
                $('#NoOfCardAgency').val(data);
                $('#TotalCard').attr('class', 'md-input masked_input label-fixed validate[required,custom[integer],min[1],max[' + data + ']]');
            });
        });
    });
    function DateFormat(field, rules, i, options) {
        var regex = /^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$/;
        if (!regex.test(field.val())) {
            return "Vui lòng nhập ngày theo định dạng dd/MM/yyyy.";
        }
    }
    function AmountChange(field) {
        var noOfCard = parseFloat(getNumber($('#NoOfCard').val()));
        var giftCard = parseFloat(getNumber($('#GiftCard').val()));
        if (isNaN(noOfCard))
            noOfCard = 0;
        if (isNaN(giftCard))
            giftCard = 0;
        var totalCard = noOfCard + giftCard;
        var amount = noOfCard * parseFloat(getNumber($('#Price').val()));
        var discountPercent = parseFloat(getNumber($('#DiscountPercent').val()));
        var discountAmt = parseFloat(getNumber($('#DiscountAmt').val()));
        if (field != 'discountAmt') {
            var discountAmt = amount * (discountPercent / 100);
        }
        var totalAmount = amount - discountAmt;
        $('#TotalCard').val(totalCard);
        $('#Amount').val(amount);
        $('#DiscountAmt').val(discountAmt);
        $('#TotalAmount').val(totalAmount);
    }
    function isNaN(x) {
        // Ép kiểu Number cho biến x
        x = Number(x);
        // Nếu x là NaN, NaN != NaN trả về true, các trường hợp khác sẽ trả về false
        return x != x;
    }
</script>
