﻿@model GCSOFT.MVC.AGENCY.Areas.Transaction.Data.SalesOrderCard
@{
    ViewBag.Title = string.Format("Đơn Đặt Hàng [ {0} ]", Model.StatusName);
}
<div id="page_content_inner" class="hierarchical_slide">
    <div id="msgOrder" class="uk-alert uk-alert-warning" data-uk-alert style="display: none;">
        <a href="javascript:void(0);" class="uk-alert-close uk-close"></a>
        Đơn Đặt Hàng của A/C đã được gửi tới bộ phận Bán Hàng của Tâm Trí Lực
    </div>
    
    <div class="md-card">
        <div class="md-card-toolbar">
            <div class="md-card-toolbar-actions">
                @if (Model.StatusCode.Equals("100"))
                {
                    <a id="btnSendToApproval" href="javascript:void(0);" class="md-btn md-btn-small md-btn-flat md-btn-flat-primary @ViewBag.IsAllow"><i class="material-icons">local_shipping</i>&nbsp;Gửi Đơn Hàng</a>
                }
            </div>
            <h3 class="md-card-toolbar-heading-text">
                <i class="material-icons">&#xE894;</i>&nbsp;&nbsp;@ViewBag.Title
                @Html.HiddenFor(model => model.StatusCode)
                @Html.HiddenFor(model => model.StatusId)
                @Html.HiddenFor(model => model.CreateBy)
                @Html.HiddenFor(model => model.DateCreate)
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-3">
                    @Html.LabelFor(model => model.Code)
                    @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "md-input", @readonly = true } })
                </div>
                <div class="uk-width-medium-1-3">
                    <label>Ngày Đặt Hàng</label>
                    @Html.TextBoxFor(model => model.DocumentDateStr
                                            , new Dictionary<string, Object> {
                                                { "class", "md-input label-fixed validate[required,funcCall[DateFormat[]]" }
                                                , { "autocomplete", "off" }
                                                , { "placeholder", "dd/MM/yyyy" }
                                                , { "data-uk-datepicker", "{format:'DD/MM/YYYY'}" }
                                            })
                </div>
                <div class="uk-width-medium-1-3">
                    <label>Ngày Gửi Đơn Hàng</label>
                    @Html.EditorFor(model => model.PostingDateStr, new { htmlAttributes = new { @class = "md-input label-fixed", @readonly = true } })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-3">
                    @Html.LabelFor(model => model.CustomerId)
                    @Html.EditorFor(model => model.CustomerName, new { htmlAttributes = new { @class = "md-input", @readonly = true } })
                    @Html.HiddenFor(model => model.CustomerId)
                </div>
                <div class="uk-width-medium-1-3">
                    @Html.LabelFor(model => model.StatusId)
                    @Html.EditorFor(model => model.StatusName, new { htmlAttributes = new { @class = "md-input", @readonly = true } })
                </div>
                <div class="uk-width-medium-1-3">
                    @Html.LabelFor(model => model.LevelId)
                    @Html.DropDownListFor(model => model.LevelCode, Model.LevelList, "[ Chọn ]", new { @class = "md-input label-fixed validate[required]" })
                </div>
                <div class="uk-width-medium-1-3">
                    @Html.LabelFor(model => model.PromotionCodeId)
                    @Html.DropDownListFor(model => model.PromotionCode, Model.PromotionList, "[ Chọn ]", new { @class = "md-input label-fixed" })
                </div>
            </div>
            @if (Model.StatusCode.Equals("100") || Model.StatusCode.Equals("700"))
            {
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-2">
                        @Html.LabelFor(model => model.NoOfCard)
                        @Html.TextBoxFor(model => model.TotalCard, new Dictionary<string, Object>
                              {
                                  {"class","md-input masked_input label-fixed"},
                                  {"data-inputmask", "'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true, 'placeholder': '0'"}
                              })
                        @Html.HiddenFor(model => model.GiftCard)
                        @Html.HiddenFor(model => model.NoOfCard)
                        @Html.HiddenFor(model => model.LotNumber)
                        @Html.HiddenFor(model => model.Amount)
                        @Html.HiddenFor(model => model.DiscountPercent)
                        @Html.HiddenFor(model => model.DiscountAmt)
                        @Html.HiddenFor(model => model.TotalAmount)
                    </div>
                </div>
            }
            else
            {
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-4">
                        @Html.LabelFor(model => model.NoOfCard)
                        @Html.TextBoxFor(model => model.NoOfCard, new Dictionary<string, Object>
                              {
                                  {"class","md-input masked_input label-fixed"},
                                  {"data-inputmask", "'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true, 'placeholder': '0'"},
                                  {"readonly","readonly"}
                              })
                    </div>
                    <div class="uk-width-medium-1-4">
                        @Html.LabelFor(model => model.GiftCard)
                        @Html.TextBoxFor(model => model.GiftCard, new Dictionary<string, Object>
                              {
                                  {"class","md-input masked_input label-fixed"},
                                  {"data-inputmask", "'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true, 'placeholder': '0'"},
                                  {"readonly","readonly"}
                              })
                    </div>
                    <div class="uk-width-medium-1-4">
                        @Html.LabelFor(model => model.TotalCard)
                        @Html.TextBoxFor(model => model.TotalCard, new Dictionary<string, Object>
                              {
                                  {"class","md-input masked_input label-fixed"},
                                  {"data-inputmask", "'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true, 'placeholder': '0'"},
                                  {"readonly","readonly"}
                              })
                    </div>
                    <div class="uk-width-medium-1-4">
                        @Html.LabelFor(model => model.LotNumber)
                        @Html.EditorFor(model => model.LotNumber, new { htmlAttributes = new { @class = "md-input", @readonly = true } })
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-4">
                        @Html.LabelFor(model => model.Amount)
                        @Html.TextBoxFor(model => model.Amount, new Dictionary<string, Object>
                              {
                                  {"class","md-input masked_input label-fixed"},
                                  {"data-inputmask", "'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true, 'placeholder': '0'"},
                                  {"readonly","readonly"}
                              })
                    </div>
                    <div class="uk-width-medium-1-4">
                        @Html.LabelFor(model => model.DiscountPercent)
                        @Html.TextBoxFor(model => model.DiscountPercent, new Dictionary<string, Object>
                              {
                                  {"class","md-input masked_input label-fixed"},
                                  {"data-inputmask", "'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true, 'placeholder': '0'"},
                                  {"readonly","readonly"}
                              })
                    </div>
                    <div class="uk-width-medium-1-4">
                        @Html.LabelFor(model => model.DiscountAmt)
                        @Html.TextBoxFor(model => model.DiscountAmt, new Dictionary<string, Object>
                              {
                                  {"class","md-input masked_input label-fixed"},
                                  {"data-inputmask", "'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true, 'placeholder': '0'"},
                                  {"readonly","readonly"}
                              })
                    </div>
                    <div class="uk-width-medium-1-4">
                        @Html.LabelFor(model => model.TotalAmount)
                        @Html.TextBoxFor(model => model.TotalAmount, new Dictionary<string, Object>
                              {
                                  {"class","md-input masked_input label-fixed"},
                                  {"data-inputmask", "'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true, 'placeholder': '0'"},
                                  {"readonly","readonly"}
                              })
                    </div>
                </div>
            }
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    @Html.LabelFor(model => model.Remark)
                    @Html.TextAreaFor(model => model.Remark, new { @cols = "30", @rows = "3", @class = "md-input" })
                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footer" class="uk-text-center">
    <a id="btnReturn" href="@Url.Action("Index", "PurchaseOrder", new { area = "Transaction" })" class="md-btn md-btn-danger md-btn-wave-light md-btn-icon">
        <i class="material-icons md-color-white">&#xE15E;</i>
        Quay Lại
    </a>
    @if (Model.StatusCode.Equals("100"))
    {
        <a class="md-btn md-btn-primary md-btn-wave-light md-btn-icon" href="javascript:void(0)" id="btnSave">
            <span class="material-icons md-color-white">save</span>
            Xác Nhận Đặt Hàng
        </a>
    }
    @if (Model.StatusCode.Equals("700"))
    {
        <a class="md-btn md-btn-primary md-btn-wave-light md-btn-icon" href="javascript:void(0)" id="btnSave">
            <span class="material-icons md-color-white">save</span>
            Cập Nhật Đơn Hàng
        </a>
    }
</footer>
<script type="text/javascript">
    $(document).ready(function () {
        gcHotkey._return();
        gcHotkey._save();
        if ($.urlParam('msg') == '1') {
            $('#msgOrder').show();
        }
        CreateSuccess('@Url.Action("Create", "PurchaseOrder", new { area = "Transaction" })');
        if ($.urlParam('msg') == '2') {
            $().toastmessage('showToast', {
                text: 'Đã gửi đơn hàng thành công.',
                sticky: false,
                position: 'top-center',
                type: 'success'
            });
        }
        $('#btnSave').click(function () {
            Save($("#frm"), true);
        });
        $('#btnSendToApproval').click(function () {
            BlockUI();
            var poId = $('#Code').val();
            $.post('@Url.Action("ChangeStatus", "PurchaseOrder", new { area = "Transaction" })', { c: poId }, function (data) {
                if (data.s == 'Oke') {
                    window.location.href = '@Url.Action("Edit", "PurchaseOrder", new { area = "Transaction", id = Model.Code })' + '?msg=2';
                } else {
                    $().toastmessage('showToast', {
                        text: data.m,
                        sticky: false,
                        position: 'top-center',
                        type: 'success'
                    });
                }
            });
        }); 
    });
    function DateFormat(field, rules, i, options) {
        var regex = /^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$/;
        if (!regex.test(field.val())) {
            return "Vui lòng nhập ngày theo định dạng dd/MM/yyyy.";
        }
    }
</script>
