﻿@model GCSOFT.MVC.AGENCY.Areas.Transaction.Data.SalesOrderCard
@if (Model.NoOfCard != 0)
{
    ViewBag.Title = string.Format("Đơn Hàng Cộng Tác Viên [ {0} ]", Model.StatusName);
}
<div id="page_content_inner" class="hierarchical_slide">
    <div class="md-card">
        <div class="md-card-toolbar">
            <div class="md-card-toolbar-actions">
                @if (Model.TotalCard != 0 && Model.StatusCode.Equals("100"))
                {
                    <a id="btnPostShipment" href="javascript:void(0);" class="md-btn md-btn-small md-btn-flat md-btn-flat-primary"><i class="material-icons uk-text-primary">local_shipping</i>&nbsp;Giao Thẻ Cho Đại Lý</a>
                }
            </div>
            <h3 class="md-card-toolbar-heading-text">
                <i class="material-icons">&#xE894;</i>&nbsp;&nbsp;@ViewBag.Title
                @Html.HiddenFor(model => model.StatusCode)
                @Html.HiddenFor(model => model.StatusId)
                @Html.HiddenFor(model => model.FromSeriesNumber)
                @Html.HiddenFor(model => model.ToSeriesNumber)
                @Html.HiddenFor(model => model.AgencyId)
                @Html.HiddenFor(model => model.AgencyName)
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-margin-bottom uk-text-right" data-uk-margin>
                <a id="btnReturnOrder" class="md-btn md-btn-primary md-btn-small md-btn-wave-light md-btn-icon @ViewBag.IsReturnOrder" href="javascript:void(0)">
                    <i class="material-icons">local_shipping</i>
                    Thu Hồi Thẻ
                </a>
            </div>
            <hr />
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.Code)
                    @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "md-input", @readonly = true } })
                </div>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.DocumentDateStr)
                    @Html.TextBoxFor(model => model.DocumentDateStr
                                            , new Dictionary<string, Object> {
                                                { "class", "md-input label-fixed validate[required,funcCall[DateFormat[]]" }
                                                , { "autocomplete", "off" }
                                                , { "placeholder", "dd/MM/yyyy" }
                                                , { "data-uk-datepicker", "{format:'DD/MM/YYYY'}" }
                                            })
                </div>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.PostingDateStr)
                    @Html.EditorFor(model => model.PostingDateStr, new { htmlAttributes = new { @class = "md-input label-fixed", @readonly = true } })
                </div>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.ReceiptDateStr)
                    @Html.EditorFor(model => model.ReceiptDateStr, new { htmlAttributes = new { @class = "md-input label-fixed", @readonly = true } })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.CustomerId)
                    @Html.DropDownListFor(model => model.CustomerId, Model.CustomerList, "[ Chọn ]", new { @class = "md-input label-fixed validate[required]" })
                </div>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.StatusId)
                    @Html.EditorFor(model => model.StatusName, new { htmlAttributes = new { @class = "md-input", @readonly = true } })
                </div>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.LevelId)
                    @Html.DropDownListFor(model => model.LevelCode, Model.LevelList, "[ Chọn ]", new { @class = "md-input label-fixed validate[required]" })
                </div>
                <div class="uk-width-medium-1-4">
                    <label>Số Lượng Thẻ Đại Lý Đang Có</label>
                    @Html.TextBoxFor(model => model.NoOfCardAgency, new Dictionary<string, Object>
                          {
                              {"class","md-input masked_input label-fixed"},
                              {"data-inputmask", "'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true, 'placeholder': '0'"},
                              {"readonly","readonly"}
                          })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.NoOfCard)
                    @Html.TextBoxFor(model => model.NoOfCard, new Dictionary<string, Object>
                          {
                              {"class","md-input masked_input label-fixed"},
                              {"data-inputmask", "'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true, 'placeholder': '0'"}
                          })
                </div>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.GiftCard)
                    @Html.TextBoxFor(model => model.GiftCard, new Dictionary<string, Object>
                          {
                              {"class","md-input masked_input label-fixed"},
                              {"data-inputmask", "'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true, 'placeholder': '0'"}
                          })
                </div>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.TotalCard)
                    @Html.TextBoxFor(model => model.TotalCard, new Dictionary<string, Object>
                          {
                              {"class","md-input masked_input label-fixed"},
                              {"data-inputmask", "'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true, 'placeholder': '0'"},
                              {"readonly","readonly"}
                          })
                </div>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.Price)
                    @Html.TextBoxFor(model => model.Price, new Dictionary<string, Object>
                          {
                              {"class","md-input masked_input label-fixed"},
                              {"data-inputmask", "'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true, 'placeholder': '0'"}
                          })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.Amount)
                    @Html.TextBoxFor(model => model.Amount, new Dictionary<string, Object>
                          {
                              {"class","md-input masked_input label-fixed disable"},
                              {"data-inputmask", "'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true, 'placeholder': '0'"},
                              {"readonly","readonly"}
                          })
                </div>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.DiscountPercent)
                    @Html.TextBoxFor(model => model.DiscountPercent, new Dictionary<string, Object>
                          {
                              {"class","md-input masked_input label-fixed"},
                              {"data-inputmask", "'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true, 'placeholder': '0'"}
                          })
                </div>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.DiscountAmt)
                    @Html.TextBoxFor(model => model.DiscountAmt, new Dictionary<string, Object>
                          {
                              {"class","md-input masked_input label-fixed"},
                              {"data-inputmask", "'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true, 'placeholder': '0'"}
                          })
                </div>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.TotalAmount)
                    @Html.TextBoxFor(model => model.TotalAmount, new Dictionary<string, Object>
                          {
                              {"class","md-input masked_input label-fixed"},
                              {"data-inputmask", "'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true, 'placeholder': '0'"},
                              {"readonly","readonly"}
                          })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    @Html.LabelFor(model => model.Remark)
                    @Html.TextAreaFor(model => model.Remark, new { @cols = "30", @rows = "3", @class = "md-input" })
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("_CardLine", Model)
</div>
@*<div class="md-fab-wrapper">
    <div class="md-fab md-fab-accent md-fab-sheet md-fab-small">
        <i class="material-icons">&#xE30F;</i>
        <div class="md-fab-sheet-actions">
            <a id="btnReturn" href="@Url.Action("Index", "SalesOrder", new { area = "Transaction" })" class="md-color-white"><i class="material-icons md-color-white">&#xE15E;</i> <span class="gc-text-decoration uk-text-warning">Q</span>uay lại</a>
            @if (Model.NoOfCard == 0)
            {
                <a id="btnSave" href="javascript:void(0)" class="md-color-white"><i class="material-icons md-color-white">&#xE161;</i> <span class="gc-text-decoration uk-text-warning">L</span>ưu</a>
            }
        </div>
    </div>
</div>*@
<footer id="footer" class="uk-text-center">
    <a id="btnReturn" href="@Url.Action("Index", "PartnerOrder", new { area = "Transaction" })" class="md-btn md-btn-danger md-btn-wave-light md-btn-icon">
        <i class="material-icons md-color-white">&#xE15E;</i>
        Quay Lại
    </a>
    @if (Model.TotalCard == 0)
    {
        <a class="md-btn md-btn-primary md-btn-wave-light md-btn-icon" href="javascript:void(0)" id="btnSave">
            <span class="material-icons md-color-white">save</span>
            Xác Nhận Giao Thẻ
        </a>
    }
</footer>
<script type="text/javascript">
    $(document).ready(function () {
        gcHotkey._return();
        gcHotkey._save();
        CreateSuccess('@Url.Action("Create", "PartnerOrder", new { area = "Transaction" })');
        if ($.urlParam('msg') == '2') {
            $().toastmessage('showToast', {
                text: 'Đã chuyển giao thẻ cho Cộng Tác Viên, chờ Cộng Tác Viên xác nhận đơn hàng.',
                sticky: false,
                position: 'top-center',
                type: 'success'
            });
        }
        if ($.urlParam('msg') == '3') {
            $().toastmessage('showToast', {
                text: 'Đơn Hàng Đã Được Thu Hồi Thành Công',
                sticky: false,
                position: 'top-center',
                type: 'success'
            });
        }
        $('#btnSave').click(function () {

            // Check tồn
            var noOfCardAgency = $('#NoOfCardAgency').val();
            var totalCard = $('#TotalCard').val();
            if (parseInt(getNumber(noOfCardAgency)) < parseInt(getNumber(totalCard))) {
                $().toastmessage('showToast', {
                    text: 'Số lượng đang thẻ đang có nhỏ hơn số lượng giao!',
                    sticky: false,
                    position: 'top-center',
                    type: 'error'
                });
            }
            else
                Save($("#frm"), true);

        });
        $('#NoOfCard,#DiscountPercent,#Price').change(function () {
            AmountChange('');
        });
        $('#DiscountAmt').change(function () {
            AmountChange('discountAmt');
        });
        $('#GiftCard').change(function () {
            var noOfCard = parseFloat(getNumber($('#NoOfCard').val()));
            var giftCard = parseFloat(getNumber($('#GiftCard').val()));
            if (isNaN(noOfCard))
                noOfCard = 0;
            if (isNaN(giftCard))
                giftCard = 0;
            $('#TotalCard').val(noOfCard + giftCard);
        });
        OpenDialog($('#btnPostShipment'), '@Url.Action("Create", "SalesShipment", new { area = "Transaction" })/' + $('#Code').val(), '');
        $('#btnReturnOrder').click(function () {
            BlockUI();
            var poId = $('#Code').val();
            $.post('@Url.Action("ReturnOrder", "SalesOrder", new { area = "Transaction" })', { c: poId }, function (data) {
                if (data.s == 'Oke') {
                    window.location.href = '@Url.Action("Edit", "PartnerOrder", new { area = "Transaction", id = Model.Code })' + '?msg=3';
                } else {
                    $().toastmessage('showToast', {
                        text: data.m,
                        sticky: false,
                        position: 'top-center',
                        type: 'success'
                    });
                }
            });
        });
         $('#LevelCode').change(function () {
            var levelCode = $(this).val();
            var agencyId = $('#AgencyId').val();
            $.post('@Url.Action("NoOfCard", "SalesOrder", new { area = "Transaction" })', { ai: agencyId, lvc: levelCode }, function (data) {
                $('#NoOfCardAgency').val(data);
                $('#TotalCard').attr('class', 'md-input masked_input label-fixed validate[required,custom[integer],min[1],max[' + data + ']]');
            });
        }); 
    $('select').select2({
            selectOnClose: true
        });
    });
    function DateFormat(field, rules, i, options) {
        var regex = /^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$/;
        if (!regex.test(field.val())) {
            return "Vui lòng nhập ngày theo định dạng dd/MM/yyyy.";
        }
    }
    function AmountChange(field) {
        var noOfCard = parseFloat(getNumber($('#NoOfCard').val()));
        var giftCard = parseFloat(getNumber($('#GiftCard').val()));
        if (isNaN(noOfCard))
            noOfCard = 0;
        if (isNaN(giftCard))
            giftCard = 0;
        var totalCard = noOfCard + giftCard;
        var amount = noOfCard * parseFloat(getNumber($('#Price').val()));
        var discountPercent = parseFloat(getNumber($('#DiscountPercent').val()));
        var discountAmt = parseFloat(getNumber($('#DiscountAmt').val()));
        if (field != 'discountAmt') {
            var discountAmt = amount * (discountPercent / 100);
        }
        var totalAmount = amount - discountAmt;
        $('#TotalCard').val(totalCard);
        $('#Amount').val(amount);
        $('#DiscountAmt').val(discountAmt);
        $('#TotalAmount').val(totalAmount);
    }
    function isNaN(x) {
        // Ép kiểu Number cho biến x
        x = Number(x);
        // Nếu x là NaN, NaN != NaN trả về true, các trường hợp khác sẽ trả về false
        return x != x;
    }
</script>
