﻿@model IEnumerable<GCSOFT.MVC.AGENCY.Areas.Transaction.Data.SalesOrderList>

@{
    ViewBag.Title = "Danh Sách Đơn Hàng Cộng Tác Viên";
}
<div id="page_content_inner">
    <div class="md-card">
        <div class="md-card-toolbar">
            <div class="md-card-toolbar-actions">
                <i class="md-icon material-icons md-card-fullscreen-activate toolbar_fixed">&#xE5D0;</i>
            </div>
            <h3 class="md-card-toolbar-heading-text">
                <i class="material-icons">&#xE894;</i>&nbsp;&nbsp;@ViewBag.Title
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-overflow-container">
                <table class="uk-table uk-table-nowrap table_check">
                    <thead>
                        <tr>
                            <th class="uk-width-1-10">Mã Đơn Hàng</th>
                            <th class="uk-width-3-10">Khách Hàng</th>
                            <th class="uk-width-1-10 uk-text-center">Ngày</th>
                            <th class="uk-width-1-10 uk-text-right">Số Lượng Thẻ</th>
                            <th class="uk-width-1-10 uk-text-right">Số Thẻ Tặng</th>
                            <th class="uk-width-1-10 uk-text-right">Tổng Số Thẻ</th>
                            <th class="uk-width-1-10 uk-text-right">Tổng Tiền</th>
                            <th class="uk-width-1-10 uk-text-center">Trạng Thái</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td><a href="@Url.Action("Edit", "PartnerOrder", new { area = "Transaction", id=item.Code })">@item.Code</a></td>
                            <td>@item.CustomerName</td>
                            <td class="uk-text-center">@item.DocumentDateStr</td>
                            <td class="uk-text-right">@item.NoOfCardStr</td>
                            <td class="uk-text-right">@item.GiftCardStr</td>
                            <td class="uk-text-right">@item.TotalCardStr</td>
                            <td class="uk-text-right">@item.TotalAmountStr</td>
                            <td class="uk-text-center"><span class="uk-badge">@item.StatusName</span></td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@*<div class="md-fab-wrapper">
    <a class="md-fab md-fab-primary md-fab-wave-light md-fab-small" href="@Url.Action("Create", "PartnerOrder", new { area = "Transaction" })" data-uk-tooltip="{pos:'top'}" title="Thêm mới">
        <i class="material-icons">&#xE30F;</i>
    </a>
</div>*@
<footer id="footer" class="uk-text-center">
    <a href="@Url.Action("Create", "PartnerOrder", new { area = "Transaction" })" class="md-btn md-btn-primary md-btn-wave-light md-btn-icon">
        <i class="material-icons md-color-white">playlist_add</i>
        Thêm Mới
    </a>
</footer>