﻿@model  GCSOFT.MVC.AGENCY.Areas.Agency.Data.VM_HistoryRecall
@{
    ViewBag.Title = "Danh Sách Lịch Sử Thu Hồi";
}
<div id="page_content_inner">
    <div class="md-card">
        <div class="md-card-toolbar">
            <h3 class="md-card-toolbar-heading-text">
                Tìm kiếm
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-4">
                    <div class="parsley-row">
                        <label for="Type">Seri Number</label>
                        @Html.TextBoxFor(model => model.Serinumber, new { @class = "md-input label-fixed" })
                    </div>
                </div>
                <div class="uk-width-medium-1-4">
                    <label for="Type">Mã Kích Hoạt</label>
                    @Html.TextBoxFor(model => model.CardNo, new { @class = "md-input label-fixed" })
                </div>
                <div class="uk-width-medium-1-4">
                    <label for="Type">Từ Ngày</label>
                    @Html.TextBoxFor(model => model.DateRecallStr
                                         , new Dictionary<string, Object> {
                                                { "class", "md-input label-fixed validate[funcCall[DateFormat[]]" }
                                                , { "autocomplete", "off" }
                                                , { "placeholder", "dd/MM/yyyy" }
                                                , { "data-uk-datepicker", "{format:'DD/MM/YYYY'}" }
                                         })
                </div>
                <div class="uk-width-medium-1-4">
                    <label for="Type">Mã Kích Hoạt</label>
                    @Html.TextBoxFor(model => model.Reason, new { @class = "md-input label-fixed" })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1 uk-text-right">
                    <a id="btnSearch" href="javascript:void(0);" class="md-btn md-btn-primary uk-margin-small-top"><i class="material-icons">&#xE8B6;</i> Tìm Kiếm</a>
                    @*<a id="btnDownload" href="javascript:void(0);" class="md-btn md-btn-primary uk-margin-small-top"> Download</a>*@
                </div>
            </div>
        </div>
    </div>
    <div class="md-card">
        <div class="md-card-toolbar">
            <h3 class="md-card-toolbar-heading-text">
                @ViewBag.Title
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-overflow-container">
                <table class="uk-table uk-table-nowrap table_check">
                    <thead>
                        <tr>
                            <th class="uk-width-1-10 uk-text-center"><strong>STT</strong></th>
                            <th class="uk-width-1-10"><strong>Seri Number</strong></th>
                            <th class="uk-width-1-10"><strong>Mã Kích Hoạt</strong></th>
                            <th class="uk-width-1-10"><strong>Ngày Thu Hồi</strong></th>
                            <th class="uk-width-1-10"><strong>Lý Do</strong></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int stt = Model.Paging.startIndex; }
                        @foreach (var item in Model.ListHistoryRecall)
                        {
                            <tr>
                                <td class="uk-text-center">@(++stt)</td>
                                <td>@item.Serinumber</td>
                                <td>@item.CardNo02</td>
                                <td>@item.DateRecallStr</td>
                                <td>@item.Reason</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="pagination" data-total-count="@Model.Paging.TotalRows" data-take="@Model.Paging.PerPage"></div>
        </div>
    </div>
</div>
<script type="text/javascript" src="@Url.Content("~/Scripts/cms/vendor/paging/pajinatify.js")"></script>
<link type="text/css" href="@Url.Content("~/Scripts/cms/vendor/paging/pajinatify.css")" rel="stylesheet" />
<script type="text/javascript">
    $(document).ready(function () {
        $('.pagination').pajinatify();
        $('.pagination').pajinatify('set', @Model.Paging.CurPage, @Model.Paging.TotalRows);
        $('.pajinatify__button').click(function () {
            var p = $(this).attr('data-page');
            window.location.href = '@Url.Action("Index", "HistoryRecall", new { area = "Report" })' + '?p=' + p + querySearch();
        });
        $('#btnSearch').click(function () {
            window.location.href = '@Url.Action("Index", "HistoryRecall", new { area = "Agency" })' + '?p=0' + querySearch();
        });

        //$('#btnDownload').click(function () {
        //    var url = '/Report/DownloadDetailCustomer?p=0' + querySearch();
        //    $(location).attr('href', url);
        //});

    });
    function querySearch() {
        return '&DateRecallStr=' + $('#DateRecallStr').val() +
            '&Serinumber=' + $('#Serinumber').val() +
            '&CardNo=' + $('#CardNo').val() +
            '&Reason=' + $('#Reason').val() ;
    }
    function DateFormat(field, rules, i, options) {
        var regex = /^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$/;
        if (!regex.test(field.val())) {
            return "Vui lòng nhập ngày theo định dạng dd/MM/yyyy.";
        }
    }
</script>