﻿@model IEnumerable<GCSOFT.MVC.AGENCY.Areas.Agency.Data.AgencyList>

@{
    ViewBag.Title = "DANH SÁCH NHÂN VIÊN";
}
<div id="page_content_inner">
    <div class="md-card">
        <div class="md-card-toolbar">
            <div class="md-card-toolbar-actions">
                <i class="md-icon material-icons md-card-fullscreen-activate toolbar_fixed">&#xE5D0;</i>
            </div>
            <h3 class="md-card-toolbar-heading-text">
                <i class="material-icons">&#xE894;</i>&nbsp;&nbsp;@ViewBag.Title
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-overflow-container">
                <table class="uk-table uk-table-nowrap table_check">
                    <thead>
                        <tr>
                            <th class="uk-width-4-10 uk-text-center">Họ Tên</th>
                            <th class="uk-width-2-10">Điện Thoại</th>
                            <th class="uk-width-2-10">Email</th>
                            <th class="uk-width-2-10 uk-text-center">Ngày Đăng Ký</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr id="tr@(item.Id)">
                                <td><a href="@Url.Action("Edit", "Staff", new { area = "Agency", id = item.Id })"><strong>@item.FullName</strong></a></td>
                                <td>@item.Phone</td>
                                <td>@item.Email</td>
                                <td class="uk-text-center">@item.RegistrationDateStr</td>
                                <td>
                                    <a href="javascript:void(0)" id="@item.Id" name="btnDelete">Xóa</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<footer id="footer" class="uk-text-center">
    <a href="@Url.Action("Create", "Staff", new { area = "Agency" })" class="md-btn md-btn-primary md-btn-wave-light md-btn-icon">
        <i class="material-icons md-color-white">playlist_add</i>
        Thêm Mới
    </a>
</footer>
@section scripts{
    <link href="@Url.Content("~/Scripts/cms/vendor/Treetable/treetable.css")" rel="Stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/cms/vendor/Treetable/jquery-simple-tree-table.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('[name="btnDelete"]').click(function () {
                var _id = $(this).attr('id');
                UIkit.modal.confirm('Bạn có chắc chắn muốn xóa?', function () {
                    $.post('@Url.Action("Delete", "Staff", new { area = "Agency" })', { id: _id }, function (data) {
                        if (data.hasValue == 'oke') {
                            $().toastmessage('showToast', {
                                text: "Dữ liệu đã được xóa",
                                sticky: false,
                                position: 'top-center',
                                type: 'success'
                            });
                            $('#tr' + _id).hide();
                        }
                        else {
                            $().toastmessage('showErrorToast', data.hasValue);
                        }
                    }, 'json');
                });
            });
        });
    </script>
} 