﻿@model GCSOFT.MVC.STNHD.Models.CommentPage
@using GCSOFT.MVC.Model.MasterData
@{ var FileResources = Model.FileResources.ToList(); }
<div class="chat__content">
    <!-- Text Wrap -->

    <div class="chat__text-wrap">
        <span class="chat__title">Đóng Góp Ý Kiến Của Bạn</span>
        <p class="chat__text">Mời bạn tham gia thảo luận</p>
    </div>
    <!-- End Text Wrap -->
    <!-- Correspondence Wrap -->
    <div class="chat__message-wrap pt-10">
        <div id="comment" class="comment">
            <form id="frmCommentParent" method="post" action="@Url.Action("Create", "Comment")" autocomplete="off">
                <textarea name="Content" placeholder="Nội dung thảo luận"></textarea>
                <div class="comment-img">
                    <div class="comment-img-lable">
                        Hình Ảnh
                    </div>
                    <div class="comment-img-upload">
                        @Html.TextBoxFor(d => FileResources[0].ImageUpload
                                                        , new Dictionary<string, Object> {
                                                            { "data-label", "Upload" }
                                                            , { "type", "file" }
                                                            , { "class", "dropify" }
                                                            , { "data-show-remove", "true" }
                                                            , { "data-default-file", FileResources[0].ImageBase64 }
                                                        })
                    </div>
                </div>

                <div style="margin-top: 10px; text-align: right;">
                    <button type="button" class="default-button default-button-mini" name="btnSend" accesskey="frmCommentParent">Gửi Thảo Luận</button>
                </div>
                @Html.HiddenFor(model => model.ReferId)
                @Html.HiddenFor(model => model.Type)
            </form>
            <div class="midcmt">
                <span class="totalcomment">@Model.NoOfComment thảo luận</span>
            </div>
            <div class="infocomment">
                @foreach (var itemAsk in Model.Comments.Where(d => d.ParentId == null))
                {
                    <div class="comment_ask" id="@itemAsk.Id">
                        <i class="iconcom-user">TTL</i><strong>@itemAsk.FullName</strong>
                        <div class="infocom_ask">@Html.Raw(itemAsk.Content)</div>
                        <div class="infocom_img">
                            @foreach (var itemFiles in Model.FileResources.Where(d => d.CommentId == itemAsk.Id))
                            {
                                <a name="openImg" href="@itemFiles.ImagePathFull" data-fancybox="gallery" data-caption="@Html.Raw(itemAsk.Content)">
                                    <img src="@itemFiles.ImagePathFull" alt="" />
                                </a>
                            }
                        </div>
                        <div name="VoteCommentInfo" class="relate_infocom" data-cl="0" accesskey="@(itemAsk.Id)">
                            <ul class="article-card__statistic article-card__statistic_comment">
                                <li class="likes">
                                    <i class="zmdi @itemAsk.IconVote" id="imgIconVoteComment@(itemAsk.Id)" name="votefavorite" accesskey="@(itemAsk.Id)" HasVote="@itemAsk.hasVote.ToString()"></i>
                                    <span id="NoOfSampleComment@(itemAsk.Id)" name="NoOfSample" accesskey="@(itemAsk.Id)" class="no-of-clapping">@itemAsk.NoOfVote</span>
                                </li>
                                <li class="comments" accesskey="@itemAsk.Id">
                                    <span name="reply" class="reply" accesskey="@itemAsk.Id" repybyId="@itemAsk.Id" status="close">Thảo luận</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="comment_reply_parent" id="comment_reply@(itemAsk.Id)" name="comment_reply">

                    </div>
                    if (Model.Comments.Where(d => d.ParentId == itemAsk.Id).Count() > 0)
                    {
                        <div class="comment_reply" id="r@(itemAsk.Id)">
                            <i class="arrow_box"></i>
                            @foreach (var itemReply in Model.Comments.Where(d => d.ParentId == itemAsk.Id))
                            {
                                <div class="comment_ask" id="@itemReply.Id" data-parent="@itemReply.ParentId">
                                    <i class="iconcom-user">TTL</i>
                                    <strong>@itemReply.FullName</strong>
                                    <div class="infocom_ask">
                                        <div class="conticon">
                                            <div class="cmtcontent">
                                                @Html.Raw(itemReply.Content)
                                            </div>
                                            <div class="infocom_img-ask">
                                                @foreach (var itemFiles in Model.FileResources.Where(d => d.CommentId == itemReply.Id))
                                                {
                                                    <a name="openImg" href="@itemFiles.ImagePathFull" data-fancybox="gallery" data-caption="@Html.Raw(itemAsk.Content)">
                                                        <img src="@itemFiles.ImagePathFull" alt="" />
                                                    </a>
                                                }
                                            </div>
                                            <div name="VoteCommentInfo" class="relate_infocom_reply" data-cl="0" accesskey="@(itemReply.Id)">
                                                <ul class="article-card__statistic article-card__statistic_reply">
                                                    <li class="likes">
                                                        <i class="zmdi @itemReply.IconVote" id="imgIconVoteComment@(itemReply.Id)" name="votefavorite" accesskey="@(itemReply.Id)" HasVote="@itemReply.hasVote.ToString()"></i>
                                                        <span id="NoOfSampleComment@(itemReply.Id)" name="NoOfSample" accesskey="@(itemReply.Id)" class="no-of-clapping">@itemReply.NoOfVote</span>
                                                    </li>
                                                    <li class="comments" accesskey="@itemAsk.Id">
                                                        <span name="reply" class="reply" accesskey="@itemReply.ParentId" repybyId="@itemReply.Id" status="close">Thảo luận</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clr"></div>
                                    <div class="comment_reply_parent" id="comment_reply@(itemReply.Id)" name="comment_reply">

                                    </div>
                                </div>
                            }
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
<script id="template_comment_line" type="text/x-handlebars-template">
    <form id="frmCommentParent{{ParentId}}" method="post" action="@Url.Action("Create", "Comment")" autocomplete="off">
        <textarea name="Content" placeholder="Nội dung thảo luận"></textarea>
        <div class="comment-img">
            <div class="comment-img-lable">
                Ảnh
            </div>
            <div class="comment-img-upload">
                @Html.TextBoxFor(d => FileResources[0].ImageUpload
                                                , new Dictionary<string, Object> {
                                                    { "data-label", "Upload" }
                                                    , { "type", "file" }
                                                    , { "class", "dropify" }
                                                    , { "data-show-remove", "true" }
                                                    , { "data-default-file", FileResources[0].ImageBase64 }
                                                })
            </div>
        </div>
        <div style="margin-top: 10px; text-align: right;">
            <button type="button" class="default-button default-button-mini" name="btnSend" accesskey="frmCommentParent{{ParentId}}">Gửi Thảo Luận</button>
        </div>
        <input id="ParentId" name="ParentId" type="hidden" value="{{ParentId}}">
        <input id="ReplyId" name="ReplyId" type="hidden" value="{{ReplyId}}">
        @Html.HiddenFor(model => model.ReferId)
        @Html.HiddenFor(model => model.Type)
    </form>
</script>
<script type="text/javascript">
    $(document).ready(function () {
        btnSendComment();
        $('[name="reply"]').click(function () {
            var parentId = $(this).attr('accesskey');
            var replyById = $(this).attr('repybyId');
            var getTemplate = $("#template_comment_line").html();
            var compileTemplate = Handlebars.compile(getTemplate);
            var context = {
                "ParentId": parentId,
                "ReplyId": replyById
            };
            $('[name="comment_reply"]').empty();
            $('#comment_reply' + replyById).html(compileTemplate(context));
            $('.dropify').dropify();
            btnSendComment();
        });
    });
    function btnSendComment() {
        $('[name="btnSend"]').click(function () {
            var idForm = $(this).attr('accesskey');
            $('#' + idForm).ajaxSubmit(function (data) {
                $('#chat').load('@Url.Action("Index", "Comment")', { id: $('#ReferId').val(), t: $('#hidResultType').val() }, function (responseTxt, statusTxt, xhr) {
                    if (statusTxt == "error") {
                        console.log("Error: " + xhr.status + ": " + xhr.statusText);
                    } else {
                        InitValue();
                    }
                });
            });
        });
    }
    function InitValue() {
        $('.dropify').dropify();
        $('[name="votefavorite"]').click(function () {
            var id = $(this).attr('accesskey');
            var hasVote = $(this).attr('hasvote');
            var objNoOfSample = String.format('#NoOfSampleComment{0}', id);
            $.post("@Url.Action("Create", "Vote")", { id: id, t: @((int)ResultType.Commment), h: hasVote }, function (response) {
                $(objNoOfSample).html(response);
                if ($(String.format('#imgIconVoteComment{0}', id)).hasClass('zmdi-favorite-outline')) {
                    $(String.format('#imgIconVoteComment{0}', id)).hide('puff').removeClass('zmdi-favorite-outline').addClass('zmdi-favorite').attr('HasVote', 'true').show('puff');
                } else {
                    $(String.format('#imgIconVoteComment{0}', id)).hide('puff').removeClass('zmdi-favorite').addClass('zmdi-favorite-outline').attr('HasVote', 'false').show('puff');
                }
            });
        });
    }
</script>