﻿@model GCSOFT.MVC.Web.ViewModels.SystemViewModels.UserLoginVMs
@{
    Layout = null;
}

<div id="popup" style="width: 500px; height: 250px; overflow: hidden; position: initial">
    <div rel="title">
        THAY ĐỔI MẬT KHẨU
    </div>
    <div rel="body">
        @using (Html.BeginForm("ChangePassword", "GiaoVien", FormMethod.Post, new { @id = "frmSavePass", @class = "uk-form-stacked" }))
        {
            @Html.HiddenFor(model => model.ID)
            <div class="w2ui-page page-0">
                <div class="w2ui-column col-0">
                    <div class="w2ui-field w2ui-span7" style="">
                        <label>TÊN ĐĂNG NHẬP:</label>
                        <div>
                            @Html.TextBoxFor(model => model.Username, new { @class = "w2ui-input", @style = "width: 300px", @readonly = true })
                        </div>
                    </div>
                    <div class="w2ui-field w2ui-span7" style="">
                        <label>MẬT KHẨU MỚI:</label>
                        <div>
                            @Html.PasswordFor(model => model.Password, new { @class = "w2ui-input validate[required]", @style = "width: 300px" })
                        </div>
                    </div>
                    <div class="w2ui-field w2ui-span7" style="">
                        <label>NHẬP LẠI MẬT KHẨU:</label>
                        <div>
                            @Html.PasswordFor(model => model.RePassword, new { @class = "w2ui-input validate[required,equals[Password]]", @style = "width: 300px" })
                        </div>
                    </div>
                </div>
            </div>
        }
        </div>
    <div rel="buttons">
        <button class="w2ui-btn" id="btnSavePass" type="button">Thay Đổi Mật Khẩu</button>
        <button class="w2ui-btn" onclick="w2popup.close();">ĐÓNG</button>
    </div>
</div>

