﻿@model GCSOFT.MVC.AGENCY.ViewModels.HienTai.O_TeacherListPage
@{
    ViewBag.Title = "Danh Sách Giáo Viên";
}
<div id="page_content_inner">
    <div class="md-card">
        <div class="md-card-toolbar">
            <h3 class="md-card-toolbar-heading-text">
                Tìm kiếm
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-3">
                    <label for="Type">Mã Giáo Viên</label>
                    @Html.TextBoxFor(model => model.Code, new { @class = "md-input" })
                </div>
                <div class="uk-width-medium-1-3">
                    <label for="KeyWord">Tên Giáo Viên</label>
                    @Html.TextBoxFor(model => model.FullName, new { @class = "md-input" })
                </div>
                <div class="uk-width-medium-1-3">
                    <label for="KeyWord">Số Điện Thoại</label>
                    @Html.TextBoxFor(model => model.Phone, new { @class = "md-input" })
                </div>
                <div class="uk-width-medium-1-3"></div>
                <div class="uk-width-medium-1-3"></div>
                <div class="uk-width-medium-1-3 uk-text-right">
                    <a href="@Url.Action("Create", "GiaoVien", new { area = "HienTai" })" class="md-btn md-btn-primary md-btn-wave-light md-btn-icon waves-effect waves-button waves-light">
                        <i class="material-icons md-color-white">playlist_add</i>
                        Thêm Mới
                    </a>
                    <a id="btnSearch" href="javascript:void(0);" class="md-btn md-btn-primary md-btn-wave-light md-btn-icon waves-effect waves-button waves-light">
                        <i class="material-icons">&#xE8B6;</i>
                        Tìm Kiếm
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="md-card">
        <div class="md-card-toolbar">
            <div class="md-card-toolbar-actions">
                <i class="md-icon material-icons md-card-fullscreen-activate toolbar_fixed">&#xE5D0;</i>
            </div>
            <h3 class="md-card-toolbar-heading-text">
                <i class="material-icons">&#xE894;</i>&nbsp;&nbsp;@ViewBag.Title
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-overflow-container">
                <table id="branchTable02" class="uk-table uk-table-nowrap table_check uk-table-striped">
                    <thead>
                        <tr>
                            <th>Mã Giáo Viên</th>
                            <th>Họ Và Tên</th>
                            <th>Chức Vụ</th>
                            <th>Tên Đăng Nhập</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int stt = Model.paging.startIndex; }
                        @foreach (var item in Model.TeacherList)
                        {
                            var datanode = item.ParentTeacherId == 0 ? "" : string.Format("data-node-pid=\"{0}\"", item.ParentTeacherId);
                            <tr id="tr@(item.Id)" data-node-id="@item.Id" @Html.Raw(datanode)>
                                <td><strong class="uk-text-primary">@item.Code</strong></td>
                                <td>@item.FullName</td>
                                <td>@item.RoleName</td>
                                <td>@item.Username</td>
                                <td class="uk-text-nowrap">
                                    <a href="javascript:void(0);" name="btnChangePass" id="@item.Id" accesskey="@item.Username"><i class="material-icons md-24 uk-text-success">security</i> Đổi mật khẩu</a>
                                    <a class="uk-margin-left" href="@Url.Action("Create", "GiaoVien", new { area = "HienTai", id = item.Id})"><i class="material-icons md-24 uk-text-success">add</i> Thêm</a>
                                    @if (item.Id != ViewBag.teacherId)
                                    {
                                        <a class="uk-margin-left" href="@Url.Action("Edit", "GiaoVien", new { area = "HienTai", id = item.Id })"><i class="material-icons md-24 uk-text-warning">edit</i> Sửa</a>
                                        <a href="javascript:void(0);" class="uk-margin-left" name="btnDelete" id="@item.Id" accesskey="@item.Username"><i class="material-icons md-24 uk-text-danger">&#xE872;</i> Xóa</a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="pagination" data-total-count="@Model.paging.TotalRows" data-take="@Model.paging.PerPage"></div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript" src="https://rawgit.com/vitmalina/w2ui/master/dist/w2ui.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://rawgit.com/vitmalina/w2ui/master/dist/w2ui.min.css" />

    <link href="@Url.Content("~/Scripts/cms/vendor/Treetable/treetable.css")" rel="Stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/cms/vendor/Treetable/jquery-simple-tree-table.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/cms/vendor/paging/pajinatify.js")"></script>
    <link type="text/css" href="@Url.Content("~/Scripts/cms/vendor/paging/pajinatify.css")" rel="stylesheet" />
    <script type="text/javascript">
        $(document).ready(function () {
            $('#branchTable02').simpleTreeTable({
                store: 'session',
                storeKey: 'BranchTableTree02',
                collapsed: true
            });
            $('.pagination').pajinatify();
            $('.pagination').pajinatify('set', @Model.paging.CurPage, @Model.paging.TotalRows);
            $('.pajinatify__button').click(function () {
                var p = $(this).attr('data-page');
                window.location.href = '@Url.Action("Index", "GiaoVien", new { area = "HienTai" })' + '?currPage=' + p + querySearch();
            });
            $('[name="btnDelete"]').click(function () {
                var id = $(this).attr('id');
                var userName = $(this).attr('accesskey');
                UIkit.modal.confirm('Bạn có chắc chắn muốn xóa?', function () {
                    $.post('@Url.Action("Deletes", "GiaoVien", new { area = "HienTai" })', { id: id, userName: userName }, function (data) {
                        window.location.reload();
                    }, 'json');
                });
            });
            $('[name="btnChangePass"]').click(function () {
                var id = $(this).attr('id');
                var userName = $(this).attr('accesskey');
                w2popup.load('/HienTai/GiaoVien/ChangePassword?userName=' + userName).then(() => { ValidateInit(); });
                
            });
            $('#btnSearch').click(function () {
                window.location.href = '@Url.Action("Index", "GiaoVien", new { area = "HienTai" })' + '?currPage=0' + querySearch();
            });
            $('#Code, #FullName, #Phone').keypress(function (event) {
                var keycode = (event.keyCode ? event.keyCode : event.which);
                if (keycode == '13') {
                    window.location.href = '@Url.Action("Index", "GiaoVien", new { area = "HienTai" })' + '?currPage=0' + querySearch();
                }
            });
           
        });

        function querySearch() {
            let querySearch = '';
            if ($('#Code').val() != '') {
                querySearch += '&code=' + $('#Code').val();
            }
            if ($('#FullName').val() != '') {
                querySearch += '&fullName=' + $('#FullName').val();
            }
            if ($('#Phone').val() != '') {
                querySearch += '&phone=' + $('#Phone').val();
            }
            return querySearch;
        }

        function ValidateInit() {
            $('#btnSavePass').click(function () {
                var objFrom = $('#frmSavePass');
                var options = {
                    beforeSend: function () {
                        NProgress.start();
                        NProgress.set(0.4);
                    },
                    uploadProgress: function (event, position, total, percentComplete) {
                        NProgress.set(0.7);
                    },
                    success: function () {
                        NProgress.done();
                    },
                    complete: function (response) {
                        $().toastmessage('showToast', {
                            text: "Cập nhật mật khẩu thành công",
                            sticky: false,
                            position: 'top-center',
                            type: 'success'
                        });
                        $.fancybox.close();
                        w2popup.close();
                    },
                    error: function () {
                        $().toastmessage('showErrorToast', "Lỗi, Vui lòng liên hệ với quản trị viên để được hổ trợ");
                    }
                }

                var flag = $.validation(objFrom);
                if (flag) {
                    objFrom.ajaxForm(options).submit();
                }
            });
        }
    </script>
}