﻿@model GCSOFT.MVC.Web.ViewModels.MasterData.CourseCard
<div class="md-card-content">
    <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-medium-1-4">
            @Html.LabelFor(model => model.ClassId)
            @Html.DropDownListFor(model => model.ClassId, Model.ClassList, "[ Chọn ]", new { @class = "md-input label-fixed validate[required]" })
        </div>
        <div class="uk-width-medium-1-4">
            @Html.HiddenFor(model => model.Id)
            @Html.LabelFor(model => model.Title)
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "md-input validate[required]" } })
            @Html.HiddenFor(model => model.DateCreate)
            @Html.HiddenFor(model => model.DateModify)
            @Html.HiddenFor(model => model.AvartarLineNo)
            @Html.HiddenFor(model => model.URL)
            @Html.HiddenFor(model => model.FontColor)
            @Html.HiddenFor(model => model.Image)
        </div>
        <div class="uk-width-medium-1-4">
            @Html.LabelFor(model => model.TitleEN)
            @Html.EditorFor(model => model.TitleEN, new { htmlAttributes = new { @class = "md-input validate[required]" } })
        </div>
        <div class="uk-width-medium-1-4">
            @Html.LabelFor(model => model.IdTeacher)
            @Html.DropDownListFor(model => model.IdTeacher, Model.TeacherList, "[ Chọn ]", new { @class = "md-input label-fixed" })
        </div>
    </div>
    <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-medium-1-5">
            @Html.LabelFor(model => model.IdVideos)
            @Html.EditorFor(model => model.IdVideos, new { htmlAttributes = new { @class = "md-input uk-text-right" } })
        </div>
        <div class="uk-width-medium-1-5">
            @Html.LabelFor(model => model.SortOrder)
            @Html.EditorFor(model => model.SortOrder, new { htmlAttributes = new { @class = "md-input uk-text-right" } })
        </div>
        <div class="uk-width-medium-1-5">
            <div class="uk-form-row parsley-row">
                @Html.LabelFor(model => model.IsExperience, htmlAttributes: new { @class = "uk-form-label" })
                <span class="icheck-inline">
                    @Html.CheckBoxFor(model => model.IsExperience, new Dictionary<string, Object> { { "data-md-icheck", "" } })
                </span>
            </div>
        </div>
        <div class="uk-width-medium-1-5">
            <div class="uk-form-row parsley-row">
                @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "uk-form-label" })
                <span class="icheck-inline">
                    @Html.CheckBoxFor(model => model.Status, new Dictionary<string, Object> { { "data-md-icheck", "" } })
                </span>
            </div>
        </div>
        <div class="uk-width-medium-1-5">
            <div class="uk-form-row parsley-row">
                @Html.LabelFor(model => model.IsTNTD, htmlAttributes: new { @class = "uk-form-label" })
                <span class="icheck-inline">
                    @Html.CheckBoxFor(model => model.IsTNTD, new Dictionary<string, Object> { { "data-md-icheck", "" } })
                </span>
            </div>
        </div>
    </div>
   
</div>