﻿@model IEnumerable<GCSOFT.MVC.Web.ViewModels.MasterData.CourseSupportLine>
<div class="md-card">
    <div class="md-card-content">
        <div class="uk-grid" id="d_table_product">
            <div class="uk-width-medium-10-10">
                <div class="uk-overflow-container">
                    <table class="uk-table">
                        <thead>
                            <tr>
                                <th class="uk-width-1-10 uk-text-nowrap">STT</th>
                                <th class="uk-width-3-10">@Html.DisplayNameFor(model => model.TeachcherName)</th>
                                <th class="uk-width-5-10">@Html.DisplayNameFor(model => model.Remark)</th>
                                <th class="uk-width-1-10 uk-text-nowrap">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody id="tbodySupport">
                            @if (Model != null)
                            {
                                int stt = 0;
                                var CourseSupports = Model.ToList();
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @(++stt)
                                        </td>
                                        <td>
                                            @Html.HiddenFor(d => CourseSupports[stt - 1].IdTeachcher, new { @accesskey = "IdTeachcher" })
                                            @Html.HiddenFor(d => CourseSupports[stt - 1].TeachcherName)
                                            @item.TeachcherName
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(d => CourseSupports[stt - 1].Remark, new { @class = "md-input", @placeholder = "Ghi Chú" })
                                        </td>
                                        <td class="uk-text-middle uk-text-right">
                                            <a href="javascript:void(0)" onclick="deleteRow('tbodySupport', '@(stt - 1)', 'true');">
                                                <i class="material-icons">&#xE872;</i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="uk-width-medium-10-10">
                    <a name="btnChoose" href="javascript:void(0)" class="md-btn md-btn-small md-btn-wave-light md-btn-flat uk-float-right">
                        <i class="material-icons uk-text-primary">&#xE89E;</i>&nbsp;&nbsp;Chọn ...
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        OpenDialog($("[name='btnChoose']"), '@Url.Action("IndexPopup", "Teacher", new { area = "MasterData" })', '');
    });
    function ChooseItem() {
        $('[name="btnChoosed"]').click(function () {
            var idTeacher = 0;
            var TeachcherName = '';
            var Remark = '';
            var stt = $("#tbodySupport").find("tr").length;
            var suffix = parseInt($("#tbodySupport").FindMaxIndex());
            var stringBuilder = "";
            var countSuccess = 0;
            for (var i = 1; i < $('[role="checkbox"]').length; i++) {
                if ($('[role="checkbox"]:eq(' + i + ')').is(':checked')) {
                    IdTeachcher = $('[aria-describedby="jqGrid_Id"]:eq(' + (i - 1) + ')').text();
                    TeachcherName = $('[aria-describedby="jqGrid_FullName"]:eq(' + (i - 1) + ')').text();
                    Remark = '';
                    stringBuilder = '';
                    if (CheckExist(IdTeachcher)) {
                        countSuccess += 1;
                        stringBuilder += '<tr>';

                        stringBuilder += '<td>';
                        stringBuilder += (stt + 1);
                        stringBuilder += '</td>';

                        stringBuilder += '<td>';
                        stringBuilder += TeachcherName;
                        stringBuilder += '<input id="' + Math.random() + '" type="hidden" value="' + IdTeachcher + '" name="CourseSupports[' + (suffix) + '].IdTeachcher" accesskey="IdTeachcher">';
                        stringBuilder += '<input id="' + Math.random() + '" type="hidden" value="' + TeachcherName + '" name="CourseSupports[' + (suffix) + '].TeachcherName">';
                        stringBuilder += '</td>';
                        stringBuilder += '<td>';
                        stringBuilder += '<input id="CourseSupports_' + (stt) + '__Remark" name="CourseSupports[' + (stt) + '].Remark" type="text" class="md-input" placeholder="Ghi Chú">';
                        stringBuilder += '</td>';
                        stringBuilder += '<td class="uk-text-right">';
                        stringBuilder += '<a href="javascript:void(0);" onclick=\'deleteRow("tbody", "' + (stt) + '", "true");\'><i class="material-icons">&#xE872;</i></a>';
                        stringBuilder += '</td>';

                        stringBuilder += '</tr>';
                        if (stringBuilder != "") {
                            if ($("#tbodySupport tr").length > 0) {
                                $("#tbodySupport").find("tr").end().append(stringBuilder)
                            } else {
                                $("#tbodySupport").html(stringBuilder);
                            }
                        }
                        ++stt;
                        ++suffix;
                        $("[role='row']:eq(" + (i + 1) + ")").fadeOut();
                    }
                }
            }
            $("#tbodySupport").RebuildIndex();
            if (countSuccess != 0) {
                $().toastmessage('showSuccessToast', "Đã chọn <strong class=\".uk-text-success\">" + countSuccess + "</strong>");
            }
        });
    }
    var CheckExist = (function (ID_Key) {
        var flag = true;
        $.each($(".IdTeachcher"), function () {
            if ($(this).val() == ID_Key)
                flag = false;
        });
        return flag;
    });
</script>
