﻿@model IEnumerable<GCSOFT.MVC.Web.ViewModels.MasterData.CourseCategoryLine>
<div class="md-card">
    <div class="md-card-content">
        <div class="uk-grid" id="d_table_product">
            <div class="uk-width-medium-10-10">
                <div class="uk-overflow-container">
                    <table class="uk-table">
                        <thead>
                            <tr>
                                <th class="uk-width-1-10 uk-text-nowrap">STT</th>
                                <th class="uk-width-4-10 uk-text-nowrap">@Html.DisplayNameFor(model => model.CategroySearchName)</th>
                                <th class="uk-width-4-10 uk-text-nowrap">@Html.DisplayNameFor(model => model.Remark)</th>
                                <th class="uk-width-1-10 uk-text-nowrap">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody id="tbodyCate">
                            @if (Model != null)
                            {
                                int stt = 0;
                                var CourseCategories = Model.ToList();
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @(++stt)
                                        </td>
                                        <td>
                                            @Html.HiddenFor(d => CourseCategories[stt - 1].IdCategory, new { @accesskey = "idcategory" })
                                            @Html.HiddenFor(d => CourseCategories[stt - 1].CategroySearchName)
                                            @item.CategroySearchName
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(d => CourseCategories[stt - 1].Remark, new { @class = "md-input", @placeholder = "Ghi Chú" })
                                        </td>
                                        <td class="uk-text-middle uk-text-right">
                                            <a href="javascript:void(0)" onclick="deleteRow('tbodyCate', '@(stt - 1)', 'true');">
                                                <i class="material-icons">&#xE872;</i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="uk-width-medium-10-10">
                    <a name="btnChooseCate" href="javascript:void(0)" class="md-btn md-btn-small md-btn-wave-light md-btn-flat uk-float-right">
                        <i class="material-icons uk-text-primary">&#xE89E;</i>&nbsp;&nbsp;Chọn ...
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        OpenDialog($("[name='btnChooseCate']"), '@Url.Action("IndexPopup", "Category", new { area = "MasterData" })', '');
    });
    function ChooseItemCate() {
        $('[name="btnChoosedCate"]').click(function () {
            var IdCategory = '';
            var CategroySearchName = '';
            var Remark = '';
            var stt = $("#tbodyCate").find("tr").length;
            var suffix = parseInt($("#tbodyCate").FindMaxIndex());
            var stringBuilder = "";
            var countSuccess = 0;
            for (var i = 1; i < $('[role="checkbox"]').length; i++) {
                if ($('[role="checkbox"]:eq(' + i + ')').is(':checked')) {
                    IdCategory = $('[aria-describedby="jqGridCate_Id"]:eq(' + (i - 1) + ')').text();
                    CategroySearchName = $('[aria-describedby="jqGridCate_SearchName"]:eq(' + (i - 1) + ')').text();
                    Remark = '';
                    stringBuilder = '';
                    if (CheckExistCate(IdCategory)) {
                        countSuccess += 1;
                        stringBuilder += '<tr>';

                        stringBuilder += '<td>';
                        stringBuilder += (stt + 1);
                        stringBuilder += '</td>';

                        stringBuilder += '<td>';
                        stringBuilder += CategroySearchName;
                        stringBuilder += '<input id="' + Math.random() + '" type="hidden" accesskey="idcategory" value="' + IdCategory + '" name="CourseCategories[' + (suffix) + '].IdCategory" />';
                        stringBuilder += '<input id="' + Math.random() + '" type="hidden" value="' + CategroySearchName + '" name="CourseCategories[' + (suffix) + '].CategroySearchName" />';
                        stringBuilder += '</td>';
                        stringBuilder += '<td>';
                        stringBuilder += '<input id="CourseCategories_' + (stt) + '__Remark" name="CourseCategories[' + (stt) + '].Remark" type="text" class="md-input" placeholder="Ghi Chú" />';
                        stringBuilder += '</td>';
                        stringBuilder += '<td class="uk-text-right">';
                        stringBuilder += '<a href="javascript:void(0);" onclick=\'deleteRow("tbodyCate", "' + (stt) + '", "true");\'><i class="material-icons">&#xE872;</i></a>';
                        stringBuilder += '</td>';

                        stringBuilder += '</tr>';
                        if (stringBuilder != "") {
                            if ($("#tbodyCate tr").length > 0) {
                                $("#tbodyCate").find("tr").end().append(stringBuilder)
                            } else {
                                $("#tbodyCate").html(stringBuilder);
                            }
                        }
                        ++stt;
                        ++suffix;
                        $("[role='row']:eq(" + (i + 1) + ")").fadeOut();
                    }
                }
            }
            $("#tbodyCate").RebuildIndex();
            if (countSuccess != 0) {
                $().toastmessage('showSuccessToast', "Đã chọn <strong class=\".uk-text-success\">" + countSuccess + "</strong>");
            }
        });
    }
    var CheckExistCate = (function (IdCategory) {
        var flag = true;
        $.each($('[accesskey="idcategory"]'), function () {
            if ($(this).val() == IdCategory)
                flag = false;
        });
        return flag;
    });
</script>
