﻿@model GCSOFT.MVC.Web.ViewModels.MasterData.CourseCard
<div id="page_content_inner" class="hierarchical_slide">
    <div class="md-card">
        <div class="md-card-toolbar">
            <div class="md-card-toolbar-actions">
                <i class="md-icon material-icons md-card-toggle">&#xE316;</i>
            </div>
            <h3 class="md-card-toolbar-heading-text">
                <i class="material-icons">&#xE894;</i>&nbsp;&nbsp;@ViewBag.Title
            </h3>
        </div>
        @Html.Partial("_CardGeneral", Model)
    </div>
    <div class="md-card">
        <div class="md-card-content">
            <ul class="uk-tab" data-uk-tab="{connect:'#tabs_anim1', animation:'scale'}">
                @*<li><a href="#">Mục Lục</a></li>*@
                <li><a href="#">Videos Bài Giảng</a></li>
                <li><a href="#">Nhân Viên Hổ Trợ</a></li>
                <li><a href="#">Tài Nguyên</a></li>
            </ul>
            <ul id="tabs_anim1" class="uk-switcher uk-margin">
                @*<li>@Html.Partial("_CardContentLine", Model.CourseContents)</li>*@
                <li id="frmCourseVideos">@Html.Partial("_CardVideosLine", Model.SqlCourseContents)</li>
                <li>@Html.Partial("_CardSupportLine", Model.CourseSupports)</li>
                <li>@Html.Partial("_CardCourseResourceLine", Model.CourseResources)</li>
            </ul>
        </div>
    </div>
</div>
<div class="md-fab-wrapper">
    <div class="md-fab md-fab-accent md-fab-sheet md-fab-small">
        <i class="material-icons">&#xE30F;</i>
        <div class="md-fab-sheet-actions">
            <a id="btnReturn" href="@Url.Action("Index", "Course", new { area = "MasterData" })" class="md-color-white"><i class="material-icons md-color-white">&#xE15E;</i> <span class="gc-text-decoration uk-text-warning">Q</span>uay lại</a>
            <a id="btnSave" href="javascript:void(0)" class="md-color-white"><i class="material-icons md-color-white">&#xE161;</i> <span class="gc-text-decoration uk-text-warning">L</span>ưu</a>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        gcHotkey._return();
        gcHotkey._save();
        CreateSuccess('@Url.Action("Create", "Course", new { area = "MasterData" })');
        $('#btnSave').click(function () {
            Save($("#frm"), true);
        });
    });
</script>