﻿@model IEnumerable<GCSOFT.MVC.Web.ViewModels.MasterData.CourseCategoryLine>
<div class="md-card">
    <div class="md-card-content">
		@if (Model != null)
		{
			int stt = 0;
			foreach (var item in Model) {
				<div class="uk-grid" data-uk-grid-margin>
					 <div class="uk-width-medium-1-10">
                        <div class="uk-width-medium-1-1">
                            <span class="gc-text-muted uk-text-small">STT</span>
                        </div>
                        <div class="uk-width-medium-1-1 gc-margin-top-2px">
                            <span class="uk-text-middle">@(++stt)</span>
                        </div>
                        <hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
                    </div>
					<div class="uk-width-medium-4-10">
                        <div class="uk-width-medium-1-1">
                            <span class="gc-text-muted uk-text-small">@Html.DisplayNameFor(model => model.CategroySearchName)</span>
                        </div>
                        <div class="uk-width-medium-1-1 gc-margin-top-2px">
                            <span class="uk-text-middle">@item.CategroySearchName</span>
                        </div>
                        <hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
                    </div>
					<div class="uk-width-medium-5-10">
                        <div class="uk-width-medium-1-1">
                            <span class="gc-text-muted uk-text-small">@Html.DisplayNameFor(model => model.Remark)</span>
                        </div>
                        <div class="uk-width-medium-1-1 gc-margin-top-2px">
                            <span class="uk-text-middle">@item.Remark</span>
                        </div>
                        <hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
                    </div>
				</div>
				<div class="uk-grid gc-margin-top-0px uk-hidden-small">
					<div class="uk-width-medium-1-10">
						<hr class="gc-grid-divider">
					</div>
					<div class="uk-width-medium-4-10">
						<hr class="gc-grid-divider">
					</div>
					<div class="uk-width-medium-5-10">
						<hr class="gc-grid-divider">
					</div>
				</div>
			}
		}
    </div>
</div>
