﻿@model IEnumerable<GCSOFT.MVC.Web.ViewModels.MasterData.CourseContentLine>
<div class="md-card">
    <div class="md-card-content">
        @if (Model != null)
        {
            int stt = 0;
            var ContentLine = Model.ToList();
            foreach (var item in Model.OrderBy(d => d.SortOrder))
            {
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-10">
                        <div class="uk-width-medium-1-1">
                            <span class="gc-text-muted uk-text-small">STT</span>
                        </div>
                        <div class="uk-width-medium-1-1 gc-margin-top-2px">
                            <span class="uk-text-middle">@(++stt)</span>
                        </div>
                        <hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
                    </div>
                    <div class="uk-width-medium-5-10">
                        <div class="uk-width-medium-1-1">
                            <span class="gc-text-muted uk-text-small">@Html.DisplayNameFor(model => model.Title)</span>
                        </div>
                        <div class="uk-width-medium-1-1 gc-margin-top-2px">
                            <span class="uk-text-middle">@item.Title</span>
                        </div>
                        <hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
                    </div>
                    <div class="uk-width-medium-1-10">
                        <div class="uk-width-medium-1-1">
                            <span class="gc-text-muted uk-text-small">@Html.DisplayNameFor(model => model.Bold)</span>
                        </div>
                        <div class="uk-width-medium-1-1 gc-margin-top-2px">
                            <span class="uk-text-middle">
                                @Html.CheckBoxFor(d => ContentLine[stt - 1].Bold, new Dictionary<string, Object> { { "data-md-icheck", "" }, { "disabled", true } })
                            </span>
                        </div>
                        <hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
                    </div>
                    <div class="uk-width-medium-1-10">
                        <div class="uk-width-medium-1-1">
                            <span class="gc-text-muted uk-text-small">@Html.DisplayNameFor(model => model.Italic)</span>
                        </div>
                        <div class="uk-width-medium-1-1 gc-margin-top-2px">
                            <span class="uk-text-middle">
                                @Html.CheckBoxFor(d => ContentLine[stt - 1].Italic, new Dictionary<string, Object> { { "data-md-icheck", "" }, { "disabled", true } })
                            </span>
                        </div>
                        <hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
                    </div>
                    <div class="uk-width-medium-1-10">
                        <div class="uk-width-medium-1-1">
                            <span class="gc-text-muted uk-text-small">@Html.DisplayNameFor(model => model.SortOrder)</span>
                        </div>
                        <div class="uk-width-medium-1-1 gc-margin-top-2px uk-text-right">
                            <span class="uk-text-middle">@item.SortOrder</span>
                        </div>
                        <hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
                    </div>
                    <div class="uk-width-medium-1-10">
                        <div class="uk-width-medium-1-1 gc-margin-top-2px uk-text-center uk-text-middle">
                            <span class="uk-text-middle">
                                <a target="_blank" href="@Url.Action("Details", "CourseContent", new { area = "MasterData", id = ContentLine[stt - 1].IdCourse, lineNo = ContentLine[stt - 1].LineNo })">Nội Dung</a>
                            </span>
                        </div>
                        <hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
                    </div>
                </div>
                <div class="uk-grid gc-margin-top-0px uk-hidden-small">
                    <div class="uk-width-medium-1-10">
                        <hr class="gc-grid-divider">
                    </div>
                    <div class="uk-width-medium-5-10">
                        <hr class="gc-grid-divider">
                    </div>
                    <div class="uk-width-medium-1-10">
                        <hr class="gc-grid-divider">
                    </div>
                    <div class="uk-width-medium-1-10">
                        <hr class="gc-grid-divider">
                    </div>
                    <div class="uk-width-medium-1-10">
                        <hr class="gc-grid-divider">
                    </div>
                    <div class="uk-width-medium-1-10">
                        <hr class="gc-grid-divider">
                    </div>
                </div>
            }
        }
    </div>
</div>
