﻿@model IEnumerable<GCSOFT.MVC.Web.ViewModels.MasterData.CourseResourceLine>
<div class="md-card">
    <div class="md-card-content">
		@if (Model != null)
		{
			int stt = 0;
			foreach (var item in Model) {
				<div class="uk-grid" data-uk-grid-margin>
					 <div class="uk-width-medium-1-10">
                        <div class="uk-width-medium-1-1">
                            <span class="gc-text-muted uk-text-small">STT</span>
                        </div>
                        <div class="uk-width-medium-1-1 gc-margin-top-2px">
                            <span class="uk-text-middle">@(++stt)</span>
                        </div>
                        <hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
                    </div>
					<div class="uk-width-medium-4-10">
                        <div class="uk-width-medium-1-1">
                            <span class="gc-text-muted uk-text-small">@Html.DisplayNameFor(model => model.Title)</span>
                        </div>
                        <div class="uk-width-medium-1-1 gc-margin-top-2px">
                            <span class="uk-text-middle">@item.Title</span>
                        </div>
                        <hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
                    </div>
					<div class="uk-width-medium-5-10">
                        <div class="uk-width-medium-1-1">
                            <span class="gc-text-muted uk-text-small">@Html.DisplayNameFor(model => model.Image)</span>
                        </div>
                        <div class="uk-width-medium-1-1 gc-margin-top-2px">
                            <span class="uk-text-middle">
                                @if (!string.IsNullOrEmpty(item.Image))
                                {
                                    <a href="@Url.Content("~/Files/CourseResource/" + item.IdCourse.ToString() + "/" + item.Image)" data-uk-lightbox="{group:'image'}">
                                        <img src="@Url.Content("~/Files/CourseResource/" + item.IdCourse.ToString() + "/" + item.Image)" class="img_small" />
                                    </a>
                                }
                            </span>
                        </div>
                        <hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
                    </div>
				</div>
				<div class="uk-grid gc-margin-top-0px uk-hidden-small">
					<div class="uk-width-medium-1-10">
						<hr class="gc-grid-divider">
					</div>
					<div class="uk-width-medium-4-10">
						<hr class="gc-grid-divider">
					</div>
					<div class="uk-width-medium-5-10">
						<hr class="gc-grid-divider">
					</div>
				</div>
			}
		}
    </div>
</div>
