﻿@model GCSOFT.MVC.Web.ViewModels.MasterData.CourseCard
@{
    ViewBag.Title = "Thông Tin Bài Học";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
<div id="page_content_inner">
	<div class="md-card">
        <div class="md-card-content">
            <ul class="uk-tab" data-uk-tab="{connect:'#tabs_anim1', animation:'scale'}">
                <li class="uk-active"><a href="#">@ViewBag.Title</a></li>
                <li><a href="#">Mục Lục</a></li>
                @*<li><a href="#">Khóa Học</a></li>*@
                <li><a href="#">Nhân Viên Hổ Trợ</a></li>
                <li><a href="#">Tài Nguyên</a></li>
            </ul>
            <ul id="tabs_anim1" class="uk-switcher uk-margin">
                <li>@Html.Partial("_ViewGeneral", Model)</li>
                <li>@Html.Partial("_ViewContentLine", Model.CourseContents)</li>
                @*<li>@Html.Partial("_ViewCategoryLine", Model.CourseCategories)</li>*@
                <li>@Html.Partial("_ViewSupportLine", Model.CourseSupports)</li>
                <li>@Html.Partial("_ViewCourseResourceLine", Model.CourseResources)</li>
            </ul>
        </div>
	</div>
</div>
<div class="md-fab-wrapper">
    <a id="btnReturn" href="@Url.Action("Index", "Course", new { area = "MasterData" })" class="md-fab md-fab-small md-fab-accent" title="Quay lại" data-uk-tooltip="{pos:'top'}"><i class="material-icons">&#xE31B;</i></a>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        gcHotkey._return();
    });
</script>
}
