﻿@model GCSOFT.MVC.Web.Areas.MasterData.Models.CourcePage
@{
    ViewBag.Title = "Danh Sách Môn Học";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
<div id="page_content_inner">
    <div class="md-card">
        <div class="md-card-toolbar">
            <div class="md-card-toolbar-actions">
                <i class="md-icon material-icons md-card-fullscreen-activate toolbar_fixed">&#xE5D0;</i>
            </div>
            <h3 class="md-card-toolbar-heading-text">
                <i class="material-icons">&#xE894;</i>&nbsp;&nbsp;@ViewBag.Title
            </h3>
        </div>
        <div class="md-card">
            <div class="md-card-content">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-5">
                        <label>Lớp</label>
                        @Html.DropDownListFor(model => model.ClassId, Model.ClassList, "[ Chọn ]", new { @class = "md-input label-fixed" })
                    </div>
                    <div class="uk-width-medium-1-5">
                        <label>Môn Học</label>
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "md-input" } })
                    </div>
                    <div class="uk-width-medium-1-5">
                        <label>Môn Học 5PTB</label>
                        @Html.CheckBoxFor(model => model.Status, new Dictionary<string, Object> { { "md-input data-md-icheck", "" } })
                    </div>
                    <div class="uk-width-medium-1-5">
                        <label>Môn Học Trắc Nghiệm</label>
                        @Html.CheckBoxFor(model => model.IsTNTD, new Dictionary<string, Object> { { "md-input data-md-icheck", "" } })
                    </div>
                    <div class="uk-width-medium-1-5 uk-text-right">
                        <a href="javascript:void(0);" id="btnSearch" class="md-btn md-btn-primary uk-margin-small-top"><i class="material-icons">&#xE8B6;</i> Tìm Kiếm</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="md-card-content">
            <div class="uk-overflow-container">
                <table id="jqGrid"></table>
                <div id="jqGridPager"></div>
            </div>
        </div>
    </div>
</div>
<div class="md-fab-wrapper">
    <div class="md-fab md-fab-accent md-fab-sheet md-fab-small">
        <i class="material-icons">&#xE30F;</i>
        <div class="md-fab-sheet-actions">
            <a name="btnDel" href="javascript:void(0)" class="md-color-white">
                <i class="material-icons md-color-white">&#xE872;</i> <span class="gc-text-decoration uk-text-warning">X</span>óa
            </a>
            <a name="btnEdit" href="javascript:void(0)" class="md-color-white">
                <i class="material-icons md-color-white">&#xE254;</i> <span class="gc-text-decoration uk-text-warning">S</span>ửa
            </a>
            <a name="btnAdd" href="@Url.Action("Create", "Course", new { area = "MasterData" })" class="md-color-white">
                <i class="material-icons md-color-white">&#xE148;</i> <span class="gc-text-decoration uk-text-warning">T</span>hêm
            </a>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            LoadGrid(BuildURL());
            $('[name="btnEdit"]').click(function () {
                JqEdit('@Url.Action("Edit", "Course", new { area = "MasterData" })', 'jqGrid')
            });
            $('[name="btnDel"]').click(function () {
                JqDel('@Url.Action("Deletes", "Course", new { area = "MasterData" })', $('#jqGrid'));
            });
            $('#btnSearch').click(function () {
                ReloadGrid(BuildURL());
            });
            $('#ClassId').change(function () {
                ReloadGrid(BuildURL());
            });
			CallHotKey();
        });
         function BuildURL() {
            var stringUrl = '@Url.Action("LoadData", "Course", new { area = "MasterData" })';
             stringUrl += '?classId=' + $('#ClassId option:selected').val();
             stringUrl += '&title=' + $('#Title').val();
             stringUrl += '&status=' + $('#Status ').is(":checked");
             stringUrl += '&isTNTD=' + $('#IsTNTD ').is(":checked");
            return encodeURI(stringUrl);
        }
        function ReloadGrid(url) {
            $("#jqGrid").setGridParam({ url: url, page: 1 }).trigger("reloadGrid");
        }
        function LoadGrid(url) {
            $("#jqGrid").jqGrid({
                url: url,
                mtype: "get",
                datatype: "json",
                colNames: [
                    'Lớp'
                    , 'Môn'
                    , 'Trải nghiệm'
                    , 'Môn Học 5PTB'
                    , 'Môn Học Trắc Nghiệm Toàn Diện'
                    , ''
				],
                colModel: [
                    { name: 'ClassName', index: 'ClassName' }
                    , { name: 'Title', index: 'Title', formatter: NoFormatter }
                    , { name: 'IsExperience', index: 'IsExperience' }
                    , { name: 'Status', index: 'Status' }
                    , { name: 'IsTNTD', index: 'IsTNTD' }
                    , { name: 'action', index: 'action', align: 'center', sortable: false, formatter: ActionFormatter }
				],
                rowNum: 20,
                rowList: [20, 40, 60, 80, 100],
                pager: '#jqGridPager',
                sortname: 'Id',
                viewrecords: true,
                autowidth: true,
                height: "100%",
                sortorder: "asc",
                multiselect: true,
                rownumbers: true,
                viewsortcols: [true, 'vertical', true],
                loadComplete: function () {
                    jqGrid_resize('jqGrid');
                    gridSearch('jqGrid', 'search-button');
					GetDetails();
                },
                jsonReader: {
                    root: "Rows",
                    page: "jqGridPager",
                    total: "Total",
                    records: "Records",
                    repeatitems: false,
                    id: "Id"
                }
            });
            $("#jqGrid").jqGrid('navGrid', '#jqGridPager',
                    { edit: false, add: false, del: false }, {}, {}, {},
                    {
                        multipleSearch: true,
                        closeOnEscape: true,
                        closeAfterSearch: true,
                        showQuery: true,
                        searchOnEnter: true,
                        sopt: ['cn', 'eq', 'ne', 'lt', 'le', 'gt', 'ge']
                    }
                );
        }

        function NoFormatter(cellvalue, options, rowObject) {
            return '<strong><a href="@Url.Action("Edit/", "Course", new { area = "MasterData" })' + rowObject.Id + '" title="Xem Chi Tiết" name="Details" data-uk-tooltip="{pos:\'top\'}">' + cellvalue + '</a></strong>';
        }
        function ActionFormatter(cellvalue, options, rowObject) {
            var str = '<a id="btnEdit" class="md-btn md-btn-primary md-btn-small md-btn-wave-light md-btn-icon waves-effect waves-button waves-light" href="@Url.Action("Edit/", "Course", new { area = "MasterData" })' + rowObject.Id + '">';
            str += '<i class="material-icons">visibility</i>';
            str += 'Sửa';
            str += '</a>';
            return str;
        }
		function GetDetails() {
            $('[name="Details"]').click(function () {
                var idx = $('[name="Details"]').index($(this));
                $(location).attr('href', $('[name="Details"]:eq(' + idx + ')').attr('href'));
            });
            gcHotkey._view();
        }

        function CallHotKey() {
            gcHotkey._add();
            gcHotkey._edit();
            gcHotkey._del();
        }
    </script>    
}
