﻿@model IEnumerable<GCSOFT.MVC.Web.ViewModels.MasterData.CourseContentLine>
@using GCSOFT.MVC.Web.ViewModels.MasterData
@{
    ViewBag.Title = "Mục lục Bài Giảng Videos + Trắc Nghiệm";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
    var courseInfo = (CourseList)ViewBag.courseInfo;
}
<div id="page_content_inner" class="hierarchical_slide">
   
    <div class="md-card">
        <div class="md-card-toolbar">
            <div class="md-card-toolbar-actions">
                <i class="md-icon material-icons md-card-toggle">&#xE316;</i>
            </div>
            <h3 class="md-card-toolbar-heading-text">
                <i class="material-icons">&#xE894;</i>&nbsp;&nbsp;@ViewBag.Title
            </h3>
        </div>
        <div class="md-card-content" id="tbodyVideosLine">
            <div class="uk-width-1-1">
                <div class="uk-overflow-container">
                    <table class="uk-table uk-table-nowrap table_check">
                        <thead>
                            <tr>
                                <th class="uk-width-1-10 uk-text-center"><strong>STT</strong></th>
                                <th><strong>Thứ Tự</strong></th>
                                <th><strong>Mã Cha</strong></th>
                                <th><strong>Mục Lục</strong></th>
                                <th><strong>Trải Nghiệm</strong></th>
                                <th><strong>Thời Gian</strong></th>
                                <th><strong>Ẩn</strong></th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int stt = 0; }
                            @foreach (var item in Model.OrderBy(d => d.SortOrder))
                            {
                                <tr>
                                    <td class="uk-text-center">@(++stt)</td>
                                    <td>@item.SortOrder</td>
                                    <td>@item.ParentSortOrder</td>
                                    <td>
                                        <span class="@(item.ParentSortOrder == 0 ? "uk-text-bold uk-text-success" : "uk-text-primary")">
                                            @item.Title
                                        </span>
                                        @if (!string.IsNullOrEmpty(item.LinkVideoVN))
                                        {
                                            <br /><strong>Link Endlish Sub: </strong>@item.LinkVideoVN
                                        }
                                        @if (!string.IsNullOrEmpty(item.LinkVideoEN))
                                        {
                                            <br /><strong>Link Việt Sub: </strong>@item.LinkVideoEN
                                        }
                                    </td>
                                    <td>
                                        @item.IsExperience
                                    </td>
                                    <td>
                                        @item.Times
                                    </td>
                                    <td>
                                        @item.IsHidden
                                    </td>
                                    <td class="uk-text-nowrap">
                                        <a href="@Url.Action("Edit", "HocVien", new { area = "HienTai", courseId = item.IdCourse, lineNo = item.LineNo })"><i class="material-icons md-24 uk-text-warning">edit</i> Sửa</a>
                                        <a href="javascript:void(0);" class="uk-margin-left" name="btnDelete"><i class="material-icons md-24 uk-text-danger">&#xE872;</i> Xóa</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            @*@if (Model != null)
            {
                int stt = 0;
                var CourseVideos = Model.OrderBy(d => d.SortOrder).ToList();
                foreach (var item in Model)
                {
                    <div class="uk-grid tr" data-uk-grid-margin>
                        <div class="uk-width-medium-1-10 uk-text-center">
                            <p class="uk-text-large uk-text-primary uk-text-bold">@(++stt)</p>
                        </div>
                        <div class="uk-width-medium-1-10">
                            @Html.LabelFor(d => CourseVideos[stt - 1].SortOrder)
                            @Html.TextBoxFor(d => CourseVideos[stt - 1].SortOrder, new { @class = "md-input uk-text-right", @accesskey = "KeyVideosFocus" })
                        </div>
                        <div class="uk-width-medium-1-10">
                            @Html.LabelFor(d => CourseVideos[stt - 1].ParentSortOrder)
                            @Html.TextBoxFor(d => CourseVideos[stt - 1].ParentSortOrder, new { @class = "md-input uk-text-right" })
                        </div>
                        <div class="uk-width-medium-4-10">
                            @Html.LabelFor(d => CourseVideos[stt - 1].Title)
                            @Html.TextBoxFor(d => CourseVideos[stt - 1].Title, new { @class = "md-input uk-text-primary uk-text-bold", @accesskey = "KeyVideosNewLine" })
                            @Html.HiddenFor(d => CourseVideos[stt - 1].LineNo)
                            @Html.HiddenFor(d => CourseVideos[stt - 1].FullDescription)
                            @Html.HiddenFor(d => CourseVideos[stt - 1].CourseType)
                            @Html.HiddenFor(d => CourseVideos[stt - 1].LinkYoutube)
                            @Html.HiddenFor(d => CourseVideos[stt - 1].IsHiddenHK2)
                        </div>
                        <div class="uk-width-medium-1-10">
                            <div class="uk-form-row parsley-row">
                                @Html.LabelFor(d => CourseVideos[stt - 1].IsExperience, new { @class = "uk-form-label" })
                                <span class="icheck-inline">
                                    @Html.CheckBoxFor(d => CourseVideos[stt - 1].IsExperience, new Dictionary<string, Object> { { "data-md-icheck", "" } })
                                </span>
                            </div>
                        </div>
                        <div class="uk-width-medium-1-10 uk-text-center uk-text-middle">
                            @Html.LabelFor(d => CourseVideos[stt - 1].Times)
                            @Html.TextBoxFor(d => CourseVideos[stt - 1].Times, new { @class = "md-input uk-text-right" })
                        </div>
                        <div class="uk-width-medium-1-10">
                            <div class="uk-form-row parsley-row">
                                @Html.LabelFor(d => CourseVideos[stt - 1].IsHidden, new { @class = "uk-form-label" })
                                <span class="icheck-inline">
                                    @Html.CheckBoxFor(d => CourseVideos[stt - 1].IsHidden, new Dictionary<string, Object> { { "data-md-icheck", "" } })
                                </span>
                            </div>
                        </div>
                        <div class="uk-width-medium-5-10 uk-text-middle">
                            @Html.LabelFor(d => CourseVideos[stt - 1].LinkVideoVN)
                            @Html.TextBoxFor(d => CourseVideos[stt - 1].LinkVideoVN, new { @class = "md-input uk-text-success" })
                        </div>
                        <div class="uk-width-medium-4-10 uk-text-middle">
                            @Html.LabelFor(d => CourseVideos[stt - 1].LinkVideoEN)
                            @Html.TextBoxFor(d => CourseVideos[stt - 1].LinkVideoEN, new { @class = "md-input uk-text-success" })
                        </div>
                        <div class="uk-width-medium-1-10 uk-text-center uk-text-middle">
                            <a href="javascript:void(0);" name="btnRemoveVideosLineLine"><i class="material-icons md-24 uk-text-primary">&#xE872;</i></a>
                        </div>
                    </div>
                    <hr />
                }
            }*@
        </div>
    </div>
</div>
<footer id="footer" class="uk-text-center">
    <a id="btnReturn" href="@Url.Action("Edit", "Course", new { area = "MasterData", id = ViewBag.courseId })" class="md-btn md-btn-danger md-btn-wave-light md-btn-icon">
        <i class="material-icons md-color-white">&#xE15E;</i>
        Quay Lại
    </a>
    <a class="md-btn md-btn-primary md-btn-wave-light md-btn-icon" href="javascript:void(0)" id="btnSave">
        <span class="material-icons md-color-white">save</span>
        Lưu Mục Lục Videos
    </a>
</footer>
@section scripts{}
<script type="text/javascript">
    $(document).ready(function () {
        $('[name="btnAddNewVideosLineRow"]').click(function () {
            var table = $('#tbodyVideosLine');
            var stt = table.find(".tr").length + 1;

            var getTemplate = $("#template_videos_line").html();

            // Compile the template
            var compileTemplate = Handlebars.compile(getTemplate);
            var context = {
                "stt": stt
            };

            // Pass our data to the template
            var passDataToTemplate = compileTemplate(context);
            // Add the compiled html to the page
            if ($("#tbodyVideosLine .tr").length > 0) {
                $('#tbodyVideosLine').find(".tr").end().append(passDataToTemplate);
            } else {
                $('#tbodyVideosLine').html(passDataToTemplate);
            }
            altair_md.inputs();
            altair_uikit.reinitialize_grid_margin();
            table.Uk_RebuildIndex();
            table.Uk_RebuildSortOrder();
            InitValueContentLine();
        });
        InitValueContentLine();
    });
    function InitValueContentLine() {
        $('[name="btnRemoveVideosLineLine"]').Uk_RemoveRow($('#tbodyVideosLine'));
        $('[accesskey="KeyVideosNewLine"]').keydown(function (e) {
            var code = e.keyCode || e.which;
            if (code === 9) {
                e.preventDefault();
                var idxTbl = $('#tbodyVideosLine').find('.tr').length;
                var idx = $('[accesskey="KeyVideosNewLine"]').index($(this)) + 1;
                if (idxTbl == idx) {
                    $('#btnAddNewVideosLineRow').click();
                    $('[accesskey="KeyVideosFocus"]').last().focus();
                }
                return false;
            }
        });
    }
</script>