﻿@model GCSOFT.MVC.Web.Areas.Approval.Data.FlowApproval
<div id="page_content_inner" class="hierarchical_slide">
    <div class="md-card">
        <div class="md-card-toolbar">
            <div class="md-card-toolbar-actions">
                <i class="md-icon material-icons md-card-toggle">&#xE316;</i>
            </div>
            <h3 class="md-card-toolbar-heading-text">
                <i class="material-icons">&#xE894;</i>&nbsp;&nbsp;@ViewBag.Title
            </h3>
        </div>
        <div class="md-card-content">
			<div class="uk-grid" data-uk-grid-margin>
				<div class="uk-width-medium-1-2">
					@Html.LabelFor(model => model.Description)
					@Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "md-input" } })
				</div>
				<div class="uk-width-medium-1-2">
					@Html.LabelFor(model => model.Remark)
					@Html.EditorFor(model => model.Remark, new { htmlAttributes = new { @class = "md-input" } })
				</div>
			</div>
		</div>
	</div>
</div>
<div class="md-fab-wrapper">
    <div class="md-fab md-fab-accent md-fab-sheet md-fab-small">
        <i class="material-icons">&#xE30F;</i>
        <div class="md-fab-sheet-actions">
            <a id="btnReturn" href="@Url.Action("Index", "Controller Name", new { area = "Area Name" })" class="md-color-white"><i class="material-icons md-color-white">&#xE15E;</i> <span class="gc-text-decoration uk-text-warning">Q</span>uay lại</a>
            <a id="btnSave" href="javascript:void(0)" class="md-color-white"><i class="material-icons md-color-white">&#xE161;</i> <span class="gc-text-decoration uk-text-warning">L</span>ưu</a>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        gcHotkey._return();
        gcHotkey._save();
        CreateSuccess('@Url.Action("Create", "Controller Name", new { area = "Area Name" })');
        $('#btnSave').click(function () {
            Save($("#frm"), true);
        });
    });
</script>
