﻿@model GCSOFT.MVC.Web.Areas.Approval.Data.ApprovalPage

@{
    ViewBag.Title = "Duyệt Online";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
<div id="page_content_inner">
    <div class="md-card">
        <div class="md-card-toolbar">
            <h3 class="md-card-toolbar-heading-text">
                <i class="material-icons">&#xE894;</i>&nbsp;&nbsp;Tìm Kiếm
            </h3>
        </div>
        <div id="formSearch" class="md-card-content">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.ApprovalTypeList)
                    @Html.DropDownListFor(model => model.ApprovalType, Model.ApprovalTypeList, new { @class = "md-input label-fixed" })
                </div>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.StatusList)
                    @Html.DropDownListFor(model => model.StatusCode, Model.StatusList, "[ Chọn ]", new { @class = "md-input label-fixed" })
                </div>
                
            </div>
        </div>
    </div>
    <div class="md-card">
        <div class="md-card-toolbar">
            <div class="md-card-toolbar-actions">
                <i class="md-icon material-icons md-card-fullscreen-activate toolbar_fixed">&#xE5D0;</i>
            </div>
            <h3 class="md-card-toolbar-heading-text">
                <i class="material-icons">&#xE894;</i>&nbsp;&nbsp;@ViewBag.Title
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-overflow-container">
                <table id="jqGrid"></table>
                <div id="jqGridPager"></div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            LoadGrid(BuildURL());
            $('#ApprovalType, #StatusCode').change(function () {
                ReloadGrid(BuildURL());
            });
        });

        function LoadGrid(url) {
            $("#jqGrid").jqGrid({
                url: url,
                mtype: "get",
                datatype: "json",
                colNames: [
					'Loại Phiếu'
                    , 'Số Chứng Từ'
                    , 'Người Duyệt'
                    , 'Ngày Chứng Từ'
                    , 'Nội Dung Duyệt'
                    , 'Trạng Thái'
				],
                colModel: [
                    { name: 'ApprovalTypeName', index: 'ApprovalTypeName', width: 80 }
                    , { name: 'Code', index: 'Code', formatter: NoFormatter, width: 80 }
                    , { name: 'ApprovalName', index: 'ApprovalName', width: 80 }
                    , { name: 'DocumentDateStr', index: 'DocumentDate', align: 'center', width: 80 }
                    , { name: 'Desc', index: 'Desc' }
                    , { name: 'StatusName', index: 'StatusName', width: 80 }
				],
                rowNum: 20,
                rowList: [20, 40, 60, 80, 100],
                pager: '#jqGridPager',
                sortname: 'Code',
                viewrecords: true,
                autowidth: true,
                height: "100%",
                sortorder: "asc",
                multiselect: true,
                rownumbers: true,
                viewsortcols: [true, 'vertical', true],
                loadComplete: function () {
                    jqGrid_resize('jqGrid');
                    gridSearch('jqGrid', 'search-button');
					GetDetails();
                },
                jsonReader: {
                    root: "Rows",
                    page: "jqGridPager",
                    total: "Total",
                    records: "Records",
                    repeatitems: false,
                    id: "Code"
                }
            });
            $("#jqGrid").jqGrid('navGrid', '#jqGridPager',
                    { edit: false, add: false, del: false }, {}, {}, {},
                    {
                        multipleSearch: true,
                        closeOnEscape: true,
                        closeAfterSearch: true,
                        showQuery: true,
                        searchOnEnter: true,
                        sopt: ['cn', 'eq', 'ne', 'lt', 'le', 'gt', 'ge']
                    }
                );
        }

        function NoFormatter(cellvalue, options, rowObject) {
            return '<strong><a href="@Url.Action("Online/", "Approval", new { area = "Approval" })?k=' + encodeURIComponent(rowObject.Key) + '" title="Xem chi tiết" name="Details" data-uk-tooltip="{pos:\'top\'}">' + cellvalue + '</a></strong>';
        }

		function GetDetails() {
            $('[name="Details"]').click(function () {
                var idx = $('[name="Details"]').index($(this));
                $(location).attr('href', $('[name="Details"]:eq(' + idx + ')').attr('href'));
            });
            gcHotkey._view();
        }
        function ReloadGrid(url) {
            $("#jqGrid").setGridParam({ url: url, page: 1 }).trigger("reloadGrid");
        }
        function BuildURL() {
            var stringUrl = '@Url.Action("LoadData", "Approval", new { area = "Approval" })';
            stringUrl += '?sc=' + $('#StatusCode option:selected').val();
            stringUrl += '&at=' + $('#ApprovalType option:selected').val();
            return encodeURI(stringUrl);
        }
    </script>    
}
