﻿@model GCSOFT.MVC.Web.Areas.Approval.Data.FlowApproval
@{
    ViewBag.Title = "Duyệt Chứng Từ";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Online", "Approval", FormMethod.Post, new { @id = "frm", @class = "uk-form-stacked", @autocomplete = "off", @enctype = "multipart/form-data" }))
{
    <div id="page_content_inner" class="hierarchical_slide">
        <div class="md-card">
            <div class="md-card-toolbar">
                <h3 class="md-card-toolbar-heading-text">
                    <i class="material-icons">&#xE896;</i>&nbsp;&nbsp;Danh Sách Người Duyệt
                </h3>
            </div>
            <div class="md-card-content">
                @if (Model.ApprovalList != null)
                {
                    int stt = 0;
                    var ApprovalList = Model.ApprovalList.ToList();
                    foreach (var item in Model.ApprovalList)
                    {
                        <div class="uk-grid tr" data-uk-grid-margin>
                            <div class="uk-width-medium-1-10 uk-text-center">
                                <p class="uk-text-large">@(++stt)</p>
                            </div>
                            <div class="uk-width-medium-1-10">
                                @Html.LabelFor(d => ApprovalList[stt - 1].GroupCode)
                                @Html.TextBoxFor(d => ApprovalList[stt - 1].GroupName, new { @class = "md-input label-fixed", @readonly = true })
                            </div>
                            <div class="uk-width-medium-3-10">
                                @Html.LabelFor(d => ApprovalList[stt - 1].ApprovalNo)
                                @Html.TextBoxFor(d => ApprovalList[stt - 1].ApprovalName, new { @class = "md-input label-fixed", @readonly = true })
                            </div>
                            <div class="uk-width-medium-1-10">
                                @Html.LabelFor(d => ApprovalList[stt - 1].StatusName)
                                @Html.TextBoxFor(d => ApprovalList[stt - 1].StatusName, new { @class = "md-input label-fixed", @readonly = true })
                                @Html.HiddenFor(d => ApprovalList[stt - 1].StatusCode)
                                @Html.HiddenFor(d => ApprovalList[stt - 1].DateCfm)
                                @Html.HiddenFor(d => ApprovalList[stt - 1].GroupCode)
                            </div>
                            <div class="uk-width-medium-1-10">
                                @Html.LabelFor(d => ApprovalList[stt - 1].DateCfmStr)
                                @Html.TextBoxFor(d => ApprovalList[stt - 1].DateCfmStr, new { @class = "md-input label-fixed", @readonly = true })
                            </div>
                            <div class="uk-width-medium-3-10">
                                @Html.LabelFor(d => ApprovalList[stt - 1].Remark)
                                @Html.TextBoxFor(d => ApprovalList[stt - 1].Remark, new { @class = "md-input label-fixed", @readonly = true })
                            </div>
                        </div>
                    }
                }
            </div>
        </div>

        <div class="md-card">
            <div class="md-card-toolbar">
                <div class="md-card-toolbar-actions">
                    <i class="md-icon material-icons md-card-toggle">&#xE316;</i>
                </div>
                <h3 class="md-card-toolbar-heading-text">
                    <i class="material-icons">&#xE894;</i>&nbsp;&nbsp;@ViewBag.Title
                    @Html.HiddenFor(model => model.Type)
                </h3>
            </div>
            <div class="md-card-content">
                <div class="uk-margin-bottom" data-uk-margin>
                    <a id="btnReject" name="ApprovalOrReject" class="md-btn md-btn-danger md-btn-small md-btn-wave-light md-btn-icon" href="javascript:void(0)" accesskey="300">
                        <i class="material-icons">thumb_down_alt</i>
                        Không Đồng Ý
                    </a>
                    <a id="btnApproval" name="ApprovalOrReject" class="md-btn md-btn-primary md-btn-small md-btn-wave-light md-btn-icon" href="javascript:void(0)" accesskey="200">
                        <i class="material-icons">thumb_up_alt</i>
                        Đồng Ý
                    </a>
                </div>
                <hr />
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-1">
                        <div class="uk-input-group">
                            @Html.LabelFor(model => model.Description)
                            @Html.TextBoxFor(model => model.Description, new { @class = "md-input label-fixed", @readonly = true })
                            <span class="uk-input-group-addon"><a class="md-btn md-btn-flat md-btn-flat-primary md-btn-wave waves-effect waves-button" href="javascript:void(0);" id="btnViewDoc">Xem Chứng Từ Gốc</a></span>
                        </div>
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.Remark)
                        @Html.TextAreaFor(model => model.Remark, new { @cols = "30", @rows = "3", @class = "md-input" })
                        @Html.HiddenFor(model => model.Type)
                        @Html.HiddenFor(model => model.Type2)
                        @Html.HiddenFor(model => model.Code)
                        @Html.HiddenFor(model => model.ApprovalNo)
                        @Html.HiddenFor(model => model.Priority)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="md-fab-wrapper">
        <a class="md-fab md-fab-primary md-fab-wave-light md-fab-small" href="@Url.Action("Index", "Approval", new { area = "Approval" })" data-uk-tooltip="{pos:'top'}" title="Quay Lại">
            <i class="material-icons">&#xE30F;</i>
        </a>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            if ($.urlParam('msg') == '2') {
                $().toastmessage('showToast', {
                    text: 'Đơn Đặt Hàng Đã Duyệt Thành Công.',
                    sticky: false,
                    position: 'top-center',
                    type: 'success'
                });
            }
            if ($.urlParam('msg') == '3') {
                $().toastmessage('showToast', {
                    text: 'Bạn đã không duyệt đơn đặt hàng.',
                    sticky: false,
                    position: 'top-center',
                    type: 'success'
                });
            }
            $('[name="ApprovalOrReject"]').click(function () {
                var statusId = $(this).attr('accesskey');
                var type = $('#Type2').val();
                var code = $('#Code').val();
                var priority = $('#Priority').val();
                var remark = $('#Remark').val();
                BlockUI();
                $.post(UrlApproval(), { t: type, c: code, s: statusId, p: priority, r: remark }, function (data) {
                    if (data.s == 'Error') {
                        $().toastmessage('showToast', {
                            text: data.m,
                            sticky: false,
                            position: 'top-center',
                            type: 'success'
                        });
                    } else {
                        var msg = '&msg=2';
                        if (data.status == '300') {
                            var msg = '&msg=3';
                        }
                        window.location.href = '@Url.Action("Online/", "Approval", new { area = "Approval" })?k=' + encodeURIComponent('@Model.key') + msg;
                    }
                });
            });
            $('#btnViewDoc').click(function () {
                window.open(UrlDoc() + $('#Code').val(), '_blank');
            });
        });
        function UrlApproval() {
            var type = $('#Type').val();
            var url = '';
            if (type == 'PurchaseOrder') {
                url = '@Url.Action("ApprovalOrRejcectPO", "Approval", new { area = "Approval" })';
            } else if (type == 'Convert') {
                url = '@Url.Action("ApprovalOrRejcect", "RetailApproval", new { area = "Approval" })';
            }
            return url;
        }
        function UrlDoc() {
            var type = $('#Type').val();
            var url = '';
            if (type == 'PurchaseOrder') {
                url = '@Url.Action("Edit/", "PurchaseOrder", new { area = "Transaction" })';
            } else if (type == 'Convert') {
                url = '@Url.Action("Edit/", "ConvertCard", new { area = "Transaction" })';
            }
            return url;
        }
    </script>
}
