﻿@model IEnumerable<GCSOFT.MVC.AGENCY.ViewModels.dtht.StudentLeadList>
<div class="md-card uk-margin-medium-bottom">
    <div class="md-card-toolbar">
        <h3 class="md-card-toolbar-heading-text uk-text-primary">
            <strong>PHẦN 2: THÔNG TIN VỀ OUTLIER</strong>
        </h3>
    </div>
    <div class="md-card-content">
        <div class="uk-overflow-container">
            <table class="uk-table uk-table-nowrap table_check">
                <thead>
                    <tr>
                        <th><strong>Họ và tên Outlier</strong></th>
                        <th><strong>Khóa Học</strong></th>
                        <th class="uk-width-1-10"><strong>Thời Lượng</strong></th>
                        <th class="uk-width-1-10 uk-text-center"><strong>Hành động</strong></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.FullName</td>
                            <td>@item.CourseName</td>
                            <td>@item.TimeOfCourseName</td>
                            <td class="uk-text-center">
                                <a name="btnEdit" href="@Url.Action("EditStudent", "StudentLead", new { Id = item.Id })" class="md-btn md-btn-flat md-btn-flat-primary md-btn-wave waves-effect waves-button">Sửa</a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>

</div>