﻿@model  GCSOFT.MVC.Web.ViewModels.SystemViewModels.PhanQuyen
@{
    int stt = 0;
    var vMOptionLineList = Model.VMOptionLineList.ToList();
}
@using (Html.BeginForm("PopupPhanQuyen", "Student", FormMethod.Post, new { @id = "frm1", @class = "uk-form-stacked" }))
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/cms/js/altair_admin_common.js")"></script>
    <div class="md-card">
        <div class="md-card-toolbar">
            <div class="md-card-toolbar-actions">
                <i class="md-icon material-icons md-card-toggle">&#xE316;</i>
            </div>
            <h3 class="md-card-toolbar-heading-text">
                <i class="material-icons">&#xE896;</i>&nbsp;&nbsp;Chọn Vụ Việc
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-overflow-container">
                @Html.HiddenFor(model=>model.UserName)
                <table class="uk-table uk-table-hover">
                    <thead>
                        <tr>
                            <th class="uk-width-1-10 uk-text-nowrap">STT</th>
                            <th class="uk-width-1-10 uk-text-nowrap">Mã Vụ Việc</th>
                            <th class="uk-width-3-10 uk-text-nowrap">Tên Vụ Việc</th>
                            <th class="uk-text-nowrap">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.VMOptionLineList)
                        {
                            <tr>
                                <td>@(++stt)</td>
                                <td>
                                    @Html.HiddenFor(model => vMOptionLineList[stt - 1].Code)
                                    @item.Code
                                </td>
                                <td>
                                    @Html.HiddenFor(model => vMOptionLineList[stt - 1].Name)
                                    @item.Name
                                </td>
                                <td class="uk-text-right">
                                    @Html.CheckBoxFor(model => vMOptionLineList[stt - 1].Check, new Dictionary<string, Object>
                                            {
                                               
                                                {"class","phanQuyen" }
                                            })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="uk-grid uk-margin-medium-top">
                <div class="uk-width-1-1 uk-text-right">
                    <button id="btnSavePhanQuyen" type="button" class="md-btn md-btn-primary">Lưu</button>
                </div>
            </div>
        </div>
        
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#btnSavePhanQuyen').click(function () {
            if (!ValidatePetSelection()) {
                var objFrom = $('#frm1');
                var options = {
                    beforeSend: function () {
                        NProgress.start();
                        NProgress.set(0.4);
                    },
                    uploadProgress: function (event, position, total, percentComplete) {
                        NProgress.set(0.7);
                    },
                    success: function () {
                        NProgress.done();
                    },
                    complete: function (response) {
                        $().toastmessage('showToast', {
                            text: "Thêm thành công!",
                            sticky: false,
                            position: 'top-center',
                            type: 'success'
                        });
                        $.fancybox.close();
                    },
                    error: function () {
                        $().toastmessage('showErrorToast', "Lỗi, Vui lòng liên hệ với quản trị viên để được hổ trợ");
                    }
                }

                var flag = $.validation(objFrom);
                if (flag) {
                    objFrom.ajaxForm(options).submit();
                }
            }

        });
        $('input[type="checkbox"]').on('change', function () {
            var checkedValue = $(this).prop('checked');
            // uncheck sibling checkboxes (checkboxes on the same row)
            $(this).closest('table').find('input[type="checkbox"]').each(function () {
                $(this).prop('checked', false);
            });
            $(this).prop("checked", checkedValue);

        });
    });

    function ValidatePetSelection() {
        var checkboxes = document.getElementsByClassName("phanQuyen");
        var numberOfCheckedItems = 0;
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked)
                numberOfCheckedItems++;
        }
        if (numberOfCheckedItems > 1) {
            alert("Vui lòng chọn 1 vụ việc!");
            return true;
        }
        return false;
    }
</script>