﻿@model IEnumerable<GCSOFT.MVC.Model.StoreProcedue.SpAgencyBuy2Child>
<div class="uk-width-medium-1-1">
    <div class="md-card">
        <div class="md-card-content">
            <h3 class="heading_a uk-margin-bottom">Thông Tin Đại Lý</h3>
            <div class="uk-overflow-container">
                <table class="uk-table uk-table-striped uk-table-hover tabler">
                    <thead>
                        <tr>
                            <th><strong>STT</strong></th>
                            <th><strong>Tên Đại Lý</strong></th>
                            <th><strong>Số Điện Thoại</strong></th>
                            <th><strong>Email</strong></th>
                            <th class="uk-text-right"><strong>Số Thẻ<br />Đang Có</strong></th>
                            <th class="uk-text-right"><strong>Thẻ Đã Bán</strong></th>
                            <th class="uk-text-right"><strong>Thẻ Đã Giao<br />Đại Lý, CTV</strong></th>
                            <th class="uk-text-right"><strong>Thẻ Còn Lại</strong></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int stt = 0; }
                        @foreach (var item in Model)
                        {
                            <tr class="uk-table-middle">
                                <td>
                                    @(stt +=1 )
                                </td>
                                <td>@item.FullName</td>
                                <td>@item.Level</td>
                                <td>@item.AgencyType</td>
                                <td>@item.ParentName</td>
                                <td class="uk-text-right">@string.Format("{0:#,##0}", item.SoTheDangCo)</td>
                                <td class="uk-text-right">@string.Format("{0:#,##0}", item.TheDaban)</td>
                                <td class="uk-text-right">@string.Format("{0:#,##0}", item.TheDaBanDaiLyCTV)</td>
                                <td class="uk-text-right">@string.Format("{0:#,##0}", item.TheConLai)</td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                            <th class="uk-text-right"><strong>@string.Format("{0:#,##0}", Model.Sum(d => d.SoTheDangCo))</strong></th>
                            <th class="uk-text-right"><strong>@string.Format("{0:#,##0}", Model.Sum(d => d.TheDaban))</strong></th>
                            <th class="uk-text-right"><strong>@string.Format("{0:#,##0}", Model.Sum(d => d.TheDaBanDaiLyCTV))</strong></th>
                            <th class="uk-text-right"><strong>@string.Format("{0:#,##0}", Model.Sum(d => d.TheConLai))</strong></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>