﻿@model IEnumerable<GCSOFT.MVC.AGENCY.Areas.Agency.Data.AgencyList>

@{
    ViewBag.Title = "DANH SÁCH ĐẠI LÝ BÁN";
}
<div id="page_content_inner">
    <div class="uk-grid" data-uk-grid-margin data-uk-grid-match="{target:'.md-card-content'}">
        <div class="uk-width-medium-1-1">
            @using (Html.BeginForm("AgencyBuy2Child", "AgencyInfo", FormMethod.Post, new { @id = "frmAgency", @class = "uk-form-stacked", @autocomplete = "off" }))
            {
                <div class="md-card">
                    <div class="md-card-content">
                        <div class="uk-grid" data-uk-grid-margin>
                            <div class="uk-width-medium-1-4">
                                <label for="LastToDate">Từ Ngày</label>
                                <input class="md-input label-fixed validate[required,funcCall[DateFormat[]]" data-uk-datepicker="{format:'DD/MM/YYYY'}" id="FromDate" name="FromDate" placeholder="dd/MM/yyyy" type="text" value="@ViewBag.FromDate">
                            </div>
                            <div class="uk-width-medium-1-4">
                                <label for="LastToDate">Đến Ngày</label>
                                <input class="md-input label-fixed validate[required,funcCall[DateFormat[]]" data-uk-datepicker="{format:'DD/MM/YYYY'}" id="ToDate" name="ToDate" placeholder="dd/MM/yyyy" type="text" value="@ViewBag.ToDate">
                            </div>
                            <div class="uk-width-medium-1-2 uk-text-right">
                                <a href="javascript:void(0);" id="btnSearch" class="md-btn md-btn-primary uk-margin-small-top"><i class="material-icons">&#xE8B6;</i> Xem Báo Cáo</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div id="loadGeneralInfo" class="uk-grid" data-uk-grid-margin data-uk-grid-match="{target:'.md-card-content'}">

    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnSearch').click(function () {
                var flag = $('#frmAgency').validationEngine('validate');
                if (flag) {
                    $('#btnSearch').addClass("disabled").html('Đang lấy báo cáo ...');
                    $('#loadGeneralInfo').load('@Url.Action("RptAgencyInfo", "Report", new { area = "Agency" })'
                        , { fd: $('#FromDate').val(), td: $('#ToDate').val() }
                        , function (responseTxt, statusTxt, xhr) {
                        if (statusTxt == "error") {
                            alert("Error: " + xhr.status + ": " + xhr.statusText);
                        } else {
                            $('html,body').animate({
                                scrollTop: $("#btnSearch").offset().top
                            }, 'slow');
                            $().toastmessage('showToast', {
                                text: 'Đã tải xong báo cáo.',
                                sticky: false,
                                position: 'top-center',
                                type: 'success'
                            });
                            $('#btnSearch').removeClass("disabled").html('<i class="material-icons">&#xE8B6;</i> Xem Báo Cáo');
                        }
                    });
                }
            });
        });
        function DateFormat(field, rules, i, options) {
            var regex = /^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$/;
            if (!regex.test(field.val())) {
                return "Vui lòng nhập ngày theo định dạng dd/MM/yyyy.";
            }
        }
    </script>
}