﻿@model GCSOFT.MVC.AGENCY.Areas.Agency.Data.DataPostBD
@{
    ViewBag.Title = "Danh Sách Danh Thu";
}
<div id="page_content_inner">
    <div class="md-card">
        <div class="md-card-toolbar">
            <h3 class="md-card-toolbar-heading-text">
                Tìm kiếm
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    <div class="parsley-row">
                        <label for="Type">Danh Sách Đại Lý</label>
                        @Html.DropDownListFor(model => model.AgencyId, Model.AgencyDDL, "[ Chọn ]", new { @class = "md-input label-fixed" })
                    </div>
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-4">
                    <label for="Type">Từ Ngày</label>
                    @Html.TextBoxFor(model => model.FromDateStr
                                         , new Dictionary<string, Object> {
                                                { "class", "md-input label-fixed validate[required,funcCall[DateFormat[]]" }
                                                , { "autocomplete", "off" }
                                                , { "placeholder", "dd/MM/yyyy" }
                                                , { "data-uk-datepicker", "{format:'DD/MM/YYYY'}" }
                                         })
                </div>
                <div class="uk-width-medium-1-4">
                    <label for="Type">Đến Ngày</label>
                    @Html.TextBoxFor(model => model.ToDateStr
                                         , new Dictionary<string, Object> {
                                                { "class", "md-input label-fixed validate[required,funcCall[DateFormat[]]" }
                                                , { "autocomplete", "off" }
                                                , { "placeholder", "dd/MM/yyyy" }
                                                , { "data-uk-datepicker", "{format:'DD/MM/YYYY'}" }
                                         })
                </div>
                <div class="uk-width-medium-1-4">
                    <label for="Type">Số Điện Thoại</label>
                    @Html.TextBoxFor(model => model.PhoneNo, new { @class = "md-input label-fixed" })
                </div>
                <div class="uk-width-medium-1-4">
                    <label for="Type">Email</label>
                    @Html.TextBoxFor(model => model.Email, new { @class = "md-input label-fixed" })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1 uk-text-right">
                    <a id="btnSearch" href="javascript:void(0);" class="md-btn md-btn-primary uk-margin-small-top"><i class="material-icons">&#xE8B6;</i> Tìm Kiếm</a>
                    <a id="btnDownload" href="javascript:void(0);" class="md-btn md-btn-primary uk-margin-small-top"> Download</a>
                </div>
            </div>
        </div>
    </div>
    <div class="md-card">
        <div class="md-card-toolbar">
            <h3 class="md-card-toolbar-heading-text">
                @ViewBag.Title
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-overflow-container">
                <table class="uk-table uk-table-nowrap table_check">
                    <thead>
                        <tr>
                            <th class="uk-width-1-10 uk-text-center"><strong>STT</strong></th>
                            <th class="uk-width-1-10"><strong>Bưu Điện</strong></th>
                            <th class="uk-width-1-10"><strong>Cấp Độ</strong></th>
                            <th class="uk-width-1-10"><strong>Thời Gian</strong></th>
                            <th class="uk-width-1-10"><strong>Đơn Vị Tính</strong></th>
                            <th class="uk-width-1-10"><strong>Số Lượng</strong></th>
                            <th class="uk-width-1-10"><strong>Doanh Số</strong></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int stt = 0; }
                        @foreach (var item in Model.DataPostBDList)
                        {
                            <tr>
                                <td class="uk-text-center">@(++stt)</td>
                                <td>@item.FullName</td>
                                <td>@item.ItemName</td>
                                <td>@item.Duration</td>
                                <td>@item.Unit</td>
                                <td class="uk-text-right">@item.Actual</td>
                                <td class="uk-text-right">@string.Format("{0:#,##0}", item.TotalAmount)</td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="uk-text-center">&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td class="uk-text-bold">Tổng cộng</td>
                            <td class="uk-text-bold uk-text-right">@string.Format("{0:#,##0}", Model.DataPostBDList.Sum(d => d.Actual))</td>
                            <td class="uk-text-bold uk-text-right">@string.Format("{0:#,##0}", Model.DataPostBDList.Sum(d => d.TotalAmount))</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="@Url.Content("~/Scripts/cms/vendor/paging/pajinatify.js")"></script>
<link type="text/css" href="@Url.Content("~/Scripts/cms/vendor/paging/pajinatify.css")" rel="stylesheet" />
<script type="text/javascript">
    $(document).ready(function () {
        
        $('#btnSearch').click(function () {
            window.location.href = '@Url.Action("DataPostBD", "Report", new { area = "Agency" })' + '?' + querySearch();
        });
        $('select').select2({
            selectOnClose: true
        });
        $('#btnDownload').click(function () {
            var url = '/Agency/Report/DownloadDataPostBD?' + querySearch();
            $(location).attr('href', url);
        });
       
    });
    function querySearch() {
        return 'fd=' + $('#FromDateStr').val() +
            '&td=' + $('#ToDateStr').val() +
            '&SearchAgencyId=' + $('#AgencyId option:selected').val() 
            '&PhoneNo=' + $('#PhoneNo').val() +
            '&Email=' + $('#Email').val() ;
    }
    function DateFormat(field, rules, i, options) {
        var regex = /^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$/;
        if (!regex.test(field.val())) {
            return "Vui lòng nhập ngày theo định dạng dd/MM/yyyy.";
        }
    }
    
</script>