﻿@model GCSOFT.MVC.AGENCY.Areas.Agency.Data.DetailCustomerAgency
@{
    ViewBag.Title = "Danh Sách Chi Tiết Khách Hàng";
}
<div id="page_content_inner">
    <div class="md-card">
        <div class="md-card-toolbar">
            <h3 class="md-card-toolbar-heading-text">
                Tìm kiếm
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    <div class="parsley-row">
                        <label for="Type">Danh Sách Đại Lý</label>
                        @Html.DropDownListFor(model => model.AgencyId, Model.AgencyDDL, "[ Chọn ]", new { @class = "md-input label-fixed" })
                    </div>
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-3">
                    <label for="Type">Ngày</label>
                    @Html.DropDownListFor(model => model.ViewBy, Model.ViewByList, new { @class = "md-input label-fixed" })
                </div>
                <div class="uk-width-medium-1-3">
                    <label for="Type">Từ Ngày</label>
                    @Html.TextBoxFor(model => model.FromDateStr
                                         , new Dictionary<string, Object> {
                                                { "class", "md-input label-fixed validate[required,funcCall[DateFormat[]]" }
                                                , { "autocomplete", "off" }
                                                , { "placeholder", "dd/MM/yyyy" }
                                                , { "data-uk-datepicker", "{format:'DD/MM/YYYY'}" }
                                         })
                </div>
                <div class="uk-width-medium-1-3">
                    <label for="Type">Đến Ngày</label>
                    @Html.TextBoxFor(model => model.ToDateStr
                                         , new Dictionary<string, Object> {
                                                { "class", "md-input label-fixed validate[required,funcCall[DateFormat[]]" }
                                                , { "autocomplete", "off" }
                                                , { "placeholder", "dd/MM/yyyy" }
                                                , { "data-uk-datepicker", "{format:'DD/MM/YYYY'}" }
                                         })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-4">
                    <div class="parsley-row">
                        <label for="Type">Loại Thẻ</label>
                        @Html.DropDownListFor(model => model.LevelCode, Model.LevelList, "[ Chọn ]", new { @class = "md-input label-fixed" })
                    </div>
                </div>
                <div class="uk-width-medium-1-4">
                    <label for="Type">Trạng Thái</label>
                    @Html.DropDownListFor(model => model.CardStatus, Model.CardStatusList, "[ Chọn ]", new { @class = "md-input label-fixed" })
                </div>
                <div class="uk-width-medium-1-4">
                    <label for="Type">Seri Number</label>
                    @Html.TextBoxFor(model => model.SeriNumber, new { @class = "md-input label-fixed" })
                </div>
                <div class="uk-width-medium-1-4">
                    <label for="Type">Mã Kích Hoạt</label>
                    @Html.TextBoxFor(model => model.CardNo, new { @class = "md-input label-fixed" })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-3">
                    <label for="Type">Người mua</label>
                    @Html.TextBoxFor(model => model.FullName, new { @class = "md-input label-fixed" })
                </div>
                <div class="uk-width-medium-1-3">
                    <label for="Type">Số Điện Thoại</label>
                    @Html.TextBoxFor(model => model.PhoneNo, new { @class = "md-input label-fixed" })
                </div>
                <div class="uk-width-medium-1-3">
                    <label for="Type">Email</label>
                    @Html.TextBoxFor(model => model.Email, new { @class = "md-input label-fixed" })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1 uk-text-right">
                    <a id="btnSearch" href="javascript:void(0);" class="md-btn md-btn-primary uk-margin-small-top"><i class="material-icons">&#xE8B6;</i> Tìm Kiếm</a>
                    <a id="btnDownload" href="javascript:void(0);" class="md-btn md-btn-primary uk-margin-small-top"> Download</a>
                </div>
            </div>
        </div>
    </div>
    <div class="md-card">
        <div class="md-card-toolbar">
            <h3 class="md-card-toolbar-heading-text">
                @ViewBag.Title
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-overflow-container">
                <table class="uk-table uk-table-nowrap table_check">
                    <thead>
                        <tr>
                            <th class="uk-width-1-10 uk-text-center"><strong>STT</strong></th>
                            <th class="uk-width-1-10"><strong>Đối Tác Tuyến Trên</strong></th>
                            <th class="uk-width-1-10"><strong>Đối Tác Bán Hàng</strong></th>
                            <th class="uk-width-1-10"><strong>Người Mua</strong></th>
                            <th class="uk-width-1-10"><strong>Seri Number</strong></th>
                            <th class="uk-width-1-10"><strong>Ngày Mua</strong></th>
                            <th class="uk-width-1-10"><strong>Kích Hoạt Bởi</strong></th>
                            <th class="uk-width-1-10"><strong>Loại Thẻ</strong></th>
                            <th class="uk-width-1-10"><strong>Hành Động</strong></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int stt = Model.Paging.startIndex; }
                        @foreach (var item in Model.CustAgencyList)
                        {
                            <tr>
                                <td class="uk-text-center">@(++stt)</td>
                                <td>- @item.ParentAgencyName <br /> - @item.AgencyTree</td>
                                <td>- @item.AgencyName <br /> - @item.AgencyPhone<br /> -  @item.AgencyEmail<br /> -  @item.AgencyDistrictName, @item.AgencyCityName</td>
                                <td>- @item.FulName<br />  - @item.PhoneNo<br />  - @item.VerifyInfo</td>
                                <td>@item.SerialNumber</td>
                                <td>@item.DateBuy</td>
                                <td> - @item.ApplyUser<br />  - @item.DateActive</td>
                                <td> - @item.LevelName<br />  - @item.DurationName<br />  - @item.HinhThucBan<br />  - @item.TrangThaiThe</td>
                                <td>
                                    @if (item.AllowRecall)
                                    {
                                        <a class="md-btn md-btn-warning md-btn-wave-light" href="javascript:void(0)" name="recallCard" id="@item.SerialNumber" accesskey="@item.AgencyId"><i class="material-icons">style</i>&nbsp;Thu Hồi</a>

                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="pagination" data-total-count="@Model.Paging.TotalRows" data-take="@Model.Paging.PerPage"></div>
        </div>
    </div>
</div>
<script type="text/javascript" src="@Url.Content("~/Scripts/cms/vendor/paging/pajinatify.js")"></script>
<link type="text/css" href="@Url.Content("~/Scripts/cms/vendor/paging/pajinatify.css")" rel="stylesheet" />
<script type="text/javascript">
    $(document).ready(function () {
        $('.pagination').pajinatify();
        $('.pagination').pajinatify('set', @Model.Paging.CurPage, @Model.Paging.TotalRows);
        $('.pajinatify__button').click(function () {
            var p = $(this).attr('data-page');
            window.location.href = '@Url.Action("DetailCustomer", "Report", new { area = "Report" })' + '?p=' + p + querySearch();
        });
        $('#btnSearch').click(function () {
            window.location.href = '@Url.Action("DetailCustomer", "Report", new { area = "Agency" })' + '?p=0' + querySearch();
        });
        $('select').select2({
            selectOnClose: true
        });
        $('#btnDownload').click(function () {
            var url = '/Agency/Report/DownloadDetailCustomer?p=0' + querySearch();
            $(location).attr('href', url);
        });
        $('[name="recallCard"]').each(function (index) {
            var seriNumber = $(this).attr('id');
            var agencyId = $(this).attr('accesskey');
             OpenDialog($(this), '@Url.Action("PopupRecallCard", "Report", new { area = "Agency" })' + '?agencyId=' + agencyId +'&seriNumber='+seriNumber , '');
        });



    });
    function querySearch() {
        return '&ViewBy=' + $('#ViewBy').val() +
            '&fd=' + $('#FromDateStr').val() +
            '&td=' + $('#ToDateStr').val() +
            '&AgencyId=' + $('#AgencyId option:selected').val() +
            '&CardNo=' + $('#CardNo').val() +
            '&LevelCode=' + $('#LevelCode option:selected').val() +
            '&SeriNumber=' + $('#SeriNumber').val() +
            '&FullName=' + $('#FullName').val() +
            '&PhoneNo=' + $('#PhoneNo').val() +
            '&Email=' + $('#Email').val() +
            '&CardStatus=' + $('#CardStatus option:selected').val();
    }
    function DateFormat(field, rules, i, options) {
        var regex = /^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$/;
        if (!regex.test(field.val())) {
            return "Vui lòng nhập ngày theo định dạng dd/MM/yyyy.";
        }
    }
    function DateReason(field, rules, i, options) {

        if (field.val() == '') {
            return "Vui lòng nhập lý do!";
        }
    }
</script>