﻿@model GCSOFT.MVC.AGENCY.ViewModels.dtht.StudentLeadCard
<div id="page_content_inner" class="hierarchical_slide">
    @if (ViewBag.isBirth == "error")
    {
        <div id="msgOrder" class="uk-alert uk-alert-danger" data-uk-alert>
            Vui lòng chọn Giấy Khai Sinh
        </div>
    }
    <div class="md-card">
        <div class="md-card-toolbar">
            <h3 class="md-card-toolbar-heading-text">
                <i class="material-icons">&#xE894;</i>&nbsp;&nbsp;@ViewBag.Title
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.ParentIDno)
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-2">
                    @Html.LabelFor(model => model.CourseCode) <br />
                    @Html.DropDownListFor(model => model.CourseCode, Model.CourseList, "[ Chọn ]", new { @class = "md-input label-fixed validate[required]" })
                </div>
                <div class="uk-width-medium-1-2">
                    @Html.LabelFor(model => model.TimeOfCourseCode) <br />
                    @Html.DropDownListFor(model => model.TimeOfCourseCode, Model.TimeOfCourseList, "[ Chọn ]", new { @class = "md-input label-fixed validate[required]" })
                    <span class="uk-form-help-block">Thời lượng khóa học đã đăng ký (tùy thuộc vào chính sách mua hàng và chính sách tặng cho Đối tác Siêu Trí Nhớ Học Đường vào mỗi thời điểm, vui lòng liên hệ nhân viên tư vấn trực tiếp của Tâm Trí Lực để được hỗ trợ xác nhận số năm học của Outlier)</span>
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-2-6">
                    @Html.LabelFor(model => model.FullName)
                    @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "md-input validate[required]" } })
                </div>
                <div class="uk-width-medium-1-6">
                    @Html.LabelFor(model => model.GenderCode) <br />
                    @Html.DropDownListFor(model => model.GenderCode, Model.GenderList, "[ Chọn ]", new { @class = "md-input label-fixed validate[required]" })
                </div>
                <div class="uk-width-medium-1-6">
                    @Html.LabelFor(model => model.DateOfBirth) <br />
                    @Html.DropDownListFor(model => model.DateOfBirth, Model.DateOfBirthList, "[ Chọn ]", new { @class = "md-input label-fixed validate[required]" })
                </div>
                <div class="uk-width-medium-1-6">
                    @Html.LabelFor(model => model.MonthOfBirth) <br />
                    @Html.DropDownListFor(model => model.MonthOfBirth, Model.MonthOfBirthList, "[ Chọn ]", new { @class = "md-input label-fixed validate[required]" })
                </div>
                <div class="uk-width-medium-1-6">
                    @Html.LabelFor(model => model.YearOfBirth)
                    @Html.EditorFor(model => model.YearOfBirth, new { htmlAttributes = new { @class = "md-input validate[required]" } })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.BirthCertificate, new { @class = "uk-text-primary uk-text-bold" })
                    <div id="divImg">
                        @if (!string.IsNullOrEmpty(Model.BirthCertificate))
                        {
                            <button name="btnRemoveImg" type="button" class="uk-modal-close uk-close uk-close-alt uk-position-absolute" accesskey="imgShow"></button>
                            <img src="@Model.BirthCertificate" class="img_small" accesskey="imgShow" />
                        }
                        else
                        {
                            @*<input name="fileUpload" data-label="Upload" type="file" />*@
                            @Html.TextBoxFor(d => d.FileUpload
                                               , new Dictionary<string, Object> {
                                                   { "data-label", "Upload" }
                                                   , { "type", "file" }
                                                   , { "class", "dropify" }
                                                   , { "data-show-remove", "false" }
                                                   , { "data-default-file", "" }
                                               })
                        }
                    </div>
                    @Html.HiddenFor(model => model.BirthCertificate)
                </div>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.SchoolName)
                    @Html.EditorFor(model => model.SchoolName, new { htmlAttributes = new { @class = "md-input validate[required]" } })
                </div>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.SchoolClass)
                    @Html.EditorFor(model => model.SchoolClass, new { htmlAttributes = new { @class = "md-input validate[required]" } })
                </div>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.SizeShirtCode) <br />
                    @Html.DropDownListFor(model => model.SizeShirtCode, Model.SizeShirtList, "[ Chọn ]", new { @class = "md-input label-fixed validate[required]" })
                    <br />
                    <button type="button" class="md-btn md-btn-primary" data-uk-modal="{target:'#unisex'}">Size Áo Unisex</button>
                    <button type="button" class="md-btn md-btn-primary" data-uk-modal="{target:'#treem'}">Size Áo Trẻ Em</button>
                    <div class="uk-modal" id="unisex">
                        <div class="uk-modal-dialog uk-modal-dialog-lightbox">
                            <button type="button" class="uk-modal-close uk-close uk-close-alt"></button>
                            <img src="https://firebasestorage.googleapis.com/v0/b/tamtriluc-1a443.appspot.com/o/STNHD%2FUnisex.jpg?alt=media&token=de804fd2-ec9f-4526-a694-225edabd1a6d" alt="" />
                        </div>
                    </div>
                    <div class="uk-modal" id="treem">
                        <div class="uk-modal-dialog uk-modal-dialog-lightbox">
                            <button type="button" class="uk-modal-close uk-close uk-close-alt"></button>
                            <img src="https://firebasestorage.googleapis.com/v0/b/tamtriluc-1a443.appspot.com/o/STNHD%2FTreEm.jpg?alt=media&token=3bf4691b-0035-400d-9378-399b44b3d851" alt="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-2">
                    @Html.LabelFor(model => model.Achievement)
                    @Html.EditorFor(model => model.Achievement, new { htmlAttributes = new { @class = "md-input validate[required]" } })
                    <span class="uk-form-help-block">Một số thành tích mà con đã đạt được là gì? (Ví dụ: học sinh giỏi, đạt giải các cuộc thi…)</span>
                </div>
                <div class="uk-width-medium-1-2">
                    @Html.LabelFor(model => model.Proud)
                    @Html.EditorFor(model => model.Proud, new { htmlAttributes = new { @class = "md-input validate[required]" } })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-2">
                    @Html.LabelFor(model => model.Weakness)
                    @Html.EditorFor(model => model.Weakness, new { htmlAttributes = new { @class = "md-input validate[required]" } })
                </div>
                <div class="uk-width-medium-1-2">
                    @Html.LabelFor(model => model.Dream)
                    @Html.EditorFor(model => model.Dream, new { htmlAttributes = new { @class = "md-input validate[required]" } })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-2">
                    @Html.LabelFor(model => model.hobby)
                    @Html.EditorFor(model => model.hobby, new { htmlAttributes = new { @class = "md-input validate[required]" } })
                </div>
                <div class="uk-width-medium-1-2">
                    @Html.LabelFor(model => model.Habits)
                    @Html.EditorFor(model => model.Habits, new { htmlAttributes = new { @class = "md-input validate[required]" } })
                    <span class="uk-form-help-block">Con thường có những thói quen nào? (Theo ý kiến chia sẻ từ Outlier)</span>
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-2">
                    @Html.LabelFor(model => model.DifficultiesAtSchool)
                    @Html.EditorFor(model => model.DifficultiesAtSchool, new { htmlAttributes = new { @class = "md-input validate[required]" } })
                    <span class="uk-form-help-block">Vui lòng liệt kê 5 khó khăn mà Con của Anh/Chị thường gặp ở nhà (Theo ý kiến chia sẻ từ Outlier)</span>
                </div>
                <div class="uk-width-medium-1-2">
                    @Html.LabelFor(model => model.DifficultiesAtHouse)
                    @Html.EditorFor(model => model.DifficultiesAtHouse, new { htmlAttributes = new { @class = "md-input validate[required]" } })
                    <span class="uk-form-help-block">Con thường lo lắng về những vấn đề nào? (Theo ý kiến chia sẻ từ Outlier)</span>
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-2">
                    @Html.LabelFor(model => model.Worries)
                    @Html.EditorFor(model => model.Worries, new { htmlAttributes = new { @class = "md-input validate[required]" } })
                    <span class="uk-form-help-block">Con thường lo lắng về những vấn đề nào? (Theo ý kiến chia sẻ từ Outlier)</span>
                </div>
                <div class="uk-width-medium-1-2">
                    @Html.LabelFor(model => model.WhoHelping)
                    @Html.EditorFor(model => model.WhoHelping, new { htmlAttributes = new { @class = "md-input validate[required]" } })
                    <span class="uk-form-help-block">Những ai đang giúp con giải quyết các lo lắng đó? (Theo ý kiến chia sẻ từ Outlier)</span>
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-2">
                    @Html.LabelFor(model => model.WantToSolve)
                    @Html.EditorFor(model => model.WantToSolve, new { htmlAttributes = new { @class = "md-input validate[required]" } })
                    <span class="uk-form-help-block">Con muốn những nỗi lo lắng đó được giải quyết như thế nào? (Theo ý kiến chia sẻ từ Outlier)</span>
                </div>
                <div class="uk-width-medium-1-2">
                    @Html.LabelFor(model => model.TalkTimeCode) <br />
                    @Html.DropDownListFor(model => model.TalkTimeCode, Model.TalkTimeList, "[ Chọn ]", new { @class = "md-input label-fixed validate[required]" })
                    <span class="uk-form-help-block">Các con có thường xuyên tâm sự với Anh/Chị về những điều trong cuộc sống của con không?</span>
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-2">
                    @Html.LabelFor(model => model.Feelings)
                    @Html.EditorFor(model => model.Feelings, new { htmlAttributes = new { @class = "md-input validate[required]" } })
                    <span class="uk-form-help-block">Chia sẻ 5 tính từ miêu tả cảm xúc mà con thường có. (Theo ý kiến chia sẻ từ Outlier)</span>
                </div>
                <div class="uk-width-medium-1-2">
                    @Html.LabelFor(model => model.GiftToReceive)
                    @Html.EditorFor(model => model.GiftToReceive, new { htmlAttributes = new { @class = "md-input validate[required]" } })
                    <span class="uk-form-help-block">Những món quà mà con mong muốn được tặng nhất (ví dụ: tiền, đồ chơi, sách…)</span>
                </div>
            </div>
        </div>
    </div>

</div>
<footer id="footer" class="uk-text-center">
    <a id="btnReturn" href="@Url.Action("Index", "dtht", new { Id = Model.ParentIDno })" class="md-btn md-btn-danger md-btn-wave-light md-btn-icon">
        <i class="material-icons md-color-white">&#xE15E;</i>
        Quay Lại
    </a>
    <a class="md-btn md-btn-primary md-btn-wave-light md-btn-icon" href="javascript:void(0)" id="btnSave">
        <span class="material-icons md-color-white">save</span>
        Xác Nhận Thông Tin
    </a>
</footer>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<style>
    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        margin-top: -2px;
        padding-left: 38px;
    }

    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:after {
        top: -3px;
        right: 5px;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        CreateSuccess('@Url.Action("CreateParent", "dtht", new { c = Model.ParentIDno })');
        $('select').select2();
        $('#btnSave').click(function () {
            Save($("#frm"), true);
        });
        $('.dropify').dropify();
        if ($.urlParam('msg') == '2') {
            $().toastmessage('showToast', {
                text: 'Vui lòng chọn giấy khai sinh',
                sticky: false,
                position: 'top-center',
                type: 'warning'
            });
        }
        $('[name="btnRemoveImg"]').click(function () {
            UIkit.modal.confirm('Bạn có chắc chắn muốn xóa?', function () {
                $('#divImg').html(' <input id="FileUpload" name="FileUpload" data-label="Upload" type="file" class="dropify" data-show-remove="false" />');
                $('#BirthCertificate').val('');
                $('.dropify').dropify();
                @*$.post('@Url.Action("RemoveImg", "Teacher", new { area = "MasterData" })', { id: $('#Id').val(), img: $('#Image').val() }, function (data) {
                    if (data) {
                        $('#divImg').html('<input name="fileUpload" data-label="Upload" type="file" />');
                        SetJsFileUpload();
                        $('#Image').val('');
                    }
                    else {
                        $().toastmessage('showErrorToast', 'Lỗi !!!');
                    }
                }, 'json');*@
            });
        });
    });
</script>
