﻿@model IEnumerable<GCSOFT.MVC.Web.Areas.MasterData.Models.Question_List>

@{
    ViewBag.Title = "Danh Sách Góp Ý";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
<div id="page_content_inner">
    <div class="md-card">
        <div class="md-card-toolbar">
            <div class="md-card-toolbar-actions">
                <i class="md-icon material-icons md-card-fullscreen-activate toolbar_fixed">&#xE5D0;</i>
            </div>
            <h3 class="md-card-toolbar-heading-text">
                <i class="material-icons">&#xE894;</i>&nbsp;&nbsp;@ViewBag.Title
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-overflow-container">
                <table id="jqGrid"></table>
                <div id="jqGridPager"></div>
            </div>
        </div>
    </div>
</div>
<div class="md-fab-wrapper">
    <div class="md-fab md-fab-accent md-fab-sheet md-fab-small">
        <i class="material-icons">&#xE30F;</i>
        <div class="md-fab-sheet-actions">
            <a name="btnDel" href="javascript:void(0)" class="md-color-white">
                <i class="material-icons md-color-white">&#xE872;</i> <span class="gc-text-decoration uk-text-warning">X</span>óa
            </a>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            LoadGrid('@Url.Action("LoadData", "Suggestions", new { area = "MasterData" })');
            $('[name="btnDel"]').click(function () {
                JqDel('@Url.Action("Deletes", "Suggestions", new { area = "MasterData" })', $('#jqGrid'));
            });

			CallHotKey();
        });

        function LoadGrid(url) {
            $("#jqGrid").jqGrid({
                url: url,
                mtype: "get",
                datatype: "json",
                colNames: [
                    'Nội Dung'
                    , 'Học Viên<BR />Góp Ý'
					, '@Html.DisplayNameFor(model => model.ClassName)'
					, '@Html.DisplayNameFor(model => model.CourseName)'
                    , '@Html.DisplayNameFor(model => model.CourseContentName)'
                    , '@Html.DisplayNameFor(model => model.StatusName)'
				],
                colModel: [
                    { name: 'Question', index: 'Question', formatter: NoFormatter }
                    , { name: 'fullName', index: 'fullName' }
                    , { name: 'ClassName', index: 'ClassName' }
                    , { name: 'CourseName', index: 'CourseName' }
                    , { name: 'CourseContentName', index: 'CourseContentName' }
                    , { name: 'StatusName', index: 'StatusName', align: 'center' }
				],
                rowNum: 20,
                rowList: [20, 40, 60, 80, 100],
                pager: '#jqGridPager',
                sortname: 'IdComment',
                viewrecords: true,
                autowidth: true,
                height: "100%",
                sortorder: "asc",
                multiselect: true,
                rownumbers: true,
                viewsortcols: [true, 'vertical', true],
                loadComplete: function () {
                    jqGrid_resize('jqGrid');
                    gridSearch('jqGrid', 'search-button');
					GetDetails();
                },
                jsonReader: {
                    root: "Rows",
                    page: "jqGridPager",
                    total: "Total",
                    records: "Records",
                    repeatitems: false,
                    id: "IdComment"
                }
            });
            $("#jqGrid").jqGrid('navGrid', '#jqGridPager',
                    { edit: false, add: false, del: false }, {}, {}, {},
                    {
                        multipleSearch: true,
                        closeOnEscape: true,
                        closeAfterSearch: true,
                        showQuery: true,
                        searchOnEnter: true,
                        sopt: ['cn', 'eq', 'ne', 'lt', 'le', 'gt', 'ge']
                    }
                );
        }

        function NoFormatter(cellvalue, options, rowObject) {
            return '<strong><a href="@Url.Action("Details/", "Suggestions", new { area = "MasterData" })' + rowObject.IdComment + '" title="Xem chi tiết" name="Details" data-uk-tooltip="{pos:\'top\'}">' + cellvalue + '</a></strong>';
        }

		function GetDetails() {
            $('[name="Details"]').click(function () {
                var idx = $('[name="Details"]').index($(this));
                $(location).attr('href', $('[name="Details"]:eq(' + idx + ')').attr('href'));
            });
            gcHotkey._view();
        }

        function CallHotKey() {
            gcHotkey._del();
        }
    </script>
}
