﻿@model List<GCSOFT.MVC.Model.MasterData.M_HistoryCall>
@{
    ViewBag.Title = "Danh Sách Cuộc Gọi";
}
<div id="page_content_inner">
    <div class="md-card">
        <div class="md-card-toolbar">
            <h3 class="md-card-toolbar-heading-text">
                @ViewBag.Title
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-overflow-container">
                <table class="uk-table uk-table-nowrap table_check">
                    <thead>
                        <tr>
                            <th class="uk-width-1-10 uk-text-center"><strong>STT</strong></th>
                            <th><strong>Tiêu Đề</strong></th>
                            <th><strong>Diễn Giải</strong></th>
                            <th><strong>Ngày Tạo</strong></th>
                            <th><strong>Hành Động Kế Tiếp</strong></th>
                            <th><strong>Ngày Gọi Lại</strong></th>
                            <th><strong>Mối Quan Hệ</strong></th>
                            <th><strong>Họ Tên Người Liên Hệ</strong></th>
                            <th><strong>Ghi Chú</strong></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int stt = 0; }
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="uk-text-center">@(++stt)</td>
                                <td>@item.Title</td>
                                <td>@item.FullDeskcription</td>
                                <td>@item.DateInputStr</td>
                                <td>@item.NextAction</td>
                                <td>@item.NextDateStr</td>
                                <td>@item.Relationship</td>
                                <td>@item.FullName</td>
                                <td>@item.Note</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>