﻿<label class="col-sm-3 control-label">Bạn học lớp mấy ?</label>
<div class="col-sm-9">
    <select id="classId" name="classId" class="form-control" onchange="CheckUpdate()">
        <option value="">[ Chọn ]</option>
        <option value="9">Lớp 6</option>
        <option value="13">Lớp 7</option>
        <option value="14">Lớp 8</option>
        <option value="15">Lớp 9</option>
    </select>
</div>
