﻿@model GCSOFT.MVC.STNHD.Models.UserInfoViewModel
@using GCSOFT.MVC.STNHD.Resource
<div id="divSuccessRegistration" class="modify-w-form contact" style="text-align: center; display: none;">
    <h3 style="text-align: center; margin-top: 25px;">@stnhd.Congratulations</h3>
    <p id="msgSuccessRegistration"></p>
</div>
<div class="modify-w-form" id="divRegistration">
    @using (Html.BeginForm("Create", "Student", FormMethod.Post, new { @id = "frmRegistration", @autocomplete = "off", @class = "form-horizontal" }))
    {
        <div class="support-course">
            <p>@stnhd.LogInInformation (*)</p>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">@stnhd.LogInID</label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.userName, new { @placeholder = stnhd.InsertID+" (*)", @class = "form-control validate[required,funcCall[ValidUsername[]]" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">@stnhd.Password</label>
                <div class="col-sm-9">
                    @Html.PasswordFor(model => model.Password, new { @placeholder = stnhd.InsertPassword + " (*)", @class = "form-control validate[required]" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">@stnhd.RetypePassword</label>
                <div class="col-sm-9">
                    @Html.PasswordFor(model => model.RePassword, new { @placeholder = stnhd.RetypePassword + " (*)", @class = "form-control validate[required,equals[Password]]" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label"></label>
                <div class="col-sm-9">
                    @*<span style="color: gray; font-size: 10pt;">Xin vui lòng nhớ <strong>Tên đăng nhập</strong> và <strong>Mật khẩu</strong> dùng để <strong>Đăng Nhập</strong> vào học cho lần tiếp theo khi đăng ký và kích hoạt thành công.</span>*@
                    <span style="color: gray; font-size: 10pt;">@Html.Raw(stnhd.RememberIDAndPass)</span>
                </div>
            </div>

        </div>
        <div class="support-course">
            <p>@stnhd.PersonalInformationData</p>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">@stnhd.FullName</label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.fullName, new { @placeholder = stnhd.InsertFullName + " (*)", @class = "form-control validate[required]" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">@stnhd.Phone_number_</label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.Phone, new { @placeholder = stnhd.InsertPhoneNumber + " (*)", @class = "form-control validate[required,custom[phone]]" })
                </div>
            </div>
            @*<div class="form-group">
                    <label class="col-sm-3 control-label">SĐT</label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.Phone, new { @placeholder = "Nhập số điện thoại (*)", @class = "form-control validate[required,custom[phone]]" })
                            <span class="input-group-btn">
                                <button class="btn btn-primary btn-customize" type="button" id="btnSendOTP">Gửi Mã Xác Thực</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-3 control-label">Mã xác thực</label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(model => model.OTP, new { @placeholder = "Nhập mã xác thực gửi tới số điện thoại trên", @class = "form-control validate[required]" })
                    </div>
                </div>*@
            <div class="form-group">
                <label class="col-sm-3 control-label">Email</label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.Email, new { @placeholder = "Email", @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">@stnhd.Address</label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.Address, new { @placeholder = stnhd.Line1, @class = "form-control validate[required]" })
                </div>
            </div>
            @*<div class="form-group">
                    <label class="col-sm-3 control-label">Học Lớp</label>
                    <div class="col-sm-9">
                        @Html.DropDownListFor(model => model.ClassId, Model.ClassList, "[ Chọn ]", new { @class = "form-control validate[required]" })
                    </div>
                </div>*@
        </div>
        <div class="text-center"><button type="button" id="btnRegistration2" class="btn btn-primary">@stnhd.Registrer</button></div>
    }
</div>
