﻿@model GCSOFT.MVC.Web.Areas.NamPhutThuocBai.Data.NopBaiCard
<div id="page_content_inner" class="hierarchical_slide">
    <div class="md-card">
        <div class="md-card-toolbar">
            <div class="md-card-toolbar-actions">
                <i class="md-icon material-icons md-card-toggle">&#xE316;</i>
            </div>
            <h3 class="md-card-toolbar-heading-text">
                <i class="material-icons">&#xE894;</i>&nbsp;&nbsp;@ViewBag.Title
                @Html.HiddenFor(model => model.Id)
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-3">
                    @Html.LabelFor(model => model.SBD)
                    @Html.EditorFor(model => model.SBD, new { htmlAttributes = new { @class = "md-input validate[required]" } })
                </div>
                <div class="uk-width-medium-1-3">
                    @Html.LabelFor(model => model.FullName)
                    @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "md-input validate[required]" } })
                </div>
                <div class="uk-width-medium-1-3">
                    @Html.LabelFor(model => model.IdTrongTaiChuyenMon2)
                    @Html.DropDownListFor(model => model.IdTrongTaiChuyenMon2, Model.ChuyenMon2List, "[ Chọn ]", new { @class = "md-input label-fixed" })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    @Html.LabelFor(model => model.LinkFacebok)
                    @Html.EditorFor(model => model.LinkFacebok, new { htmlAttributes = new { @class = "md-input validate[required]" } })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
<<<<<<< HEAD
                <div class="uk-width-medium-1-5">
                    @Html.LabelFor(model => model.LuotView)
                    @Html.EditorFor(model => model.LuotView, new { htmlAttributes = new { @class = "md-input validate[required]" } })
                </div>
                <div class="uk-width-medium-1-5">
                    @Html.LabelFor(model => model.LuotInteract)
                    @Html.EditorFor(model => model.LuotInteract, new { htmlAttributes = new { @class = "md-input validate[required]" } })
                </div>
                <div class="uk-width-medium-1-5">
                    @Html.LabelFor(model => model.LuotShare)
                    @Html.EditorFor(model => model.LuotShare, new { htmlAttributes = new { @class = "md-input validate[required]" } })
                </div>
                <div class="uk-width-medium-1-5">
=======
                <div class="uk-width-medium-1-5">
                    @Html.LabelFor(model => model.LuotView)
                    @Html.EditorFor(model => model.LuotView, new { htmlAttributes = new { @class = "md-input validate[required]" } })
                </div>
                <div class="uk-width-medium-1-5">
                    @Html.LabelFor(model => model.LuotInteract)
                    @Html.EditorFor(model => model.LuotInteract, new { htmlAttributes = new { @class = "md-input validate[required]" } })
                </div>
                <div class="uk-width-medium-1-5">
                    @Html.LabelFor(model => model.LuotShare)
                    @Html.EditorFor(model => model.LuotShare, new { htmlAttributes = new { @class = "md-input validate[required]" } })
                </div>
                <div class="uk-width-medium-1-5">
>>>>>>> 9c52c24ae1bb0fce13899838c4be8b645c302bdd
                    @Html.LabelFor(model => model.LuotComment)
                    @Html.EditorFor(model => model.LuotComment, new { htmlAttributes = new { @class = "md-input validate[required]" } })
                </div>
            </div>
<<<<<<< HEAD
=======
            @*<div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-5">
                @Html.LabelFor(model => model.ChuyenMon1_Mindmap)
                @Html.EditorFor(model => model.ChuyenMon1_Mindmap, new { htmlAttributes = new { @class = "md-input validate[required]" } })
            </div>
            <div class="uk-width-medium-1-5">
                @Html.LabelFor(model => model.ChuyenMon1_NoiDung)
                @Html.EditorFor(model => model.ChuyenMon1_NoiDung, new { htmlAttributes = new { @class = "md-input validate[required]" } })
            </div>
            <div class="uk-width-medium-1-5">
                @Html.LabelFor(model => model.ChuyenMon1_TrinhBay1)
                @Html.EditorFor(model => model.ChuyenMon1_TrinhBay1, new { htmlAttributes = new { @class = "md-input validate[required]" } })
            </div>
            <div class="uk-width-medium-1-5">
                @Html.LabelFor(model => model.ChuyenMon1_TrinhBay2)
                @Html.EditorFor(model => model.ChuyenMon1_TrinhBay2, new { htmlAttributes = new { @class = "md-input validate[required]" } })
            </div>
            <div class="uk-width-medium-1-5">
                @Html.LabelFor(model => model.ChuyenMon1_TrinhBay3)
                @Html.EditorFor(model => model.ChuyenMon1_TrinhBay3, new { htmlAttributes = new { @class = "md-input validate[required]" } })
            </div>

        </div>*@
>>>>>>> 9c52c24ae1bb0fce13899838c4be8b645c302bdd
            <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-5">
                @Html.LabelFor(model => model.ChuyenMon1_Mindmap)
                @Html.EditorFor(model => model.ChuyenMon1_Mindmap, new { htmlAttributes = new { @class = "md-input validate[required]" } })
            </div>
            <div class="uk-width-medium-1-5">
                @Html.LabelFor(model => model.ChuyenMon1_NoiDung)
                @Html.EditorFor(model => model.ChuyenMon1_NoiDung, new { htmlAttributes = new { @class = "md-input validate[required]" } })
            </div>
            <div class="uk-width-medium-1-5">
                @Html.LabelFor(model => model.ChuyenMon1_TrinhBay1)
                @Html.EditorFor(model => model.ChuyenMon1_TrinhBay1, new { htmlAttributes = new { @class = "md-input validate[required]" } })
            </div>
            <div class="uk-width-medium-1-5">
                @Html.LabelFor(model => model.ChuyenMon1_TrinhBay2)
                @Html.EditorFor(model => model.ChuyenMon1_TrinhBay2, new { htmlAttributes = new { @class = "md-input validate[required]" } })
            </div>
            <div class="uk-width-medium-1-5">
                @Html.LabelFor(model => model.ChuyenMon1_TrinhBay3)
                @Html.EditorFor(model => model.ChuyenMon1_TrinhBay3, new { htmlAttributes = new { @class = "md-input validate[required]" } })
            </div>

        </div>
            @*<div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.ChuyenMon1_NoiDung)
                    @Html.EditorFor(model => model.ChuyenMon1_NoiDung, new { htmlAttributes = new { @class = "md-input validate[required]" } })
                </div>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.ChuyenMon1_TrinhBay1)
                    @Html.EditorFor(model => model.ChuyenMon1_TrinhBay1, new { htmlAttributes = new { @class = "md-input validate[required]" } })
                </div>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.ChuyenMon1_TrinhBay2)
                    @Html.EditorFor(model => model.ChuyenMon1_TrinhBay2, new { htmlAttributes = new { @class = "md-input validate[required]" } })
                </div>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.ChuyenMon1_TrinhBay3)
                    @Html.EditorFor(model => model.ChuyenMon1_TrinhBay3, new { htmlAttributes = new { @class = "md-input validate[required]" } })
                </div>
            </div>*@
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    @Html.LabelFor(model => model.Remark3)
                    @Html.TextAreaFor(model => model.Remark3, new { @class = "md-input", @cols = 30, @rows = 2 })
                </div>
            </div>
        </div>
    </div>
    @*@Html.Partial("_Line", Model.MindMapPoints)*@
</div>
<div class="md-fab-wrapper">
    <div class="md-fab md-fab-accent md-fab-sheet md-fab-small">
        <i class="material-icons">&#xE30F;</i>
        <div class="md-fab-sheet-actions">
            <a id="btnReturn" href="@Url.Action("Index", "VideoPoint", new { area = "NamPhutThuocBai" })" class="md-color-white"><i class="material-icons md-color-white">&#xE15E;</i> <span class="gc-text-decoration uk-text-warning">Q</span>uay lại</a>
            <a id="btnSave" href="javascript:void(0)" class="md-color-white"><i class="material-icons md-color-white">&#xE161;</i> <span class="gc-text-decoration uk-text-warning">L</span>ưu</a>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        gcHotkey._return();
        gcHotkey._save();
        
        $('#btnSave').click(function () {
            Save($("#frm"), true);
        });
    });
</script>
