﻿@model IEnumerable<GCSOFT.MVC.Web.Areas.NamPhutThuocBai.Data.MindMapPoint>
<div class="md-card">
    <div class="md-card-toolbar">
        <div class="md-card-toolbar-actions">
            <i class="md-icon material-icons md-card-toggle">&#xE316;</i>
        </div>
        <h3 class="md-card-toolbar-heading-text">
            Thang Điểm Mindmap
        </h3>
    </div>
    <div class="md-card-content" id="tbodyChildrends">
        @if (Model != null)
        {
            int stt = 0;
            var MindMapPoints = Model.ToList();
            foreach (var item in Model)
            {
                <div class="uk-grid tr" data-uk-grid-margin>
                    <div class="uk-width-medium-1-10 uk-text-center">
                        <p class="uk-text-large">@(++stt)</p>
                    </div>
                    <div class="uk-width-medium-8-10">
                        @Html.LabelFor(d => MindMapPoints[stt - 1].PointDescription)
                        @Html.TextBoxFor(d => MindMapPoints[stt - 1].PointDescription, new { @class = "md-input label-fixed", @readonly = true })
                        @Html.HiddenFor(d => MindMapPoints[stt - 1].IdNopBai)
                        @Html.HiddenFor(d => MindMapPoints[stt - 1].PointCode)
                    </div>
                    <div class="uk-width-medium-1-10">
                        @Html.LabelFor(d => MindMapPoints[stt - 1].Point)
                        @Html.TextBoxFor(d => MindMapPoints[stt - 1].Point, new { @class = "md-input label-fixed total uk-text-right", @readonly = true })
                    </div>
                    <div class="uk-width-medium-1-10">

                    </div>
                    <div class="uk-width-medium-9-10">
                        @Html.LabelFor(d => MindMapPoints[stt - 1].Remark)
                        @Html.TextBoxFor(d => MindMapPoints[stt - 1].Remark, new { @class = "md-input label-fixed" })
                    </div>
                </div>
            }
        }
    </div>
</div>