﻿@model GCSOFT.MVC.Web.Areas.NamPhutThuocBai.Data.NopBaiCard
<div id="page_content_inner" class="hierarchical_slide">
    <div class="md-card">
        <div class="md-card-toolbar">
            <div class="md-card-toolbar-actions">
                <i class="md-icon material-icons md-card-toggle">&#xE316;</i>
            </div>
            <h3 class="md-card-toolbar-heading-text">
                <i class="material-icons">&#xE894;</i>&nbsp;&nbsp;@ViewBag.Title
                @Html.HiddenFor(model => model.Id)
            </h3>
        </div>
        <div class="md-card-content">
            <a id="btnNDTXuatSac" href="javascript:void(0);" class="md-btn md-btn-primary uk-margin-small-top @ViewBag.disabled"><i class="material-icons">&#xE8B6;</i> Nhà ĐT Xuất Sắc</a>
            <a id="btnNDTTruyenCamHung" href="javascript:void(0);" class="md-btn md-btn-primary uk-margin-small-top @ViewBag.disabled"><i class="material-icons">&#xE8B6;</i> Nhà ĐT Truyền Cảm Hứng</a>
            <hr />
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-3">
                    @Html.LabelFor(model => model.SBD)
                    @Html.EditorFor(model => model.SBD, new { htmlAttributes = new { @class = "md-input validate[required]" } })
                </div>
                <div class="uk-width-medium-1-3">
                    @Html.LabelFor(model => model.FullName)
                    @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "md-input validate[required]" } })
                </div>
                <div class="uk-width-medium-1-3">
                    @Html.LabelFor(model => model.IdTrongTaiVong1)
                    @Html.DropDownListFor(model => model.IdTrongTaiVong1, Model.TrongTaiVong1List, "[ Chọn ]", new { @class = "md-input label-fixed validate[required]" })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    @Html.LabelFor(model => model.LinkFacebok)
                    @Html.EditorFor(model => model.LinkFacebok, new { htmlAttributes = new { @class = "md-input validate[required]" } })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-4">
                    <div class="uk-width-medium-1-5">
                        @Html.LabelFor(model => model.LuotView)
                        @Html.EditorFor(model => model.LuotView, new { htmlAttributes = new { @class = "md-input validate[required]" } })
                    </div>
                    <div class="uk-width-medium-1-5">
                        @Html.LabelFor(model => model.LuotInteract)
                        @Html.EditorFor(model => model.LuotInteract, new { htmlAttributes = new { @class = "md-input validate[required]" } })
                    </div>
                    <div class="uk-width-medium-1-5">
                        @Html.LabelFor(model => model.LuotShare)
                        @Html.EditorFor(model => model.LuotShare, new { htmlAttributes = new { @class = "md-input validate[required]" } })
                    </div>
                    <div class="uk-width-medium-1-5">
                        @Html.LabelFor(model => model.LuotComment)
                        @Html.EditorFor(model => model.LuotComment, new { htmlAttributes = new { @class = "md-input validate[required]" } })
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-5">
                        @Html.LabelFor(model => model.TieuChi1)
                        @Html.EditorFor(model => model.TieuChi1, new { htmlAttributes = new { @class = "md-input validate[required]" } })
                    </div>
                    <div class="uk-width-medium-1-5">
                        @Html.LabelFor(model => model.TieuChi2)
                        @Html.EditorFor(model => model.TieuChi2, new { htmlAttributes = new { @class = "md-input validate[required]" } })
                    </div>
                    <div class="uk-width-medium-1-5">
                        @Html.LabelFor(model => model.TieuChi3)
                        @Html.EditorFor(model => model.TieuChi3, new { htmlAttributes = new { @class = "md-input validate[required]" } })
                    </div>
                    <div class="uk-width-medium-1-5">
                        @Html.LabelFor(model => model.TieuChi4)
                        @Html.EditorFor(model => model.TieuChi4, new { htmlAttributes = new { @class = "md-input validate[required]" } })
                    </div>
                    <div class="uk-width-medium-1-5">
                        @Html.LabelFor(model => model.TieuChi5)
                        @Html.EditorFor(model => model.TieuChi5, new { htmlAttributes = new { @class = "md-input validate[required]" } })
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-3">
                        <div class="uk-form-row parsley-row">
                            @Html.LabelFor(model => model.IsChuyenMonVong1, htmlAttributes: new { @class = "uk-form-label" })
                            <span class="icheck-inline">
                                @Html.CheckBoxFor(model => model.IsChuyenMonVong1, new Dictionary<string, Object> { { "data-md-icheck", "" } })
                            </span>
                        </div>
                    </div>
                    <div class="uk-width-medium-1-3">
                        <div class="uk-form-row parsley-row">
                            @Html.LabelFor(model => model.IsChuyenMon, htmlAttributes: new { @class = "uk-form-label" })
                            <span class="icheck-inline">
                                @Html.CheckBoxFor(model => model.IsChuyenMon, new Dictionary<string, Object> { { "data-md-icheck", "" } })
                            </span>
                        </div>
                    </div>
                    <div class="uk-width-medium-1-3">
                        @Html.LabelFor(model => model.Vong1StatusName)
                        @Html.EditorFor(model => model.Vong1StatusName, new { htmlAttributes = new { @class = "md-input", @readonly = true } })
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.Remark1)
                        @Html.TextAreaFor(model => model.Remark1, new { @class = "md-input", @cols = 30, @rows = 2 })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="md-fab-wrapper">
        <div class="md-fab md-fab-accent md-fab-sheet md-fab-small">
            <i class="material-icons">&#xE30F;</i>
            <div class="md-fab-sheet-actions">
                <a id="btnReturn" href="@Url.Action("Index", "NopBai", new { area = "NamPhutThuocBai" })" class="md-color-white"><i class="material-icons md-color-white">&#xE15E;</i> <span class="gc-text-decoration uk-text-warning">Q</span>uay lại</a>
                <a id="btnSave" href="javascript:void(0)" class="md-color-white"><i class="material-icons md-color-white">&#xE161;</i> <span class="gc-text-decoration uk-text-warning">L</span>ưu</a>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    $(document).ready(function () {
        gcHotkey._return();
        gcHotkey._save();

        $('#btnSave').click(function () {
            Save($("#frm"), true);
        });
        $('#btnNDTXuatSac').click(function () {
            $('#btnNDTXuatSac').addClass("disabled").text('Đang gửi ....');
            $.post('@Url.Action("UpdateStatusNDTXuatSac", "NopBai", new { area = "NamPhutThuocBai" })', { id: $('#Id').val() }, function (data) {
                $().toastmessage('showToast', {
                    text: data.msg,
                    sticky: false,
                    position: 'top-center',
                    type: 'success'
                });
                $('#btnNDTXuatSac').removeClass("disabled").text('Nhà ĐT Xuất Sắc');
                NProgress.done();
            });
        });
        $('#btnNDTTruyenCamHung').click(function () {
            $('#btnNDTTruyenCamHung').addClass("disabled").text('Đang gửi ....');
            $.post('@Url.Action("UpdateStatusNDTTruyenCamHung", "NopBai", new { area = "NamPhutThuocBai" })', { id: $('#Id').val() }, function (data) {
                $().toastmessage('showToast', {
                    text: data,
                    sticky: false,
                    position: 'top-center',
                    type: 'success'
                });
                $('#btnNDTTruyenCamHung').removeClass("disabled").text('Nhà ĐT Truyền Cảm Hứng');
                NProgress.done();
            });
        });
    });
    </script>
