﻿@model IEnumerable<GCSOFT.MVC.Web.Areas.NamPhutThuocBai.Data.NopBaiList>

@{
    ViewBag.Title = "Nộp Bài";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
<div id="page_content_inner">
    <div class="md-card">
        <div class="md-card-toolbar">
            <div class="md-card-toolbar-actions">
                <i class="md-icon material-icons md-card-fullscreen-activate toolbar_fixed">&#xE5D0;</i>
            </div>
            <h3 class="md-card-toolbar-heading-text">
                <i class="material-icons">&#xE894;</i>&nbsp;&nbsp;@ViewBag.Title
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-1-1">
                    <div class="uk-overflow-container">
                        <table id="jqGrid"></table>
                        <div id="jqGridPager"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            LoadGrid('@Url.Action("LoadData", "NopBai", new { area = "NamPhutThuocBai" })');
        });

        function LoadGrid(url) {
            $("#jqGrid").jqGrid({
                url: url,
                mtype: "get",
                datatype: "json",
                colNames: [
                        'Mã Đề Thi'
					, '@Html.DisplayNameFor(model => model.SBD)'
                    , '@Html.DisplayNameFor(model => model.FullName)'
                    , 'Lớp'
                    , 'Trọng Tài'
					, '@Html.DisplayNameFor(model => model.DateInputStr)'
                    , '@Html.DisplayNameFor(model => model.StatusName)'
                    , '@Html.DisplayNameFor(model => model.TongDiemVong1)'
                    , '@Html.DisplayNameFor(model => model.IsChuyenMonVong1Str)'
                    , '@Html.DisplayNameFor(model => model.IsChuyenMonStr)'
                    , '@Html.DisplayNameFor(model => model.Vong1StatusName)'
                    , 'TT Mindmap'
                    , 'TT Video'
                    , '@Html.DisplayNameFor(model => model.TongDiem)'
                    , 'Lượt View'
                    , 'Lượt Tương Tác'
                    , 'Lượt Share'
                    , 'Lượt Comment'
                    , ''
				],
                colModel: [

                    { name: 'CodeDethi', index: 'CodeDethi' }
                    , { name: 'SBD', index: 'SBD' }
                    , { name: 'FullName', index: 'FullName' }
                    , { name: 'ClassName', index: 'ClassName' }
                    , { name: 'FullNameTrongTaiVong1', index: 'FullNameTrongTaiVong1' }
                    , { name: 'DateInputStr', index: 'DateInputStr' }
                    , { name: 'StatusName', index: 'StatusName' }
                    , { name: 'TongDiemVong1', index: 'TongDiemVong1' }
                    , { name: 'IsChuyenMonVong1Str', index: 'IsChuyenMonVong1Str' }
                    , { name: 'IsChuyenMonStr', index: 'IsChuyenMonStr' }
					, { name: 'Vong1StatusName', index: 'Vong1StatusName' }
					, { name: 'ChuyenMon1_StatusName', index: 'ChuyenMon1_StatusName' }
					, { name: 'ChuyenMon2_StatusName', index: 'ChuyenMon2_StatusName' }
                    , { name: 'TongDiem', index: 'TongDiem' }
                    , { name: 'LuotView', index: 'LuotView' }
                    , { name: 'LuotInteract', index: 'LuotInteract' }
                    , { name: 'LuotShare', index: 'LuotShare' }
                    , { name: 'LuotComment', index: 'LuotComment' }
                    , { name: 'action', index: 'action', align: 'center', sortable: false, formatter: ActionFormatter }
				],
                rowNum: 20,
                rowList: [20, 40, 60, 80, 100],
                pager: '#jqGridPager',
                sortname: 'Id',
                viewrecords: true,
                autowidth: true,
                height: "100%",
                sortorder: "asc",
                multiselect: true,
                rownumbers: true,
                viewsortcols: [true, 'vertical', true],
                loadComplete: function () {
                            //jqGrid_resize('jqGrid');
                            gridSearch('jqGrid', 'search-button');
                            GetDetails();
                        },
                jsonReader: {
                        root: "Rows",
                    page: "jqGridPager",
                    total: "Total",
                    records: "Records",
                    repeatitems: false,
                    id: "Id"
                }
                    });
            $("#jqGrid").jqGrid('navGrid', '#jqGridPager',
                    { edit: false, add: false, del: false }, {}, {}, {},
                    {
                        multipleSearch: true,
                        closeOnEscape: true,
                        closeAfterSearch: true,
                        showQuery: true,
                        searchOnEnter: true,
                        sopt: ['cn', 'eq', 'ne', 'lt', 'le', 'gt', 'ge']
                    }
                );
        }

        function NoFormatter(cellvalue, options, rowObject) {
            return '<strong><a href="@Url.Action("Details/", "NopBai", new { area = "NamPhutThuocBai" })' + rowObject.Code + '" title="Xem chi tiết" name="Details" data-uk-tooltip="{pos:\'top\'}">' + cellvalue + '</a></strong>';
        }

		function GetDetails() {
            $('[name="Details"]').click(function () {
                var idx = $('[name="Details"]').index($(this));
                $(location).attr('href', $('[name="Details"]:eq(' + idx + ')').attr('href'));
            });
            gcHotkey._view();
        }
        function ActionFormatter(cellvalue, options, rowObject) {
            var str = '<a id="btnEdit" class="md-btn md-btn-primary md-btn-small md-btn-wave-light md-btn-icon waves-effect waves-button waves-light" href="@Url.Action("Edit/", "NopBai", new { area = "NamPhutThuocBai" })' + rowObject.Id + '">';
            str += '<i class="material-icons">visibility</i>';
            str += 'Chấm Bài';
            str += '</a>';
            return str;
        }
        function CallHotKey() {
            gcHotkey._add();
            gcHotkey._edit();
            gcHotkey._del();
        }
    </script>
}
