﻿@model GCSOFT.MVC.Web.Areas.Transaction.Data.SalesOrderCard
@if (Model.NoOfCard != 0)
{
    ViewBag.Title = string.Format("Đơn Đặt Hàng [ {0} ]", Model.StatusName);
}
<div id="page_content_inner" class="hierarchical_slide">
    @Html.Partial("_ApprovalOnline", Model.Flows)
    <div class="md-card">
        <div class="md-card-toolbar">
            <div class="md-card-toolbar-actions">

            </div>
            <h3 class="md-card-toolbar-heading-text">
                <i class="material-icons">&#xE894;</i>&nbsp;&nbsp;@ViewBag.Title
                @Html.HiddenFor(model => model.StatusCode)
                @Html.HiddenFor(model => model.StatusId)
                @Html.HiddenFor(model => model.CreateBy)
                @Html.HiddenFor(model => model.DateCreate)
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-margin-bottom uk-text-right" data-uk-margin>
                <a id="btnConfirm" class="md-btn md-btn-primary md-btn-wave-light md-btn-icon" href="javascript:void(0)">
                    <i class="material-icons">description</i>
                    Gửi Duyệt
                </a>
            </div>
            <hr />
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.Code)
                    @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "md-input", @readonly = true } })
                </div>
                <div class="uk-width-medium-1-4">
                    <label>Ngày Đặt Hàng</label>
                    @Html.TextBoxFor(model => model.DocumentDateStr
                                            , new Dictionary<string, Object> {
                                                { "class", "md-input label-fixed validate[required,funcCall[DateFormat[]]" }
                                                , { "autocomplete", "off" }
                                                , { "placeholder", "dd/MM/yyyy" }
                                                , { "data-uk-datepicker", "{format:'DD/MM/YYYY'}" }
                                            })
                </div>
                <div class="uk-width-medium-1-4">
                    <label>Ngày Gửi Đơn Hàng</label>
                    @Html.EditorFor(model => model.PostingDateStr, new { htmlAttributes = new { @class = "md-input label-fixed", @readonly = true } })
                </div>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.StatusId)
                    @Html.EditorFor(model => model.StatusName, new { htmlAttributes = new { @class = "md-input", @readonly = true } })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-2">
                    @Html.LabelFor(model => model.CustomerId)
                    @Html.DropDownListFor(model => model.CustomerId, Model.CustomerList, "[ Chọn ]", new { @class = "md-input label-fixed validate[required]" })
                </div>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.DurationId)
                    @Html.DropDownListFor(model => model.DurationCode, Model.DurationList, "[ Chọn ]", new { @class = "md-input label-fixed validate[required]" })
                </div>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.ReasonId)
                    @Html.DropDownListFor(model => model.ReasonCode, Model.ReasonList, "[ Chọn ]", new { @class = "md-input label-fixed validate[required]" })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.NoOfCard)
                    @Html.TextBoxFor(model => model.NoOfCard, new Dictionary<string, Object>
                          {
                              {"class","md-input masked_input label-fixed"},
                              {"data-inputmask", "'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true, 'placeholder': '0'"}
                          })
                </div>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.GiftCard)
                    @Html.TextBoxFor(model => model.GiftCard, new Dictionary<string, Object>
                          {
                              {"class","md-input masked_input label-fixed"},
                              {"data-inputmask", "'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true, 'placeholder': '0'"}
                          })
                </div>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.TotalCard)
                    @Html.TextBoxFor(model => model.TotalCard, new Dictionary<string, Object>
                          {
                              {"class","md-input masked_input label-fixed"},
                              {"data-inputmask", "'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true, 'placeholder': '0'"},
                              {"readonly","readonly"}
                          })
                </div>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.LotNumber)
                    @Html.EditorFor(model => model.LotNumber, new { htmlAttributes = new { @class = "md-input" } })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.Amount)
                    @Html.TextBoxFor(model => model.Amount, new Dictionary<string, Object>
                          {
                              {"class","md-input masked_input label-fixed"},
                              {"data-inputmask", "'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true, 'placeholder': '0'"}
                          })
                </div>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.DiscountPercent)
                    @Html.TextBoxFor(model => model.DiscountPercent, new Dictionary<string, Object>
                          {
                              {"class","md-input masked_input label-fixed"},
                              {"data-inputmask", "'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true, 'placeholder': '0'"}
                          })
                </div>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.DiscountAmt)
                    @Html.TextBoxFor(model => model.DiscountAmt, new Dictionary<string, Object>
                          {
                              {"class","md-input masked_input label-fixed"},
                              {"data-inputmask", "'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true, 'placeholder': '0'"}
                          })
                </div>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.TotalAmount)
                    @Html.TextBoxFor(model => model.TotalAmount, new Dictionary<string, Object>
                          {
                              {"class","md-input masked_input label-fixed"},
                              {"data-inputmask", "'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true, 'placeholder': '0'"},
                              {"readonly","readonly"}
                          })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    @Html.LabelFor(model => model.Remark)
                    @Html.TextAreaFor(model => model.Remark, new { @cols = "30", @rows = "3", @class = "md-input" })
                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footer" class="uk-text-center">
    <a id="btnReturn" class="md-btn md-btn-danger md-btn-wave-light md-btn-icon" href="@Url.Action("Index", "PO", new { area = "Transaction" })">
        <i class="material-icons">&#xE15E;</i>
        Quay Lại
    </a>
    <a id="btnSave" class="md-btn md-btn-primary md-btn-wave-light md-btn-icon" href="javascript:void(0);">
        <i class="material-icons">list_alt</i>
        Lưu
    </a>
</footer>
<script type="text/javascript">
    $(document).ready(function () {
        gcHotkey._return();
        gcHotkey._save();
        CreateSuccess('@Url.Action("Create", "PO", new { area = "Transaction" })');
        if ($.urlParam('msg') == '2') {
            $().toastmessage('showToast', {
                text: 'Đã gửi mail duyệt thành công.',
                sticky: false,
                position: 'top-center',
                type: 'success'
            });
        }
        if ($.urlParam('msg') == '3') {
            $().toastmessage('showToast', {
                text: 'Đã gửi mail xác nhận đơn hàng với đại lý.',
                sticky: false,
                position: 'top-center',
                type: 'success'
            });
        }
        $('#btnSave').click(function () {
            Save($("#frm"), true);
        });
        $('#CustomerId').change(function () {
            var id = $(this).val();
            $.post('@Url.Action("PackageInfo", "Package", new { area = "Agency" })', { a: id }, function (data) {
                $('#NoOfCard').val(data.NoOfCardsReceived);
                $('#TotalCard').val(data.NoOfCardsReceived);
                var amount = data.NoOfCardsReceived * 1000000;
                $('#Amount').val(amount);
                $('#DiscountPercent').val(data.PaymentDiscount);
                var discountAmt = amount * (data.PaymentDiscount / 100);
                $('#DiscountAmt').val(discountAmt);
                $('#TotalAmount').val(amount - discountAmt);
            });
        });
        $('#NoOfCard,#DiscountPercent').change(function () {
            CalData('');
        });
        $('#DiscountAmt').change(function () {
            CalData('discountAmt');
        });
        $('#GiftCard').change(function () {
            var noOfCard = parseFloat(getNumber($('#NoOfCard').val()));
            var giftCard = parseFloat(getNumber($('#GiftCard').val()));
            if (isNaN(noOfCard))
                noOfCard = 0;
            if (isNaN(giftCard))
                giftCard = 0;
            $('#TotalCard').val(noOfCard + giftCard);
        });
        $('#btnConfirm').click(function () {
            BlockUI();
            var poId = $('#Code').val();
            $.post('@Url.Action("SendToApproval", "POApproval", new { area = "Approval" })', { c: poId }, function (data) {
                if (data.s == 'Oke') {
                    window.location.href = '@Url.Action("Edit", "PO", new { area = "Transaction", id = Model.Code })' + '?msg=2';
                } else {
                    $().toastmessage('showToast', {
                        text: data.m,
                        sticky: false,
                        position: 'top-center',
                        type: 'success'
                    });
                }
            });
        });
    });
    function CalData(field) {
        var noOfCard = parseFloat(getNumber($('#NoOfCard').val()));
        var giftCard = parseFloat(getNumber($('#GiftCard').val()));
        if (isNaN(noOfCard))
            noOfCard = 0;
        if (isNaN(giftCard))
            giftCard = 0;
        var totalCard = noOfCard + giftCard;
        var amount = noOfCard * 1000000;
        var discountPercent = parseFloat(getNumber($('#DiscountPercent').val()));
        var discountAmt = parseFloat(getNumber($('#DiscountAmt').val()));
        if (field != 'discountAmt') {
            var discountAmt = amount * (discountPercent / 100);
        }
        var totalAmount = amount - discountAmt;
        $('#TotalCard').val(totalCard);
        $('#Amount').val(amount);
        $('#DiscountAmt').val(discountAmt);
        $('#TotalAmount').val(totalAmount);
    }
    function DateFormat(field, rules, i, options) {
        var regex = /^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$/;
        if (!regex.test(field.val())) {
            return "Vui lòng nhập ngày theo định dạng dd/MM/yyyy.";
        }
    }
    function isNaN(x) {
        // Ép kiểu Number cho biến x
        x = Number(x);
        // Nếu x là NaN, NaN != NaN trả về true, các trường hợp khác sẽ trả về false
        return x != x;
    }
</script>
