﻿@model IEnumerable<GCSOFT.MVC.AGENCY.Areas.Transaction.Data.SalesOrderList>

@{
    ViewBag.Title = "Danh Sách Đơn hàng";
}
<div id="page_content_inner">
    <div class="md-card">
        <div class="md-card-toolbar">
            <div class="md-card-toolbar-actions">
                <i class="md-icon material-icons md-card-fullscreen-activate toolbar_fixed">&#xE5D0;</i>
            </div>
            <h3 class="md-card-toolbar-heading-text">
                <i class="material-icons">&#xE894;</i>&nbsp;&nbsp;@ViewBag.Title
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-overflow-container">
                <table class="uk-table uk-table-nowrap table_check">
                    <thead>
                        <tr>
                            <th>Mã Đơn Hàng</th>
                            <th class="uk-text-center">Ngày</th>
                            <th>Loại Thẻ</th>
                            <th>Thời Hạn</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td><a href="@Url.Action("Edit", "RetailSalesOrder", new { area = "Transaction", id=item.Code })">@item.Code</a></td>
                            <td class="uk-text-center">@item.DocumentDateStr</td>
                            <td>@item.LevelName</td>
                            <td>@item.DurationName</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<footer id="footer" class="uk-text-center">
    <a href="@Url.Action("Create", "RetailSalesOrder", new { area = "Transaction" })" class="md-btn md-btn-primary md-btn-wave-light md-btn-icon">
        <i class="material-icons md-color-white">playlist_add</i>
        Thêm Mới
    </a>
</footer>