﻿@model GCSOFT.MVC.Web.ViewModels.MasterData.TeacherCard
<div id="page_content_inner" class="hierarchical_slide">
    <div class="md-card">
        <div class="md-card-toolbar">
            <div class="md-card-toolbar-actions">
                <i class="md-icon material-icons md-card-toggle">&#xE316;</i>
            </div>
            <h3 class="md-card-toolbar-heading-text">
                <i class="material-icons">&#xE894;</i>&nbsp;&nbsp;@ViewBag.Title
                @Html.HiddenFor(model => model.Id)
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.FirstName)
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "md-input validate[required]" } })
                </div>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.LastName)
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "md-input validate[required]" } })
                </div>
                <div class="uk-width-medium-1-2">
                    @Html.LabelFor(model => model.FullName)
                    @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "md-input validate[required] label-fixed", @readonly = true } })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.FirstNameEN)
                    @Html.EditorFor(model => model.FirstNameEN, new { htmlAttributes = new { @class = "md-input validate[required]" } })
                </div>
                <div class="uk-width-medium-1-4">
                    @Html.LabelFor(model => model.LastNameEN)
                    @Html.EditorFor(model => model.LastNameEN, new { htmlAttributes = new { @class = "md-input validate[required]" } })
                </div>
                <div class="uk-width-medium-1-2">
                    @Html.LabelFor(model => model.FullNameEN)
                    @Html.EditorFor(model => model.FullNameEN, new { htmlAttributes = new { @class = "md-input validate[required] label-fixed", @readonly = true } })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-3">
                    @Html.LabelFor(model => model.LevelCode)
                    @Html.DropDownListFor(model => model.LevelCode, Model.LevelList, "[ Chọn ]", new { @class = "md-input label-fixed validate[required]" })
                </div>
                <div class="uk-width-medium-1-3">
                    @Html.LabelFor(model => model.Position)
                    @Html.EditorFor(model => model.Position, new { htmlAttributes = new { @class = "md-input" } })
                </div>
                <div class="uk-width-medium-1-3">
                    @Html.LabelFor(model => model.SchoolName)
                    @Html.EditorFor(model => model.SchoolName, new { htmlAttributes = new { @class = "md-input validate[required]" } })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-2">
                    @Html.LabelFor(model => model.Image, new { @class = "uk-text-muted" })
                    <div id="divImg">
                        @if (!string.IsNullOrEmpty(Model.Image))
                        {
                            <button name="btnRemoveImg" type="button" class="uk-modal-close uk-close uk-close-alt uk-position-absolute" accesskey="imgShow"></button>
                            <img src="@Url.Content("~/Files/Teacher/" + Model.Id + "/" + Model.Image)" class="img_small" accesskey="imgShow" />
                        }
                        else
                        {
                            <input name="fileUpload" data-label="Upload" type="file" />
                        }
                    </div>
                    @Html.HiddenFor(model => model.Image)
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    @Html.LabelFor(model => model.Remark)
                    @Html.TextAreaFor(model => model.Remark, new { @cols = "30", @rows = "30" })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-2">
                    @Html.LabelFor(model => model.PhoneNo)
                    @Html.EditorFor(model => model.PhoneNo, new { htmlAttributes = new { @class = "md-input" } })
                </div>
                <div class="uk-width-medium-1-2">
                    @Html.LabelFor(model => model.Email)
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "md-input" } })
                </div>
            </div>
        </div>
    </div>
</div>
<div class="md-fab-wrapper">
    <div class="md-fab md-fab-accent md-fab-sheet md-fab-small">
        <i class="material-icons">&#xE30F;</i>
        <div class="md-fab-sheet-actions">
            <a id="btnReturn" href="@Url.Action("Index", "Teacher", new { area = "MasterData" })" class="md-color-white"><i class="material-icons md-color-white">&#xE15E;</i> <span class="gc-text-decoration uk-text-warning">Q</span>uay lại</a>
            <a id="btnSave" href="javascript:void(0)" class="md-color-white"><i class="material-icons md-color-white">&#xE161;</i> <span class="gc-text-decoration uk-text-warning">L</span>ưu</a>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        gcHotkey._return();
        gcHotkey._save();
        CreateSuccess('@Url.Action("Create", "Teacher", new { area = "MasterData" })');
        $('#btnSave').click(function () {
            Save($("#frm"), true);
        });
        $('#FirstName,#LastName').change(function () {
            var firstName = $.trim($('#FirstName').val());
            var lastName = $.trim($('#LastName').val());
            $('#FullName').val(lastName + ' ' + firstName);
        });
        CKEDITOR.replace('Remark', { height: 300 });
        CKEDITOR.instances.Remark.on('change', function () {
            $('[name="Remark"]').val(CKEDITOR.instances.Remark.getData());
        });
        $('[name="btnRemoveImg"]').click(function () {
            UIkit.modal.confirm('Bạn có chắc chắn muốn xóa?', function () {
                $.post('@Url.Action("RemoveImg", "Teacher", new { area = "MasterData" })', { id: $('#Id').val(), img: $('#Image').val() }, function (data) {
                    if (data) {
                        $('#divImg').html('<input name="fileUpload" data-label="Upload" type="file" />');
                        SetJsFileUpload();
                        $('#Image').val('');
                    }
                    else {
                        $().toastmessage('showErrorToast', 'Lỗi !!!');
                    }
                }, 'json');
            });
        });
    });
</script>