﻿@model GCSOFT.MVC.Web.ViewModels.MasterData.TeacherCard
@{
    ViewBag.Title = "Thông Tin Giáo Viên";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
<div id="page_content_inner">
	<div class="md-card">
		<div class="md-card-toolbar">
			<h3 class="md-card-toolbar-heading-text">
				<i class="material-icons">&#xE894;</i>&nbsp;&nbsp;@ViewBag.Title
			</h3>
		</div>
		<div class="md-card-content gc-padding-top-8">
			<div class="uk-grid gc-margin-top-0px">
				<div class="uk-width-medium-1-4">
					<div class="uk-width-medium-1-1">
						@Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "gc-text-muted uk-text-small" })
					</div>
					<div class="uk-width-medium-1-1 gc-margin-top-2px">
						<span class="uk-text-middle">@Model.FirstName</span>
					</div>
					<hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
				</div>
                <div class="uk-width-medium-1-4">
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "gc-text-muted uk-text-small" })
                    </div>
                    <div class="uk-width-medium-1-1 gc-margin-top-2px">
                        <span class="uk-text-middle">@Model.LastName</span>
                    </div>
                    <hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
                </div>
                <div class="uk-width-medium-1-2">
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "gc-text-muted uk-text-small" })
                    </div>
                    <div class="uk-width-medium-1-1 gc-margin-top-2px">
                        <span class="uk-text-middle">@Model.FullName</span>
                    </div>
                    <hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
                </div>
			</div>
			<div class="uk-grid gc-margin-top-0px uk-hidden-small">
				<div class="uk-width-medium-1-4">
					<hr class="gc-grid-divider">
				</div>
				<div class="uk-width-medium-1-4">
					<hr class="gc-grid-divider">
				</div>
                <div class="uk-width-medium-1-2">
                    <hr class="gc-grid-divider">
                </div>
			</div>
			<div class="uk-grid gc-margin-top-0px">
				<div class="uk-width-medium-1-2">
					<div class="uk-width-medium-1-1">
						@Html.LabelFor(model => model.PhoneNo, htmlAttributes: new { @class = "gc-text-muted uk-text-small" })
					</div>
					<div class="uk-width-medium-1-1 gc-margin-top-2px">
						<span class="uk-text-middle">@Model.PhoneNo</span>
					</div>
					<hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
				</div>
				<div class="uk-width-medium-1-2">
					<div class="uk-width-medium-1-1">
						@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "gc-text-muted uk-text-small" })
					</div>
					<div class="uk-width-medium-1-1 gc-margin-top-2px">
						<span class="uk-text-middle">@Model.Email</span>
					</div>
					<hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
				</div>
			</div>
			<div class="uk-grid gc-margin-top-0px uk-hidden-small">
				<div class="uk-width-medium-1-2">
					<hr class="gc-grid-divider">
				</div>
				<div class="uk-width-medium-1-2">
					<hr class="gc-grid-divider">
				</div>
			</div>
			<div class="uk-grid gc-margin-top-0px">
				<div class="uk-width-medium-1-2">
					<div class="uk-width-medium-1-2">
						@Html.LabelFor(model => model.Remark, htmlAttributes: new { @class = "gc-text-muted uk-text-small" })
					</div>
					<div class="uk-width-medium-1-1 gc-margin-top-2px">
						<span class="uk-text-middle">@Model.Remark</span>
					</div>
					<hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
				</div>
                <div class="uk-width-medium-1-2">
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "gc-text-muted uk-text-small" })
                    </div>
                    <div class="uk-width-medium-1-1 gc-margin-top-2px">
                        @if (!string.IsNullOrEmpty(Model.Image))
                        {
                            <img src="@Url.Content("~/Files/Teacher/" + Model.Id + "/" + Model.Image)" class="img_small" />
                        }
                    </div>
                    <hr class="gc-grid-divider uk-hidden-medium uk-hidden-large">
                </div>
			</div>
			<div class="uk-grid gc-margin-top-0px uk-hidden-small">
				<div class="uk-width-medium-1-2">
					<hr class="gc-grid-divider">
				</div>
                <div class="uk-width-medium-1-2">
                    <hr class="gc-grid-divider">
                </div>
			</div>
		</div>
	</div>
</div>
<div class="md-fab-wrapper">
    <a id="btnReturn" href="@Url.Action("Index", "Teacher", new { area = "MasterData" })" class="md-fab md-fab-small md-fab-accent" title="Quay lại" data-uk-tooltip="{pos:'top'}"><i class="material-icons">&#xE31B;</i></a>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        gcHotkey._return();
    });
</script>
}
