﻿.banner .slick-list .slick-slide {
    margin: 0px 0px;
}

    .banner .slick-list .slick-slide img {
        width: 100%
    }

.slick-prev:before, .slick-next:before {
    color: #fff
}

.slick-prev:after, .slick-next:after {
    color: #fff
}
@media only screen and (max-width: 600px) {
    .slick-prev, .slick-next {
        top: 67%;
    }

}

.popup_qc {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 450px;
    max-width: 100%;
    z-index: 9999;
    transform: translateX(0);
}

    .popup_qc a, .popup_qc a img {
        display: block;
        width: 34vw;
        height: 34vh;
    }

@media only screen and (max-width: 768px) {
    .popup_qc a, .popup_qc a img {
        height: auto;
        max-width: 100%;
        width: 100%;
    }
}

.popup_qc .close {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 20px;
    height: 20px;
    background: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    cursor: pointer;
}

.popup_form {
    position: fixed;
    z-index: 9999999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* display: none; */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: .3s all;
}

    .popup_form .bg_close_popup {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        cursor: pointer;
        background: black;
        opacity: .7;
    }

.popup_content {
    width: 600px;
    background: white;
    position: relative;
    z-index: 3;
}

.button_close {
    position: absolute;
    z-index: 9;
    right: 0;
    top: 0;
    transform: translate(100%,-100%);
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .button_close {
        right: 50%;
    }
}

.wrap_img {
    position: relative;
}

    .wrap_img a {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
    }

img {
    height: auto;
    max-width: 100%;
}

.wrap_content {
    padding: 20px;
}

.text_center {
    text-align: center;
}

.wrap_content h3 {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 700;
}

.content {
    color: #333333;
    line-height: 23px;
    font-size: 16px;
}

.wrap_content input:not(.wpcf7-submit) {
    border-radius: 5px;
    border: 1px solid #b7b7b7;
    height: 40px;
    padding: 10px 15px;
    color: #666666;
    background-color: #fafafa;
}

    .wrap_content input:not(.wpcf7-submit):focus {
        outline: 0;
    }

.wrap_content input {
    width: 100%;
    margin-bottom: 10px;
}

.wrap_content span:not(.wpcf7-form-control-wrap) {
    background: white;
    display: inline-block;
    /* width: 100%; */
    font-size: 15px;
    padding: 0 6px;
    transform: translate(7px, 10px);
    z-index: 2;
    position: relative;
}

.wrap_content input.wpcf7-submit {
    height: 40px;
    border-radius: 5px;
    padding: 0;
    font-size: 15px;
    margin: 0;
    margin-top: 10px;
    background: #259bd4 !important;
    color: #FFFFFF !important;
    border: 1px solid transparent;
}