@font-face {
    font-family: 'SVN-SAF';
    font-weight: normal;
    font-style: normal;
    src: url('/Content/fonts/SVN-SAF.ttf');
}

body {
    background-image: url("/Content/images/bg-body.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}

.btn-blue-all {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: white;
    margin-top: 20px;
    padding: 5px 30px;
}

.h3-all {
    font-family: SVN-SAF;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
}

.max100 {
    width: auto;
    height: 100%;
}

.max-w-100 {
    width: 100%;
    height: auto;
}

.navbar {
    padding: 15px 0px;
}

.navbar-brand {
    padding: 0px;
}

.d-flex {
    display: flex;
}

.d-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    margin-bottom: 0px;
}


.navbar-nav > li > a {
    line-height: 20px;
    color: black;
    font-size: 15px;
    font-weight: 600;
}

.dropdown-menu {
    width: 200px;
    border: none;
    background-color: pink;
    border-radius: 5px !important;
    /* display: block; */
}

    .dropdown-menu li a {
        line-height: 30px;
        font-weight: 700;
    }

    .dropdown-menu .caret {
        float: right;
        margin-top: 13px;
        transform: rotate(-90deg);
    }


.dropdown-menu1 {
    left: 100%;
    top: 70px;
}


.h-title {
    color: #000068;
    font-size: 32px;
    font-style: normal;
    font-weight: normal;
    position: relative;
    display: inline-block;
    padding: 15px 14px;
    margin-bottom: 60px;
    text-transform: uppercase;
    font-family: 'SVN-SAF';
}

    .h-title::before {
        content: "";
        width: 100%;
        height: 8px;
        position: absolute;
        background-image: linear-gradient(to right, white, #FFA17E);
        bottom: 0px;
        border-radius: 10px;
    }

.btn-sign-up {
    background: transparent;
    border: 1px solid #0094E7;
    color: #0094E7;
    border-radius: 10px;
    padding: 5px 20px;
    font-size: 17px;
    transition: 0.5s;
}

    .btn-sign-up:hover {
        background-color: #0094E7;
        color: white;
    }
.btn-contact {
    background: #0094E7;
    color: white;
    border-radius: 5px;
    font-size: 17px;
    text-decoration: none !important;
    height: 40px;
    display: inline-block;
    padding: 0px 60px;
    line-height: 40px;
    transition: 0.5s;
}

    .btn-contact:hover {
        background: transparent;
        border: 1px solid #0094E7;
        color: #0094E7;
    }


.list-btn {
    margin-bottom: 15px;
}

.box-class {
    background-color: #F6F6F6;
    padding: 5px;
    box-shadow: 3px 6px 16px 18px #F6F6F6;
}

    .box-class [class*="col-"] {
        padding: 5px;
    }

.box-class-inner {
    background-color: white;
    padding: 10px;
    padding: 10px 10px;
    border-radius: 15px;
}

.btn-class {
    background-image: url(/Content/images/btn-class.png);
    /* padding: 22px 54px; */
    background-size: 100% 45px;
    background-repeat: no-repeat;
    background-position: center top;
    font-size: 15px;
    color: white !important;
    font-weight: 700;
    text-decoration: none !important;
    /* display: inline-block; */
    height: 45px !important;
    line-height: 45px;
    /* margin-top: 15px; */
    margin: 4px;
    display: block;
    text-transform: uppercase;
}

.btn-active-class {
    background-image: url(/Content/images/btn-class-active.png);
}

.box-class p {
    color: #000068;
    font-size: 18px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 0px;
}

.teacher .slider {
    width: 70%;
    margin: auto;
}

.slick-slide {
    /* padding: 0px 5px; */
    margin: 0px 5px;
}

.slick-next, .slick-prev {
    width: auto;
    height: auto;
    z-index: 10;
}

.slick-prev {
    left: 5px;
}

.slick-next {
    right: 5px;
}

    .slick-prev:before, .slick-next:before {
        font-size: 30px;
    }

.box-general {
    position: relative;
}

.box-general-txt {
    position: absolute;
    width: 100%;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    bottom: -3px;
    left: 0;
    display: flex;
    align-items: center;
    padding-left: 23px;
}

.green-bg {
    background-image: url(/Content/images/green-bg.png);
}

.blue-bg {
    background-image: url(/Content/images/blue-bg.png);
}

.origan-bg {
    background-image: url(/Content/images/origan-bg.png);
}

.yellow-bg {
    background-image: url(/Content/images/yellow-bg.png);
}

.box-general-txt h4 {
    color: white;
    font-size: 13px;
    font-weight: 700;
}

.box-general-txt p {
    color: white;
    font-size: 12px;
    font-weight: 500;
}


.wit .slider, .miss .slider, .great .slider {
    width: 100%;
}

.mt {
    margin-top: 20px;
}


main {
    position: relative;
}

.fly {
    position: absolute;
    top: 60px;
    right: 0px;
    z-index: -1;
}

.dot {
    position: absolute;
    top: -20px;
    left: 0px;
    z-index: -1;
}

.balloons {
    position: absolute;
    top: 20%;
    left: 0px;
    z-index: -1;
}

.physical {
    position: absolute;
    top: 40%;
    left: 0px;
    z-index: -1;
}

.physical1 {
    position: absolute;
    top: 60%;
    right: 0px;
    transform: rotate(180deg);
    z-index: -1;
}

.fly1 {
    position: absolute;
    top: 75%;
    left: 0px;
    transform: scaleX(-1);
    z-index: -1;
}

.pencil {
    position: absolute;
    top: 45%;
    right: 0px;
}

.ball {
    position: absolute;
    top: 105%;
    right: 0px;
}

footer {
    padding: 70px 0px;
    margin-top: 20px;
    padding-bottom: 20px;
}

.footer-top {
    margin-bottom: 30px;
}

.footer-ul {
    list-style: none;
    padding: 0px;
}

    .footer-ul li {
        margin: 10px 0px;
    }

        .footer-ul li a {
            text-decoration: none;
            color: black;
            background-repeat: no-repeat;
            background-size: contain;
            padding-left: 21px;
            font-weight: 600;
        }

    .footer-ul .web a {
        background-image: url(/Content/images/icon-ws.png);
    }

    .footer-ul .address a {
        background-image: url(/Content/images/icon-address.png);
    }

    .footer-ul .phone a {
        background-image: url(/Content/images/icon-phone.png);
    }

    .footer-ul .email a {
        background-image: url(/Content/images/icon-email.png);
    }

.footer-box h4 {
    font-weight: 600;
    font-size: 21px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.working-time li a {
    padding-left: 0;
}

.list-icon li {
    display: inline-block;
    float: left;
    margin: 0px 10px;
}

.clear {
    clear: both;
}

.working-time .input-group {
    margin-top: 10px;
    border-radius: 5px;
}

    .working-time .input-group button {
        background: #000068;
        border: none;
        padding: 7px 31px;
        color: white;
    }

.logo {
    margin: 0px;
}

/* detail articles */

.breadcrumb {
    background: transparent;
}

    .breadcrumb a {
        color: black;
        font-size: 14px;
    }

    .breadcrumb .active {
        color: blue;
    }

    .breadcrumb > li + li:before {
        content: "\003e";
        color: black;
    }

.jumbotron {
    padding: 10px;
    padding-right: 0px !important;
    padding-left: 20px !important;
    position: relative;
    height: 150px;
    background: #CCECF9;
    border-radius: 24px !important;
    margin-top: 20px;
    background-image: url(/Content/images/bg_sub.jpg);
    background-repeat: round;
    background-position: revert;
    background-size: cover;
}

    .jumbotron h2 {
        color: #00A1E0;
        font-family: Merriweather;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 48px;
        margin: 0px;
    }

    .jumbotron p {
        color: #ff3300 !important;
        font-family: Open Sans;
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        line-height: 24px;
        text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    }

.jumbotron-img {
    position: absolute;
    top: -28px;
    left: -42px;
    height: 100%;
    width: auto;
}

    .jumbotron-img img {
        /*height: 100%;*/
        width: 70%;
    }

.box-detail {
    box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.1);
    position: relative;
}

    .box-detail h3 {
        text-align: center;
        background-color: #000068;
        padding: 10px 0px;
        font-family: 'SVN-SAF';
        border-radius: 8px 8px 0px 0px;
        color: white;
        font-size: 24px;
        margin: 0px;
    }

.box-detail-inner {
    background-color: white;
    padding: 15px 30px;
}

    /* .box-detail-inner ul {
    list-style: square;
} */

    .box-detail-inner h4 {
        font-family: Merriweather;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 28px;
        margin: 0px;
        color: #FF660F;
    }

    .box-detail-inner ul {
        padding-left: 10px;
    }

        .box-detail-inner ul li a {
            text-decoration: none;
            color: black;
            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 30px;
        }

.box-detail-img {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.balloons-detail {
    top: 75%;
}

/* video */

.video h3 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: black;
}

.video div {
    box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* lesson */

.box-detail-lesson h4 {
    color: #212121;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 22px;
}

.lesson-list a {
    margin-bottom: 10px;
    width: 50%;
    float: left;
    display: block;
    text-align: center;
    text-decoration: none !important;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #00A1E0;
    /* color: black; */
}

    .lesson-list a i {
        font-size: 22px;
        margin-right: 6px;
    }

.lesson-time {
    float: right;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #999999;
    margin-top: 5px;
}

/* .lesson-list a span {
    background-image: ;
} */

/* form */

.modify-w-form {
    width: 70%;
    margin: auto;
    background: #FFFFFF;
    box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px 83px;
    margin-top: 30px;
}

    .modify-w-form h4 {
        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        color: black;
    }

    .modify-w-form h3 {
        font-family: SVN-SAF;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        text-align: center;
        line-height: 36px;
        color: #FF660F;
    }

    .modify-w-form .btn {
        background: #00A1E0;
        border-radius: 8px;
        padding: 6px 100px;
        margin-top: 20px;
    }

.list-btn div {
    width: 25%;
    text-align: center;
    float: left;
}

.modify-w-form .list-btn a {
    height: auto;
    font-size: 12px;
}

.modify-w-form .form-control {
    height: 40px;
}

.tabpanel {
    width: 70%;
    margin: auto;
    margin-top: 10px;
}

.nav-tabs {
    border-bottom: none;
}


    .nav-tabs li {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }

    .nav-tabs > li > a {
        color: #999999;
    }

    .nav-tabs > li.active > a {
        border: none !important;
        border-bottom: 5px solid#FF660F !important;
        border-radius: 0px 0px 5px 5px;
    }

    .nav-tabs h3 {
        font-family: SVN-SAF;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 36px;
        color: #999999;
        cursor: pointer;
        margin: 0px;
    }

    .nav-tabs > li.active > a > h3 {
        color: #FF660F;
    }

.tabpanel .modify-w-form {
    width: 100%;
    margin-top: 0px;
}

/* 
.nav-tabs>li>a:hover {
    border-bottom: 1px solid origan!important;
} */
.tab-content label {
    margin: 0px;
    font-weight: normal;
}

.support-course {
    margin-top: 30px;
    padding: 0px 5px 10px 5px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

    .support-course .list-group-item {
        border: none;
    }

    .support-course p {
        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;
        color: black;
        background-color: white;
        display: inline-block;
        transform: translate3d(0px,-12px,0px);
        margin: 0px;
        padding: 0px 5px;
    }

.ask-you p {
    margin-top: 10px;
}

.ask-you label {
    margin-bottom: 15px;
    margin-right: 20px;
}

.radio-label ~ input {
    display: none;
}

.radio-label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    z-index: 10;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #212121;
}

    .radio-label:before {
        content: '';
        height: 23px;
        width: 24px;
        position: absolute;
        top: 0px;
        left: 0px;
        border: 1px solid #00A1E0;
        border-radius: 3px;
    }

    .radio-label i {
        position: absolute;
        top: 3px;
        left: 2px;
        font-size: 19px;
        color: #00A1E0;
        display: none;
    }

.agree {
    margin-top: 20px;
}

.contact h3 {
    color: #000068;
    text-align: left;
    margin-bottom: 10px;
    margin-top: 0px;
}

.contact {
    width: 100%;
    padding: 0px 10px 20px 10px;
    box-shadow: none;
    margin-top: 0px;
}

.address .list-group-item {
    border: none;
}

.address i {
    border-radius: 50%;
    background-color: #CCECF9;
    color: #26a0d0;
    height: 25px;
    width: 25px;
    line-height: 25px;
    font-size: 16px;
    text-align: center;
    margin-right: 10px;
}

.box-chat h3 {
    background: #000068;
    border-radius: 8px 8px 0px 0px;
    text-align: center;
    padding: 8px 0px;
    font-family: SVN-SAF;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}

.box-comments-top .btn {
    background: #00A1E0;
    border-radius: 8px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: white;
    margin-top: 20px;
}

.ratings {
    background: #FFFFFF;
    box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.ratings-inner {
    padding: 10px 15px 15px 15px;
}

.see-more-ratings {
    margin-top: 10px;
    text-decoration: none !important;
    display: inline-block;
}

.ratings h3 {
    background: #FF660F;
    border-radius: 8px 8px 0px 0px;
    text-align: center;
    padding: 8px 0px;
    font-family: SVN-SAF;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}

.ratings .media-object {
    width: 100%;
    height: 100%;
}

.ratings .pull-left {
    width: 50px;
    height: auto;
}

.ratings .media-heading {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
    margin-bottom: 0px;
}

.ratings .media {
    position: relative;
}

.ratings p {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 0px;
    color: #999999;
}

.ratings .position {
    float: left;
    margin-right: 10px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #212121;
    margin-top: 10px;
}

.rating {
    position: absolute;
    top: 0px;
    right: 11px;
    width: 50px;
    height: 40px;
    background-image: url(/Content/images/rating.png);
    background-size: contain;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    line-height: 40px;
    text-align: center;
    font-family: SVN-SAF;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #000068;
}

.box-chat-inner {
    padding: 10px;
}

.box-chat {
    background: #FFFFFF;
    box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding-bottom: 20px;
}

.set-questions .h3-all {
    color: #000068;
}

.ask-answer .tabpanel {
    width: 100%;
}

.ask-answer .ask-answer-title {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #999999;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.ask-answer .nav-tabs > li.active > a {
    border-bottom: 3px solid#FF660F !important;
    border-radius: 0px 0px 2px 2px;
}

/* post */
.post {
    padding: 20px 15px;
    background: #FFFFFF;
    box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.1);
    /* box-shadow: 0px 2px 40px black; */
    border-radius: 8px;
    margin-bottom: 12px;
}

    .post .action-comments [class*="col-"] {
        padding: 0px;
    }

        .post .action-comments [class*="col-"]:nth-child(1) {
            margin-left: 20px;
        }

.post-top {
    margin-bottom: 20px;
}

    .post-top .pull-left {
        display: inline-block;
        height: auto;
        width: 50px;
    }

        .post-top .pull-left img {
            width: 100%;
            height: 100%;
        }

    .post-top .media-body h4 {
        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        color: #00A1E0;
        line-height: 24px;
        margin-bottom: 0px;
    }

    .post-top .media-body p {
        font-family: Helvetica Neue;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        color: #999999;
        margin-bottom: 0px;
    }

    .post-top .txt {
        margin-top: 10px;
    }

.post-btn {
    margin-top: 15px;
}

    .post-btn a {
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: #00A1E0;
        border: 1px solid #00A1E0;
        border-radius: 8px;
        padding: 5px 20px;
        text-decoration: none !important;
    }

.icon-input {
    position: relative;
}

    .icon-input i {
        color: #cccccc;
        position: absolute;
        top: 10px;
        font-size: 20px;
        right: 13px;
    }

.input-group-icon i {
    right: 27px;
    color: #212121;
    ;
}


@media (min-width:1200px) {
    .your-class .list-btn .btn-class {
        background-size: 70% 45px;
    }
}

@media (min-width:992px) {
    .dropdown-toggle:hover > .dropdown-menu {
        display: block;
    }
}

@media (max-width:1200px) {
    .btn-sign-up {
        font-size: 12px;
    }

    .navbar-nav > li > a {
        font-size: 13px;
    }
}

@media (max-width:992px) {
    .navbar {
        position: fixed;
        z-index: 1000;
        width: 100%;
        height: 75px;
        background: #fff;
        border-bottom: solid 1px #00A1E0;
    }

    .d-center {
        display: unset;
    }

    .menu-responsive {
        position: fixed;
        width: 400px;
        height: 100%;
        background-color: white;
        left: 0px;
        top: 0px;
        /* display: none; */
        transition: 0.5s;
        z-index: 100;
        transform: translate3d(-400px, 0px, 10px);
    }

    .navbar-nav > li {
        float: none;
    }

    .navbar-nav {
        margin-top: 54px;
        margin-left: 20px;
    }

        .navbar-nav > li > a {
            font-size: 18px;
        }

    .btn-sign-up {
        position: fixed;
        right: 57px;
        top: 26px;
        padding: 5px 10px;
    }

    .icon-menu-responsive {
        position: fixed;
        right: 15px;
        top: 25px;
        z-index: 9;
    }

    .icon-close-responsive {
        position: absolute;
        top: 15px;
        right: 26px;
    }

        .icon-close-responsive i {
            font-size: 36px;
        }

    .bg-opacity {
        position: fixed;
        z-index: 9;
        width: 100%;
        height: 100%;
        background: black;
        opacity: 0.5;
        left: 0px;
        transition: 0.5s;
        top: 0px;
        display: none;
    }

    .icon-menu-responsive i {
        font-size: 30px;
        color: #00A1E0;
    }

    .banner-img .max100 {
        width: 100%;
        height: auto;
    }

    .logo .max100 {
        width: 100%;
        height: auto;
    }



    .banner {
        padding-top: 75px;
    }

    .list-btn {
        text-align: center;
    }

    .jumbotron {
        margin-top: 90px;
    }

        .jumbotron .txt {
            width: 60%;
        }

    .modify-w-form {
        width: 100%;
        margin-top: 100px;
    }

    .tabpanel {
        margin-top: 100px !important;
        width: 100%;
    }

    .contact {
        margin-top: 0px;
    }

    .ask-answer .nav-tabs li {
        display: inline-block;
        float: none;
        width: 32.33333%;
    }

    .ask-answer .nav-tabs > li.active > a {
        border: 3px solid#FF660F !important;
        border-radius: 5px;
    }

    .ask-answer .tabpanel {
        margin-top: 20px;
    }

    .dropdown-menu1 {
        left: 0px;
        padding-left: 10px;
        top: 0px;
    }

    .dropdown-menu {
        position: inherit;
    }

    .nav > li > a:hover {
        background-color: transparent;
    }

    .dropdown-menu > li > a:hover {
        background-color: transparent;
    }
}



@media (max-width:768px) {
    .banner {
        text-align: center;
    }

    .banner-title {
        font-size: 40px;
        font-weight: 600;
    }

    .teacher .slider {
        width: 100%;
    }

    .footer-box-contact {
        margin-bottom: 30px;
    }

    .clear {
        clear: none;
    }

    .list-icon li:nth-child(4) {
        margin-right: 30px;
    }

    .box-detail {
        margin-top: 20px;
    }

    .list-btn div {
        width: 33.3%;
    }

    .ask-answer .nav-tabs li {
        width: 49%;
    }

    .dropdown-menu {
        width: 100%;
        border: none;
        background-color: white;
        border-radius: 5px !important;
        box-shadow: none;
    }
}

@media (max-width:600px) {
    .modify-w-form {
        padding: 20px 10px;
    }
}

@media (max-width:550px) {
    .list-btn div {
        width: 50%;
    }
}

@media (max-width:480px) {
    .clear {
        clear: both;
    }

    .jumbotron h2 {
        font-size: 22px;
    }

    .jumbotron-img {
        right: -8px;
    }

        .jumbotron-img img {
            height: auto;
            width: 88%;
        }

    .modify-w-form h3 {
        font-size: 19px;
        line-height: 58px;
    }
}

@media (max-width:425px) {
    .jumbotron {
        height: 160px;
    }

        .jumbotron .txt {
            width: 100%
        }

    .jumbotron-img {
        display: none;
    }

    .nav-tabs h3 {
        font-size: 18px;
    }

    .post-btn a {
        border: none;
        padding: 0px;
    }
}

@media (max-width:400px) {
    .menu-responsive {
        width: 100%;
    }
}

@media (max-width:380px) {
    .box-comments-row-inner .bg-txt, .box-comments-full > .right {
        width: 80%;
    }

    .h-title::before {
        width: 93%;
    }
}


/* toggle class */
.dp-transform {
    transform: translate3d(0px, 0px, 10px);
    /* left:0px; */
}

.bg-opacity-block {
    display: block;
}
.my-5 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.ranking .bg-rank {
    max-width: 100%;
}