﻿a:hover {
    text-decoration: none;
}

.box-class [class*="col-"] {
    padding: 12px !important;
}

.footer-box h4 {
    font-size: 18px !important;
}

.brochure {
    width: 100%;
    height: auto;
}

.brochure {
    width: 100%;
    max-width: 100%;
    height: auto;
}

@media (min-width:1200px) {
    .embed-responsive-16by9 {
        padding-bottom: 98.25% !important;
    }
}

@media (min-width:992px) {
    .embed-responsive-16by9 {
        padding-bottom: 98.25% !important;
    }
}

@media (max-width:992px) {
    .embed-responsive-16by9 {
        padding-bottom: 98.25% !important;
    }
    .jumbotron {
        background-repeat: no-repeat !important;
    }
}

@media (max-width:1200px) {
    .embed-responsive-16by9 {
        padding-bottom: 98.25% !important;
    }
}

@media (max-width:768px) {
    .mt-90 {
        margin-top: 90px;
    }

    .embed-responsive-16by9 {
        padding-bottom: 117.25% !important;
    }

    .jumbotron {
        background-repeat: no-repeat !important;
    }
    .dropdown-menu2ss {
        width: 80%;
        border: none;
        background-color: white;
        border-radius: 5px !important;
        box-shadow: none;
    }
}

@media (max-width:550px) {
    .mt-90 {
        margin-top: 90px;
    }

    .embed-responsive-16by9 {
        padding-bottom: 117.25% !important;
    }

    .jumbotron {
        background-repeat: no-repeat !important;
    }
    .dropdown-toggle:hover > .dropdown-menu2ss {
        display: block;
        left: 66%;
        top: 55px;
        width: 14%;
    }
}

@media (max-width:480px) {
    .mt-90 {
        margin-top: 90px;
    }

    .embed-responsive-16by9 {
        padding-bottom: 117.25% !important;
    }

    .jumbotron {
        background-repeat: no-repeat !important;
    }
    .dropdown-toggle:hover > .dropdown-menu2ss {
        display: block;
        left: 56%;
        top: 55px;
        width: 14%;
    }
}

@media (max-width:425px) {
    .mt-90 {
        margin-top: 90px;
    }

    .embed-responsive-16by9 {
        padding-bottom: 117.25% !important;
    }

    .jumbotron {
        background-repeat: no-repeat !important;
    }
    .dropdown-toggle:hover > .dropdown-menu2ss {
        display: block;
        left: 56%;
        top: 55px;
        width: 14%;
    }
}

.box-detail-inner ul li a {
    font-size: 16px !important;
}

.jumbotron h2 {
    color: #ff3300 !important;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    font-size: 28px !important;
}

.box-chat img {
    width: 100%;
}

.ratings h3 {
    font-size: 17px !important;
}

.lesson-list a {
    width: 100%;
}

.video h3 {
    color: #ff3300;
    font-size: 25px;
    margin-top: 4px;
    margin-bottom: 19px;
    line-height: 30px;
    text-align: center;
}

.embed-responsive-16by9 {
    padding-bottom: 61.25%;
}

.h-bhl {
    color: #000068;
    font-size: 32px;
    font-style: normal;
    font-weight: normal;
    position: relative;
    display: inline-block;
    padding: 15px 35px;
    text-transform: uppercase;
    font-family: 'SVN-SAF';
    border: dashed 5px #000068;
    border-radius: 40px;
    margin-top: 40px;
}

.post h4 {
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    margin: 0px;
    color: #FF660F;
}

.mt-20 {
    margin-top: 20px;
}

.mt-17 {
    margin-top: 20px;
}

.comments-img {
    width: 80px !important;
}

.dropify-wrapper {
    width: 20% !important;
    margin-left: 47px;
    border-radius: 10px;
    top: 5px;
    margin-bottom: 15px;
}

span.file-icon p {
    font-size: 17px;
    font-weight: 500;
}

.right img {
    width: 20%;
}

.right {
    width: 88%;
}
.mt-60 {
    margin-top: 50px !important;
}
.btn-customize {
    margin-top: 0px !important;
    padding: 9px 10px !important;
}
img.imgbct {
    width: 220px;
}
.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
}
.solid-container {
    height: 100vh;
}
.divcenter {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.dropdown-menu2ss {
    width: 200px;
    border: none;
    background-color: white;
    /* display: block; */
}

    .dropdown-menu2ss li {
        background-color: white;
        text-align: left;
    }

        .dropdown-menu2ss li a {
            padding: 0px;
            padding-left: 30px;
            color: black;
            font-weight: 100 !important;
        }

.dropdown-menu2ss {
    text-align: center;
    left: 16%;
    top: 42px;
}

@media (max-width:992px) {
    .dropdown-toggle:hover > .dropdown-menu2ss {
        display: block;
        left: 75%;
        top: 55px;
        width: 18%;
    }
    .dropdown-menu2ss > li > a:hover {
        background-color: #f5f5f5;
    }
}

@media (max-width:1200px) {
    .dropdown-menu2 .dropdown-menu2ss {
        left: 15%;
        top: 45px;
        width: 30%;
        font-size: 12px;
    }
}
@media (max-width:692px) {
    .dropdown-toggle:hover > .dropdown-menu2ss {
        display: block;
        left: 70%;
        top: 50px;
        width: 16%;
    }

}
@media (max-width:600px) {
    .dropdown-toggle:hover > .dropdown-menu2ss {
        display: block;
        left: 66%;
        top: 55px;
        width: 16%;
    }
    .video_huongdan {
        display: none;
    }
}

@media (max-width:380px) {
    .dropdown-toggle:hover > .dropdown-menu2ss {
        display: block;
        left: 50%;
        top: 55px;
        width: 14%;
    }
    .video_huongdan { display: none; }
}
.video_huongdan {
    border: 1px dashed;
    margin-top: 10px;
}

    .video_huongdan img {
        width: 40%;
        margin: 5px;
    }

.video_huongdan_tittle {
    margin-top: 5px;
    font-size: 13px;
    text-decoration: underline;
    margin: 5px;
}

.video_huongdan_content {
    font-size: 12px;
    margin: 5px;
    margin-left: 15px;
}
.socialQuyDinh {
    top: 13px;
    position: relative;
    right: 10px;
}
.form-login {
    padding: 1em;
    min-width: 280px;
}
.embed-responsive-17by9 {
    padding-bottom: 56.25%;
}
.video h4 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #000068;
    text-align: center;
}
.popup_qc {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 450px;
    max-width: 100%;
    z-index: 9999;
    transform: translateX(0);
}

    .popup_qc.hide {
        transform: translateX(150%);
        transition: 1s linear;
    }

    .popup_qc a {
        display: block;
    }

        .popup_qc a img {
            display: block;
        }

    .popup_qc .close {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 20px;
        height: 20px;
        background: white;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        cursor: pointer;
    }

        .popup_qc .close svg {
            width: 12px;
            height: 12px;
        }