.vcard-img{
	max-width:200px;
}
@media (max-width: 767px){
	.vcard-img{
		max-width:150px;
	}
}
.post.teacher {
    margin-bottom: 10px;
}
.teacher h3 {
	font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 24px;
    color: #222;
    margin-top: 7px;
}
.teacher h5 {
	font-family: Open Sans;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    margin-top: 0px;
	font-weight: 600;
	color: #777;
}
.teacherContent {
	color: #777;
}
h3.ask-answer-title {
    font-weight: bold !important;
    text-transform: uppercase;
    color: #222 !important;
}
.nav-tabs > li.active > a > h3 {
    color: #FF660F !important;
}
h3.h-title {
    margin-bottom: 40px !important;
}
@media (max-width: 992px) {
    .tabpanel {
        margin-top: 20px !important;
    }
}