﻿.margin-video-top {
    margin-top: 15px;
}

h5 a:hover {
    text-decoration: none;
}

.modal-content {
    background: none;
    margin-top: 30px;
}

.modal-body {
    border: none;
    padding: 5px;
}

.btn-closed {
    background: white;
    position: absolute;
    right: 0px;
    top: -30px;
}
