﻿@model GCSOFT.MVC.Web.Areas.MasterData.Models.Template
<div id="page_content_inner" class="hierarchical_slide">
    <div class="md-card">
        <div class="md-card-toolbar">
            <div class="md-card-toolbar-actions">
                <i class="md-icon material-icons md-card-toggle">&#xE316;</i>
            </div>
            <h3 class="md-card-toolbar-heading-text">
                <i class="material-icons">&#xE894;</i>&nbsp;&nbsp;@ViewBag.Title
            </h3>
        </div>
        <div class="md-card-content">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    @Html.LabelFor(model => model.Code)
                    @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "md-input validate[required]" } })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    @Html.LabelFor(model => model.Title)
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "md-input validate[required]" } })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    @Html.LabelFor(model => model.Content)
                    @Html.TextAreaFor(model => model.Content, new { @cols = "30", @rows = "30" })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    @Html.LabelFor(model => model.SMSContent)
                    @Html.TextAreaFor(model => model.SMSContent, new { @class = "md-input" })
                </div>
            </div>
        </div>
    </div>
</div>
<div class="md-fab-wrapper">
    <div class="md-fab md-fab-accent md-fab-sheet md-fab-small">
        <i class="material-icons">&#xE30F;</i>
        <div class="md-fab-sheet-actions">
            <a id="btnReturn" href="@Url.Action("Index", "Template", new { area = "MasterData" })" class="md-color-white"><i class="material-icons md-color-white">&#xE15E;</i> <span class="gc-text-decoration uk-text-warning">Q</span>uay lại</a>
            <a id="btnSave" href="javascript:void(0)" class="md-color-white"><i class="material-icons md-color-white">&#xE161;</i> <span class="gc-text-decoration uk-text-warning">L</span>ưu</a>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        gcHotkey._return();
        gcHotkey._save();
        CreateSuccess('@Url.Action("Create", "Template", new { area = "MasterData" })');
        CKEDITOR.replace('Content', { height: 300 });
        CKEDITOR.instances.Content.on('change', function () {
            $('[name="Content"]').val(CKEDITOR.instances.Content.getData());
        });
        $('#btnSave').click(function () {
            Save($("#frm"), true);
        });
    });
</script>
