﻿@model GCSOFT.MVC.AGENCY.Areas.Transaction.Data.AgencyAndCard
@using (Html.BeginForm("ActivationCard", "CardStore", FormMethod.Post, new { @id = "frmActivationCard", @class = "uk-form-stacked", @autocomplete = "off" }))
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/cms/js/altair_admin_common.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/cms/js/gc-common.js")"></script>
    <div class="md-card md-card-popup">
        <div class="md-card-toolbar md-card-toolbar-popup">
            <h3 class="md-card-toolbar-heading-text">
                Gửi Mã Kích Hoạt STNHĐ
            </h3>
        </div>
        <div class="md-card-content md-card-content-popup">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    <div class="uk-input-group">
                        <label>Số Seri</label>
                        @Html.EditorFor(model => model.SerialNumber, new { htmlAttributes = new { @class = "md-input", @readonly = true } })
                        <span class="uk-input-group-addon"><a class="md-btn md-btn-flat md-btn-flat-primary md-btn-wave waves-effect waves-button" href="javascript:void(0);" id="btnGetNewSeri">Lấy số Seri mới</a></span>
                    </div>
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    <label>Họ tên</label>
                    @Html.EditorFor(model => model.FulName, new { htmlAttributes = new { @class = "md-input validate[required]" } })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    <label>Số Điện Thoại</label>
                    @Html.EditorFor(model => model.PhoneNo, new { htmlAttributes = new { @class = "md-input validate[required,custom[phone]]" } })
                </div>
            </div>
            @*<div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    <div class="uk-input-group">
                        <label>Số Điện Thoại</label>
                        @Html.EditorFor(model => model.PhoneNo, new { htmlAttributes = new { @class = "md-input validate[required,custom[phone]]" } })
                        <span class="uk-input-group-addon"><a class="md-btn md-btn-flat md-btn-flat-primary md-btn-wave waves-effect waves-button" href="javascript:void(0);" id="btnSendOTP">Lấy mã xác thực</a></span>
                    </div>
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    <label>Mã xác thực</label>
                    @Html.EditorFor(model => model.OTP, new { htmlAttributes = new { @class = "md-input validate[required]" } })
                </div>
            </div>*@
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    <label>Email</label>
                    @Html.EditorFor(model => model.VerifyInfo, new { htmlAttributes = new { @class = "md-input validate[required,custom[email]]" } })
                </div>
            </div>
            <div class="uk-grid uk-margin-medium-top">
                <div class="uk-width-1-1 uk-text-right">
                    <button id="btnSendActivationCode" type="button" class="md-btn md-btn-primary">Gửi Mã Kích Hoạt</button>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#btnSendActivationCode').click(function () {
            var flag = $('#frmActivationCard').validationEngine('validate');
            if (flag) {
                NProgress.start();
                $('#btnSendActivationCode').addClass('disabled').text('Đang gửi mã kích hoạt ....');
                $('#frmActivationCard').ajaxSubmit(function (data) {
                    if (data == '') {
                        $.toast({
                            heading: 'STNHD Thông Báo',
                            text: 'Đã gửi mã kích hoạt vào SĐT ' + $('#PhoneNo').val() + ' của bạn',
                            showHideTransition: 'slide',
                            icon: 'info',
                            position: 'top-center'
                        });
                        $('#buy' + $('#SerialNumber').val()).hide();
                        $('#register' + $('#SerialNumber').val()).hide();
                        $('#status' + $('#SerialNumber').val()).html('<span class="uk-badge">Đã Bán Mã Kích Hoạt</span>');
                    } else {
                        $.toast({
                            heading: 'STNHD Thông Báo',
                            text: data,
                            showHideTransition: 'slide',
                            icon: 'info',
                            position: 'top-center'
                        });
                    }
                    $('#btnSendActivationCode').removeClass('disabled').text('Gửi Mã Kích Hoạt');
                    NProgress.done();
                });
            }
        });
        $('#btnSendOTP').click(function () {
            if ($('#PhoneNo').val() == '') {
                $.toast({
                    heading: 'STNHD Thông Báo',
                    text: 'Vui lòng nhập số điện thoại',
                    showHideTransition: 'slide',
                    icon: 'info',
                    position: 'top-center'
                });
            } else {
                $.post('@Url.Action("SendOTP", "CardStore", new { area = "Transaction" })', { p: $('#PhoneNo').val(), s: $('#SerialNumber').val() }, function (data) {
                    $.toast({
                        heading: 'Mã OTP đã được gửi vào số điện thoại ' + $('#PhoneNo').val(),
                        text: data,
                        showHideTransition: 'slide',
                        icon: 'info',
                        position: 'top-center'
                    });
                });
            }
        });
        $('#btnGetNewSeri').click(function () {
            $.post('@Url.Action("GetNewSeri", "CardStore", new { area = "Transaction" })', {}, function (data) {
                $('#SerialNumber').val(data);
                $.toast({
                    heading: 'Số Seri mới ' + data,
                    showHideTransition: 'slide',
                    icon: 'info',
                    position: 'top-center'
                });
            });
        });
    });
</script>