﻿@model GCSOFT.MVC.AGENCY.Areas.Agency.Data.UserInfoViewModel
@using (Html.BeginForm("ResendViaEmailPhoneUserInfo", "CardStore", FormMethod.Post, new { @id = "frmRegister", @class = "uk-form-stacked", @autocomplete = "off" }))
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/cms/js/altair_admin_common.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/cms/js/gc-common.js")"></script>
    <div class="md-card md-card-popup">
        <div class="md-card-toolbar md-card-toolbar-popup">
            <h3 class="md-card-toolbar-heading-text">
                Thông Tin Tài Khoản
            </h3>
        </div>
        <div class="md-card-content md-card-content-popup">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    <label>Số Seri</label>
                    @Html.EditorFor(model => model.Serinumber, new { htmlAttributes = new { @class = "md-input", @readonly = true } })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    <label>Họ tên (*)</label>
                    @Html.EditorFor(model => model.fullName, new { htmlAttributes = new { @class = "md-input validate[required]", @readonly = true } })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    <label>Số Điện Thoại</label>
                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "md-input validate[required,custom[phone]]", @readonly = true } })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    <label>Email</label>
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "md-input validate[required,custom[email]]", @readonly = true } })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    <label>Địa chỉ (*)</label>
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "md-input validate[required ]", @readonly = true } })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    <label>Lớp (*)</label>
                    @Html.DropDownListFor(model => model.ClassId, Model.ClassList, "[ Chọn ]", new { @class = "md-input label-fixed validate[required]", @readonly = true })
                </div>
            </div>
            <div class="uk-grid uk-margin-medium-top">
                <div class="uk-width-1-1 uk-text-right">
                    <button id="btnReSendUserInfo" type="button" class="md-btn md-btn-primary">Gửi Lại Thông Tin</button>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#btnReSendUserInfo').click(function () {
            var _id = $('#Serinumber').val();
            NProgress.start();
            $('#btnReSendUserInfo').addClass('disabled').text('Đang gửi mã thông tin ....');
            $.post('@Url.Action("ResendViaEmailPhoneUserInfo", "CardStore", new { area = "Transaction" })', { id: _id }, function (data) {
                $.toast({
                    heading: 'STNHD Thông Báo',
                    text: 'Đã gửi lại mã kích hoạt qua số điện thoại',
                    showHideTransition: 'slide',
                    icon: 'info',
                    position: 'top-center'
                });
                $('#btnReSendUserInfo').removeClass('disabled').text('Gửi Lại Thông Tin');
            });
        });
    });
</script>