﻿@model GCSOFT.MVC.AGENCY.Areas.Agency.Data.UserInfoViewModel
@using (Html.BeginForm("Register", "CardStore", FormMethod.Post, new { @id = "frmRegister", @class = "uk-form-stacked", @autocomplete = "off" }))
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/cms/js/altair_admin_common.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/cms/js/gc-common.js")"></script>
    <div class="md-card md-card-popup">
        <div class="md-card-toolbar md-card-toolbar-popup">
            <h3 class="md-card-toolbar-heading-text">
                Tạo Mới Tài Khoản
            </h3>
        </div>
        <div class="md-card-content md-card-content-popup">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    <div class="uk-input-group">
                        <label>Số Seri</label>
                        @Html.EditorFor(model => model.Serinumber, new { htmlAttributes = new { @class = "md-input", @readonly = true } })
                        <span class="uk-input-group-addon"><a class="md-btn md-btn-flat md-btn-flat-primary md-btn-wave waves-effect waves-button" href="javascript:void(0);" id="btnGetNewSeri">Lấy số Seri mới</a></span>
                    </div>
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    <label>Tên Đăng Nhập (*)</label>
                    @Html.EditorFor(model => model.userName, new { htmlAttributes = new { @class = "md-input validate[required,funcCall[ValidUsername[]]" } })
                    <span class="uk-form-help-block">Tên Đăng Nhập có độ dài từ 3 - 15 ký tự, gồm chữ số hoặc chữ cái từ [0-9] [a-z]<br />Không phân biệt chữ hoa và chữ thường<br />Không có khoảng trắng<br />Không chứa ký tự đặc biệt # $...</span>
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    <label>Họ tên (*)</label>
                    @Html.EditorFor(model => model.fullName, new { htmlAttributes = new { @class = "md-input validate[required]" } })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    <label>Số Điện Thoại</label>
                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "md-input validate[required,custom[phone]]" } })
                </div>
            </div>
            @*<div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-1">
                        <div class="uk-input-group">
                            <label>Số Điện Thoại</label>
                            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "md-input validate[required,custom[phone]]" } })
                            <span class="uk-input-group-addon"><a class="md-btn md-btn-flat md-btn-flat-primary md-btn-wave waves-effect waves-button" href="javascript:void(0);" id="btnSendOTP">Lấy mã xác thực</a></span>
                        </div>
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-1">
                        <label>Mã xác thực</label>
                        @Html.EditorFor(model => model.OTP, new { htmlAttributes = new { @class = "md-input validate[required]" } })
                        <span class="uk-form-help-block">Click vào Lấy mã xác thực, để lấy mã xác thực nhập vào</span>
                    </div>
                </div>*@
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    <label>Email</label>
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "md-input validate[required,custom[email]]" } })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    <label>Địa chỉ (*)</label>
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "md-input validate[required ]" } })
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-1">
                    <label>Lớp (*)</label>
                    @Html.DropDownListFor(model => model.ClassId, Model.ClassList, "[ Chọn ]", new { @class = "md-input label-fixed validate[required]" })
                </div>
            </div>
            <div class="uk-grid uk-margin-medium-top">
                <div class="uk-width-1-1 uk-text-right">
                    <button id="btnRegister" type="button" class="md-btn md-btn-primary">Đăng Ký</button>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#btnRegister').click(function () {
            var flag = $('#frmRegister').validationEngine('validate');
            if (flag) {
                NProgress.start();
                $('#btnRegister').addClass('disabled').text('Đang kích hoạt tài khoản ....');
                $('#frmRegister').ajaxSubmit(function (data) {
                    if (data == '') {
                        $.toast({
                            heading: 'STNHD Thông Báo',
                            text: 'Chúc mừng bạn đã đăng ký thành công<BR />Thông Tin Đăng Nhập sẽ được gửi qua số điện thoại bạn đăng ký',
                            showHideTransition: 'slide',
                            icon: 'info',
                            position: 'top-center'
                        });
                        $('#buy' + $('#Serinumber').val()).hide();
                        $('#register' + $('#Serinumber').val()).hide();
                        $('#status' + $('#Serinumber').val()).html('<span class="uk-badge">Thẻ Đã Bán</span>');
                        $('#btnRegister').removeClass('disabled').text('Đăng Ký');
                    } else {
                        $.toast({
                            heading: 'STNHD Thông Báo',
                            text: data,
                            showHideTransition: 'slide',
                            icon: 'info',
                            position: 'top-center'
                        });
                        $('#btnRegister').removeClass('disabled').text('Đăng Ký');
                    }
                    NProgress.done();
                });
            }
        });
        $('#btnSendOTP').click(function () {
            if ($('#Phone').val() == '') {
                $.toast({
                    heading: 'STNHD Thông Báo',
                    text: 'Vui lòng nhập số điện thoại',
                    showHideTransition: 'slide',
                    icon: 'info',
                    position: 'top-center'
                });
            } else {
                $.post('@Url.Action("SendOTPRegister", "CardStore", new { area = "Transaction" })', { p: $('#Phone').val(), s: $('#Serinumber').val() }, function (data) {
                    if (data == '') {
                        $.toast({
                            heading: 'Mã OTP đã được gửi vào số điện thoại ' + $('#Phone').val(),
                            text: data,
                            showHideTransition: 'slide',
                            icon: 'info',
                            position: 'top-center'
                        });
                    } else {
                        $.toast({
                            heading: data,
                            text: data,
                            showHideTransition: 'slide',
                            icon: 'info',
                            position: 'top-center'
                        });
                    }
                });
            }
        });
        $('#btnGetNewSeri').click(function () {
            $.post('@Url.Action("GetNewSeri", "CardStore", new { area = "Transaction" })', {}, function (data) {
                $('#Serinumber').val(data);
                $.toast({
                    heading: 'Số Seri mới ' + data,
                    showHideTransition: 'slide',
                    icon: 'info',
                    position: 'top-center'
                });
            });
        });
    });
    function ValidUsername(field, rules, i, options) {
        var regex = /^[a-zA-Z0-9_-]{3,15}$/;
        if (!regex.test(field.val())) {
            return "Tên Đăng Nhập không hợp lệ";
        }
    }
</script>