﻿@using PagedList.Mvc;
@using PagedList;
@model IPagedList<GCSOFT.MVC.AGENCY.ViewModels.HienTai.O_Reserve>
@{
    Layout = null;
    int StartStt = ViewBag.StartSTT;
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th class="text-center">STT</th>
            <th class="text-center">Mã Bảo Lưu</th>
            <th class="text-center">Học Viên Bảo Lưu</th>
            <th class="text-center">Trạng Thái Bảo Lưu</th>
            <th class="text-center">Thời Gian Yêu Cầu</th>
            <th class="text-center">Thời Gian Bắt Đầu</th>
            <th class="text-center">Thời Gian Kết Thúc</th>
            <th class="text-center">Trạng Thái Duyệt</th>
            <th class="text-center">Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count > 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">@StartStt</td>
                    <td class="text-center"><a href="@Url.Action("Details", "BaoLuu", new { area = "HienTai", code=item.Code })"><strong>@item.Code</strong></a></td>
                    <td>@item.StudentName</td>
                    <td>@item.ReserveText</td>
                    <td>@item.DateRequest.ToString("dd/MM/yyyy")</td>
                    <td>@item.DateReserveStart.ToString("dd/MM/yyyy")</td>
                    <td>@item.DateReserveEnd.ToString("dd/MM/yyyy")</td>
                    <td>@item.StatusName</td>
                    <td class="text-center">
                        <a href="#" class="btn btn-sm btn-icon btn-flat btn-default" title="Chỉnh Sửa">
                            <i class="material-icons md-24 uk-text-success">edit</i>
                        </a>
                        <button type="button" onclick='' class="btn btn-sm btn-icon btn-flat btn-default" title="Xóa">
                            <i class="material-icons md-24 uk-text-danger">&#xE872;</i>
                        </button>
                    </td>
                </tr>
                StartStt++;
            }
        }
        else
        {
            <tr>
                <td colspan="8">Dữ liệu không tồn tại.</td>
            </tr>
        }
    </tbody>
</table>
<div class="text-center">
    @if (Model.PageCount > 1)
    {
        @Html.PagedListPager(
            Model,
            pageNumber => Url.Action("IndexContent", "Bao Luu"
            , new { code = ViewBag.code, studentId = ViewBag.studentId, statusCode = ViewBag.statusCode, pageNumber }),
            PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(PagedListRenderOptions.PageNumbersOnly, new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "ReserveGrid" })
        )
    }
</div>

