﻿@model GCSOFT.MVC.STNHD.Models.PageViewModels.SocialViewModel
@using GCSOFT.MVC.Model.MasterData
@{
    ViewBag.Title = "Chính Sách Đối Tác - Siêu Trí Nhớ Học Đường";
}
<div class="container">
    <div class="jumbotron">
        <div class="txt">
            <h2>Chính Sách Đối Tác</h2>
        </div>
        <p class="jumbotron-img"><img src="@Url.Content("~/Content/images/banner-detail.png")" alt=""></p>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="ask-answer">
                <div class="post">
                    <div class="post-top">
                        <h4>Chính sách đối tác tháng 6/2021</h4>
                        <p class="txt">Tổng hợp chính sách đối tác/cộng tác viên Siêu Trí Nhớ Học Đường tháng 06/2021</p>
                        <div class="text-left post-btn"><a href="https://sieutrinhohocduong.com/Files/AgencyPolicy/ChinhSachDaiLyT6.pdf" target="_blank">Xem chi tiết</a></div>
                    </div>
                    <div class="clear-both"></div>
                </div>
                <div class="clear-both"></div>
            </div>
        </div>
    </div>
</div>