﻿@{
    ViewBag.Title = "Hướng dẫn học viên";
}
<link href="@Url.Content("~/Content/Videos.css")" rel="stylesheet" />
<div class="container">
    <div class="jumbotron">
        <div class="txt divcenter">
            <h2>Hướng Dẫn Học Viên</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 mt-17">
            <div class="video">
                <h3>@ViewBag.TitleVideo</h3>
                <video width="100%" controls muted autoplay>
                    <source src="@ViewBag.link" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>

        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
            <div class="box-detail box-detail-lesson">
                <h3>Bài Học</h3>
                <div class="box-detail-inner">
                    <ul>
                        <li><a href="@Url.Action("Student", "Support", new { id = 12 })">Đăng nhập và kích hoạt tài khoản Siêu Trí Nhớ Học Đường</a></li>
                        <li><a href="@Url.Action("Student", "Support", new { id = 13 })">Hướng dẫn học viên đổi mật khẩu</a></li>
                        <li><a href="@Url.Action("Student", "Support", new { id = 14 })">Hướng dẫn lấy lại tên đăng nhập</a></li>
                        <li><a href="@Url.Action("Student", "Support", new { id = 15 })">Hướng dẫn lấy lại mật khẩu</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>