﻿@model GCSOFT.MVC.AGENCY.Areas.Transaction.Data.SalesOrderCard
@{
    ViewBag.Title = "Đơn Đặt Hàng";
    //Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Details", "PartnerShipment", FormMethod.Post, new { @id = "frm", @class = "uk-form-stacked", @autocomplete = "off" }))
{
    <div id="page_content_inner" class="hierarchical_slide">
        <div class="md-card">
            <div class="md-card-toolbar">
                <h3 class="md-card-toolbar-heading-text">
                    <i class="material-icons">&#xE894;</i>&nbsp;&nbsp;@ViewBag.Title
                    @Html.HiddenFor(model => model.StatusCode)
                    @Html.HiddenFor(model => model.StatusId)
                    @Html.HiddenFor(model => model.FromSeriesNumber)
                    @Html.HiddenFor(model => model.ToSeriesNumber)
                </h3>
            </div>
            <div class="md-card-content">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-3">
                        @Html.LabelFor(model => model.Code)
                        @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "md-input", @readonly = true } })
                    </div>
                    <div class="uk-width-medium-1-3">
                        @Html.LabelFor(model => model.DocumentDateStr)
                        @Html.TextBoxFor(model => model.DocumentDateStr
                                                , new Dictionary<string, Object> {
                                                    { "class", "md-input label-fixed validate[required,funcCall[DateFormat[]]" }
                                                    , { "autocomplete", "off" }
                                                    , { "placeholder", "dd/MM/yyyy" }
                                                    , { "data-uk-datepicker", "{format:'DD/MM/YYYY'}" }
                                                })
                    </div>
                    <div class="uk-width-medium-1-3">
                        @Html.LabelFor(model => model.ReceiptDateStr)
                        @Html.EditorFor(model => model.ReceiptDateStr, new { htmlAttributes = new { @class = "md-input label-fixed", @readonly = true } })
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-2">
                        @Html.LabelFor(model => model.CustomerId)
                        @Html.EditorFor(model => model.CustomerName, new { htmlAttributes = new { @class = "md-input", @readonly = true } })
                    </div>
                    <div class="uk-width-medium-1-2">
                        @Html.LabelFor(model => model.StatusId)
                        @Html.EditorFor(model => model.StatusName, new { htmlAttributes = new { @class = "md-input", @readonly = true } })
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-2">
                        @Html.LabelFor(model => model.NoOfCard)
                        @Html.TextBoxFor(model => model.NoOfCard, new Dictionary<string, Object>
                              {
                                  {"class","md-input masked_input label-fixed"},
                                  {"data-inputmask", "'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true, 'placeholder': '0'"}
                              })
                    </div>
                    <div class="uk-width-medium-1-2">
                        @Html.LabelFor(model => model.TotalAmount)
                        @Html.TextBoxFor(model => model.TotalAmount, new Dictionary<string, Object>
                              {
                                  {"class","md-input masked_input label-fixed"},
                                  {"data-inputmask", "'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true, 'placeholder': '0'"},
                                  {"readonly","readonly"}
                              })
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.Remark)
                        @Html.TextAreaFor(model => model.Remark, new { @cols = "30", @rows = "3", @class = "md-input" })
                    </div>
                </div>
            </div>
        </div>
        @Html.Partial("_CardLine", Model)
    </div>
    <div class="md-fab-wrapper">
        <a class="md-fab md-fab-primary md-fab-wave-light md-fab-small" href="@Url.Action("Create", "PartnerShipment", new { area = "Transaction" })" data-uk-tooltip="{pos:'top'}" title="Quay lại">
            <i class="material-icons">&#xE31B;</i>
        </a>
    </div>
}