﻿@model GCSOFT.MVC.STNHD.Models.NamPhutViewModels.NopBai
@using GCSOFT.MVC.Model.StoreProcedue
@{
    ViewBag.Title = "Bài Dự Thi";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var baiThis = (IEnumerable<SPBaiThi>)ViewBag.BaiThi;
}
<div class="container">
    <div class="row" style="padding-top: 20px;">
        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
            @Html.Partial("_MenuThiSinh")
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="text-center"><h3 class="h-title" style="margin-bottom: 29px; color: #337ab7; margin-top: 35px;">Danh Sách Đề Thi</h3></div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            @foreach (var item in baiThis)
            {
                <div class="post">
                    <div class="post-top">
                        <div class="media">
                            <div class="media-body">
                                <h4 class="media-heading" style="color: #FF660F;">@item.Title</h4>
                                <p>@item.NgayBatDauStr - @item.NgayKetThucStr</p>
                            </div>
                        </div>
                        <p class="txt">
                            @Html.Raw(item.Description)
                        </p>

                        <div class="text-left post-btn">
                            @if (item.StatusCode == 1)
                            {

                                <a href="@Url.Action("NopBai", "NamPhutThuocBai", new { c = item.Code })">@item.StatusName</a>
                            }
                            else if (item.StatusCode == 2)
                            {
                                <a href="@Url.Action("CapNhatBaiNop", "NamPhutThuocBai", new { c = item.Code, id = item.Id })">@item.StatusName</a>
                            }
                            else
                            {
                                <a href="javascript:void(0);">@item.StatusName</a>
                            }
                            @if (item.Code.StartsWith("TUAN2"))
                            {
                                <a href="@Url.Action("CapNhatLuotView", "NamPhutThuocBai", new { c = item.Code, id = item.Id })">Cập nhật lượt View</a>
                            }
                        </div>
                        @if (!string.IsNullOrEmpty(item.Remark1))
                        {
                            <p class="txt">
                                <strong>Ghi chú Trọng Tài</strong>
                                @Html.Raw(item.Remark1)
                            </p>
                        }
                        @if (!string.IsNullOrEmpty(item.Remark2))
                        {
                            <p class="txt">
                                <strong>Ghi chú trọng tài video</strong>
                                @Html.Raw(item.Remark2)
                            </p>
                        }
                        @if (!string.IsNullOrEmpty(item.Remark3))
                        {
                            <p class="txt">
                                <strong>Ghi chú trọng tài mindmap</strong>
                                @Html.Raw(item.Remark3)
                            </p>
                        }
                    </div>
                    <div class="clear-both"></div>
                </div>
                <div class="clear-both"></div>
            }
        </div>
    </div>
</div>
@section scripts{
    <link href="@Url.Content("~/Scripts/ValidationEngine/validationEngine.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/ValidationEngine/validationEngine.js")"></script>
    <script src="@Url.Content("~/Scripts/ValidationEngine/validationEngine-vi.js")"></script>
    <link href="@Url.Content("~/Scripts/toast/toast.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/toast/toast.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            if ($.urlParam('msg') == '2') {
                $.toast({
                    heading: 'Xin Chúc Mừng',
                    text: 'Bài dự thi của em đã được gửi đến giáo viên Tâm Trí Lực, kết quả sẽ được trả về qua Email và SMS trong thời gian sớm nhất',
                    showHideTransition: 'slide',
                    icon: 'info',
                    position: 'top-center',
                    hideAfter: 20000
                });
            }

        });
        $.urlParam = function (name) {
            var results = new RegExp('[\\?&]' + name + '=([^&#]*)').exec(window.location.href);
            if (results == null) {
                return '';
            } else {
                return results[1] || 0;
            }
        }
    </script>
}