﻿@model GCSOFT.MVC.STNHD.Models.NamPhutViewModels.Contestants
@{
    ViewBag.Title = "Đăng Ký Dự Thi Cuộc Thi 5 Phút Thuộc Bài";
}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="tabpanel" role="tabpanel" style="margin-top: 10px !important">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active col-lg-12 col-md-12 col-xs-12 col-sm-12 text-center">
                        <a href="#home" aria-controls="home" role="tab" data-toggle="tab">
                            <h3>Đăng Nhập</h3>
                            Đăng nhập tham gia cuộc thi 5 phút thuộc bài ?
                        </a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home">
                        <div class="modify-w-form">
                            @if (!string.IsNullOrEmpty(ViewBag.error))
                            {
                                <div id="divSuccessRegistration" class="modify-w-form contact" style="text-align: center;">
                                    <h3 style="text-align: center; margin-top: 25px;">Thông Báo</h3>
                                    <p id="msgSuccessRegistration">@ViewBag.error</p>
                                </div>
                            }
                            @using (Html.BeginForm("DangNhapCuocThi", "NamPhutThuocBai", FormMethod.Post, new { @id = "frmLogin", @class = "sign__form form-horizontal", @autocomplete = "off" }))
                            {
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-3 control-label">Tên đăng nhập</label>
                                    <div class="col-sm-9">
                                        <input id="LoginuserName" type="text" class="form-control" name="userName" placeholder="Nhập tên đăng nhập (*)">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-3 control-label">Mật khẩu</label>
                                    <div class="col-sm-9">
                                        <input id="Loginpassword" type="password" class="form-control" name="password" placeholder="Nhập mật khẩu">
                                    </div>
                                </div>
                                <div class="text-center"><button name="btnLogin" id="btnLogin" type="button" class="btn btn-primary">Đăng Nhập</button></div>
                                <br />
                                <div class="text-center"><a id="btnCreateAccount" href="@Url.Action("QuenTenDangNhapVaMatKhau","NamPhutThuocBai")">Quên tên đăng nhập và mật khẩu cuộc thi ?</a></div>
                                <br />
                                <div class="text-center"><a id="btnCreateAccount" href="@Url.Action("index","NamPhutThuocBai")">Quay lại trang chủ</a></div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <link href="@Url.Content("~/Scripts/ValidationEngine/validationEngine.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/ValidationEngine/validationEngine.js")"></script>
    <script src="@Url.Content("~/Scripts/ValidationEngine/validationEngine-vi.js")"></script>
    <link href="@Url.Content("~/Scripts/toast/toast.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/toast/toast.js")"></script>
    @*<link href="@Url.Content("~/Scripts/alertbox/style.css")" rel="stylesheet" />
        <script src="@Url.Content("~/Scripts/alertbox/cutealert.js")"></script>*@
    <script type="text/javascript">
        $(document).ready(function () {
            $('[name="btnLogin"]').click(function () {
                if ($('[name="userName"]').val() == '') {
                    $.toast({
                        heading: 'Thông Báo',
                        text: 'Bạn chưa nhập Tên Đăng Nhập',
                        showHideTransition: 'slide',
                        icon: 'error',
                        position: 'top-center'
                    });
                }
                else if ($('[name="password"]').val() == '') {
                    $.toast({
                        heading: 'Thông Báo',
                        text: 'Bạn chưa nhập Mật Khẩu',
                        showHideTransition: 'slide',
                        icon: 'error',
                        position: 'top-center'
                    });
                } else {
                    $('[name="btnLogin"]').attr('disabled', 'disabled').text('Loading ...');
                    NProgress.start();
                    $('#frmLogin').ajaxSubmit(function (data) {
                        if (data.s == 'Oke') {
                            window.location.href = data.url;
                        } else {
                            $.toast({
                                heading: 'STNHD Thông Báo',
                                text: data.url,
                                showHideTransition: 'slide',
                                icon: 'error',
                                position: 'top-center'
                            });
                            $('[name="btnLogin"]').removeAttr('disabled').text('Đăng Nhập');
                            NProgress.done();
                        }
                    });
                }
            });
            $('#LoginuserName,#Loginpassword').keypress(function (e) {
                if (e.which == 13) {
                    $('[name="btnLogin"]').click();
                    return false;
                }
            });
        });
    </script>
}