﻿
@{
    ViewBag.Title = "Thông tin học viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row" style="padding-top: 20px;">
        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
            <a id="btnVideos" class="btn btn-sign-up" href="@Url.Action("Exam", "NamPhutThuocBai")" style="position: initial; margin-top: 10px; margin-right: 30px;">Danh Sách Đề Thi</a>
            <a id="btnDocument" class="btn btn-sign-up" href="@Url.Action("profile", "NamPhutThuocBai")" style="position: initial; margin-top: 10px; margin-right: 30px;">Thông tin học viên</a>
            <a id="btnThongTinThiSinh" class="btn btn-sign-up" href="@Url.Action("index", "NamPhutThuocBai")" style="position: initial; margin-top: 10px; margin-right: 30px;">Trang Chủ Cuộc Thi</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="text-center"><h3 class="h-title" style="margin-bottom: 29px; color: #337ab7; margin-top: 35px;">Danh Sách Đề Thi</h3></div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="post">
                <div class="post-top">
                    <div class="media">
                        <div class="media-body">
                            <h4 class="media-heading" style="color: #FF660F;">Đề thi tuần ngày 22/7</h4>
                            <p>Ngày bắt đầu: 22/7/2021 - Ngày hết hạn: 23:59 Chủ Nhật, ngày 25/07/2021</p>
                        </div>
                    </div>
                    <p class="txt">Em hãy giúp người khác hiểu và thuộc thể lệ cuộc thi 5 Phút Thuộc Bài chỉ trong vòng 5 phút dựa trên Sơ Đồ Tư Duy</p>
                    <div class="text-left post-btn"><a href="javascript:void(0);">Ngày bắt đầu nộp bài: 22/7/2021</a></div>
                </div>
                <div class="clear-both"></div>
            </div>
            <div class="clear-both"></div>
        </div>
    </div>
</div>