﻿@{
    ViewBag.Title = "Thể Lệ Cuộc Thi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="jumbotron">
        <div class="txt">
            <h2>Xin chào bạn</h2>
        </div>
        <p class="jumbotron-img"><img src="@Url.Content("~/Content/images/banner-detail.png")" alt=""></p>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-20">
            <div class="modify-w-form contact post">
                <h3 style="text-align: center;">THỂ LỆ CUỘC THI<br />5 PHÚT THUỘC BÀI (2021)</h3>
                <p>
                    Nhằm khuyến khích học sinh phát huy khả năng học tập chủ động, tích cực ứng dụng các phương pháp học tập thông minh khiến việc học trở nên hiệu quả và nhẹ nhàng, đồng thời giúp trẻ phát triển sự tự tin và năng lực đào tạo, công ty Cổ phần Đào tạo Tâm Trí Lực tổ chức cuộc thi 5 Phút Thuộc Bài Online với thể lệ như sau:
                </p>
                <h4>I.	ĐỐI TƯỢNG THAM GIA</h4>
                <p>Học sinh từ lớp 1 đến lớp 12 khắp cả nước, chấp nhận các bài thi từ nước ngoài. </p>
                <h4>II.	THỜI GIAN TỔ CHỨC</h4>
                <p>
                    Từ ngày 15/07/2021 đến ngày 22/01/2022.
                </p>
                <h4>III. NỘI DUNG CUỘC THI</h4>
                <p>1.	Mỗi tuần, tất cả thí sinh tham gia cuộc thi 5 Phút Thuộc Bài Online sẽ được tự động tích điểm cho mỗi lần thi hợp lệ; đồng thời, các bài thi xuất sắc mỗi khối lớp sẽ được nhận giải thưởng đặc biệt (2 giải mỗi khối lớp). Điểm tích lũy sẽ được cộng dồn để đổi lấy quà tặng tương đương và nhận phiếu bốc thăm cho Giải May Mắn Đặc Biệt mỗi tháng.</p>
                <p>2.	BTC ra đề thi gồm các bài học trong chương trình phổ thông và chủ đề ghi nhớ ứng dụng trong cuộc sống. Thí sinh dự thi bằng cách đăng tải trên Facebook cá nhân video ngắn hơn 5 phút giảng bài theo đúng đề thi, và hình 5 mindmap tự vẽ (01 hình theo đề thi và 04 hình theo chủ đề tự do).</p>
                <p>
                    3.	Trong bài thi, thí sinh cần sử dụng Sơ Đồ Tư Duy để trình bày nội dung bài giảng, ứng dụng tối thiểu một kỹ thuật Siêu Trí Nhớ (tham khảo trong chương trình STNHĐ) để tăng hiệu quả ghi nhớ, và bản thân thí sinh trực tiếp trình bày.
                </p>
                <p class="text-center">
                    <strong>Mẫu bài dự thi tiêu chuẩn đăng trên Facebook ở chế độ công khai</strong>
                </p>
                <p class="text-center">5 PHÚT THUỘC BÀI</p>
                <p class="text-center">SIÊU TRÍ NHỚ HỌC ĐƯỜNG</p>
                <p class="text-center">“Biết cách học, khỏi cực nhọc”</p>
                <p class="text-center">Mã Số Dự Thi -  Họ và Tên</p>
                <p class="text-center">Lớp [tính cho năm học 2021 – 2022], Môn [tên] – Bài [tên] (theo đề thi)</p>
                <p class="text-center"><a target="_blank" href="https://sieutrinhohocduong.com/NamPhutThuocBai">https://sieutrinhohocduong.com/NamPhutThuocBai</a></p>
                <p class="text-center">#TamTriLuc[tuần][tháng][năm] (Ví dụ: #TamTriLuc030721)</p>
                <p class="text-center">Đăng tải <strong>01</strong> video giảng bài & <strong>05</strong> hình vẽ mindmap</p>
                <h4>IV.	CƠ CẤU GIẢI THƯỞNG</h4>
                <p>
                    <strong>1.	Nhà Đào Tạo Ý Chí (theo lượt tích lũy)</strong>
                </p>
                <p>-	Số lượng: không giới hạn, dành cho tất cả thí sinh.</p>
                <p>-	Thí sinh tích càng nhiều lượt thi hợp lệ, giá trị quy đổi thành quà tặng càng cao. Cụ thể: </p>
                <p>
                    <ul>
                        <li>
                            Tham gia đủ 4 vòng thi tuần = 01 phiếu đổi quà = quà là hiện vật tương đương và khóa học 11 Bài Tập Giúp Con Bạn Được Mọi Người Yêu Quý trị giá 268.000 VND.
                        </li>
                        <li>
                            Tham gia đủ 8 vòng thi tuần = 02 phiếu đổi quà = quà là hiện vật tương đương và khóa học 11 Bài Tập Giúp Con Bạn Được Mọi Người Yêu Quý trị giá 268.000 VND.
                        </li>
                        <li>
                            Tham gia đủ 12 vòng thi tuần = 03 phiếu đổi quà = quà là hiện vật tương đương và khóa học 11 Bài Tập Giúp Con Bạn Được Mọi Người Yêu Quý trị giá 268.000 VND.
                        </li>
                        <li>
                            Ngoài ra, thí sinh có từ 01 (một) phiếu đổi quà trở lên được tặng vé bốc thăm may mắn trong tháng với tổng giá trị giải thưởng là 30.000.000 VND (ba mươi triệu đồng).
                        </li>
                    </ul>
                </p>
                <p>Chi tiết Quà hiện vật có thể tham khảo tại mục Thế giới quà tặng trên trang <a href="https://sieutrinhohocduong.com/NamPhutThuocBai" target="_blank">https://sieutrinhohocduong.com/NamPhutThuocBai</a> </p>
                <p>-	Giá trị của các điểm tích lũy có hiệu lực trong 90 ngày kể từ ngày tham gia đầu tiên của thí sinh. Sau thời gian này nếu thí sinh không đăng ký đổi quà thì số điểm bị vô hiệu lực. Sau khi đã đổi quà xong, số điểm tích lũy bị trừ đi và thí sinh bắt đầu tích lũy lại từ đầu.</p>
                <p><strong>2.	Nhà Đào Tạo Truyền Cảm Hứng (mỗi tuần)</strong></p>
                <p>-	Số lượng: 12 giải mỗi tuần, mỗi lớp được trao một giải, từ lớp 1 đến lớp 12.</p>
                <p>-	Thí sinh có bài dự thi đạt lượt view cao nhất (tính tới thời điểm BTC tổng kết) theo mỗi cấp lớp.</p>
                <p>-	Giá trị giải thưởng tương đương 1.000.000 VND (một triệu đồng) trên mỗi giải, phát thưởng liên tục mỗi tuần. </p>
                <p>-	Trong trường hợp thí sinh đạt cả giải Nhà Đào Tạo Xuất Sắc và giải Nhà Đào Tạo Truyền Cảm Hứng thì được nhận cả hai giải. </p>
                <p>Ngoài ra, 12 thí sinh đạt giải này được tặng vé bốc thăm may mắn trong tháng với tổng giá trị giải thưởng là 30.000.000 VND (ba mươi triệu đồng).</p>
                <p><strong>3.	Nhà Đào Tạo Xuất Sắc (mỗi tuần)</strong></p>
                <p>-	Số lượng: 12 giải mỗi tuần, mỗi lớp được trao một giải, từ lớp 1 đến lớp 12.</p>
                <p>-	Giải thưởng được trao cho thí sinh có bài dự thi xuất sắc nhất về Mindmap và phong cách trình bày.</p>
                <p>-	Giá trị giải thưởng tương đương 1.000.000 VND (một triệu đồng) trên mỗi giải, phát thưởng liên tục mỗi tuần. </p>
                <p>-	Tất cả thí sinh đạt giải này được nhận quyền đặc cách tham dự vòng Bán Kết cuộc thi Sơ Đồ Tư Duy – V.Mindmap Việt Nam 2021 (tổng giá trị giải thưởng lên đến 01 (một) tỷ đồng) và nhận được thư chúc mừng do Viện Kỷ Lục Việt Nam trao tặng.</p>
                <p>-	Ngoài ra, 12 thí sinh đạt giải này được tặng vé bốc thăm may mắn trong tháng với tổng giá trị giải thưởng là 30.000.000 VND (ba mươi triệu đồng).</p>
                <p><strong>4.	Giải May Mắn Đặc Biệt (mỗi tháng)</strong></p>
                <p>-	Số lượng: 10 (mười) giải mỗi tháng, bốc thăm chung.</p>
                <p>-	Chỉ dành riêng cho các thí sinh xuất sắc đạt giải Nhà Đào Tạo Xuất Sắc, Nhà Đào Tạo Truyền Cảm Hứng và Nhà Đào Tạo Ý Chí có ít nhất 01 (một) phiếu đổi quà.</p>
                <p>
                    -	Giá trị quà tặng hiện kim hoặc hiện vật tương đương mỗi giải: 3.000.000 VND (ba triệu đồng).
                </p>
                <p>-	Bốc thăm trực tuyến vào mỗi tối thứ 5 Vui Vẻ sau mỗi 04 (bốn) vòng thi Tuần. Bốc thăm điện tử cho tất cả thí sinh hợp lệ. Thí sinh trực tiếp xác nhận đang có mặt trong livestream/zoom đến số điện thoại BTC thông báo trong livestream/zoom. MC đếm đến ba vẫn không có xác nhận của thí sinh trúng giải thì sẽ bỏ lượt thi và chuyển qua cho người may mắn tiếp theo.</p>
                <h4>V.	HƯỚNG DẪN DỰ THI</h4>
                <p>Bước 1:  Thí sinh đăng ký để nhận mã số dự thi trên Website <a target="_blank" href="https://sieutrinhohocduong.com">https://sieutrinhohocduong.com</a></p>
                <p>Bước 2: Từ ngày 24/09/2021, thí sinh theo dõi đề thi được công bố vào thứ Sáu hàng tuần trên Website <a href="https://sieutrinhohocduong.com" target="_blank">https://sieutrinhohocduong.com</a> </p>
                <p>Bước 3: Thí sinh thực hiện bài thi theo đúng cú pháp, đăng tải lên Facebook, kêu gọi người học xem video bài giảng của mình và nộp đường link bài Facebook trên Website <a href="https://sieutrinhohocduong.com">https://sieutrinhohocduong.com</a> trước 21h thứ Sáu cùng tuần</p>
                <p>Bước 4: Thí sinh theo dõi kết quả tuần trên trang web sieutrinhohocduong.com và trong chương trình tối thứ Năm 5 PHÚT THUỘC BÀI (19h00 - 21h00), đặc biệt là các thí sinh đủ điều kiện tham gia Vòng Quay May Mắn để được bảo đảm quyền lợi bốc thăm trúng quà của mình.</p>
                <p>Bước 5: Thí sinh tích đủ phiếu đổi quà, đăng ký đổi quà. Quà tặng sẽ được gửi đến địa chỉ của thí sinh đã đăng ký trong phần nhận mã số dự thi. (*)</p>
                <p>
                    <i><strong>(*) Do tình hình dịch bệnh ảnh hướng đến công tác chuyển quà hiện vật đến cho thí sinh trong thời điểm giãn cách. Thí sinh đủ lượt tích điểm vẫn có thể đổi quà, tuy nhiên thời gian nhận quà có thể dài hơn so với dự kiến.</strong></i>
                </p>
                <h4>VI.	NGUYÊN TẮC KHI THỰC HIỆN CHƯƠNG TRÌNH</h4>
                <p><strong>1.</strong> Chính trực là nguyên tắc hành xử chung trong cuộc thi. Thí sinh không trung thực (quảng cáo để tăng lượt view, hack lượt view, khai báo số lượt view nhiều hơn số view thực tế tại thời điểm nộp bài, thay đổi video đăng bài sau khi hết hạn nộp bài, không tự thực hiện các bài thi và các hình thức gian lận khác) khi bị phát hiện sẽ bị đưa vào danh sách hạn chế, vĩnh viễn không được tham gia các cuộc thi của công ty Tâm Trí Lực tổ chức.  </p>
                <p><strong>2.</strong> Phiếu tích lũy có giá trị trong 90 ngày kể từ lượt thi đầu tiên. </p>
                <p><strong>3.</strong> Giá trị quà là giá trị trước thuế. Người nhận giải chịu trách nhiệm thanh toán phí vận chuyển và các khoản thuế phát sinh. </p>
                <p><strong>4.</strong> Ban Tổ Chức được quyền sử dụng các tác phẩm (mindmap, video) từ thí sinh để phục vụ mục đích quảng bá cuộc thi và các hoạt động khuyến học khác.</p>
                <p><strong>5.</strong> Ban Tổ Chức có quyền thay đổi, hủy bỏ hoặc bổ sung các quy định trong thể lệ này tại bất kỳ thời điểm nào theo quyết định của Ban Tổ Chức.</p>
                <h4>VII. YÊU CẦU PHÚC KHẢO</h4>
                <p>
                    Thí sinh có thể yêu cầu phúc khảo trong vòng 24 giờ sau khi Ban tổ chức công bố kết quả trên fanpage Siêu trí nhớ Học đường. Chức năng Phúc khảo có thể tìm thấy khi đăng nhập tài khoản của thí sinh trên <a href="https://sieutrinhohocduong.com/NamPhutThuocBai" target="_blank">https://sieutrinhohocduong.com/NamPhutThuocBai</a> . Sau khi nhận được yêu cầu phúc khảo, Ban tổ chức sẽ gửi kết quả về cho thí sinh trong vòng 48 giờ qua email thí sinh đã đăng ký
                </p>
            </div>
        </div>
    </div>
</div>