﻿@model GCSOFT.MVC.AGENCY.ViewModels.HienTai.O_Notification
@{
    ViewBag.Title = "TẠO MỚI THÔNG BÁO";
}
@using (Html.BeginForm("Create", "Notification", FormMethod.Post, new { @id = "frm", @class = "uk-form-stacked", @enctype = "multipart/form-data" }))
{
    <div id="page_content_inner" class="hierarchical_slide">
        <div class="md-card">
            <div class="md-card-toolbar">
                <h3 class="md-card-toolbar-heading-text">
                    <i class="material-icons">&#xE894;</i>&nbsp;&nbsp;Thông tin
                </h3>
            </div>
            <div class="md-card-content">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-2">
                        @Html.LabelFor(model => model.NotificationTypeArr)
                        @Html.ListBoxFor(m => m.NotificationTypeArr, Model.NotificationTypes, new { @class = "md-input label-fixed validate[required]", @id = "NotificationType" })
                    </div>
                    <div class="uk-width-medium-1-2">
                        @Html.CheckBoxFor(m => m.IsAll)
                        @Html.LabelFor(model => model.IsAll)
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.Name)
                        @Html.TextBoxFor(model => model.Name, new Dictionary<string, Object> {
                                                    { "class", "md-input label-fixed validate[required]" }
                                                    , { "autocomplete", "off" }
                                                })
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin id="SMS">
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.ContentSMS)
                        @Html.TextAreaFor(model => model.ContentSMS
                                , new Dictionary<string, Object> {
                                                   { "class", "md-input label-fixed validate[required]" }
                                                   , { "autocomplete", "off" }
                                                   , { "rows", "2" }
                                })
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin id="APP">
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.ContentMobile)
                        @Html.TextAreaFor(model => model.ContentMobile
                               , new Dictionary<string, Object> {
                                                  { "class", "md-input label-fixed validate[required]" }
                                                  , { "autocomplete", "off" }
                                                  , { "rows", "2" }
                               })
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin id="EMAIL">
                    <div class="uk-width-medium-1-1">
                        @Html.LabelFor(model => model.ContentEmail)
                        @Html.TextAreaFor(model => model.ContentEmail
                               , new Dictionary<string, Object> {
                                                  { "class", "md-input label-fixed validate[required]" }
                                                  , { "autocomplete", "off" }
                                                  , { "rows", "2" }
                               })
                    </div>
                </div>
            </div>
        </div>
        <div class="md-card" id="Receiver">
            <div class="md-card-toolbar">
                <div class="md-card-toolbar-actions">
                    <i class="md-icon material-icons md-card-toggle">&#xE316;</i>
                </div>
                <h3 class="md-card-toolbar-heading-text">
                    <i class="material-icons">&#xE894;</i>&nbsp;&nbsp;DANH SÁCH NGƯỜI NHẬN
                </h3>
            </div>
            <div class="md-card-content">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-1">
                        <label for="KeyWord">Giáo Viên Đồng Hành</label>
                        @Html.DropDownListFor(model => model.TeacherId, Model.TeacherList, "[ Xem tất cả ]", new { @class = "md-input label-fixed" })
                    </div>
                </div>
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-2">
                        <label for="Type">Khóa học</label>
                        @Html.DropDownListFor(model => model.SchoolClassId, Model.SchoolClassList, "[ Xem tất cả ]", new { @class = "md-input label-fixed" })
                    </div>
                    <div class="uk-width-medium-1-2">
                        <label for="Type">Hiền Tài</label>
                        @Html.DropDownListFor(model => model.StudentId, Model.StudentList, "[ Xem tất cả ]", new { @class = "md-input label-fixed" })
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="uk-width-1-1" id="div_ListUser" style="margin-top:10px !important">
                    <div class="uk-overflow-container">
                        <table class="uk-table uk-table-nowrap table_check">
                            <thead>
                                <tr>
                                    <th class="uk-text-center" style="width:3% !important">
                                        <input type="checkbox" id="select-all">
                                    </th>
                                    <th class="uk-width-1-10 uk-text-center"><strong>STT</strong></th>
                                    <th>Số Báo Danh</th>
                                    <th>Họ Và Tên</th>
                                    <th>Phụ Huynh</th>
                                    <th>Email</th>
                                    <th>TeacherId</th>
                                    <th>SchoolClassId</th>
                                    <th>StudentId</th>
                                </tr>
                            </thead>
                            <tbody id="myTable">
                                @if (Model.ListNotificationReceivers.Count > 0)
                                {
                                    int stt = 0;
                                    for (int i = 0; i < Model.ListNotificationReceivers.Count; i++)
                                    {
                                        stt++;

                                <tr>
                                    <td class="uk-text-center">
                                        @Html.CheckBoxFor(x => x.ListNotificationReceivers[i].Select)
                                    </td>
                                    <td class="uk-text-center">@stt</td>
                                    <td>
                                        <strong>@Model.ListNotificationReceivers[i].IdNo</strong>
                                        @Html.HiddenFor(x => x.ListNotificationReceivers[i].StudentId)
                                        @Html.HiddenFor(x => x.ListNotificationReceivers[i].UserId)
                                        @Html.HiddenFor(x => x.ListNotificationReceivers[i].Email)
                                        @Html.HiddenFor(x => x.ListNotificationReceivers[i].Phone)
                                        @Html.HiddenFor(x => x.ListNotificationReceivers[i].FullName)
                                        @Html.HiddenFor(x => x.ListNotificationReceivers[i].ParentName)
                                        @Html.HiddenFor(x => x.ListNotificationReceivers[i].IdNo)
                                    </td>
                                    <td>
                                        @Model.ListNotificationReceivers[i].FullName
                                    </td>
                                    <td>
                                        @Model.ListNotificationReceivers[i].ParentName
                                    </td>
                                    <td>
                                        @Model.ListNotificationReceivers[i].Email
                                    </td>
                                    <td>
                                        @Model.ListNotificationReceivers[i].TeacherId
                                    </td>
                                    <td>
                                        @Model.ListNotificationReceivers[i].SchoolClassId
                                    </td>
                                    <td>
                                        @Model.ListNotificationReceivers[i].StudentId
                                    </td>
                                </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td class="uk-text-center" colspan="10">Vui lòng chọn người nhận.</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer id="footer" class="uk-text-center">
        <a id="btnReturn" href="@Url.Action("Create", "Notification", new { area = "HienTai" })" class="md-btn md-btn-danger md-btn-wave-light md-btn-icon">
            <i class="material-icons md-color-white">&#xE15E;</i>
            Quay Lại
        </a>
        @if (Model.Id == 0)
        {
            <a class="md-btn md-btn-primary md-btn-wave-light md-btn-icon" href="javascript:void(0)" id="btnSave">
                <span class="material-icons md-color-white">save</span>
                Lưu
            </a>
        }
    </footer>
}

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('select').select2();
            HideContent(true);
            $("#NotificationType").change(function () {
                var data = $("#NotificationType").val();
                const myArray = data.toString().split(',');
                //an
                HideContent(false);
                for (const prop in myArray) {
                    $('#' + myArray[prop]).css('display', 'block');
                }
            });
            if ($("#IsAll").val() == 'true') {
                $('#Receiver').css('display', 'none');
            }
            $("#IsAll").change(function () {
                if ($(this).is(":checked")) {
                    $('#Receiver').css('display', 'none');
                }
                else {
                    $('#Receiver').css('display', 'block');
                }
            });

            $('#btnSave').click(function () {
                var flag = $("#frm").validationEngine('validate');
                if (flag) {
                    $("#frm").submit();
                }
            });

            CKEDITOR.replace('ContentEmail', { height: 150 });
            CKEDITOR.instances.ContentEmail.on('change', function () {
                $('[name="ContentEmail"]').val(CKEDITOR.instances.ContentEmail.getData());
            });

            $('#select-all').click(function () {
                var checked = this.checked;
                $('#Receiver input[type="checkbox"]').each(function () {
                    this.checked = checked;
                });
            })

            $("#TeacherId").change(function () {
                var data = $("#TeacherId").val();
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });

            $("#SchoolClassId").change(function () {
                var data = $("#SchoolClassId").val();
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });

            $("#StudentId").change(function () {
                var data = $("#StudentId").val();
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });

        function HideContent(isfist) {
            if (isfist) {
                $('#SMS').css('display', 'none');
                $('#EMAIL').css('display', 'none');
                $('#APP').css('display', 'block');
            }
            else {
                $('#SMS').css('display', 'none');
                $('#EMAIL').css('display', 'none');
                $('#APP').css('display', 'none');
            }
        }
    </script>
}

